<button
  mat-button
  *ngIf="
    data &&
    data.comment.creatorId !== data.user.id &&
    !data.comment.brainstormingWordId
  "
  (click)="data.actions.likeComment(data.comment)">
  <mat-icon>thumb_up</mat-icon>
  {{ data.comment.upvotes }}
</button>
<button
  mat-button
  *ngIf="
    data &&
    data.comment.creatorId !== data.user.id &&
    !data.comment.brainstormingWordId
  "
  (click)="data.actions.dislikeComment(data.comment)">
  <mat-icon>thumb_down</mat-icon>
  {{ data.comment.downvotes }}
</button>
<button
  mat-button
  *ngIf="data && data.comment.totalAnswerCounts.accumulated > 0"
  (click)="data.actions.openConversation(data.comment)">
  <mat-icon>forum</mat-icon>
  {{ data.comment.totalAnswerCounts.accumulated }}
</button>
<button
  mat-chip
  (click)="data.actions.filterTag(data.comment.tag)">
  <mat-icon>sell</mat-icon>
  {{ data.comment.tag }}
</button>
