<p>
  Our radar locates questions and answers based on their keywords:
  The more questions and answers refer to a keyword,
  the larger and more central the keyword appears on the radar.<br><br>

  The question radar serves you as a navigator:
  Clicking on a word will take you to the questions and answers related to that keyword.
</p>

<ol>
  <li>Display information about a keyword</li>
  <li>Navigate to the questions of a keyword</li>
</ol>

<div class="videoWrapper">
  <iframe allowfullscreen
          height="315"
          width="560"
          [src]="sanitizer.trust('https://www.youtube.com/embed/ScMzIvxBSi4?autoplay=0')"
          tabindex="0"
          title="Placeholder video"
  ></iframe>
</div>
