<p>
  Notre radar localise les questions à l'aide de mots-clés générés par une IA en
  temps réel. Plus un mot-clé apparaît grand et central sur le radar, plus les
  questions associées sont nombreuses ou importantes.
</p>

<ol>
  <li>Afficher les infos d'un mot-clé</li>
  <li>Naviguer vers les questions d'un mot-clé</li>
  <li>Modifier l'apparence du nuage de mots</li>
</ol>

<div
  style="
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
  ">
  <iframe
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    allowfullscreen
    [src]="sanitizer.trust('https://www.youtube.com/embed/QZg4ZAg__EM')"
    title="Radar de questions"
    role="application"></iframe>
</div>
