<p>
  Notre radar localise les questions et les réponses en fonction de leurs mots-clés :
  Plus il y a de questions et de réponses qui se rapportent à un mot-clé,
  plus le mot-clé apparaît grand et central sur le radar.<br><br>

  Le radar de questions te sert de navigateur :
  Si tu cliques sur un mot-clé, tu seras dirigé vers les questions et les réponses qui se rapportent à ce mot-clé.
</p>

<ol>
  <li>Afficher les infos d'un mot-clé</li>
  <li>Naviguer vers les questions d'un mot-clé</li>
</ol>

<div class="videoWrapper">
  <iframe allowfullscreen
          height="315"
          width="560"
          [src]="sanitizer.trust('https://www.youtube.com/embed/ScMzIvxBSi4?autoplay=0')"
          tabindex="0"
          title="Placeholder video"
  ></iframe>
</div>
