<p>
  Unser Radar ortet Fragen anhand von Stichwörtern, die eine KI in Echtzeit
  generiert. Je größer und zentraler ein Stichwort auf dem Radar erscheint,
  desto zahlreicher oder bedeutender sind die zugehörigen Fragen.
</p>

<ol>
  <li>Infos zu einem Stichwort anzeigen</li>
  <li>Zu den Fragen eines Stichworts navigieren</li>
  <li>Aussehen der Wortwolke ändern</li>
</ol>

<div
  style="
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
  ">
  <iframe
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    allowfullscreen
    [src]="sanitizer.trust('https://www.youtube.com/embed/QZg4ZAg__EM')"
    title="Fragen-Radar"
    role="application"></iframe>
</div>
