<p>
  Unser Radar ortet Fragen und Antworten anhand ihrer Stichwörter:
  Je mehr Fragen und Antworten sich auf ein Stichwort beziehen,
  desto größer und zentraler erscheint das Stichwort auf dem Radar.<br><br>

  Das Fragen-Radar dient dir als Navi:
  Wenn du auf ein Wort klickst, gelangst du zu den Fragen und Antworten zu diesem Stichwort.
</p>

<ol>
  <li>Infos zu einem Stichwort anzeigen</li>
  <li>Zu den Fragen eines Stichworts navigieren</li>
</ol>

<div class="videoWrapper">
  <iframe allowfullscreen
          height="315"
          width="560"
          [src]="sanitizer.trust('https://www.youtube.com/embed/ScMzIvxBSi4?autoplay=0')"
          tabindex="0"
          title="Placeholder video"
  ></iframe>
</div>
