.expansion-action-list {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}

.settings-panel-container {
  display: flex;
  flex-direction: column;

  > mat-slide-toggle {
    padding: 8px 0;
  }

  &-top {
    margin: 8px 0;
    justify-content: space-between;
  }

  > .row {
    display: flex;
    flex-direction: row;
  }
}

.settings-expansion-panel {
  box-shadow: none;
}

.force-corporate-design {
  color: inherit !important;
  background-color: inherit !important;
}

.button-save {
  background-color: transparent;
  color: var(--primary) !important;
  outline: var(--primary) solid 3px;

  &:hover {
    background-color: var(--primary) !important;
    color: var(--on-primary) !important;
  }

  &:focus-within {
    outline: var(--primary) solid 3px;
  }

  &:active {
    background-color: var(--primary);
    color: var(--on-primary);
  }
}
