<mat-accordion>
  <mat-expansion-panel
    [class.mat-elevation-z0]="true"
    [class.outlined]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ parent.translateKey + ".settings.name" | translate }}
        <mat-icon>flash_on</mat-icon>
      </mat-panel-title>
      <mat-panel-description
        [ngClass]="
          'settings-panel-description-' + (!isMobile ? 'desktop' : 'mobile')
        "></mat-panel-description>
    </mat-expansion-panel-header>
    <div [class.settings-content-container]="true">
      <div [class.settings-question-container]="true">
        <mat-form-field
          appearance="outline"
          [subscriptSizing]="'dynamic'"
          [class.fill]="true"
          *ngIf="!isMobile">
          <mat-label>
            {{
              parent.translateKey + ".settings.option.question.label"
                | translate
            }}
          </mat-label>
          <input
            matInput
            [(ngModel)]="parent.livepollSession.title" />
          <button
            [matTooltip]="
              parent.translateKey + '.settings.option.editor' | translate
            "
            mat-icon-button
            matSuffix
            (click)="openMarkdownEditor()">
            <mat-icon>edit</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <mat-slide-toggle
        [matTooltip]="
          parent.translateKey + '.settings.option.result-visibility.tooltip'
            | translate
        "
        [(ngModel)]="parent.livepollSession.resultVisible">
        <!-- TODO remove label -->
        <label style="margin-left: 8px">
          {{
            parent.translateKey + ".settings.option.result-visibility.text"
              | translate
          }}
        </label>
      </mat-slide-toggle>
      <mat-slide-toggle
        [matTooltip]="
          parent.translateKey + '.settings.option.user-count-visibility.tooltip'
            | translate
        "
        [(ngModel)]="parent.livepollSession.viewsVisible">
        <!-- TODO remove label -->
        <label style="margin-left: 8px">
          {{
            parent.translateKey + ".settings.option.user-count-visibility.text"
              | translate
          }}
        </label>
      </mat-slide-toggle>
      <button
        *ngIf="parent.isProduction"
        mat-stroked-button
        class="primary"
        [class.fill]="true"
        (click)="parent.save()">
        <mat-icon>flash_on</mat-icon>
        {{ parent.translateKey + ".settings.option.save" | translate }}
      </button>
    </div>
  </mat-expansion-panel>
</mat-accordion>
