// hide scrollbar
::-webkit-scrollbar {
    display: none;  /* Chrome Safari */
}
//TODO: hide scrollbar for IE and Firefox

button {
  margin-right: 16px;
}

.primary {
  color: var(--primary);
}

.warn {
  color: var(--red);
}

mat-panel-description, mat-panel-title, p, input {
  color: var(--on-background);
}

mat-icon {
  fill: currentColor;
}

mat-expansion-panel-header, mat-expansion-panel, mat-card {
  background-color: var(--surface);
}

mat-card {
  margin-bottom: 16px;
}

label {
color: var(--on-surface)
}

mat-slide-toggle {
  margin-left: 16px;
}

mat-panel-title, mat-panel-description {
  flex-basis: 0
}
