<mat-dialog-content>
  <div fxLayout="row" fxLayoutAlign="center center" fxFill>
    <mat-progress-spinner *ngIf="isLoading" mode="indeterminate"></mat-progress-spinner>
  </div>
  <div *ngIf="!isLoading">
    <mat-accordion hideToggle>
      <mat-expansion-panel class="color-surface">
        <mat-expansion-panel-header class="color-surface">
          <mat-icon class="color-on-surface">settings</mat-icon>
          <mat-panel-title>
            {{'topic-cloud-dialog.settings' | translate}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card style="background: none; margin-bottom: 10px;">
          <mat-label class="color-on-surface">
            {{"topic-cloud-dialog.select-choice" | translate}}
          </mat-label>
          <mat-radio-group class="radio-button-group" (change)=(refreshKeywords()) [(ngModel)]="keywordORfulltext">
            <mat-radio-button checked="true" [value]="keywordOrFulltextENUM[0]" class="radio-button-item">
              {{"topic-cloud-dialog.keyword" | translate}}
            </mat-radio-button>
            <mat-radio-button [value]="keywordOrFulltextENUM[1]" class="radio-button-item">
              {{"topic-cloud-dialog.full-text" | translate}}
            </mat-radio-button>
            <mat-radio-button [value]="keywordOrFulltextENUM[2]" class="color-on-surface">
              {{"topic-cloud-dialog.both" | translate}}
            </mat-radio-button>
          </mat-radio-group>
        </mat-card>
        
        <mat-card style="background: none;">
          <mat-slide-toggle [(ngModel)]="considerVotes">
            {{'topic-cloud-dialog.consider-votes' | translate}}
          </mat-slide-toggle>
        </mat-card>
        <div *ngIf="isCreatorOrMod">
          <mat-card style="background: none;">
            <mat-slide-toggle (change)="showMessage('words-will-be-overwritten', $event.checked)" [(ngModel)]="profanityFilter">
              {{'topic-cloud-dialog.profanity' | translate}}
            </mat-slide-toggle>
            <mat-slide-toggle *ngIf="profanityFilter" (change)="showMessage('only-specific-language-will-be-filtered', $event.checked)" [(ngModel)]="censorLanguageSpecificCheck">
              {{'topic-cloud-dialog.language-specific-filter' | translate}}
            </mat-slide-toggle>
            <mat-slide-toggle *ngIf="profanityFilter" (change)="showMessage('partial-words-will-be-filtered', $event.checked)" [(ngModel)]="censorPartialWordsCheck">
              {{'topic-cloud-dialog.partial-words-filter' | translate}}
            </mat-slide-toggle>

            <mat-accordion>
              <mat-expansion-panel class="color-background" (opened)="focusInput('test-profanity-input')">
                <mat-expansion-panel-header class="color-background">
                  <mat-panel-title>
                    {{"topic-cloud-dialog.test-profanity" | translate}}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-form-field>
                  <mat-label>{{"topic-cloud-dialog.word" | translate}}</mat-label>
                  <input id="test-profanity-input" matInput [ngModel]="testProfanityWord" (ngModelChange)="testProfanity($event)">
                </mat-form-field>
                <p class="red testProfanity" *ngIf="wordIsProfanity">{{"topic-cloud-dialog.word-is-profanity" | translate}}</p>
                <p class="green testProfanity" *ngIf="!wordIsProfanity">{{"topic-cloud-dialog.word-is-not-profanity" | translate}}</p>


                <mat-accordion>
                  <mat-expansion-panel class="color-background">
                    <mat-expansion-panel-header class="color-background">
                      <mat-panel-title>
                        {{"topic-cloud-dialog.words-in-profanity" | translate}}   
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a href="https://raw.githubusercontent.com/LDNOOBW/List-of-Dirty-Naughty-Obscene-and-Otherwise-Bad-Words/master/en" target="_blank">English</a>
                    <br>
                    <a href="https://raw.githubusercontent.com/LDNOOBW/List-of-Dirty-Naughty-Obscene-and-Otherwise-Bad-Words/master/de" target="_blank">German</a>
                    <br>
                    <a href="https://raw.githubusercontent.com/LDNOOBW/List-of-Dirty-Naughty-Obscene-and-Otherwise-Bad-Words/master/fr" target="_blank">French</a>
                    <br>
                    <a href="https://raw.githubusercontent.com/LDNOOBW/List-of-Dirty-Naughty-Obscene-and-Otherwise-Bad-Words/master/ar" target="_blank">Arabic</a>
                    <br>
                    <a href="https://raw.githubusercontent.com/LDNOOBW/List-of-Dirty-Naughty-Obscene-and-Otherwise-Bad-Words/master/ru" target="_blank">Russian</a>
                    <br>
                    <a href="https://raw.githubusercontent.com/LDNOOBW/List-of-Dirty-Naughty-Obscene-and-Otherwise-Bad-Words/master/es" target="_blank">Spanish</a>
                    <br>
                    <a href="https://raw.githubusercontent.com/LDNOOBW/List-of-Dirty-Naughty-Obscene-and-Otherwise-Bad-Words/master/it" target="_blank">Italian</a>
                    <br>
                    <a href="https://raw.githubusercontent.com/LDNOOBW/List-of-Dirty-Naughty-Obscene-and-Otherwise-Bad-Words/master/nl" target="_blank">Netherlandish</a>
                    <br>
                    <a href="https://raw.githubusercontent.com/LDNOOBW/List-of-Dirty-Naughty-Obscene-and-Otherwise-Bad-Words/master/tr" target="_blank">Turkish</a>
                    <br>
                    <a href="https://raw.githubusercontent.com/LDNOOBW/List-of-Dirty-Naughty-Obscene-and-Otherwise-Bad-Words/master/pt" target="_blank">Portuguese</a>
                  </mat-expansion-panel>
                </mat-accordion>
                
              </mat-expansion-panel>
            </mat-accordion>

          </mat-card>
          <mat-card style="background: none;">
            <mat-slide-toggle [(ngModel)]="blacklistIsActive">
              {{'topic-cloud-dialog.hide-blacklist-words' | translate}}
            </mat-slide-toggle>
          </mat-card>
        </div>
  
        <mat-accordion class="new-profanity-word" multi>
          <div *ngIf="isCreatorOrMod">
            <mat-expansion-panel class="color-background" (opened)="enterProfanityWord=true; focusInput('bad-word-input')"
              (closed)="enterProfanityWord = false">
              <mat-expansion-panel-header class="color-background">
                <mat-panel-title>
                  {{'topic-cloud-dialog.edit-profanity-list' | translate}}
                </mat-panel-title>
              </mat-expansion-panel-header>
  
              <mat-form-field>
                <mat-label>{{'topic-cloud-dialog.enter-word' | translate}}</mat-label>
                <input matInput id="bad-word-input" [(ngModel)]="newProfanityWord">
              </mat-form-field>
  
              <button mat-stroked-button class="margin-left color-on-background" (click)="addProfanityWord()">
                {{'topic-cloud-dialog.add-word' | translate}}
              </button>
  
              <mat-list role="list" *ngIf="showProfanityList" class="margin-bottom">
                <mat-list-item class="color-on-surface" *ngFor="let word of profanitywordlist" role="listitem">{{word}}
                  <button style="margin-left: auto" mat-icon-button class="red"
                    (click)="removeWordFromProfanityList(word)">
                    <mat-icon mat-list-icon style="margin-bottom: 6px;">delete</mat-icon>
                  </button>
                </mat-list-item>
              </mat-list>
  
              <div>
                <button mat-raised-button *ngIf="profanitywordlist.length > 0" class="primaryBackground"
                  (click)="showProfanityList=!showProfanityList">
                  {{showProfanityList ? ('topic-cloud-dialog.hide-profanity-list' | translate) :
                  ('topic-cloud-dialog.show-profanity-list' | translate)}}
                </button>
              </div>
            </mat-expansion-panel>
  
            <mat-expansion-panel class="color-background margin-bottom"
              (opened)="enterBlacklistWord = true; focusInput('blacklist-word-input')"
              (closed)="enterBlacklistWord = false">
              <mat-expansion-panel-header class="color-background">
                <mat-panel-title>
                  {{'topic-cloud-dialog.edit-blacklist-list' | translate}}
                </mat-panel-title>
              </mat-expansion-panel-header>
  
              <mat-form-field>
                <mat-label>{{'topic-cloud-dialog.enter-word' | translate}}</mat-label>
                <input matInput id="blacklist-word-input" [(ngModel)]="newBlacklistWord">
              </mat-form-field>
  
              <button mat-stroked-button class="margin-left color-on-background" (click)="addBlacklistWord()">
                {{'topic-cloud-dialog.add-word' | translate}}
              </button>
              <mat-list role="list" *ngIf="showBlacklistWordList && blacklist.length > 0" class="margin-bottom">
                <mat-list-item class="color-on-surface" *ngFor="let word of blacklist" role="listitem">{{word}}
                  <button style="margin-left: auto" mat-icon-button class="red" (click)="removeWordFromBlacklist(word)">
                    <mat-icon mat-list-icon style="margin-bottom: 6px;">delete</mat-icon>
                  </button>
                </mat-list-item>
              </mat-list>
  
              <div>
                <button mat-raised-button class="primaryBackground" *ngIf="blacklist.length > 0"
                  (click)="showBlacklistWordList=!showBlacklistWordList">
                  {{showBlacklistWordList ? ('topic-cloud-dialog.hide-blacklist' | translate) :
                  ('topic-cloud-dialog.show-blacklist' | translate)}}
                </button>
              </div>
            </mat-expansion-panel>
          </div>
          <mat-expansion-panel class="color-background">
            <mat-expansion-panel-header class="color-background">
              <mat-panel-title>
                Spacy labels
              </mat-panel-title>
            </mat-expansion-panel-header>
  
            <mat-tab-group animationDuration="0ms" mat-stretch-tabs mat-align-tabs="center">
              <mat-tab label="{{'topic-cloud-dialog.german' | translate}}">
                <mat-selection-list *ngIf="wantedLabels" [(ngModel)]="wantedLabels.de">
  
                  <mat-option class="color-on-surface" (click)="selectAllDE()">
                    <mat-label class="color-on-surface">
                      <mat-icon>playlist_add_check</mat-icon>
                      {{'topic-cloud-dialog.select-all' | translate}}
                    </mat-label>
                    <mat-checkbox style="vertical-align: middle;float: right;" [checked]="this.wantedLabels.de.length===this.spacyLabels.de.length"></mat-checkbox>
                  </mat-option>
  
                  <mat-list-option [value]="label.tag" class="color-on-surface" *ngFor="let label of spacyLabels.de">
                    {{label.label + " (" + label.tag + ")"}}
                  </mat-list-option>
                </mat-selection-list>
              </mat-tab>
              <mat-tab label="{{'topic-cloud-dialog.english' | translate}}">
                <mat-selection-list *ngIf="wantedLabels" [(ngModel)]="wantedLabels.en">
  
                  <mat-option class="color-on-surface" (click)="selectAllEN()">
                    <mat-label class="color-on-surface">
                      <mat-icon>playlist_add_check</mat-icon>
                      {{'topic-cloud-dialog.select-all' | translate}}
                    </mat-label>
                    <mat-checkbox style="vertical-align: middle;float: right;" [checked]="this.wantedLabels.en.length===this.spacyLabels.en.length"></mat-checkbox>
                  </mat-option>
  
                  <mat-list-option [value]="label.tag" class="color-on-surface" *ngFor="let label of spacyLabels.en">
                    {{label.label + " (" + label.tag + ")"}}
                  </mat-list-option>
                </mat-selection-list>
              </mat-tab>
            </mat-tab-group>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-expansion-panel>
    </mat-accordion>
  
    <div fxLayout="row">
      <mat-label fxLayoutAlign="center center">
        <mat-icon>search</mat-icon>
      </mat-label>
      <div style="margin-left: 10px; margin-top: 6px;">
        <mat-form-field [ngClass]="{'search': searchMode, 'smallerInput': deviceType === 'mobile'}">
          <input #searchBox class="searchBox" (input)="searchKeyword()" [(ngModel)]="searchedKeyword" matInput type="text"
            placeholder="{{'topic-cloud-dialog.keyword-search' | translate}}">
          <button *ngIf="searchedKeyword" (click)="searchedKeyword = ''; searchMode = false;" mat-button matSuffix
            mat-icon-button aria-label="topic-cloud-dialog.keyword-search">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
  
      <div fxLayoutAlign="center center" style="margin-left: auto; font-weight: bold;">
        <mat-icon [ngClass]="{'animation-blink': searchMode}" svgIcon="hashtag" class="oldtypo-h2 comment_tag-icon"
          matTooltip="{{'topic-cloud-dialog.keyword-counter' | translate}}"></mat-icon>
        <p [ngClass]="{'animation-blink': searchMode}" matTooltip="{{'topic-cloud-dialog.keyword-counter' | translate}}">
          {{searchMode ? filteredKeywords.length :
          keywords.length}}</p>
      </div>
      <div class="margin-left vertical-center">
        <button [ngClass]="{'animation-blink': sortMode!=='alphabetic'}" mat-icon-button [matMenuTriggerFor]="sortMenu">
          <mat-icon matTooltip="{{'topic-cloud-dialog.sort' | translate}}">sort</mat-icon>
        </button>
      </div>
    </div>
  
    <mat-menu #sortMenu>
      <button [ngClass]="{'animation-blink': sortMode==='alphabetic'}" mat-menu-item
        (click)="sortQuestions('alphabetic')">
        <mat-icon>sort_by_alpha</mat-icon>
        {{'topic-cloud-dialog.sort-alpha' | translate}}
      </button>
      <button [ngClass]="{'animation-blink': sortMode==='questionsCount'}" mat-menu-item
        (click)="sortQuestions('questionsCount')">
        <mat-icon>swap_vert</mat-icon>
        {{'topic-cloud-dialog.sort-count' | translate}}
      </button>
      <button [ngClass]="{'animation-blink': sortMode==='voteCount'}" mat-menu-item (click)="sortQuestions('voteCount')">
        <mat-icon>swap_vert</mat-icon>
        {{'topic-cloud-dialog.sort-vote' | translate}}
      </button>
    </mat-menu>
  
    <mat-card class="color-surface" *ngIf="(keywords.length === 0 || (searchMode && filteredKeywords.length === 0))&&!isLoading">
      <p class="color-on-surface" fxLayoutAlign="center">
        {{'topic-cloud-dialog.no-keywords-note' | translate}}
      </p>
    </mat-card>
    
    <mat-accordion>
      <mat-expansion-panel class="color-surface" (opened)="panelOpenState = true" (closed)="panelOpenState = edit = false"
        *ngFor="let keyword of (searchMode ? filteredKeywords : keywords); let i = index" [attr.data-index]="i"
        matTooltip="{{'topic-cloud-dialog.'+(keyword.keywordType === 0?'keyword-from-spacy':'keyword-from-questioner') | translate}}">
        <mat-expansion-panel-header class="color-surface">
          <mat-panel-title>
            {{profanityFilter ? keyword.keywordWithoutProfanity : keyword.keyword}}
          </mat-panel-title>
          <mat-panel-description>
            {{keyword.comments.length}}
            {{'topic-cloud-dialog.question-count-'+(keyword.comments.length > 1 ? 'plural' : 'singular') | translate}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngFor="let question of keyword.comments">
          <mat-divider></mat-divider>
          <app-topic-dialog-comment [question]="question.body" [keyword]="keyword.keyword" [maxShowedCharachters]="140"
                                    [profanityFilter]="profanityFilter" [languageSpecific]="censorLanguageSpecificCheck"
                                    [partialWords]="censorPartialWordsCheck" [language]="question.language"></app-topic-dialog-comment>
        </div>
  
        <div *ngIf="isCreatorOrMod">
          <!-- Only visible when not editing -->
          <div *ngIf="!edit" align="end">
            <mat-divider></mat-divider>
            <button class="margin-right" mat-icon-button style="align-self:flex-end;" (click)="editKeyword(i)">
              <mat-icon class="primary" matTooltip="{{'topic-cloud-dialog.edit' | translate}}">edit</mat-icon>
            </button>
            <button class="margin-right" mat-icon-button style="align-self:flex-end;"
              (click)="openConfirmDialog('delete-message','delete',keyword)">
              <mat-icon class="red" matTooltip="{{'topic-cloud-dialog.delete' | translate}}">delete</mat-icon>
            </button>
          </div>
  
          <!-- Only visible when editing -->
          <div *ngIf="edit">
            <mat-divider></mat-divider>
            <mat-form-field>
              <mat-label>{{'topic-cloud-dialog.edit-keyword-tip' | translate}}</mat-label>
              <input matInput id="{{'edit-input'+i}}" [(ngModel)]="newKeyword">
            </mat-form-field>
            <!-- TODO: textinput and buttons in one row -->
            <div align="end">
              <button mat-raised-button class="redBackground margin-right"
                (click)="cancelEdit()">{{'topic-cloud-dialog.cancel' | translate}}</button>
              <button mat-raised-button class="primaryBackground"
                (click)="confirmEdit(keyword)">{{'topic-cloud-dialog.save'
                | translate}}</button>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</mat-dialog-content>
