@keyframes animation_blink_5s {
  50% {
    opacity: 0;
  }
}

.animation-blink {
  color: var(--red) !important;
  animation-name: animation_blink_5s;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-iteration-count: 2;
  opacity: 1 !important;
}
