<mat-dialog-content>
    <mat-card>
      <mat-slide-toggle [(ngModel)]="considerVotes">{{'topic-cloud-dialog.considerVotes' | translate}}</mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]="tagsLowerCase">{{'topic-cloud-dialog.tags-lowercase' | translate}}</mat-slide-toggle>
    </mat-card>

    <div align="end">
      <button  mat-button [matMenuTriggerFor]="sortMenu" mat-ripple>
        <mat-icon>sort</mat-icon>
      </button>
    </div>

    <mat-menu #sortMenu>
      <button mat-menu-item (click)="sortQuestions(sortModeEnum.ALPHABETIC)">
        <mat-icon>sort_by_alpha</mat-icon>
        {{'topic-cloud-dialog.sort-Alpha' | translate}} </button>
      <button mat-menu-item (click)="sortQuestions(sortModeEnum.QUESTIONSCOUNT)">
        <mat-icon>swap_vert</mat-icon>
        {{'topic-cloud-dialog.sort-Count' | translate}} </button>
      <!-- <button mat-menu-item (click)="sortScore(true)" aria-labelledby="sort-lbl-rating">{{'question-wall.sort-score' | translate}}</button> -->
    </mat-menu>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let keyword of keywords">
        <mat-expansion-panel-header class="color">
          <mat-panel-title [ngClass]="{'edit-keyword': editedKeyword}">
            {{keyword.keyword}}
          </mat-panel-title>
          <mat-panel-description>
            {{keyword.questions.length}}
            {{'topic-cloud-dialog.question-count-'+(keyword.questions.length > 1 ? 'plural' : 'singular') | translate}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngFor="let question of keyword.questions">
          <mat-divider></mat-divider>
          <app-topic-dialog-comment
          [question]="question"
          [maxShowedCharachters] = "70"
          ></app-topic-dialog-comment>
          <!--<p [ngClass]="{'hideText': question.length > maxShowedCharachters || isReadMore}">
            {{(question.length < maxShowedCharachters || isReadMore) ? question : question | slice:0:70}}
            <button mat-icon-button  *ngIf="question.length > maxShowedCharachters" style="background: none; font-weight: bold;" (click)="showText()">
              {{ !isReadMore ? '...more': '...less' }}
            </button>
          </p>-->
        </div>

        <!-- Only visible when not editing -->
        <div *ngIf="!edit && isCreatorOrMod">
          <mat-divider></mat-divider>

          <button class="margin-right" mat-icon-button style="align-self:flex-end;" (click)="editKeyword()">
            <mat-icon class="primary">edit</mat-icon>
          </button>
          <button class="margin-right" mat-icon-button style="align-self:flex-end;"
            (click)="openConfirmDialog(keyword)">
            <mat-icon class="warn">delete</mat-icon>
          </button>
        </div>

        <!-- Only visible when editing -->
          <div *ngIf="edit">
            <mat-divider></mat-divider>
            <mat-form-field>
              <mat-label>{{'topic-cloud-dialog.editkeyword-tipp' | translate}}</mat-label>
              <input matInput [(ngModel)]="newKeyword">
            </mat-form-field>
            <div>
            <button class="margin-right" mat-icon-button (click)="confirmEdit(keyword.keywordID)">
              <mat-icon class="primary">check</mat-icon>
            </button>
            <button class="margin-right" mat-icon-button (click)="cancelEdit()">
              <mat-icon class="warn">cancel</mat-icon>
            </button>
          </div>
        </div>

      </mat-expansion-panel>
    </mat-accordion>
  </mat-dialog-content>
