// hide scrollbar
::-webkit-scrollbar {
    display: none;  /* Chrome Safari */
}
//TODO: hide scrollbar for IE and Firefox

.margin-right {
  margin-right: 16px;
}

.tp-radio-group {
  display: inline-flex;
  flex-direction: column;
  color: var(--primary)
}
.tp-radio-button {
  margin: 5px;
  color: var(--primary);
  margin-left: 16px;
}
.tp-selected-value {
  margin: 15px 0;
  color: var(--primary);
}
.primary {
  color: var(--primary);
  background: none;
}

.red {
  color: var(--red);
}

.primaryBackground {
  background-color: var(--primary);
}

.redBackground {
  background-color: var(--red);
}

mat-panel-description, mat-panel-title, p, input {
  color: var(--on-background);
}

mat-icon {
  fill: currentColor;
}

.color-surface {
  background-color: var(--surface);
}

.color-background {
  background-color: var(--dialog);
}

.search{
  box-sizing: border-box;
  padding: 0 10px 0 5px;
  border: none;
  outline: none;
  min-height: 60px;
  font-size: large;
  border-radius: 5px;
  color: var(--on-surface);
  transition: width 300ms linear;
}

label {
  color: var(--on-surface)
}

mat-slide-toggle {
  margin-bottom: 16px;
  display: block;
  color: var(--on-surface);
}

mat-panel-title, mat-panel-description {
  flex-basis: 0
}

@keyframes animation_blink_5s {
  50% {
    opacity: 0;
  }
}

.animation-blink{
  color: var(--red) !important;
  animation-name: animation_blink_5s;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-iteration-count: 2;
  opacity: 1.0 !important;
}

.new-Badword .mat-expansion-panel-header-title,
.new-Badword .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.new-Badword .mat-expansion-panel-header-description,
.new-Badword .button {
  justify-content: space-between;
  align-items: center;
}

.new-Badword .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
mat-dialog-content{
  max-height: 70vh!important;
  padding-top: 0px;
}
.float {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 3em;
  height: 3em;
  color: ghostwhite;
}
