mat-form-field.input-block {
  display: block;
}

.mat-fab .mat-button-wrapper {
  padding: 0!important;
}

.mat-dialog-container {
  background-color: var(--dialog);
}

.mat-tab-header {
  border-bottom-style: none!important;
}
