<mat-card>
  <div
    class="gpt-requester"
    *ngIf="!isLoading; else loading">
    <div
      fxLayout="row"
      style="padding: 0">
      <mat-form-field
        style="width: 100%"
        floatLabel="always"
        *ngIf="conversation.length < 1">
        <mat-icon
          matPrefix
          class="search-icon"
          style="margin-right: 0.1em">
          search
        </mat-icon>
        <mat-label></mat-label>
        <input
          placeholder="{{ 'gpt-chat.prompt-label' | translate }}"
          autofocus
          type="text"
          aria-label="Prompt"
          matInput
          [matAutocomplete]="auto"
          [(ngModel)]="searchTerm"
          (input)="filterPrompts()" />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let prompt of filteredPrompts"
            [value]="prompt.act"
            (click)="sendGPTContent = prompt.prompt; autoGrow(autoGrowElement)"
            class="mat-option"
            [ngClass]="{
              'mat-option-header':
                prompt.act === 'acts' || prompt.act === 'prompts'
            }"
            [disabled]="!prompt.prompt">
            <ng-container *ngIf="prompt.act !== null && prompt.prompt !== null">
              {{ prompt.act }}
            </ng-container>
            <ng-container
              *ngIf="prompt.act === 'acts' && prompt.prompt === null">
              <div class="counter-container">
                <span>
                  {{ "gpt-chat.option-total-acts" | translate }} ({{
                    amountOfFoundActs
                  }})
                </span>
              </div>
            </ng-container>
            <ng-container
              *ngIf="prompt.act === 'prompts' && prompt.prompt === null">
              <div class="counter-container">
                <span>
                  {{ "gpt-chat.option-total-prompts" | translate }} ({{
                    amountOfFoundPrompts
                  }})
                </span>
              </div>
            </ng-container>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div
      *ngFor="let item of conversation; let i = index"
      [class]="item.type">
      <img
        *ngIf="item.type === 'gpt'"
        src="/assets/images/ChatGPT.png" />
      <div
        markdown
        emoji
        katex>
        {{ formatText(item.message) }}
      </div>
      <button
        class="refresh-indicator"
        [matTooltip]="'gpt-chat.refresh' | translate"
        mat-icon-button
        *ngIf="!isSending && item.type === 'gpt'"
        (click)="refreshGPTMessage(i)">
        <mat-icon class="material-icons-round">autorenew</mat-icon>
      </button>
      <button
        *ngIf="isSending && renewIndex === i"
        mat-icon-button
        (mousedown)="stopper.next(true)"
        class="refresh-indicator">
        <mat-icon class="material-icons-outlined">cancel</mat-icon>
      </button>
    </div>

    <mat-form-field style="margin-top: 30px">
      <mat-label>{{ "gpt-chat.use-case" | translate }}</mat-label>
      <mat-select
        [(value)]="model"
        [matTooltip]="'gpt-chat.use-case-tooltip' | translate">
        <mat-option
          value="text-davinci-003"
          [matTooltip]="
            'gpt-chat.use-case-tooltip-answer-questions' | translate
          ">
          {{ "gpt-chat.use-case-answer-questions" | translate }}
        </mat-option>
        <mat-option
          value="code-davinci-002"
          [matTooltip]="'gpt-chat.use-case-tooltip-code' | translate">
          {{ "gpt-chat.use-case-code" | translate }}
        </mat-option>
        <mat-option
          value="davinci-instruct-beta:2.0.0"
          [matTooltip]="'gpt-chat.use-case-tooltip-chat' | translate">
          {{ "gpt-chat.use-case-chat" | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        {{ "gpt-chat.enter-conversation-text" | translate }}
      </mat-label>
      <textarea
        (input)="autoGrow(autoGrowElement)"
        (keydown)="onKeyDown($event)"
        #autoGrowElement
        matInput
        appAccessibilityEscapedInput
        [(ngModel)]="sendGPTContent"></textarea>
      <mat-hint>
        {{ "gpt-chat.token-info" | translate : tokenInfo }}
      </mat-hint>
    </mat-form-field>

    <button
      *ngIf="!isSending; else loading"
      mat-button
      class="secondary-btn"
      (click)="sendGPTMessage()">
      {{ "gpt-chat.send" | translate }}
    </button>
    <button
      *ngIf="!isSending"
      mat-button
      class="danger-btn"
      (click)="clearMessages()">
      {{ "gpt-chat.empty-conversation" | translate }}
    </button>
  </div>
  <div *ngIf="error">
    {{ getError() }}
  </div>
</mat-card>

<ng-template #loading>
  <app-mat-spinner-overlay
    color="on-surface"
    diameter="40"
    strokeWidth="5"></app-mat-spinner-overlay>
</ng-template>
