.gpt-requester {
  display: flex;
  flex-direction: column;
}

.gpt-requester > div {
  border-radius: 1.15rem;
  line-height: 1.25;
  max-width: 75%;
  padding: 0.5rem 0.875rem;
  position: relative;
  word-wrap: break-word;
  margin: 0.5rem 0;
  width: 75%;
}

.gpt-requester > div::before, .gpt-requester > div::after {
  bottom: -0.1rem;
  content: "";
  height: 1rem;
  position: absolute;
}

.gpt-requester > div::after {
  background-color: var(--surface);
}

.gpt-requester > .human {
  align-self: flex-end;
  background-color: var(--primary);
  color: var(--on-primary);
}

.gpt-requester > .human::before {
  border-bottom-left-radius: 0.8rem 0.7rem;
  border-right: 1rem solid var(--primary);
  right: -0.35rem;
  transform: translate(0, -0.1rem);
}

.gpt-requester > .human::after {
  border-bottom-left-radius: 0.5rem;
  right: -40px;
  transform: translate(-30px, -2px);
  width: 10px;
}

.gpt-requester > .error {
  margin-inline: auto;
  background-color: var(--red);
  color: #fff;
}

.gpt-requester > .gpt {
  align-items: flex-start;
  background-color: var(--secondary);
  color: var(--on-secondary);
  margin-left: 3em;
}

.gpt-requester > .gpt > img {
  width: 3em;
  height: 3em;
  position: absolute;
  bottom: 0;
  left: -3.5em;
  z-index: 1;
}

.gpt-requester > .gpt::before {
  border-bottom-right-radius: 0.8rem 0.7rem;
  border-left: 1rem solid var(--secondary);
  left: -0.35rem;
  transform: translate(0, -0.1rem);
}

.gpt-requester > .gpt::after {
  border-bottom-right-radius: 0.5rem;
  left: 20px;
  transform: translate(-30px, -2px);
  width: 10px;
}

mat-card {
  background-color: var(--surface);
  color: var(--on-surface);
}

.secondary-btn {
  background-color: transparent;
  color: var(--secondary);
  outline: var(--secondary) solid 3px;
  width: fit-content;
  margin: 1.5em auto;
}

.secondary-btn:hover {
  background-color: var(--secondary);
  color: var(--on-secondary);
}

.danger-btn {
  background-color: transparent;
  color: var(--red);
  outline: var(--red) solid 3px;
  width: fit-content;
  margin: 1.5em auto;
}

.danger-btn:hover {
  background-color: var(--red);
  color: var(--white);
}

.mat-chip {
  background-color: var(--primary);
  color: var(--on-primary);
}

.refresh-indicator {
  float: right;
}

.start_introduction {
  position: fixed;
  left: 35px;
  bottom: 65px;
  background-color: var(--secondary);
  color: var(--on-secondary);
  transform: scale(1.4);
  transition: all 0.1s ease-in-out;
  z-index: 2;
}

.start_introduction:hover {
  background-color: transparent;
  color: var(--secondary);
  outline: var(--secondary) solid 3px;
}
