.slide-container {
  margin-top: 2rem;
  gap: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  > * {
    flex: 1;
  }
}

.counter-container {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;

  span {
    position: relative;
    display: inline-block;
  }

  span:before,
  span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
  }

  span:before {
    right: 100%;
    margin-right: 15px;
  }

  span:after {
    left: 100%;
    margin-left: 15px;
  }
}

.gpt-requester {
  display: flex;
  flex-direction: column;

  > div {
    border-radius: 1.15rem;
    line-height: 1.25;
    max-width: 100%;
    padding: 0.5rem 0.875rem;
    position: relative;
    word-wrap: break-word;
    margin: 0.5rem 0;

    &::before,
    &::after {
      bottom: -0.1rem;
      content: "";
      height: 1rem;
      position: absolute;
    }
  }

  > .human {
    align-self: flex-end;

    &a {
      text-decoration: underline;
    }

    &::before {
      border-bottom-left-radius: 0.8rem 0.7rem;
      right: -0.35rem;
      transform: translate(0, -0.1rem);
    }

    &::after {
      border-bottom-left-radius: 0.5rem;
      right: -40px;
      transform: translate(-30px, -2px);
      width: 10px;
    }
  }

  > .error {
    margin-inline: auto;
  }

  > .gpt {
    align-items: flex-start;
    margin-left: 3em;

    > mat-icon {
      position: absolute;
      bottom: 0;
      left: -1.3em;
      z-index: 1;
      font-size: 2.5em;
      width: 1em;
      height: 1em;
    }

    &::before {
      border-bottom-right-radius: 0.8rem 0.7rem;
      left: -0.35rem;
      transform: translate(0, -0.1rem);
    }

    &::after {
      border-bottom-right-radius: 0.5rem;
      left: 20px;
      transform: translate(-30px, -2px);
      width: 10px;
    }
  }
}

.secondary-btn {
  width: fit-content;
  margin: 1.5em auto;
}

.danger-btn {
  width: fit-content;
  margin: 1.5em auto;
}

.refresh-indicator {
  float: right;
}

.start_introduction {
  position: fixed;
  left: 35px;
  bottom: 65px;
  transform: scale(1.4);
  transition: all 0.1s ease-in-out;
  z-index: 2;
}
