<form>
<mat-form-field class="input-block">
  <input matInput #subject [(ngModel)]="content.subject" placeholder="{{'content.subject' | translate}}" name="subject">
</mat-form-field>
<app-markdown-toolbar textareaId="content-text-body"></app-markdown-toolbar>
<mat-form-field class="input-block">
    <textarea matInput #body [(ngModel)]="content.body" placeholder="{{'content.body' | translate}}" name="body"
              matTextareaAutosize matAutosizeMinRows="3" matAutosizeMaxRows="8"></textarea>
</mat-form-field>
<markdown [data]="content.body"></markdown>
<mat-form-field>
  <input matInput #group matInput [formControl]="myControl" [matAutocomplete]="auto"
         value={{lastCollection}} placeholder="{{'content.collection' | translate}}"/>
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let collection of collections" [value]="collection">
      {{collection.name}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
  <app-content-text-creator *ngIf="format === 'text'" (reset)="resetInputs()"
       [contentSub] = "subject.value" [contentBod]="body.value" [contentCol]="group.value">
  </app-content-text-creator>
  <app-content-choice-creator *ngIf="format === 'choice'" (resetP)="resetInputs()"
       [contentSub] = "subject.value" [contentBod]="body.value" [contentCol]="group.value">
  </app-content-choice-creator>
  <app-content-likert-creator *ngIf="format === 'likert'" (reset)="resetInputs()"
       [contentSub] = "subject.value" [contentBod]="body.value" [contentCol]="group.value">
  </app-content-likert-creator>
  <app-content-yes-no-creator *ngIf="format === 'yesno'" (reset)="resetInputs()"
                              [contentSub] = "subject.value" [contentBod]="body.value" [contentCol]="group.value">
  </app-content-yes-no-creator>
</form>
