::ng-deep .mat-form-field-label {
  color: var(--on-surface)!important;
}

::ng-deep .mat-form-field-underline {
  background-color: var(--on-surface)!important;
}

::ng-deep .mat-form-field-ripple {
  background-color: var(--on-surface)!important;
}

mat-form-field {
  color: var(--on-surface);
}
