<form>
  <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px">
    <h3>
      Please select a collection or enter a new one!
    </h3>
      <mat-form-field>
        <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto"
               placeholder="Collection name"/>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let collection of filteredOptions | async" [value]="collection">
            {{collection}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    <button mat-raised-button color="primary" (click)="onNoClick()">
      Done
    </button>
  </div>
</form>
