mat-card {
  margin-bottom: 10px;
  background-color: #4db6ac;
}

app-comment {
  overflow: auto;
  overflow-wrap: break-word;
}

.card-container {
  background-color: #b2dfdb;
  overflow: auto;
  overflow-wrap: break-word;
}

.outer-card {
  border-radius: 8px;
}

input {
  border: 2px solid #4db6ac;
  box-sizing: border-box;
  padding: 5px 10px 5px 30px;
  margin-bottom: 0px;
}

.search-results li {
  list-style-type: none;
  display: block;
  width: 100%;
  margin-top: 0px;
}

li a {
  border: 1px solid #4db6ac;
  text-decoration: none;
  display: block;
  color: black;
   background-color: #b2dfdb;
   padding: 10px; 
}

.search-results :hover {
  background-color: #4db6ac;
}

.search-results li a:hover {
}