<div fxLayout="row" id="search-container">
  <mat-label>
    <mat-icon>search</mat-icon>
  </mat-label>
  <input #searchBox placeholder="{{ 'comment-list-page.search-box-placeholder-text' | translate }}"
         (input)="searchComments(searchBox.value)">
  <button mat-button matSuffix *ngIf="searchBox.value" (click)="hideCommentsList=false; searchBox.value=''">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-card class="outer-card" *ngIf="hideCommentsList">
  <app-comment *ngFor="let current of filteredComments" [comment]="current"> </app-comment>
</mat-card>
<mat-card class="outer-card" *ngIf="!hideCommentsList">
  <app-comment *ngFor="let current of comments" [comment]="current"> </app-comment>
</mat-card>
