mat-card {
  margin-bottom: 10px;
  background-color: #4db6ac;
}

app-comment {
  overflow: auto;
  overflow-wrap: break-word;
}
mat-card-content>:first-child {
  margin-top: 20px;
}

mat-toolbar {
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: #bbdefb;
}

input {
  box-sizing: border-box;
  padding: 5px 10px 5px 10px; 
}

mat-list-item{
height:50px;
}

a {
  text-decoration: none;
  display: block;
  color: black;
  background-color: #b2dfdb;
}

mat-nav-list :hover {
  background-color: #4db6ac;
}

.app-class .mat-list-item {
  padding: 1px;
}

button{
  border-left: 3px solid #b2dfdb;
  border-radius: 0px;
  min-height: 100% !important;
  min-width: 80px;
}

mat-icon {
  padding: 10px;
}

mat-label {
  border-radius: 0px;
}

#search-container{
  background-color: #4db6ac;
  margin-bottom: 10px;
}