:host {
  .colors {
    &-foreground {
      color: var(--on-surface);
    }
  }

  .live-poll-vote-option{
    width:50%;
    height:50%;
    border:none;
    box-sizing: border-box;
    padding:8px;
    background-color: transparent;
    >div{
      width:100%;
      height:100%;
      box-sizing: border-box;
      border-radius: 8px;
      background-color: var(--secondary);
      >span{
        font-size:2em;
        font-weight:600;
        float:left;
        position:relative;
        left:50%;
        top:50%;
        transform:translate3D(-50%,-50%,0);
        color: var(--on-secondary);
      }
    }
  }

  .livePoll {
    &-button {
      color: var(--on-secondary);
      background-color: var(--secondary);
      padding: 0 8px;

      mat-icon {
        color: var(--on-secondary);
        padding-right: 4px;
      }

      span{
        color: var(--on-secondary);
      }
    }

    &-entry {
      border-radius: 8px;
      box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1);

      &-bar {
        height: calc(100% - 16px);
        margin-top: 8px;
        max-width: 100%;
        transition: all 0.2s ease-in-out;
        background-color: var(--primary);
        border-radius: 8px;
      }
    }
  }

  #livePollExpander {
    width: 64px;
    height: 64px;
    position: fixed;
    border-radius: 100%;
    z-index: 2;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.1);
  }

  .livePoll-main {
    background-color: var(--surface);
  }

  .live-poll-vote-wrapper{
    width:800px;
    max-width: 100%;
    left:50%;
    transform:translateX(-50%);
    position:fixed;
    bottom:0;
  }

  .live-poll-view-content-wrapper{
    width:800px;
    max-width: 100%;
    left:50%;
    transform:translateX(-50%);
    position:fixed;
    top:64px;
  }

  .content-wrapper{
    padding:16px;
    box-sizing: border-box;
  }

  .fade-in-animation-wrapper {
    animation: fade-wrap-animation 0.2s;

    > ars-row {
      position: relative;
    }
  }

  @for $i from 1 through 10 {
    .fade-in-animation-wrapper ars-row:nth-child(#{$i}n) {
      animation: fade-in-animation 0.2s ease-in-out both;
      animation-delay: #{$i * 0.1}s;
    }
  }
  @for $i from 1 through 10 {
    .fade-in-horizontal-animation-wrapper button:nth-child(#{$i}n) {
      animation: fade-in-horizontal-animation 0.2s ease-in-out both;
      animation-delay: #{($i * 0.1) + 1.5}s;
    }
  }
  @keyframes fade-in-animation {
    from {
      opacity: 0;
      top: 64px;
    }
    to {
      opacity: 1;
      top: 0px;
    }
  }
  @keyframes fade-wrap-animation {
    0% {
      overflow: hidden;
    }
    99% {
      overflow: hidden;
    }
    to {
      overflow: auto;
    }
  }
  @keyframes fade-in-horizontal-animation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

}
