<div class="main-container">
  <h3>{{ data.entry.title | translate }}</h3>
  <div class="text-container">
    <mat-form-field appearance="outline">
      <mat-label>{{ data.entry.action.label | translate }}</mat-label>
      <input
        matInput
        appAccessibilityEscapedInput
        [formControl]="data.entry.action.control"
        [placeholder]="data.entry.action.placeholder | translate" />
      <mat-hint *ngIf="data.entry.action.hint as hintText">
        {{ hintText | translate }}
      </mat-hint>
      <ng-container *ngIf="data.entry.action.control as formControl">
        <ng-container *ngIf="data.entry.action.errorMessages as errorMessages">
          <ng-container *ngFor="let entry of errorMessages | keyvalue">
            <mat-error *ngIf="control.hasError(entry.key)">
              {{ entry.value | translate }}
            </mat-error>
          </ng-container>
        </ng-container>
      </ng-container>
    </mat-form-field>
    <button
      mat-button
      (click)="submit()">
      {{ "multi-level-dialog.submit" | translate }}
    </button>
  </div>
</div>
