@use "../../../style/m3-layout" as m3-layout;

:host-context(.type-flexible) {
  max-width: 1600px;
  flex-grow: 1;
}

:host-context(.type-fixed) {
  width: var(--m3-comp-supporting-pane-fixed-width);
  flex-shrink: 0;
}

:host-context(.priority-secondary) {
  display: none;
  @include m3-layout.explicit-range(expanded, extra-large) {
    display: block;
  }
}

:host-context(.priority-tertiary) {
  display: none;
  @include m3-layout.explicit-range(extra-large, extra-large) {
    display: block;
  }
}
