.content {
  display: flex;
  flex-direction: column;
}

.previewOption {
  margin-bottom: 8px;
  background-color: var(--secondary);
  color: var(--on-secondary);
  transition: box-shadow 0.2s ease-in-out;

  &[ng-reflect-color="primary"] {
    background-color: transparent;
    box-shadow: inset 0 0 0 1px rgba(128, 128, 128, 0.5);
    &:hover {
      box-shadow: inset 0 0 0 3px var(--primary);
    }
    &:focus {
      outline: solid 3px var(--secondary);
    }
    color: var(--on-surface);
  }

  &[ng-reflect-color="accent"] {
    background-color: transparent;
    box-shadow: inset 0 0 0 3px var(--primary);
    color: var(--on-surface);
  }

  &[ng-reflect-color="warn"] {
    background-color: transparent;
    &:hover {
      box-shadow: inset 0 0 0 3px var(--red);
    }
    &:focus {
      box-shadow: inset 0 0 0 3px var(--red);
    }
    color: var(--on-surface);
  }
}

.split {
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding-top: 32px;
}

.mobile {
  flex-direction: column;

  > .adjust {
    width: auto;
    padding: 0;
  }
}

.desktop {
  flex-direction: column;
}

.preview {
  display: flex;
  flex-direction: column;
}

.reverse {
  &-true {
    flex-direction: column-reverse;
  }
}
