.content {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
}

.split {
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding-top: 32px;
}

.mobile {
  flex-direction: column;

  > .adjust {
    width: auto;
    padding: 0;
  }
}

.desktop {
  flex-direction: column;
}

.preview {
  display: flex;
  flex-direction: column;
}
