<ars-row style="display: flex">
  <div class="anchor-wrp">
    <ars-row class="keywords-container">
      <div class="lang-selection">
        <mat-select [(ngModel)]="selectedLang" (selectionChange)="evalInput($event.value)">
          <mat-option *ngFor="let lang of commentlang" [value]="lang.lang">
            <span *ngIf="lang.lang == 'de'">{{ 'spacy-dialog.german' | translate}}</span>
            <span *ngIf="lang.lang == 'en'">{{ 'spacy-dialog.english' | translate}}</span>
            <span *ngIf="lang.lang == 'fr'">{{ 'spacy-dialog.french' | translate}}</span>
          </mat-option>
        </mat-select>
      </div>
      <br><mat-label for="checkAll" style="float:left;">{{ 'spacy-dialog.select-all' | translate }}</mat-label><mat-checkbox id="checkAll" style="float:right;" (change)="selectAll($event.checked)"></mat-checkbox><br><br>
      <mat-list dense>
        <span *ngIf="keywords.length>0">
        <cdk-virtual-scroll-viewport [itemSize]="20" class="keywords-viewport">
          <mat-list-item  *cdkVirtualFor="let keyword of keywords; let odd = odd"
                            [class.keywords-alternate]="odd"
                            [value]="keyword"
                            color="warn">
            <span class="keyword-span" *ngIf="!keyword.editing == true">{{keyword.word}}</span>
            <input class="keyword-span" *ngIf="keyword.editing == true" [(ngModel)]="keyword.word" class="isEditing"/>
            

            <div class="keywords-actions">
              <mat-checkbox
              [checked]="keyword.completed"
              >
              </mat-checkbox>
              <button *ngIf="!keyword.editing == true"
              (click)="onEdit(keyword)" mat-icon-button>
                <mat-icon>edit</mat-icon>
              </button>
              <button *ngIf="keyword.editing == true"
               (click)="onEndEditing(keyword)" mat-icon-button>
                <mat-icon>check</mat-icon>
              </button>
            </div>
          </mat-list-item>
        </cdk-virtual-scroll-viewport>
          </span>
        <span *ngIf="keywords.length<=0">
          <p>{{ 'spacy-dialog.empty-nouns' | translate}}</p>
      </span>
      </mat-list>

    </ars-row>
  </div>
</ars-row>
<ars-row ars-flex-box>
  <ars-fill>
  </ars-fill>
  <ars-col>
    <app-dialog-action-buttons
      buttonsLabelSection="comment-page"
      confirmButtonLabel="send"
      [showDivider]="false"
      [spacing]="false"
      [cancelButtonClickAction]="buildCloseDialogActionCallback()"
      [confirmButtonClickAction]="buildCreateCommentActionCallback()"
    ></app-dialog-action-buttons>
  </ars-col>
</ars-row>

<!--
<h1 mat-dialog-title>Spacy</h1>
<div mat-dialog-content>
  <p>{{ 'spacy-dialog.spacyQ' | translate }}</p>
</div>
<div mat-dialog-actions>
  <button mat-button>{{ 'spacy-dialog.no-thanks' | translate }}</button>
  <button mat-button>Ok</button>
</div>
-->

