.keywords-viewport {
  height: 343px;
  width: 552px;
}
.keywords-even, .keywords-alternate {
  box-shadow: inset 0 0 0 2px var(--primary-variant);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-left: 2px solid var(--primary);
  box-sizing: border-box;
}
.keyword-span {
  color: var(--on-surface) !important;
  opacity: 1 !important;
}
.mat-list-base[dense] .mat-list-item {
  font-size: 14px !important;
}
.keyword-selected {
  background: var(--primary-variant);
  box-shadow: inset 0 0 0 2px var(--primary);
}
::ng-deep .mat-checkbox-checked .mat-checkbox-background {
  background: var(--cancel) !important;
}
.mat-checkbox-frame {
  color: var(--secondary);
}
:focus{
  outline: none;
  outline-offset: 8px;
}
.lang-selection {
  display: inline-flex;
  vertical-align: middle;
  width:100%;
}
.keywords-actions {
  margin-left: auto;
  color: var(--on-surface);
}
.keywords-actions-selected {
  color: var(--on-surface);
}
.isEditing{
  background: var(--primary);
  height: 22px;
  border-radius: 5px;
  color: var(--on-primary);
  border: 1px solid var( --on-primary);
}
.edit-accept {
  color: var(--on-surface);
}
.select-all-section {
  display: inline-flex;
  vertical-align: middle;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 4px;
}
.select-all-label {
  padding-left: 10px;
}
.select-all-checkbox {
  margin-left: auto;
  padding-right: 5px;
}
.mat-select {
  padding-left: 14px;
}
