<ars-row style="display: flex">
  <div class="anchor-wrp">
    <ars-row class="keywords-container">
      <div class="lang-selection">
        <mat-select [(ngModel)]="selectedLang" (selectionChange)="evalInput($event.value)">
          <mat-option *ngFor="let lang of commentlang" [value]="lang.lang">
            <span *ngIf="lang.lang == 'de'">Deutsch</span>
            <span *ngIf="lang.lang == 'en'">English</span>
            <span *ngIf="lang.lang == 'fr'">French</span>
          </mat-option>
        </mat-select>
      </div>
      <mat-selection-list dense (selectionChange)="onSelectionChange($event)">
        <cdk-virtual-scroll-viewport [itemSize]="20" class="keywords-viewport">
          <mat-list-option  *cdkVirtualFor="let keyword of evalWords; let odd = odd"
                            [class.keywords-alternate]="odd"
                            [value]="keyword"
                            [selected]="selection.isSelected(keyword)"
                            color="warn">
            <span class="keyword-span">{{keyword}}</span>
          </mat-list-option>
        </cdk-virtual-scroll-viewport>
      </mat-selection-list>
    </ars-row>
  </div>
</ars-row>
<ars-row ars-flex-box>
  <ars-fill>
  </ars-fill>
  <ars-col>
    <app-dialog-action-buttons
      buttonsLabelSection="comment-page"
      confirmButtonLabel="send"
      [showDivider]="false"
      [spacing]="false"
      [cancelButtonClickAction]="buildCloseDialogActionCallback()"
      [confirmButtonClickAction]="buildCreateCommentActionCallback()"
    ></app-dialog-action-buttons>
  </ars-col>
</ars-row>

<!--
<h1 mat-dialog-title>Spacy</h1>
<div mat-dialog-content>
  <p>{{ 'spacy-dialog.spacyQ' | translate }}</p>
</div>
<div mat-dialog-actions>
  <button mat-button>{{ 'spacy-dialog.no-thanks' | translate }}</button>
  <button mat-button>Ok</button>
</div>
-->
