<h2 mat-dialog-title>{{ data().title }}</h2>

<div mat-dialog-content>
  <app-markdown-viewer [data]="data().content"></app-markdown-viewer>
</div>

<div mat-dialog-actions>
  @for (action of data().actions; track action) {
    @switch (action.type) {
      @case ("button") {
        <button
          mat-button
          (click)="handleButtonClick(action)">
          {{ action.text }}
        </button>
      }
      @case ("spacer") {
        <span style="flex: 1"></span>
      }
    }
  } @empty {
    <button
      mat-button
      mat-dialog-close>
      {{ i18n().global.close }}
    </button>
    <span style="flex: 1"></span>
  }
</div>
