<div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="20px" fxFill>
  <div fxLayout="row" fxLayoutAlign="center">
    <mat-card>
      <h3>Fragen</h3>
      <mat-card-actions>
        <button mat-fab color="primary" matTooltip="Fragen präsentieren"
                routerLink="/creator/room/{{ room.shortId }}/create-content">
          <mat-icon>school</mat-icon>
        </button>
        <button mat-fab color="primary" matTooltip="Erstelle neue Frage"
                routerLink="/creator/room/{{ room.shortId }}/create-content">
          <mat-icon>note_add</mat-icon>
        </button>
      </mat-card-actions>
      <mat-divider></mat-divider>
      <h4>Klicken Sie auf einen Inhalt, um diesen zu editieren     <mat-icon>create</mat-icon></h4>
      <mat-divider></mat-divider>
      <mat-list>
        <mat-list-item *ngFor="let content of contents" (click)="editContent(content.subject)">
          <h3 mat-line>{{content.subject}}</h3>
          <p mat-line>
            <span>{{content.body}}</span>
          </p>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </mat-card>
  </div>
</div>
