<form (ngSubmit)="resetPassword(email.value)" fxLayout="column" fxLayoutAlign="space-around"
      fxLayoutGap="10px">
  <mat-form-field class="input-block">
    <input matInput #email placeholder="E-Mail" [formControl]="usernameFormControl" [errorStateMatcher]="matcher"
           name="email"/>
    <mat-error *ngIf="usernameFormControl.hasError('required')">Email address is <strong>required</strong>.</mat-error>
    <mat-error *ngIf="usernameFormControl.hasError('email') && !usernameFormControl.hasError('required')">Email is not <strong>valid</strong>.</mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="resetPassword(email.value)">Reset password</button>
</form>
