<form (ngSubmit)="submitContent()">
  <mat-form-field class="input-block">
    <input matInput #subject [(ngModel)]="content.subject" placeholder="Subject" name="subject">
  </mat-form-field>
  <mat-form-field class="input-block">
    <textarea matInput #body [(ngModel)]="content.body" placeholder="Body" name="body"></textarea>
  </mat-form-field>
  <mat-divider></mat-divider>

  <mat-table #table [dataSource]="displayAnswers">

    <ng-container matColumnDef="label">
      <mat-header-cell *matHeaderCellDef>Answer</mat-header-cell>
      <mat-cell *matCellDef="let answer">
        <!-- ToDo: Check ngModel -->
        {{ answer.answerOption.label }}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <button mat-raised-button type="submit" color="primary">Submit</button>
</form>
