<form (ngSubmit)="submitContent(subject.value, body.value, group.value)">
  <mat-form-field class="input-block">
    <input matInput #subject [(ngModel)]="content.subject" placeholder="{{ 'content.subject' | translate }}" name="subject">
  </mat-form-field>
  <mat-form-field class="input-block">
    <textarea matInput #body [(ngModel)]="content.body" placeholder="{{ 'content.body' | translate }}" name="body"></textarea>
  </mat-form-field>
  <mat-divider></mat-divider>
  <mat-table #table [dataSource]="displayAnswers">
    <ng-container matColumnDef="label">
      <mat-header-cell *matHeaderCellDef>Answer</mat-header-cell>
      <mat-cell *matCellDef="let answer">
        <!-- ToDo: Check ngModel -->
        {{ answer.answerOption.label }}
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-form-field>
    <input matInput #group matInput [formControl]="myControl" [matAutocomplete]="auto"
           value={{lastCollection}} placeholder="{{'content.collection' | translate}}"/>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let collection of filteredOptions | async" [value]="collection">
        {{collection}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <div *ngIf="!editDialogMode">
    <button mat-raised-button type="submit" color="accent">{{ 'content.create' | translate }}</button>
  </div>
  <div *ngIf="editDialogMode">
    <button mat-raised-button (click)="editDialogClose($event,'edit')" color="primary">Update</button>
    <button mat-raised-button (click)="editDialogClose($event,'abort')" color="primary">Abort</button>
    <button mat-raised-button (click)="openDeletionContentDialog($event)" color="warn">Delete</button>
  </div>
</form>
