<span mat-dialog-title>
  {{ "common.peer-instruction.result-statistics.title" | translate }}
</span>
<ng-container *ngFor="let pass of comparisonList; index as i">
  <span>
    {{
      "common.peer-instruction.result-statistics.result-" + (i + 1) | translate
    }}
  </span>
  <app-livepoll-statistic
    [class.no-pad]="true"
    *ngIf="pass.options"
    [options]="pass.options"
    [template]="pass.template"
    [translateKey]="'common'"
    [votes]="pass.votes"
    [totalVotes]="pass.totalVotes"></app-livepoll-statistic>
</ng-container>
