<h1 mat-dialog-title>API-Key</h1>

<mat-dialog-content>
  <p>
    Ein API-Key dient dazu, den Zugriff auf eine API zu authentifizieren und zu
    steuern. Er funktioniert wie ein Passwort.
  </p>
  <p>
    Du findest deinen API-Key auf der Webseite deines API-Anbieters (z.B.
    ChatGPT) innerhalb deines Kontos in den API-Einstellungen. Dort kannst du
    einen API-Key generieren und ihn hier in das Feld ‘API-Key’ einfügen.
  </p>
  <p>
    Die Organisations-ID ist eine eindeutige Kennung, die verwendet wird, um
    eine Organisation innerhalb eines API-Anbieters zu identifizieren. Sie wird
    häufig benötigt, um API-Schlüssel zu verwalten und spezifische API-Aufrufe
    zu tätigen.
  </p>
  <p>
    Du findest deine Organisations-ID auf der Webseite deines API-Anbieters
    (z.B. ChatGPT) innerhalb deines Kontos in den API-Einstellungen. Dort suchst
    du nach einem Abschnitt, der Informationen zur Organisation enthält. Hier
    findest du die Organisations-ID und kannst sie in das Feld
    ‘Organisations-ID’ einfügen.
  </p>
</mat-dialog-content>
