.example-spacer {
  flex: 1 1 auto;
}

mat-nav-list {
  max-height: 50dvh;
  overflow: auto;
}

.button-wrapper {
  display: flex !important;
  height: 100%;
  align-items: center;

  button + button {
    margin-left: 0.5em;
  }
}
