<mat-toolbar>
  <div
    class="primary-badge"
    [matBadge]="change.getList().length || 0"
    [matBadgePosition]="'above after'">
    <mat-icon>notifications</mat-icon>
  </div>
  <span
    id="title"
    *ngIf="!isMobile"
    style="margin-left: 10px">
    {{ "dashboard.title" | translate }}
  </span>
  <span class="example-spacer"></span>
  <!--Filter menu-->
  <button
    [matMenuTriggerFor]="menu"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
    (click)="toggleFilter = !toggleFilter">
    <mat-icon [matTooltip]="'dashboard.filter' | translate">
      filter_list
    </mat-icon>
  </button>
  <mat-menu
    class="mat-menu"
    #menu="matMenu">
    <ng-container *ngFor="let key of dashboardFilterKeys">
      <button
        mat-menu-item
        [ngClass]="getActiveClass(key)"
        *ngIf="ICONS[key].condition()"
        (click)="filterNotification(key)">
        <mat-icon [class]="ICONS[key].iconClass">
          {{ ICONS[key].icon }}
        </mat-icon>
        {{ "notification." + key | translate }}
      </button>
    </ng-container>
  </mat-menu>
  <button
    *ngIf="!change.isNotificationBlocked"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="toggleNotificationBlock()">
    <mat-icon [matTooltip]="'dashboard.block' | translate">
      notifications_active
    </mat-icon>
  </button>
  <button
    *ngIf="change.isNotificationBlocked"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="toggleNotificationBlock()">
    <mat-icon [matTooltip]="'dashboard.activate' | translate">
      notifications_off
    </mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="openDeleteNotifDialog()"
    style="margin-right: 10px">
    <mat-icon [matTooltip]="'dashboard.delete' | translate">
      delete_sweep
    </mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="closeDashboard()">
    <mat-icon [matTooltip]="'dashboard.close' | translate">
      keyboard_arrow_down
    </mat-icon>
  </button>
</mat-toolbar>
<mat-nav-list>
  <!--List Items-->
  @for (
    notification of change.getList(hasFilter);
    track notification;
    let i = $index, isLast = $last
  ) {
    <mat-list-item>
      @if (getResponderIcon(notification); as icon) {
        <mat-icon
          matListItemIcon
          [matTooltip]="icon.tooltip | translate">
          {{ icon.icon }}
        </mat-icon>
      }
      @if (getReactionIcon(notification); as icon) {
        <mat-icon
          matListItemIcon
          [class]="icon.class"
          [matTooltip]="icon.tooltip | translate">
          {{ icon.icon }}
        </mat-icon>
      }
      <!--Message Text-->
      <div matListItemTitle>
        {{ getNotificationMessage(notification) | async }}
      </div>
      <div matListItemLine>
        {{
          notification.createdAt.toLocaleString(currentLanguage, {
            day: "2-digit",
            hour: "2-digit",
            second: "2-digit",
            minute: "2-digit",
            month: "2-digit",
            year: "numeric"
          })
        }}
      </div>
      <!--remove + go to buttons-->
      <div
        matListItemMeta
        class="button-wrapper">
        <button
          mat-icon-button
          class="error-button"
          [matTooltip]="'notification.remove' | translate"
          (click)="this.change.deleteElement(hasFilter, i)">
          <mat-icon>close</mat-icon>
        </button>
        <button
          mat-icon-button
          class="primary-button"
          [matTooltip]="
            'notification.go-to-' +
              (notification.isAnswer ? 'comment' : 'question') | translate
          ">
          <mat-icon (click)="goTo(notification)">keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </mat-list-item>
    @if (!isLast) {
      <mat-divider></mat-divider>
    }
  } @empty {
    <mat-list-item id="empty">
      <span>{{ "notification.no-notifications" | translate }}</span>
    </mat-list-item>
  }
</mat-nav-list>
<!--Footer-->
<button
  mat-button
  style="margin-top: 1em"
  (click)="showExplanationDashboard()">
  <mat-icon>question_mark</mat-icon>
  {{ "explanation.label" | translate }}
</button>
