<!-- <div>
    <h1 mat-dialog-title>ChatGPT Privacy Policy</h1>
    <div mat-dialog-content>
        <p>What's your favorite animal?</p>
        <mat-form-field appearance="fill">
        <mat-label>Favorite Animal</mat-label>
        <input matInput>
        </mat-form-field>
    </div>


    

    

    

        <app-dialog-action-buttons
    buttonsLabelSection="cookies"
    confirmButtonLabel="accept"
    [confirmButtonType]=confirmButtonType
    [cancelButtonClickAction]="buildDeclineActionCallback()"
    [confirmButtonClickAction]="buildConfirmActionCallback()">
    </app-dialog-action-buttons>
    
</div> -->
