<h2 mat-dialog-title>{{ "gpt-chat.privacy-policy" | translate }}</h2>
<mat-dialog-content
  #policyContent
  tabindex="-1"
  (scroll)="onScroll()">
  <app-gptprivacypolicy-de
    *ngIf="currentLanguage === 'de'"></app-gptprivacypolicy-de>
  <app-gptprivacypolicy-en
    *ngIf="currentLanguage === 'en'"></app-gptprivacypolicy-en>
  <app-gptprivacypolicy-fr
    *ngIf="currentLanguage === 'fr'"></app-gptprivacypolicy-fr>
  <button
    *ngIf="!hasScrolledToEnd && showAcceptButton"
    mat-icon-button
    class="scroll-down-button"
    aria-label="Scroll down"
    (click)="scrollToEnd()">
    <mat-icon class="mdc-icon-button__icon">keyboard_arrow_down</mat-icon>
  </button>
</mat-dialog-content>
<mat-dialog-actions>
  <button
    mat-button
    (click)="onReject()">
    {{ "gpt-chat.optin-reject" | translate }}
  </button>
  <span style="flex: 1"></span>
  <button
    mat-flat-button
    [disabled]="!hasScrolledToEnd"
    (click)="onAccept()"
    *ngIf="showAcceptButton">
    {{ "gpt-chat.optin-accept" | translate }}
  </button>
</mat-dialog-actions>
