.fill {
  flex-grow: 1;
}

$yOffset: 64px;
$xOffset: 64px;
$width: 2000px;
$header-height: 86px;
$footer-height: 64px;

.option {
  > * + * {
    margin-left: 4px;
  }
}

:host-context {
  width: $width;
  max-width: calc(100vw - $xOffset);
  position: relative;
  top: calc($yOffset / 2);
  height: calc(100vh - $yOffset);
  background-color: var(--dialog);
  display: flex;
  flex-direction: column;

  > .header {
    height: $header-height;
    border-bottom: 1px solid rgba(127, 127, 127, 0.2);
    box-sizing: border-box;
    padding: 8px;
    display: flex;
    align-items: center;

    > * + * {
      margin-left: 8px;
    }

    > mat-form-field {
      flex-grow: 1;
      position: relative;
      top: 12px;
    }
  }

  > .content {
    height: calc(100vh - ($yOffset - $header-height - $footer-height));
    display: flex;
    flex-direction: row;
  }

  > .footer {
    height: $footer-height;
    border-top: 1px solid rgba(127, 127, 127, 0.2);
    box-sizing: border-box;
    padding: 8px;
  }
}

.left-content {
  width: 600px;
  flex-shrink: 0;
  border-right: 1px solid rgba(127, 127, 127, 0.2);
  display: flex;
  flex-direction: column;

  > .header {
    height: 56px;
    border-bottom: 1px solid rgba(127, 127, 127, 0.2);
    align-items: center;

    > * {
      width: 100%;
      height: 100%;
    }
  }

  > .content {
    display: flex;
    flex-direction: column;

    > .header {
      display: flex;
      margin-top: 16px;
      padding: 0 16px;
    }

    > .markdown {
      padding: 0 16px;
    }
  }
}

.select-livepoll {
  height: 56px;
  border-bottom: 1px solid rgba(127, 127, 127, 0.2);
  align-items: center;

  > * {
    width: 100%;
    height: 100%;
  }
}

.explore {
  flex-grow: 1;
  padding: 0 16px;
}

.explore-header-container {
  display: flex;
  padding: 16px 0;
}

.explore-votes {
  &-number {
    font-size: 32px;
  }

  &-flag {
  }

  > * + * {
    margin-left: 8px;
  }
}

.explore-date {
  display: flex;
  flex-direction: column;
  align-items: end;

  &-created {
    display: flex;
  }

  &-edited {
    display: flex;
  }

  > * {
    > * + * {
      margin-left: 8px;
    }

    > .flag {
      font-size: 12px;
    }

    > .date {
    }
  }
}

.explore-chart {
  &-container {
    display: flex;
    flex-direction: column;
  }

  &-option-container {
  }
}

.fill {
  flex-grow: 1;
}

.outline-helper-container {
  padding: 16px;
  display: flex;
}

.outline-helper-image {
}

.outline-helper-text {
}
