<div class="header">
  <button
    mat-flat-button
    (click)="showOutline = !showOutline">
    <span>toggle outline</span>
  </button>
</div>
<div class="content">
  <div
    class="left-content"
    *ngIf="showOutline">
    <div class="header">
      <mat-form-field [appearance]="'fill'">
        <mat-label>Select Livepoll</mat-label>
        <mat-select [(ngModel)]="current">
          <mat-option
            *ngFor="let entry of entries"
            [value]="entry">
            {{ prettyPrintDate(entry.createdAt) }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="content">
      <ng-container *ngIf="showSelectionList">
        <ng-container *ngFor="let entry of entries; index as i">
          <div (click)="current = entries[i]; showSelectionList = false">
            <p>{{ entry.updatedAt }}</p>
          </div>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="!showSelectionList">
        <ng-container *ngIf="current">
          <div class="header">
            <button mat-flat-button>
              <mat-icon>edit</mat-icon>
              <span>edit</span>
            </button>
          </div>
          <div class="markdown">
            <markdown
              *ngIf="current.title"
              [data]="current.title"></markdown>
          </div>
          <ng-container *ngIf="!current.title">
            <p>no title</p>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="!current"></ng-container>
      </ng-container>
    </div>
  </div>
  <div class="explore">
    <ng-container *ngIf="current">
      <div class="explore-header-container">
        <div class="explore-votes"></div>
        <div class="explore-date"></div>
      </div>
    </ng-container>
  </div>
</div>
<div class="footer"></div>
