<div class="title">
  <h1 mat-dialog-title>{{ translateKey + ".dialog-title" | translate }}</h1>
</div>
<mat-dialog-content
  class="content"
  *ngIf="livepollSession">
  <ng-container *ngIf="session.currentRole">
    <mat-accordion class="accordion">
      <mat-expansion-panel class="settings-expansion-panel">
        <mat-expansion-panel-header>
          <mat-panel-title class="settings-panel-title">
            {{ translateKey + ".creator-settings" | translate }}
          </mat-panel-title>
          <mat-panel-description
            [ngClass]="
              'settings-panel-description-' +
              (device.isCurrentlyDesktop ? 'desktop' : 'mobile')
            ">
            <span>
              {{
                device.isCurrentlyDesktop
                  ? (translateKey + ".creator-settings-description" | translate)
                  : ""
              }}
            </span>
            <mat-icon>
              {{ translateKey + ".creator-settings-icon" | translate }}
            </mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="settings-panel-container">
          <div
            class="row settings-panel-container-top"
            *ngIf="isProduction">
            <button
              mat-flat-button
              color="accent"
              [matTooltip]="
                translateKey +
                  '.creator-settings-' +
                  (isActive ? 'pause' : 'continue') | translate
              "
              (click)="setActive(!isActive)">
              <mat-icon>{{ isActive ? "pause" : "play_arrow" }}</mat-icon>
              <span>
                {{
                  translateKey +
                    ".creator-settings-" +
                    (isActive ? "pause" : "continue") | translate
                }}
              </span>
            </button>
            <button
              mat-flat-button
              color="warn"
              [matTooltip]="
                translateKey + '.creator-settings-delete-tooltip' | translate
              "
              (click)="delete()">
              <mat-icon>delete</mat-icon>
              <span>
                {{ translateKey + ".creator-settings-delete" | translate }}
              </span>
            </button>
          </div>
          <mat-form-field appearance="outline">
            <mat-label>
              {{ translateKey + ".option-select-title" | translate }}
            </mat-label>
            <input
              matInput
              [(ngModel)]="livepollSession.title" />
            <mat-hint>
              {{ translateKey + ".option-select-title-hint" | translate }}
            </mat-hint>
          </mat-form-field>
          <mat-slide-toggle
            [matTooltip]="
              translateKey + '.tooltip-option-select-result-visibility'
                | translate
            "
            [(ngModel)]="livepollSession.resultVisible">
            {{ translateKey + ".option-select-result-visibility" | translate }}
          </mat-slide-toggle>
          <mat-slide-toggle
            [matTooltip]="
              translateKey + '.tooltip-option-select-views-visibility'
                | translate
            "
            [(ngModel)]="livepollSession.viewsVisible">
            {{ translateKey + ".option-select-views-visibility" | translate }}
          </mat-slide-toggle>
        </div>
        <div class="expansion-action-list">
          <button
            *ngIf="isProduction"
            mat-flat-button
            color="accent"
            (click)="save()">
            <span>{{ translateKey + ".save" | translate }}</span>
          </button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-container>

  <p *ngIf="!isProduction">
    {{ translateKey + ".dialog-preview-title" | translate }}
  </p>

  <div class="info-container">
    <div
      @AnimateInOut
      *ngIf="livepollSession.viewsVisible">
      <span>{{ translateKey + ".participants" | translate }}</span>
      <span>0</span>
    </div>
  </div>

  <div class="result-settings-container">
    <!-- relative / absolute settings -->
  </div>

  <div
    class="result-container"
    @AnimateInOut
    *ngIf="options && livepollSession.resultVisible">
    <div class="left">
      <ng-container *ngFor="let option of options">
        <div class="container">
          <ng-container *ngIf="template.isPlain">
            <ng-container *ngIf="template.translate">
              <span class="option-plain-translate">
                {{
                  (translateKey + "." + option.symbol | translate)[option.index]
                }}
              </span>
            </ng-container>
            <ng-container *ngIf="!template.translate">
              <span class="option-plain">{{ option.symbol }}</span>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="!template.isPlain">
            <mat-icon class="option-icon">{{ option.symbol }}</mat-icon>
          </ng-container>
        </div>
      </ng-container>
    </div>
    <div class="right">
      <ng-container *ngFor="let option of options">
        <div class="container">
          <div class="background">
            <div class="bar"></div>
          </div>
          <div class="foreground"></div>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="vote-container">
    <div
      [ngClass]="'reverse-' + !!template.reverse + ' grid-' + template.isGrid"
      *ngIf="template">
      <ng-container *ngIf="template.symbols">
        <ng-container *ngFor="let symbol of template.symbols; index as i">
          <ng-container
            *ngTemplateOutlet="
              option;
              context: {
                i: i,
                symbol: symbol
              }
            "></ng-container>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="template.length">
        <ng-container
          *ngFor="let symbol of [].constructor(template.length); index as i">
          <ng-container
            *ngTemplateOutlet="
              option;
              context: {
                i: i,
                symbol: i
              }
            "></ng-container>
        </ng-container>
      </ng-container>
    </div>
  </div>
</mat-dialog-content>

<ng-template
  #option
  let-i="i"
  let-symbol="symbol">
  <button
    class="previewOption"
    mat-flat-button
    [color]="selectedPreviewOption === i ? 'accent' : 'primary'"
    (click)="selectedPreviewOption = i">
    <ng-container
      *ngTemplateOutlet="
        optionEntry;
        context: { i: i, symbol: symbol }
      "></ng-container>
  </button>
</ng-template>

<ng-template
  #optionEntry
  let-i="i"
  let-symbol="symbol">
  <ng-container *ngIf="template.isPlain">
    <span>
      {{
        template.translate
          ? (translateKey + "." + "option-" + template.name! | translate)[i]
          : symbol
      }}
    </span>
  </ng-container>
  <ng-container *ngIf="!template.isPlain">
    <mat-icon>
      {{ symbol }}
    </mat-icon>
  </ng-container>
</ng-template>
