@if (!session) {
  <app-mat-spinner-overlay [overlay]="true"></app-mat-spinner-overlay>
}

<qw-top-bar
  *ngIf="session"
  [session]="session"></qw-top-bar>
<div class="content row grow">
  <div class="view-comment-container column grow items-center content-center">
    @if (!hasCommentFocus) {
      <div class="view-placeholder">
        <qw-default-placeholder></qw-default-placeholder>
      </div>
    }
    <div class="view-comment">
      <ng-template #outlet></ng-template>
    </div>
  </div>
  <div class="side-bar-container column">
    <div class="clock">
      @if (session) {
        <app-minute-jump-clock
          [minWidth]="880"
          [zIndex]="3"
          [questionWallColor]="true"
          [fixedSize]="200"></app-minute-jump-clock>
      }
    </div>
    <div class="side-bar-content grow">
      @for (comment of session?.comments; track comment) {
        <qw-comment
          mat-ripple
          [data]="{
            session: session,
            comment: comment,
          }"></qw-comment>
      } @empty {
        <div class="column grow items-center">
          <p>{{ i18n().info.noComments }}</p>
        </div>
      }
    </div>
    <div class="side-bar-footer">
      <ars-mat-paginator
        *ngIf="comments.length > 0"
        [pageSize]="this.pageSize"
        (page)="handlePageEvent($event)"
        [showFirstLastButtons]="true"
        [pageSizeOptions]="pageSizeOptions"
        [pageIndex]="pageIndex"
        [length]="comments.length"></ars-mat-paginator>
    </div>
  </div>
</div>
<qw-bottom-bar
  *ngIf="session"
  [session]="session"></qw-bottom-bar>
<div
  class="qr-overlay"
  *ngIf="session?.qrcode">
  <qrcode
    [qrdata]="getURL()"
    [width]="200"
    [errorCorrectionLevel]="'M'"></qrcode>
</div>
