h2 {
  margin-bottom: 10px;
}

p {
  font-size: medium;
}

mat-form-field {
  width: 90%;
}

.add {
  width: 45px;
  height: 45px;
  text-align: center;
  margin: 1% 2% 1% 1%;
}

.add-icon {
  width: 45px !important;
  height: 45px !important;
  font-size: 45px;
  line-height: 100% !important;
}

.close {
  margin-right: 10px;
}

.tags {
  padding-left: 3%;
}

mat-hint {
  margin-right: 1%;
}
