.main-container {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: calc(100vh - 110px);
}

mat-card {
  background-color: var(--surface);
  color: var(--on-surface) !important;

  > :first-child {
    margin: 20px;
  }

  > p {
    margin: 20px;
  }
}
