#commentSlider {
  width: 100%;
}

.delete {
  margin: 20px 0 20px 0;
  min-width: 160px;
  background-color: var(--red);
  color: var(--white);
}

.export {
  margin-bottom: 20px;
  min-width: 220px;
  background-color: var(--secondary);
  color: var(--on-secondary);
}

button {
  min-width: 105px;
}

mat-icon {
  margin-right: 10px;
}

.abort {
  background-color: var(--cancel);
  color: var(--on-cancel);
}

.update {
  background-color: var(--primary);
  color: var(--on-primary);
}

.submit {
  margin-top: 20px;
}

mat-form-field {
  color: var(--on-surface) !important;
}

mat-hint {
  color: var(--on-surface) !important;
  margin-right: 1%;
}

mat-slide-toggle {
  margin-top: 20px;
}




