#commentSlider {
  width: 100%;
}

.delete {
  margin: 20px 0 20px 0;
  min-width: 160px;
  background-color: var(--red);
  color: var(--on-secondary);
}

.export {
  margin-bottom: 20px;
  min-width: 220px;
  background-color: var(--secondary);
  color: var(--on-secondary);
}

button {
  min-width: 105px;
}

mat-icon {
  margin-right: 10px;
}

mat-divider {
  margin-bottom: 10px;
  color: var(--on-surface) !important;
}

.abort {
  background-color: var(--secondary);
  color: var(--on-secondary);
}

.update {
  background-color: var(--primary);
  color: var(--on-primary);
}

.submit {
  margin-top: 20px;
}

mat-form-field {
  color: var(--on-surface) !important;
}

mat-hint {
  color: var(--on-surface) !important;
  margin-right: 1%;
}

/* label style */
.mat-tab-label {
  background: var(--surface) !important;
  color: var(--on-surface) !important;
}

/* focus style */
.mat-tab-group.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus,
.mat-tab-group.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus,
.mat-tab-nav-bar.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus,
.mat-tab-nav-bar.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus {
  background: var(--seconday) !important;
  color: var(--on-secondary) !important;
}

/* ink bar style */
.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background: var(--secondary);
}
