@import '../../../../../styles';

.header {
  background-color: mat-color($arsnova-primary,200);
  margin: 0 0 10px 0;
}

.title {
  // color: ;
}

#commentSlider {
  width: 100%;
}

.delete {
  margin-bottom: 20px;
  min-width: 170px;
  width: 60%;
  background-color: mat-color($arsnova-warn,300);
}

mat-icon {
  margin-right: 10px;
}

