#commentSlider {
  width: 100%;
}

.delete {
  margin: 20px 0 20px 0;
  min-width: 160px;
  background-color: var(--red);
  color: var(--on-secondary);
}

.export {
  margin-bottom: 20px;
  min-width: 220px;
  background-color: var(--secondary);
  color: var(--on-secondary);
}

button {
  min-width: 105px;
}

mat-icon {
  margin-right: 10px;
}

mat-divider {
  margin-bottom: 10px;
  color: var(--on-surface) !important;
}

.abort {
  background-color: var(--secondary);
  color: var(--on-secondary);
}

.update {
  background-color: var(--primary);
  color: var(--on-primary);
}

.submit {
  margin-top: 20px;
}

mat-form-field {
  color: var(--on-surface);
}

mat-hint {
  color: var(--on-surface)!important;
}

::ng-deep .mat-tab-label-active,
::ng-deep .mat-tab-label {
  color: var(--on-surface);
  opacity: 1!important;
}

::ng-deep .mat-ink-bar {
  background-color: var(--primary) !important;
}
