<div class="snackbar-container">
  <div class="pwa-snackbar-content">
    <mat-icon
      svgIcon="fj_robot"
      class="robot-icon"></mat-icon>
    <span>{{ i18n().installPrompt }}</span>
  </div>
  <div class="snackbar-actions">
    <button
      mat-flat-button
      (click)="install()">
      {{ i18n().installButton }}
    </button>
    <button
      mat-icon-button
      class="contained-icon-outlined selected"
      (click)="dismiss()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
