<div class="snackbar-container">
  <div class="pwa-snackbar-content">
    <mat-icon
      svgIcon="fj_robot"
      class="robot-icon"></mat-icon>
    <span>{{ i18n().installPrompt }}</span>
  </div>
  <div class="snackbar-actions">
    <button
      mat-flat-button
      color="accent"
      (click)="install()">
      {{ i18n().installButton }}
    </button>
    <button
      mat-button
      class="later-button"
      (click)="dismiss()">
      {{ i18n().laterButton }}
    </button>
  </div>
</div>
