<h1 mat-dialog-title>Clé API</h1>

<mat-dialog-content>
  <p>
    Une clé API sert à authentifier et à contrôler l'accès à une API. Elle
    fonctionne comme un mot de passe.
  </p>
  <p>
    Tu trouveras ta clé API sur le site web de ton fournisseur d'API (par ex.
    ChatGPT) dans les paramètres API de ton compte. Tu peux y générer une clé
    API et l'insérer ici dans le champ 'Clé API'.
  </p>
  <p>
    L'ID d'organisation est un identifiant unique utilisé pour identifier une
    organisation au sein d'un fournisseur API. Il est souvent nécessaire pour
    gérer les clés API et pour effectuer des appels API spécifiques.
  </p>
  <p>
    Tu trouveras ton ID d'organisation sur le site web de ton fournisseur d'API
    (par ex. ChatGPT) dans les paramètres de l'API de ton compte. Tu y trouveras
    une section contenant des informations sur l'organisation. Tu y trouveras
    l'ID de l'organisation et tu pourras l'insérer dans le champ 'ID de
    l'organisation'.
  </p>
</mat-dialog-content>
