.mat-stepper-vertical {
  background-color: var(--surface);
  color: var(--on-surface);
  width: 45em;
  max-width: 100%;
  min-width: 50vw;
}

.mat-stroked-button.mat-primary {
  color: var(--primary);
  border: 0.2em solid currentColor;
  margin-inline: 0.15em;
}

:host
  ::ng-deep
  .mat-vertical-content-container.mat-stepper-vertical-line::before {
  border-left: 1px solid var(--on-surface);
}

:host ::ng-deep .mat-step-icon {
  background-color: var(--on-dialog);
  color: var(--dialog);
}

:host ::ng-deep .mat-step-icon-state-edit,
:host ::ng-deep .mat-step-icon-selected {
  background-color: var(--primary);
  color: var(--on-primary);
}

:host ::ng-deep .mat-step-label,
:host ::ng-deep .mat-step-label.mat-step-label-active {
  color: var(--on-surface);
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.submit-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3em;
}

.mat-prev {
  color: var(--secondary);
  border: 0.2em solid currentColor;
  margin-inline: 0.15em;
}

.mat-last-prev {
  margin-right: auto;
}

.mat-warning {
  color: var(--red);
  border: 0.2em solid currentColor;
  margin-inline: 0.15em;
}

.bottom-container {
  display: flex;
  align-items: center;

  > button {
    margin-right: auto;
  }
}

.help-button {
  background-color: transparent;
  color: var(--green);
  outline: var(--green) solid 3px;
  margin: 10px;

  &:hover {
    background-color: var(--green);
    color: var(--black);
  }

  .mat-icon {
    font-size: 18px;
  }
}
