<m3-body-pane>
  <m3-supporting-pane
    class="scrollable-pane"
    type="flexible">
    @if (room(); as room) {
      <span class="invite-links">
        <span class="tooltip-wrapper">
          <span class="hide-on-small">
            {{ i18n().shortId | context: room }}
          </span>
          <button
            mat-icon-button
            [matTooltip]="i18n().tooltipCopy"
            (click)="copyShortId()">
            <mat-icon>share</mat-icon>
          </button>
        </span>
        @if (isPrivileged()) {
          <span class="tooltip-wrapper">
            <span class="hide-on-small">{{ i18n().moderatorAccess }}</span>
            <button
              mat-icon-button
              [matTooltip]="i18n().tooltipModerator"
              (click)="showModeratorsDialog()">
              <mat-icon>key</mat-icon>
            </button>
          </span>
        }
      </span>
      <mat-card
        appearance="outlined"
        class="main-card">
        <mat-card-header class="full-width-title">
          <mat-card-title class="centered-header">
            {{ i18n().name | context: { name: room.name } }}
            @if (isPrivileged()) {
              <button
                mat-icon-button
                [matTooltip]="i18n().tooltipEdit"
                (click)="editSessionName()">
                <mat-icon>edit</mat-icon>
              </button>
            }
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="description-container">
          <div>
            <span class="hide-on-small headline-small">
              {{ i18n().descriptionHeader }}
            </span>
            @if (isPrivileged()) {
              <button
                mat-icon-button
                (click)="editSessionDescription()">
                <mat-icon>edit</mat-icon>
              </button>
            }
          </div>

          <div class="scrollable-content">
            <app-markdown-viewer
              class="label-medium"
              [data]="room.description || ''"></app-markdown-viewer>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>
            <mat-icon>token</mat-icon>
            <p style="margin: 0px">Platzhalter Token informationen</p>
            <p style="margin: 0px">Platzhalter Token informationen</p>
          </button>
          <span style="flex: 1"></span>
          <button
            routerLink="comments"
            mat-flat-button>
            <mat-icon>
              {{ room.conversationDepth ? "forum" : "chat" }}
            </mat-icon>
            {{ i18n()[mode()].join }}
          </button>
          @if (isPrivileged() && !room.directSend) {
            <button
              routerLink="moderator/comments"
              mat-flat-button>
              <mat-icon>gavel</mat-icon>
              Moderation
            </button>
          }
        </mat-card-actions>
      </mat-card>
    } @else {
      <mat-progress-spinner
        style="margin: auto"
        mode="indeterminate"></mat-progress-spinner>
    }
  </m3-supporting-pane>
  <m3-supporting-pane
    [type]="'fixed'"
    class="info-pane">
    <div class="info-container">
      <mat-card
        appearance="outlined"
        class="info-card">
        <mat-icon>person</mat-icon>
        <span>{{ i18n().participant }}</span>
        <span class="">{{ commentCounter() + answerCounter() }}</span>
        <span style="flex: 1"></span>
        <button
          routerLink="comments"
          mat-icon-button
          class="secondary">
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </mat-card>
      <mat-card
        appearance="outlined"
        class="info-card">
        <mat-icon>co_present</mat-icon>
        <span>{{ i18n().creator }}</span>
        <span class="">{{ commentCounter() + answerCounter() }}</span>
        <span style="flex: 1"></span>
        <button
          routerLink="comments"
          mat-icon-button
          class="secondary">
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </mat-card>
      <mat-card
        appearance="outlined"
        class="info-card">
        <mat-icon svgIcon="fj_robot"></mat-icon>
        <span>{{ i18n().chatGpt }}</span>
        <span class="">{{ commentCounter() + answerCounter() }}</span>
        <span style="flex: 1"></span>
        <button
          routerLink="comments"
          mat-icon-button
          class="secondary">
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </mat-card>
      <mat-card
        appearance="outlined"
        class="info-card">
        <mat-icon>grade</mat-icon>
        <span>{{ i18n().bonus }}</span>
        <span class="">{{ commentCounter() + answerCounter() }}</span>
        <span style="flex: 1"></span>
        <button
          routerLink="comments"
          mat-icon-button
          class="secondary">
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </mat-card>
      <mat-card
        appearance="outlined"
        class="info-card">
        <mat-icon>support_agent</mat-icon>
        <span>{{ i18n().moderators }}</span>
        <span class="">{{ commentCounter() + answerCounter() }}</span>
        <span style="flex: 1"></span>
        <button
          routerLink="comments"
          mat-icon-button
          class="secondary">
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </mat-card>
    </div>
  </m3-supporting-pane>
</m3-body-pane>
