m3-body-pane {
  height: 100%;
}

m3-supporting-pane.scrollable-pane {
  height: calc(100% - 32px);
  padding-right: var(--m3-sys-layout-spacing-pane);
  flex-direction: column;
  overflow-y: auto;
  display: flex;
}

mat-card {
  min-height: 550px;
  height: 50dvh;
  width: 800px;
  max-width: 95%;
  margin: auto;
  background-color: var(--md-sys-color-surface-container-highest);
}

mat-card-content {
  margin-block: auto;
}

mat-card-actions {
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1.25em;
  padding: 0.8em;
}
mat-toolbar {
  flex-wrap: wrap;
}
.badge-wrapper {
  --mat-badge-background-color: var(--md-sys-color-primary-container);
  --mat-badge-text-color: var(--md-sys-color-primary);
  position: relative;

  &.secondary {
    --mat-badge-background-color: var(--md-sys-color-secondary-container);
    --mat-badge-text-color: var(--md-sys-color-secondary);
  }

  > .wrapped-badge {
    position: absolute;
    top: 0;
    bottom: 0;
  }
}

.tooltip-wrapper {
  display: flex;
  gap: 0.5em;
  scale: 0.75;
}

.full-width-title > ::ng-deep div {
  width: 100%;
}
.centered-header {
  display: flex;
  justify-content: center;
  font-size: max(calc(800px / 30), 3vw);
}
