@use "modules/m3/style/m3-layout" as m3-layout;

.scrollable-content {
  flex-grow: 1;
  overflow-y: auto;
}

.compact {
  display: none;
  @include m3-layout.explicit-range(compact, medium) {
    display: block;
  }
}

.no-compact {
  display: block;
  @include m3-layout.explicit-range(compact, medium) {
    display: none;
  }
}
