<m3-body-pane>
  <m3-supporting-pane
    class="scrollable-pane"
    type="flexible">
    @if (room(); as room) {
      <mat-toolbar>
        <span class="tooltip-wrapper">
          <span class="hide-on-small">
            {{ i18n().shortId | context: room }}
          </span>
          <button
            mat-icon-button
            [matTooltip]="i18n().tooltipCopy"
            (click)="copyShortId()">
            <mat-icon>share</mat-icon>
          </button>
        </span>
        @if (isPrivileged()) {
          <span class="tooltip-wrapper">
            <span class="hide-on-small">{{ i18n().moderatorAccess }}</span>
            <button
              mat-icon-button
              [matTooltip]="i18n().tooltipModerator"
              (click)="showModeratorsDialog()">
              <mat-icon>key</mat-icon>
            </button>
          </span>
        }
      </mat-toolbar>
      <mat-card class="main-card">
        <mat-card-header class="full-width-title">
          <mat-card-title class="centered-header">
            {{ i18n().name | context: { name: room.name } }}
            @if (isPrivileged()) {
              <button
                mat-icon-button
                [matTooltip]="i18n().tooltipEdit"
                (click)="editSessionName()">
                <mat-icon>edit</mat-icon>
              </button>
              <!--
              <button
                mat-icon-button
                [matTooltip]="i18n().tooltipOptions"
                [matMenuTriggerFor]="options"
                style="float: inline-end">
                <mat-icon>more_vert</mat-icon>
              </button>
              -->
            }
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div style="display: flex">
            <mat-card class="content-card shrink-on-medium">
              <mat-card-title style="text-align: center">
                <span class="hide-on-small">
                  {{ i18n().descriptionHeader }}
                </span>
                <button
                  mat-icon-button
                  (click)="editSessionDescription()">
                  <mat-icon>edit</mat-icon>
                </button>
              </mat-card-title>
              <mat-card-content class="scrollable-content">
                <app-markdown-viewer
                  [data]="room.description || ''"></app-markdown-viewer>
              </mat-card-content>
            </mat-card>
            <div class="info-container column-on-small">
              <mat-card class="info-card">
                <mat-card-content>
                  <mat-icon>{{ "chat" }}</mat-icon>
                  <span
                    class="show-on-small"
                    style="display: none"
                    [matBadge]="commentCounter()"
                    matBadgeSize="large"
                    [matBadgeOverlap]="true"
                    matBadgePosition="above before"></span>
                  <span
                    class="hide-on-medium"
                    style="margin-left: 16px">
                    Fragen:
                  </span>
                  <span
                    class="hide-on-small"
                    style="flex: 1"></span>
                  <span class="hide-on-small">{{ commentCounter() }}</span>
                </mat-card-content>
              </mat-card>
              <mat-card class="info-card">
                <mat-card-content>
                  <mat-icon>{{ "chat" }}</mat-icon>
                  <span
                    class="show-on-small"
                    style="display: none"
                    [matBadge]="answerCounter()"
                    matBadgeSize="large"
                    [matBadgeOverlap]="true"
                    matBadgePosition="above before"></span>
                  <span
                    class="hide-on-medium"
                    style="margin-left: 16px">
                    Antworten:
                  </span>
                  <span
                    class="hide-on-small"
                    style="flex: 1"></span>
                  <span class="hide-on-small">{{ answerCounter() }}</span>
                </mat-card-content>
              </mat-card>
              <mat-card class="info-card">
                <mat-card-content>
                  <mat-icon>{{ "chat" }}</mat-icon>
                  <span
                    class="show-on-small"
                    style="display: none"
                    [matBadge]="moderatedCommentCounter()"
                    matBadgeSize="large"
                    [matBadgeOverlap]="true"
                    matBadgePosition="above before"></span>
                  <span
                    class="hide-on-medium"
                    style="margin-left: 16px">
                    Moderator Fragen:
                  </span>
                  <span
                    class="hide-on-small"
                    style="flex: 1"></span>
                  <span class="hide-on-small">
                    {{ moderatedCommentCounter() }}
                  </span>
                </mat-card-content>
              </mat-card>
              <mat-card class="info-card">
                <mat-card-content>
                  <mat-icon>{{ "chat" }}</mat-icon>
                  <span
                    class="show-on-small"
                    style="display: none"
                    [matBadge]="moderatedAnswerCounter()"
                    matBadgeSize="large"
                    [matBadgeOverlap]="true"
                    matBadgePosition="above before"></span>
                  <span
                    class="hide-on-medium"
                    style="margin-left: 16px">
                    Moderator Antworten:
                  </span>
                  <span
                    class="hide-on-small"
                    style="flex: 1"></span>
                  <span class="hide-on-small">
                    {{ moderatedAnswerCounter() }}
                  </span>
                </mat-card-content>
              </mat-card>
              <mat-card class="info-card">
                <mat-card-content>
                  <mat-icon>{{ "chat" }}</mat-icon>
                  <span
                    class="show-on-small"
                    style="display: none"
                    [matBadge]="1"
                    matBadgeSize="large"
                    [matBadgeOverlap]="true"
                    matBadgePosition="above before"></span>
                  <span
                    class="hide-on-medium"
                    style="margin-left: 16px">
                    Moderatoren:
                  </span>
                  <span
                    class="hide-on-small"
                    style="flex: 1"></span>
                  <span class="hide-on-small">1</span>
                </mat-card-content>
              </mat-card>
              <mat-card class="info-card">
                <mat-card-content>
                  <mat-icon>{{ "chat" }}</mat-icon>
                  <span
                    class="show-on-small"
                    style="display: none"
                    [matBadge]="999"
                    matBadgeSize="large"
                    [matBadgeOverlap]="true"
                    matBadgePosition="above before"></span>
                  <span
                    class="hide-on-medium"
                    style="margin-left: 16px">
                    Ideen?:
                  </span>
                  <span
                    class="hide-on-small"
                    style="flex: 1"></span>
                  <span class="hide-on-small">999</span>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <span class="badge-wrapper">
            <button
              routerLink="comments"
              mat-flat-button
              [matBadge]="
                i18n().shortQuestions | context: { number: commentCounter() }
              "
              [matBadgeHidden]="!commentCounter()"
              matBadgeSize="large"
              [matBadgeOverlap]="true"
              matBadgePosition="above before">
              <mat-icon>
                {{ room.conversationDepth ? "forum" : "chat" }}
              </mat-icon>
              {{ i18n()[mode()].join }}
            </button>
            <span
              class="wrapped-badge"
              [matBadge]="
                i18n().shortAnswers | context: { number: answerCounter() }
              "
              [matBadgeHidden]="!answerCounter()"
              matBadgeSize="large"
              [matBadgeOverlap]="true"
              matBadgePosition="above after"></span>
          </span>
          @if (isPrivileged() && !room.directSend) {
            <span class="badge-wrapper secondary">
              <button
                routerLink="moderator/comments"
                mat-flat-button
                [matBadge]="
                  i18n().shortQuestions
                    | context: { number: moderatedCommentCounter() }
                "
                [matBadgeHidden]="!moderatedCommentCounter()"
                matBadgeSize="large"
                [matBadgeOverlap]="true"
                matBadgePosition="above before">
                <mat-icon>gavel</mat-icon>
                Moderation
              </button>
              <span
                class="wrapped-badge"
                [matBadge]="
                  i18n().shortAnswers
                    | context: { number: moderatedAnswerCounter() }
                "
                [matBadgeHidden]="!moderatedAnswerCounter()"
                matBadgeSize="large"
                [matBadgeOverlap]="true"
                matBadgePosition="above after"></span>
            </span>
          }
        </mat-card-actions>
      </mat-card>
    } @else {
      <mat-progress-spinner
        style="margin: auto"
        mode="indeterminate"></mat-progress-spinner>
    }
  </m3-supporting-pane>
</m3-body-pane>
