table {
  border: 1px solid var(--sys-surface-container-high);
  border-collapse: collapse;
  thead {
    background-color: var(--sys-surface);
  }
  td {
    border: 1px solid var(--sys-surface-container-high);
    padding: 4px;
  }
}
