<div mat-dialog-content>
  <h2 class="oldtypo-h2" tabindex="0">{{'header.bonus-token' | translate }}</h2>
  <mat-divider></mat-divider>
  <div *ngIf="bonusTokensMixin.length >= 1">
    <div fxLayout="column" *ngFor="let bonusToken of bonusTokensMixin">
      <h2 class="token" tabindex="1">{{bonusToken.token}}</h2>
      <h2 class="roomName">(&raquo;{{bonusToken.roomName}}&laquo;)</h2>
    </div>
  </div>
  <div *ngIf="bonusTokens.length === 0">
    <h3 class="oldtypo-h3" tabindex="0">{{'header.no-bonus' | translate }}</h3>
  </div>
  <app-dialog-action-buttons
    buttonsLabelSection="introduction"
    [cancelButtonClickAction]="buildDeclineActionCallback()">
  </app-dialog-action-buttons>
</div>
