.flex-container {
  display: flex;
  flex-direction: column;
  gap: 1.5em;

  > mat-dialog-actions {
    flex-direction: row;
    justify-content: space-between;
  }

  .example-form {
    padding-bottom: 16px;
  }
}
