.token {
  margin-bottom: 10px;
  margin-top: 10px;
}

.roomName {
  margin: 0;
}

.tokens {
  cursor: pointer;
  margin: 20px 0;
}

.mailto {
  background-color: var(--primary);
  color: var(--on-primary);
}

form {
  margin: 10px 0;
  text-align: center;
}

::ng-deep .mat-form-field .mat-form-field-infix {
  max-width: 400px;
}
