.app-title {
  cursor: pointer;
  margin: 0 auto;
  color: var(--on-surface);
}

mat-toolbar {
  background-color: var(--surface);
  position: relative;
}

.header-icons {
  color: var(--on-surface);
}

::ng-deep .qrcode svg > path{
  fill: var(--on-surface);
  color: var(--on-surface);
}

.moderation-enabled {
  color: var(--on-surface);
  margin-left: 5px;
  font-size: medium;
  font-weight: bold;
}

.sessions {
  color: var(--primary);
}

h2 {
  margin-left: 5px !important;
  font-size: medium !important;
}

.label-icon {
  display: flex;
  align-items: center;
}

.mat-button {
  padding: 0 0 0 10px;
}

button:focus {
  border: 1px solid var(--on-surface);
}

svg {
  -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
  filter: invert(100%);
}
