form > button {
  margin: 20px 0;
}

.submit {
  background-color: var(--primary);
  color: var(--on-primary);
  margin-top: 160px;
}

.mat-raised-button {
  min-width: 120px;
}

mat-radio-button {
  color: var(--on-surface);
}

::ng-deep .mat-radio-outer-circle {
  .mat-radio-checked & {
    border-color: var(--secondary)!important;
  }
  border-color: var(--on-surface);
}

::ng-deep .mat-radio-inner-circle {
  background-color: var(--secondary)!important;
}

::ng-deep .mat-radio-ripple .mat-ripple-element {
  background-color: var(--secondary)!important;
}
