<div
  class="result-container"
  @AnimateInOut
  *ngIf="options">
  <div
    class="left"
    [ngClass]="!!template.reverse ? 'reverse-true' : 'reverse-false'">
    <ng-container *ngFor="let option of options">
      <div class="container">
        <ng-container *ngIf="template.isPlain">
          <ng-container *ngIf="template.translate">
            <span class="option-plain-translate">
              {{
                (translateKey + "." + option.symbol | translate)[option.index]
              }}
            </span>
          </ng-container>
          <ng-container *ngIf="!template.translate">
            <span class="option-plain">{{ option.symbol }}</span>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="!template.isPlain">
          <mat-icon class="option-icon">{{ option.symbol }}</mat-icon>
        </ng-container>
      </div>
    </ng-container>
  </div>
  <div
    class="right"
    [ngClass]="!!template.reverse ? 'reverse-true' : 'reverse-false'">
    <ng-container *ngFor="let option of options; index as i">
      <div class="container">
        <div class="background">
          <div
            class="bar"
            *ngIf="votes"
            [ngStyle]="{
              width: getVoteBarSize(i) + '%'
            }">
            <div>
              <span>
                {{
                  getVotePercentage(i) +
                    (languageService.currentLanguage() === "de" ? " " : "")
                }}%
              </span>
            </div>
          </div>
        </div>
        <div class="foreground">
          <span>
            {{
              getVotePercentage(i) +
                (languageService.currentLanguage() === "de" ? " " : "")
            }}%
          </span>
        </div>
      </div>
    </ng-container>
  </div>
</div>
