<div
  class="result-container"
  @AnimateInOut
  *ngIf="options">
  <div
    class="left"
    [ngClass]="!!template.reverse ? 'reverse-true' : 'reverse-false'">
    @for (option of options; track option) {
      <div class="container">
        @if (template.isPlain) {
          @if (template.translate) {
            <span class="option-plain-translate">
              {{
                (translateKey + "." + option.symbol | translate)[option.index]
              }}
            </span>
          } @else {
            <span class="option-plain">{{ option.symbol }}</span>
          }
        } @else {
          <mat-icon class="option-icon">{{ option.symbol }}</mat-icon>
        }
      </div>
    }
  </div>
  <div
    class="right"
    [ngClass]="!!template.reverse ? 'reverse-true' : 'reverse-false'">
    @for (option of options; track option; let i = $index) {
      <div class="container">
        <div class="background">
          <div
            class="bar"
            *ngIf="votes"
            [ngStyle]="{
              width: getVoteBarSize(i) + '%'
            }">
            <div>
              <span>
                {{
                  getVotePercentage(i) + (currentLanguage === "de" ? " " : "")
                }}%
              </span>
            </div>
          </div>
        </div>
        <div class="foreground">
          <span>
            {{ getVotePercentage(i) + (currentLanguage === "de" ? " " : "") }}%
          </span>
        </div>
      </div>
    }
  </div>
</div>
