@use "sass:math";
@import "../livepoll-common";

.result-container {
  display: flex;
  flex-direction: row;
  $height: 32px;
  $border-radius: 4;
  line-height: 120%;

  .reverse {
    &-true {
      flex-direction: column-reverse;
    }

    &-false {
      flex-direction: column;
    }
  }

  .left {
    display: flex;
    max-width: 50%;

    .container {
      height: $height;
      padding: 10px 0;
      display: flex;
      justify-content: center;
      flex-direction: column;
      @media only screen and (max-width: 900px) {
        font-size: 100%;
        line-height: 16px;
      }
      @media only screen and (max-width: 700px) {
        font-size: 80%;
        line-height: 16px;
      }
      @media only screen and (max-width: 400px) {
        font-size: 70%;
        line-height: 16px;
      }
    }
  }

  .right {
    display: flex;
    flex-grow: 1;

    > .container {
      height: $height;
      padding: 10px 0;

      > .background {
        display: flex;
        height: $height;
        flex-direction: row;
        justify-content: flex-start;
        box-shadow: inset 0 0 0 2px var(--surface);
        border-radius: #{$border-radius}px;
        box-sizing: border-box;
        padding: 4px;

        > .bar {
          min-width: 1px;
          width: 10px;
          background-color: var(--livepoll-secondary);
          border-radius: #{$border-radius - math.div($border-radius, 2)}px;
          transition: width 100ms ease-in-out;
          overflow: hidden;

          > div {
            position: relative;

            > span {
              position: absolute;
              top: 2px;
              font-weight: bold;
              left: 9px;
              z-index: 10;
              color: var(--on-livepoll-secondary);
            }
          }
        }
      }

      > .foreground {
        height: $height;
        display: flex;
        justify-content: flex-start;
        position: relative;
        top: -$height;

        span {
          position: absolute;
          top: 6px;
          font-weight: bold;
          left: 13px;
          color: var(--livepoll-secondary);
        }
      }
    }
  }
}
