<h2 mat-dialog-title>
  {{ i18n().title }}
</h2>

<mat-dialog-content>
  <mat-form-field>
    <input
      appAccessibilityEscapedInput
      matInput
      [formControl]="questionerNameFormControl"
      placeholder="{{ i18n().name }}"
      name="questioner-name"
      [maxlength]="questionerNameMax"
      aria-labelledby="questioner-name" />
    <mat-hint align="end">
      <span aria-hidden="true">
        {{ questionerNameFormControl.value.length }} / {{ questionerNameMax }}
      </span>
    </mat-hint>
    <mat-error
      *ngIf="
        questionerNameFormControl.hasError('minlength') ||
        questionerNameFormControl.hasError('maxlength')
      ">
      {{
        i18n().nameLengthError
          | context: { min: questionerNameMin, max: questionerNameMax }
      }}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>
      {{ i18n().deepl }}
    </mat-label>
    <mat-select [(ngModel)]="selectedFormality">
      <mat-option value="">
        {{ i18n().default }}
      </mat-option>
      <mat-option value="less">
        {{ i18n().less }}
      </mat-option>
      <mat-option value="more">
        {{ i18n().more }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions class="row content-space-between">
  <button
    mat-button
    class="secondary-button"
    mat-dialog-close>
    {{ i18n().global.cancel }}
  </button>
  <button
    mat-flat-button
    class="primary-button"
    (click)="accept()">
    {{ i18n().global.saveAndClose }}
  </button>
</mat-dialog-actions>
