<h2 mat-dialog-title>
  {{ i18n().title }}
</h2>

<mat-dialog-content>
  <mat-form-field>
    <input
      matInput
      [formControl]="questionerNameFormControl"
      aria-label="Pseudonym" />
    <button
      mat-icon-button
      matSuffix
      *ngIf="questionerNameFormControl.value"
      (click)="clearInput()"
      aria-label="Clear input">
      <mat-icon>close</mat-icon>
    </button>
    <mat-hint align="end"></mat-hint>
    <mat-error></mat-error>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-button
    mat-dialog-close>
    {{ i18n().global.cancel }}
  </button>
  <span style="flex: 1"></span>
  <button
    mat-button
    color="primary"
    (click)="accept()"
    [disabled]="isSaveDisabled">
    {{ i18n().global.saveAndClose }}
  </button>
</mat-dialog-actions>
