<form (ngSubmit)="addRoom(longRoomName.value, shortRoomName.value)">
<div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px">
  <mat-form-field>
    <input matInput #longRoomName class="input-block" type="text" placeholder="Name" maxlength="50"
           [(ngModel)]="longName"/>
    <mat-hint align="start"><strong>Max. letters / signs:</strong></mat-hint>
    <mat-hint align="end">{{longRoomName.value.length}} / 50</mat-hint>
    <button mat-button *ngIf="longName" matSuffix mat-icon-button aria-label="Clear" (click)="longName=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <input matInput #shortRoomName class="input-block" type="text" placeholder="Short name" maxlength="8"
           [(ngModel)]="shortName"/>
    <mat-hint align="start"><strong>Max. letters / signs:</strong></mat-hint>
    <mat-hint align="end">{{shortRoomName.value.length}} / 8</mat-hint>
    <button mat-button *ngIf="shortName" matSuffix mat-icon-button aria-label="Clear" (click)="shortName=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit">Create room
  </button>
</div>
</form>
