#editorRow {
  overflow-x: visible !important;
}

#deeplFormality {
  display: inline;
}

.deepl-form-field {
  @media screen and (max-width: 500px) {
    width: 100px;
  }
  z-index: 10000;
  height: 1em;
  float: right;
  margin-right: 0 !important;
}

.anchor-right {
  @media screen and (max-width: 500px) {
    width: 70px;
    left: calc(100% - 70px);
  }
  width: 200px;
  height: 50px;
  position: relative;
  left: calc(100% - 200px);
  top: 0;
}

.anchor-wrp {
  width: calc(100% - 200px);
  display: inline-block;
  height: 0;
  position: relative;
  left: 0;
  top: 0;
}

:host {
  ::ng-deep .ql-editor.ql-blank::before {
    filter: opacity(0.6);
  }

  ::ng-deep .images .ql-video {
    width: 100%;
    aspect-ratio: 16 / 9;
  }

  ::ng-deep .ql-snow {
    :focus {
      outline-offset: 0;
    }

    a {
      color: unset;
    }

    .ql-editor {
      min-height: 8.8em;
    }

    &.ql-disabled {
      .ql-editor {
        min-height: unset;
        padding: unset;
      }
    }

    .ql-select-wrapper {
      position: relative;
      float: left;

      > select.ql-color {
        width: 1px;
        height: 1px;
        position: relative;
        vertical-align: bottom;
        display: inline-block !important;
      }
    }

    .ql-picker {
      font-size: inherit !important;
      height: 1.5em !important;
      width: 1.75em !important;
    }

    .ql-tooltip {
      &::before {
        content: var(--quill-tooltip-label) !important;
      }

      .ql-action::after {
        padding: 7px !important;
        border-radius: 4px;
        content: var(--quill-tooltip-action) !important;
      }

      &.ql-editing .ql-action::after {
        --quill-tooltip-action: var(--quill-tooltip-action-save);
      }

      .ql-remove::before {
        content: var(--quill-tooltip-remove) !important;
        padding: 7px !important;
        border-radius: 4px;
      }
    }

    &.ql-container {
      height: 80%;
      font-size: inherit !important;
      padding-right: 15px;
    }

    &.ql-toolbar,
    .ql-toolbar {
      border-top: unset;
      border-right: unset;
      border-left: unset;

      .ql-formats {
        margin-right: 0;
        width: 100%;

        > * {
          @media only screen and (max-device-width: 480px) and (orientation: portrait),
            only screen and (max-device-height: 480px) and (orientation: landscape) {
            margin: 4px;
          }
        }
      }

      button {
        font-size: inherit !important;
        height: 1.5em !important;
        width: 1.75em !important;
      }
    }
  }

  ::ng-deep .mat-form-field-wrapper {
    position: absolute;
    top: -1.35em;
    width: fit-content;
    right: 0;

    @media only screen and (max-device-width: 480px) and (orientation: portrait),
      only screen and (max-device-height: 480px) and (orientation: landscape) {
      top: -1em;
    }
  }

  ::ng-deep .mat-form-field-infix {
    width: max-content;
  }
}
