.weekday-chip {
  margin-top: 10px !important;
}

.notification-time-form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  > * {
    margin: auto 0;
  }

  .primary-btn {
    width: 70%;
    margin-top: 10px;
  }

  .secondary-btn {
    width: 70%;
    margin: 16px 0;
  }
}
