<h2 mat-dialog-title>{{ "comment-notification.title" | translate }}</h2>

<mat-dialog-content>
  @if (isLoading) {
    <app-mat-spinner-overlay></app-mat-spinner-overlay>
  } @else {
    <mat-chip-listbox>
      @for (
        day of [
          "monday",
          "tuesday",
          "wednesday",
          "thursday",
          "friday",
          "saturday",
          "sunday"
        ];
        track day;
        let i = $index
      ) {
        <mat-chip-option
          class="weekday-chip"
          [ngClass]="{
            'primary-chips': isWeekDayActive(i)
          }"
          [selected]="currentIndex === i"
          (click)="updateDateTo(i)">
          @if (isWeekDayActive(i)) {
            <mat-icon matChipAvatar>notifications</mat-icon>
          }
          {{ "comment-notification." + day | translate }}
        </mat-chip-option>
      }
    </mat-chip-listbox>
    <div class="notification-time-form">
      <div class="notification-info">
        <p>{{ currentInfo() }}</p>
        <button
          class="primary-button"
          type="button"
          (click)="confirm()"
          mat-stroked-button>
          {{ "comment-notification.confirm" | translate }}
        </button>
        <button
          [disabled]="!isWeekDayActive(currentIndex)"
          class="secondary-button"
          type="button"
          (click)="deactivate()"
          mat-button>
          {{ "comment-notification.deactivate" | translate }}
        </button>
      </div>
      <ngx-mat-timepicker [(ngModel)]="date"></ngx-mat-timepicker>
    </div>
  }
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-stroked-button
    class="primary-button"
    mat-dialog-close>
    {{ "comment-notification.close" | translate }}
  </button>
</mat-dialog-actions>
