.weekday-chip {
  background-color: var(--cancel);
  color: var(--on-cancel);

  &.active {
    background-color: transparent;
    color: var(--on-dialog);
    outline: var(--green) solid 3px;
  }

  &.selected {
    background-color: var(--green);
    color: var(--black);
  }
}

.notification-time-form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  > * {
    margin: auto 0;
  }

  .primary-btn {
    background-color: transparent;
    color: var(--primary);
    outline: var(--primary) solid 3px;
    width: 100%;
    margin-top: 10px;

    &:hover {
      background-color: var(--primary);
      color: var(--on-primary);
    }
  }

  .secondary-btn {
    background-color: transparent;
    color: var(--on-dialog);
    width: 100%;
    margin-top: 10px;

    &:hover {
      outline: var(--cancel) solid 3px;
    }
  }
}
