:host {
  display: flex;
  align-items: center;
  gap: 0.25em;
  background: var(--sys-surface-container-high);
  color: var(--sys-on-surface);
  width: max-content;
  padding: 0.25em;
  border-radius: 0.5em;

  &.failed {
    background: var(--sys-error-container);
    color: var(--sys-on-error-container);
  }
}

mat-progress-spinner {
  max-height: 24px;
  max-width: 24px;
}

span {
  margin-left: 0.5em;
}
