p {
  padding-right: 1em;
  padding-left: 1em;
  margin-bottom: 0;
  transition: max-height 0.5s ease;

  &.collapsed {
    overflow-y: hidden;
    text-overflow: ellipsis;
    mask-image: linear-gradient(to bottom, black 70%, transparent);
  }

  button {
    margin-top: 0;
    &.hidden {
      display: none;
    }
  }
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
