.positiveC {
  background-color: var(--positiveC);
}

.negativeC {
  background-color: var(--negativeC);
}

.okayC {
  background-color: var(--okayC);
}

.emptyC {
  background-color: var(--emptyC);
}

mat-chip {
  width: 130px !important;
  display: flex;
  justify-content: center;
}
