.positiveC {
  background-color: #AED581;
}

.negativeC {
  background-color: #FF8A65;
}

.okayC {
  background-color: #FFD54F;
}

.emptyC {
  background-color: #E0E0E0;
}

mat-chip {
  width: 130px!important;
  display: flex;
  justify-content: center;
}
