<mat-card>
  <div
    class="gpt-requester"
    *ngIf="!isLoading; else loading">
    <div fxLayout="row">
      <mat-label
        *ngIf="deviceInfo.isCurrentlyDesktop"
        fxLayoutAlign="center center">
        <mat-icon class="search-icon">search</mat-icon>
      </mat-label>
      <mat-form-field
        style="width: 100%; padding: 0 24px"
        *ngIf="conversation.length < 1">
        <mat-label>{{ "gpt-chat.prompt-label" | translate }}</mat-label>
        <input
          type="text"
          aria-label="Prompt"
          matInput
          [matAutocomplete]="auto"
          [(ngModel)]="searchTerm"
          (input)="filterPrompts()" />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let prompt of filteredPrompts"
            [value]="prompt.act"
            (click)="setValue(prompt.prompt)"
            [disabled]="!prompt.prompt">
            <ng-container *ngIf="prompt.act !== '------'">
              {{ prompt.act }}
            </ng-container>
            <hr *ngIf="prompt.act === '------'" />
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div
      *ngFor="let item of conversation; let i = index"
      [class]="item.type">
      <img
        *ngIf="item.type === 'gpt'"
        src="/assets/images/ChatGPT.png" />
      <div
        markdown
        emoji
        katex>
        {{ formatText(item.message) }}
      </div>
      <button
        class="refresh-indicator"
        [matTooltip]="'gpt-chat.refresh' | translate"
        mat-icon-button
        *ngIf="!isSending && item.type === 'gpt'"
        (click)="refreshGPTMessage(i)">
        <mat-icon class="material-icons-round">autorenew</mat-icon>
      </button>
      <button
        *ngIf="isSending && renewIndex === i"
        mat-icon-button
        (mousedown)="stopper.next(true)"
        class="refresh-indicator">
        <mat-icon class="material-icons-outlined">cancel</mat-icon>
      </button>
    </div>

    <mat-form-field style="margin-top: 30px">
      <mat-label>{{ "gpt-chat.use-case" | translate }}</mat-label>
      <mat-select
        [(value)]="model"
        [matTooltip]="'gpt-chat.use-case-tooltip' | translate">
        <mat-option
          value="text-davinci-003"
          [matTooltip]="
            'gpt-chat.use-case-tooltip-answer-questions' | translate
          ">
          {{ "gpt-chat.use-case-answer-questions" | translate }}
        </mat-option>
        <mat-option
          value="code-davinci-002"
          [matTooltip]="'gpt-chat.use-case-tooltip-code' | translate">
          {{ "gpt-chat.use-case-code" | translate }}
        </mat-option>
        <mat-option
          value="davinci-instruct-beta:2.0.0"
          [matTooltip]="'gpt-chat.use-case-tooltip-chat' | translate">
          {{ "gpt-chat.use-case-chat" | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <app-view-comment-data
      [currentData]="initDelta"
      [textOverwrite]="'gpt-chat.token-info' | translate : tokenInfo"
      (changeContent)="calculateTokens(getCurrentText())"
      [isModerator]="(sessionService.currentRole || 0) > 0"
      [isBrainstorming]="false"
      [isEditor]="true"
      [maxTextCharacters]="1000"
      [maxDataCharacters]="2000"
      [placeHolderText]="
        'gpt-chat.enter-conversation-text' | translate
      "></app-view-comment-data>

    <button
      *ngIf="!isSending; else loading"
      mat-button
      class="secondary-btn"
      (click)="sendGPTMessage()">
      {{ "gpt-chat.send" | translate }}
    </button>
    <button
      *ngIf="!isSending"
      mat-button
      class="danger-btn"
      (click)="clearMessages()">
      {{ "gpt-chat.empty-conversation" | translate }}
    </button>
  </div>
  <div *ngIf="error">
    {{ getError() }}
  </div>
  <div>
    <button
      class="start_introduction"
      mat-fab
      mat-icon-button
      (click)="showPromptGuide()"
      matTooltip="{{ 'introductions.tooltip-button' | translate }}"
      [matTooltipPosition]="'above'">
      <mat-icon>question_mark</mat-icon>
    </button>
  </div>
</mat-card>

<ng-template #loading>
  <app-mat-spinner-overlay
    color="on-surface"
    diameter="40"
    strokeWidth="5"></app-mat-spinner-overlay>
</ng-template>
