div {
  margin: 1em;
}

h2 {
  text-align: center;
}

button {
  margin-top: 10px;
  border-radius: 5px;
  font-size: 1em;
  width: 100%;
}

mat-icon.interactive {
  opacity: 0.5;
  width: 1em;
  height: 1em;
  font-size: 3em;
  cursor: pointer;
  transition: transform 250ms ease, color 250ms ease;

  &.star_full {
    opacity: unset;
  }

  &.star_half {
    opacity: unset;
  }

  &:hover {
    transform: scale(1.666666667);
  }

  &.bounce {
    animation: starBounce 300ms ease-in-out;
  }
}

.star-preview {
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 1em;
  width: max-content;
  margin: 0 auto;
}

@keyframes starBounce {
  33% {
    transform: scale(2);
  }
  66% {
    transform: scale(1.33333333);
  }
}
