<ng-container *ngIf="!ratingResults; else stars">
  <h2 class="oldtypo-h2">{{ "app-rating.title" | translate }}</h2>
  <div (mouseleave)="onMouseLeave()">
    <mat-icon
      *ngFor="let index of [0, 1, 2, 3, 4]"
      class="material-icons-outlined interactive"
      [ngClass]="getIcon(index)"
      (click)="onClick(index, $event)"
      (mousemove)="onMouseMove(index, $event)">
      {{ getIcon(index) }}
    </mat-icon>
  </div>
  <button
    mat-stroked-button
    (click)="save()">
    {{ "app-rating.save" | translate }}
  </button>
</ng-container>

<ng-template #stars>
  <span
    #spanRef
    (click)="openPopup()"
    class="star-preview flex-container"
    [ngStyle]="{
      justifyContent: indicator.status ? 'space-between' : 'center'
    }">
    <span class="flex-container">
      <mat-icon
        style="cursor: pointer"
        *ngFor="let index of [0, 1, 2, 3, 4]"
        class="material-icons-outlined star flex-item"
        [ngClass]="getIconAccumulated(index)">
        {{ getIconAccumulated(index) }}
      </mat-icon>
      <mat-icon
        class="flex-item"
        style="cursor: pointer">
        expand_more
      </mat-icon>
      {{ people }}
    </span>
    <app-global-status-indicator
      class="flex-item"
      #indicator></app-global-status-indicator>
  </span>
</ng-template>
