.center {
  text-align: center;
}

.flex-container {
  display: flex;
  align-items: center;
}

.full-width {
  width: 100%;
}

mat-icon.interactive {
  opacity: 0.5;
  width: 1em;
  height: 1em;
  font-size: 2.5em;
  cursor: pointer;
  color: var(--sys-yellow);
  transition:
    transform 250ms ease,
    color 250ms ease;

  &.star_full {
    opacity: unset;
    font-variation-settings: "FILL" 1;
  }

  &.star_half {
    opacity: unset;
  }

  &:hover {
    transform: scale(1.666666667);
  }

  &.bounce {
    animation: starBounce 300ms ease-in-out;
  }
}

.star-preview {
  color: var(--sys-yellow);
  display: flex;
  align-items: center;
  font-size: 1em;
  width: 100%;
  justify-content: space-between;

  .star_full {
    font-variation-settings: "FILL" 1;
  }

  .star {
    font-size: 1.7em;
    width: 1em;
    height: 1em;
    color: var(--sys-yellow);
  }
}

@keyframes starBounce {
  33% {
    transform: scale(2);
  }
  66% {
    transform: scale(1.33333333);
  }
}
