<h1 aria-labelledby="really-delete-comments">{{ 'room-page.sure' | translate }}</h1>
<mat-divider></mat-divider>
<p>{{ 'room-page.really-delete-comments' | translate }}</p>
<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px">
  <button mat-raised-button class="abort" (click)="close('abort')">
    {{ 'content.abort' | translate }}
  </button>
  <button mat-raised-button class="delete" (click)="close('delete')">
    {{ 'content.delete' | translate }}
  </button>
</div>

<div class="visually-hidden">
  <div id ="really-delete-comments">{{'room-page.really-delete-comments' | translate}}</div>
</div>
