<div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center">
  <mat-card>
    <div fxLayout="row" fxLayoutGap="30px" *ngFor="let state of feedback">
      <mat-icon matTooltip="{{ state.message }}"
              (click)="userRole === 0 && submitFeedback(state.state)">{{ state.name }}</mat-icon>
      <mat-progress-bar [value]="state.count" color="accent"></mat-progress-bar>
    </div>
    <div fxLayoutAlign="center" *ngIf="userRole === 1">
      <button mat-raised-button color="primary" fxLayoutAlign="center" (click)="toggle()">Toggle voting</button>
    </div>
  </mat-card>
</div>
