mat-card {
  max-width: 800px;
  width: 100%;
  background-color: var(--surface);
}

mat-progress-bar {
  height: 50px;
  margin-bottom: 20px;
}

mat-icon {
  font-size: 300%;
  height: 50px;
  width: 50px;
  color: var(--secondary);
}
