mat-radio-button {
    margin: 5px;
}

mat-radio-group {
  display: flex;
  flex-direction: column;
}

mat-divider {
  margin: 0.75em 0;
}

::ng-deep .mat-radio-label-content {
  width: 100%;
}

::ng-deep mat-form-field > .mat-form-field-wrapper {
  margin-bottom: -1.34375em;
}

.elementRow {
  display: flex;
  flex-direction: row;
  width: 100% !important;
}

.elementText {
  align-content: flex-start;
  margin-right: 10px;
}

.elementIcons {
  margin-left: auto;
}

.comment_tag-icon {
  height: 18px !important;
}

.mat-dialog-content {
  padding: 0;
  margin: 0;
}

.noKeywords {
  background: var(--surface);
  color: var(--on-surface);
}

.secondary-confirm-button {
  background-color: var(--secondary);
  color: var(--on-secondary);
}
