<div mat-dialog-content>
  <p>{{'content.topic-cloud-content' | translate}}</p>
</div>

<mat-divider></mat-divider>
  <mat-radio-group [(ngModel)]="continueFilter" aria-label="Select an option">
    <mat-radio-button value="continueWithAll">{{'content.continue-with-all-questions' | translate}}</mat-radio-button>
    <mat-radio-button checked="true" value="continueWithCurr">{{'content.continue-with-current-questions' | translate}}</mat-radio-button>
    <mat-radio-button value="continueWithAllFromNow">{{'content.continue-with-all-questions-from-now' | translate}}</mat-radio-button>
  </mat-radio-group>


<app-dialog-action-buttons
  buttonsLabelSection="content"
  confirmButtonLabel="continue"
  buttonIcon="cloud"

  [cancelButtonClickAction]="cancelButtonActionCallback()"
  [confirmButtonClickAction]="confirmButtonActionCallback()">
</app-dialog-action-buttons>

