<span mat-dialog-title>
  {{ this.title | translate }}
</span>
<mat-dialog-content>
  <span>
    {{ this.description | translate }}
  </span>
</mat-dialog-content>
<mat-dialog-actions
  [class.no-pad]="true"
  [class.flex-row]="true"
  [class.align-content-right]="true">
  <ng-container *ngIf="data.windowContext.is2ndPhasePeerInstruction">
    <button
      mat-flat-button
      (click)="matDialogRef.close(false)">
      <span>{{ "common.confirmation-dialog.common.cancel" | translate }}</span>
    </button>
  </ng-container>
  <ng-container *ngIf="!data.windowContext.is2ndPhasePeerInstruction">
    <button
      mat-button
      (click)="matDialogRef.close(false)">
      <span>{{ "common.confirmation-dialog.common.cancel" | translate }}</span>
    </button>
    <button
      mat-flat-button
      (click)="nextPeerInstructionStep()">
      {{ "common.confirmation-dialog.common.continue" | translate }}
    </button>
  </ng-container>
</mat-dialog-actions>
