<h3
  mat-dialog-title
  [class.no-pad]="true">
  {{ this.title | translate }}
</h3>
<mat-dialog-content [class.no-pad]="true">
  <span>
    {{ this.description | translate }}
  </span>
</mat-dialog-content>
<mat-dialog-actions [class.no-pad]="true">
  <ng-container *ngIf="data.windowContext.is2ndPhasePeerInstruction">
    <button
      mat-flat-button
      [class.__primary]="true"
      (click)="matDialogRef.close(false)">
      <span>{{ "common.confirmation-dialog.common.cancel" | translate }}</span>
    </button>
  </ng-container>
  <ng-container *ngIf="!data.windowContext.is2ndPhasePeerInstruction">
    <button
      mat-stroked-button
      [class.__cancel]="true"
      (click)="matDialogRef.close(false)">
      <span>{{ "common.confirmation-dialog.common.cancel" | translate }}</span>
    </button>
    <button
      mat-flat-button
      [class.__primary]="true"
      (click)="nextPeerInstructionStep()">
      <span>
        {{ "common.confirmation-dialog.common.continue" | translate }}
      </span>
    </button>
  </ng-container>
</mat-dialog-actions>
