<h2>{{'deepl.header' | translate}}</h2>
<div mat-dialog-content>
  <label id="deepl-radio-group-label">{{'deepl.label' | translate}}</label>
  <br>
  <mat-radio-group
    aria-labelledby="deepl-radio-group-label"
    [(ngModel)]="radioButtonValue">
    <mat-radio-button [value]="normalValue">
      <strong>{{'deepl.option-normal' | translate}}</strong>
    </mat-radio-button>
    <app-view-comment-data #normal
                           class="deepl-view-comment"
                           [maxTextCharacters]="data.maxTextCharacters"
                           [maxDataCharacters]="data.maxDataCharacters"
                           [isModerator]="data.isModerator"
                           [isEditor]="true"
                           [currentData]="normalValue.body"></app-view-comment-data>
    <br>
    <mat-radio-button [value]="improvedValue">
      <strong>{{'deepl.option-improved' | translate}}</strong>
    </mat-radio-button>
    <app-view-comment-data #improved
                           class="deepl-view-comment"
                           [maxTextCharacters]="data.maxTextCharacters"
                           [maxDataCharacters]="data.maxDataCharacters"
                           [isModerator]="data.isModerator"
                           [isEditor]="true"
                           [currentData]="improvedValue.body"></app-view-comment-data>
  </mat-radio-group>
</div>

<app-dialog-action-buttons
  [buttonsLabelSection]="'comment-page'"
  [confirmButtonLabel]="'continue'"
  [cancelButtonClickAction]="buildCloseDialogActionCallback()"
  [confirmButtonClickAction]="buildSubmitBodyActionCallback()">
</app-dialog-action-buttons>
