.qr-container {
  height: 100%;
  background-color: var(--background);
  cursor: move;
}

ars-screen {
  user-select: none;
}

.exitButton {
  transform: scale(2.5);
  color: var(--red);
  position: absolute;
  top: 3em;
  right: 3em;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;

  &:hover {
    outline: var(--red) solid 2px;
  }
}

.action-buttons {
  position: absolute;
  font-size: 3em;
  bottom: 1em;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: transparent;
  z-index: 1;
  line-height: 1;
  border-radius: 10px;
  width: max-content;

  .mat-icon {
    font-size: 1em;
    width: 1em;
    height: 1em;
    color: var(--red);
    margin: 0.25em;
    padding: 0.15em;
    border-radius: 100%;

    &:hover {
      outline: var(--red) solid 0.1em;
    }
  }
}

img {
  object-fit: scale-down;
  top: var(--pos-y, 0px);
  left: var(--pos-x, 0px);
  position: absolute;
  scale: var(--pos-scale, 1);
  width: 100%;
  height: 100%;
  pointer-events: none;
}

h2 {
  color: white;
}
