.qr-container {
  height: 100%;
  background-color: black;
}

.exitButton {
  transform: scale(2.5);
  color: red;
  position: absolute;
  top: 3em;
  right: 3em;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.75);

  &:hover {
    outline: red solid 2px;
  }
}

img {
  object-fit: contain;
  width: 100%;
  height: 100%;

  &.clicked {
    object-fit: scale-down;
  }
}

h2 {
  color: white;
}
