@import "src/layout/layout-util";

mat-form-field {
  width: 100%;
}

.action-button-container {
  margin-top: 25px;

  @include onSmallWidth {
    overflow: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column !important;
    flex-wrap: wrap;
    align-items: flex-end;
  }
}
