<h3 *ngIf="type == 'CONTEXT'">{{ title[0] | translate }}</h3>
<h3 *ngIf="type == 'PERSONA'">{{ title[0] | translate }}</h3>
<h3 *ngIf="type == 'TOPIC'">{{ title[0] | translate }}</h3>

<mat-dialog-content *ngIf="!isLoading; else loading">
  <div *ngFor="let control of formControls; let i = index">
    <mat-form-field>
      <mat-label>
        {{ labels[i] | translate }}
      </mat-label>
      <textarea
        appAccessibilityEscapedInput
        style="min-height: 10em"
        [maxlength]="presetsDefinitionMax"
        matInput
        placeholder="{{ placeholders[i] | translate }}"
        [formControl]="control"></textarea>
      <mat-hint align="end">
        <span aria-hidden="true">
          {{ control.value.length }} /
          {{ presetsDefinitionMax }}
        </span>
      </mat-hint>
      <button
        *ngIf="control.value.length"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="clear(i)">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
</mat-dialog-content>

<app-dialog-action-buttons
  [buttonsLabelSection]="'presets-dialog'"
  [confirmButtonLabel]="'save'"
  [cancelButtonClickAction]="buildCancelAction()"
  [confirmButtonClickAction]="buildConfirmAction()"></app-dialog-action-buttons>

<ng-template #loading>
  <app-mat-spinner-overlay
    color="on-surface"
    diameter="40"
    strokeWidth="5"></app-mat-spinner-overlay>
</ng-template>
