<h3>{{ title | translate }}</h3>

<mat-dialog-content *ngIf="!isLoading; else loading">
  <mat-form-field>
    <mat-label>
      {{ label | translate }}
    </mat-label>
    <textarea
      style="min-height: 10em"
      matInput
      [formControl]="presetsDefinitionFormControl"></textarea>
    <mat-placeholder class="placeholder">
      {{ placeholder | translate }}
    </mat-placeholder>
    <mat-hint align="end">
      <span aria-hidden="true">
        {{
          "gpt-user-description.token-info"
            | translate
              : { maxLength: maxLength, tokens: presetsDefinitionLength }
        }}
      </span>
    </mat-hint>
  </mat-form-field>
</mat-dialog-content>

<app-dialog-action-buttons
  [buttonsLabelSection]="'gpt-user-description'"
  [confirmButtonLabel]="'save'"
  [cancelButtonClickAction]="buildCancelAction()"
  [confirmButtonClickAction]="buildConfirmAction()"></app-dialog-action-buttons>

<ng-template #loading>
  <app-mat-spinner-overlay
    color="on-surface"
    diameter="40"
    strokeWidth="5"></app-mat-spinner-overlay>
</ng-template>
