<div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center" fxFill>
  <div fxLayout="row" fxLayoutAlign="center">
    <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
  </div>
</div>

<div fxLayout="column" fxLayoutAlign="start center">
  <mat-tab-group>
    <mat-tab *ngFor="let content of contents" label="{{content.subject}}">
      <app-content-choice-participant [content]="content"
                                      *ngIf="content.format === ContentType.CHOICE"></app-content-choice-participant>
      <app-content-choice-participant [content]="content"
                                      *ngIf="content.format === ContentType.SCALE"></app-content-choice-participant>
      <app-content-choice-participant [content]="content"
                                      *ngIf="content.format === ContentType.BINARY"></app-content-choice-participant>
      <app-content-text-participant [content]="content"
                                    *ngIf="content.format === ContentType.TEXT"></app-content-text-participant>
    </mat-tab>
  </mat-tab-group>
</div>

