<m3-body-pane>
  <m3-supporting-pane
    type="fixed"
    class="threads-overview"
    [class.open]="isOpen()">
    <mat-toolbar>
      <button
        mat-icon-button
        [matTooltip]="i18n().close"
        (click)="isOpen.set(false)">
        <mat-icon>left_panel_close</mat-icon>
      </button>
      @if (selectedThread() !== null) {
        <button
          mat-icon-button
          [matTooltip]="i18n().newChat"
          class="material-symbols-outlined"
          (click)="selectedThread.set(null)">
          chat_add_on
        </button>
      }
    </mat-toolbar>
    <mat-action-list>
      @for (entry of threads(); track entry) {
        <button
          mat-list-item
          [activated]="selectedThread() === entry"
          (click)="selectedThread.set(entry)">
          <span matListItemTitle>{{ entry.headLine }}</span>
          <span>{{ entry.content }}</span>
          <button
            [matTooltip]="i18n().delete"
            (click)="deleteThread(entry, $event)"
            mat-icon-button
            matListItemMeta>
            <mat-icon>delete</mat-icon>
          </button>
        </button>
      } @empty {
        <div mat-subheader>{{ i18n().noThreads }}</div>
      }
    </mat-action-list>
  </m3-supporting-pane>
  <m3-supporting-pane
    class="chat-pane"
    type="flexible">
    <app-ai-chat
      [messages]="currentMessages()"
      [canSend]="state() === 'ready'"
      [overrideMessage]="overrideMessage()"
      [onSend]="onSend">
      @if (!isOpen()) {
        <button
          mat-icon-button
          [matTooltip]="i18n().open"
          (click)="isOpen.set(true)">
          <mat-icon>left_panel_open</mat-icon>
        </button>
      }
      @if (selectedThread() !== null && !isOpen()) {
        <button
          mat-icon-button
          [matTooltip]="i18n().newChat"
          class="material-symbols-outlined"
          (click)="selectedThread.set(null)">
          chat_add_on
        </button>
      }
      <span style="flex: 1"></span>
      <mat-form-field appearance="outline">
        <mat-label>Assistent</mat-label>
        <mat-select [formControl]="selectedAssistant">
          @for (entry of assistRefs(); track entry) {
            <mat-option [value]="entry.ref.id">
              {{ entry.assistant.name }}
            </mat-option>
          }
          <button
            mat-menu-item
            (click)="onNewClick()">
            <em>{{ i18n().createAssistant }}</em>
          </button>
        </mat-select>
      </mat-form-field>
      <span style="flex: 1"></span>
    </app-ai-chat>
  </m3-supporting-pane>
</m3-body-pane>
