<div>

  <h1 tabindex="0" class="modal" mat-dialog-title>{{ 'help.title' | translate }} </h1>

  <mat-divider></mat-divider>
  <div tabindex="0">
    <app-help-en *ngIf="currentLang=='en'"></app-help-en>
    <app-help-de *ngIf="currentLang=='de'"></app-help-de>
  </div>
  <mat-divider></mat-divider>

  <div mat-dialog-actions class="action-container">
    <span class="spacer"></span>
    <button mat-raised-button [mat-dialog-close] aria-labelledby="close-label">{{ 'help.close' | translate }} </button>
  </div>

  <app-dialog-action-buttons
    buttonsLabelSection="cookies"
    confirmButtonLabel="accept"
    [confirmButtonType]=confirmButtonType
    [confirmButtonClickAction]="buildConfirmActionCallback()"
  ></app-dialog-action-buttons>


  <div class="visually-hidden">
    <div id="close-label">{{ 'help.close-label'| translate }}</div>
  </div>
</div>

