<div>

  <h1 tabindex="0" class="modal" mat-dialog-title>{{ 'help.title' | translate }} </h1>

  <mat-divider></mat-divider>
  <mat-dialog-content tabindex="0">
    <app-help-en *ngIf="currentLang=='en'"></app-help-en>
    <app-help-de *ngIf="currentLang=='de'"></app-help-de>
  </mat-dialog-content>
  <mat-divider></mat-divider>

  <app-dialog-action-buttons
    buttonsLabelSection="help"
    [confirmButtonType]=confirmButtonType
    [cancelButtonClickAction]="buildCloseDialogActionCallback()"
  ></app-dialog-action-buttons>

  <div class="visually-hidden">
    <div id="close-label">{{ 'help.close-label'| translate }}</div>
  </div>
</div>

