<div mat-dialog-content
     *ngIf="editRoom">
  <div fxLayout="column">
    <mat-slide-toggle (change)="showMessage('words-will-be-overwritten', $event.checked)" [(ngModel)]="profanityCheck">
      {{ 'room-page.profanity-filter' | translate }}
    </mat-slide-toggle>
    <mat-slide-toggle *ngIf="profanityCheck"
                      (change)="showMessage('only-specific-language-will-be-filtered', $event.checked)"
                      [(ngModel)]="censorLanguageSpecificCheck">
      {{ 'room-page.language-specific-filter' | translate }}
    </mat-slide-toggle>
    <mat-slide-toggle *ngIf="profanityCheck" (change)="showMessage('partial-words-will-be-filtered', $event.checked)"
                      [(ngModel)]="censorPartialWordsCheck">
      {{ 'room-page.partial-words-filter' | translate }}
    </mat-slide-toggle>
  </div>
</div>
<app-dialog-action-buttons
  buttonsLabelSection="room-page"
  confirmButtonLabel="update"

  [cancelButtonClickAction]="buildCloseDialogActionCallback()"
  [confirmButtonClickAction]="buildSaveActionCallback()"
></app-dialog-action-buttons>
