mat-card {
  background-color: var(--sys-secondary-container);
  color: var(--sys-on-secondary-container);
}

h2 {
  border: unset;
  padding: unset;
  margin: unset;
}

mat-card-actions {
  justify-content: center;
}
