
<ars-row>
  <h2 tabindex="0" style="padding:0;margin:0 0 20px 0;">
    Message of the Day
  </h2>

</ars-row>
<mat-dialog-content class="container" ars-flex-box>
  <ars-row ars-flex-box>
    <app-custom-markdown class="images" [data]="content"></app-custom-markdown>
  </ars-row>
  <ars-row [height]="32"></ars-row>
  <ars-fill></ars-fill>
</mat-dialog-content>
<ars-row>
  <app-dialog-action-buttons
    buttonsLabelSection="imprint"
    [cancelButtonClickAction]="buildDeclineActionCallback()"
    [spacing]="false">
  </app-dialog-action-buttons>
</ars-row>

