
:host{
  .align-center-y{
    display:flex;
    justify-content:center;
    flex-direction:column;
  }
  .container{
    width:100%;
    height:calc( 100% - 110px ) !important;
    .message{
      :last-child{
        margin-bottom:0px;
      }
    }
    &-title{
      font-weight:lighter;
      margin-left:1px;
    }
  }
  mat-dialog-content{
    height:100% !important;
    max-height:100% !important;
    hyphens: auto;
  }
  mat-dialog-container{
    padding:0 !important;
  }
  ::ng-deep{
       .images img {
         max-width: 100% !important;
       }
       .mat-checkbox-frame {
         border-color:var(--on-surface);
       }
     }

}

