<h2
  tabindex="0"
  mat-dialog-title>
  {{ "introductions.room-list-title" | translate }}
</h2>

<mat-dialog-content tabindex="0">
  <app-introduction-room-list-en
    *ngIf="currentLanguage === 'en'"></app-introduction-room-list-en>
  <app-introduction-room-list-de
    *ngIf="currentLanguage === 'de'"></app-introduction-room-list-de>
  <app-introduction-room-list-fr
    *ngIf="currentLanguage === 'fr'"></app-introduction-room-list-fr>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-button
    class="primary-button"
    mat-dialog-close>
    {{ "introductions.cancel" | translate }}
  </button>
</mat-dialog-actions>
