p {
  color: var(--on-surface);
  margin: 10px 0 10px 0;
}

.mat-icon-button {
  margin-top: 5px;
  color: var(--red);
}

.delete {
  margin: 20px 0 20px 0;
  min-width: 220px;
  background-color: var(--red);
  color: var(--on-secondary);
}
