
<div mat-dialog-content xmlns="http://www.w3.org/1999/html">
  <h2>{{'room-page.bonus-token-header' | translate }}</h2>
  <h3>{{room.name}} - {{room.shortId.slice(0, 4)}} {{room.shortId.slice(4, 8)}}</h3>
  <mat-divider></mat-divider>
  <div *ngIf="bonusTokens.length >= 1">
    <div fxLayout="row" *ngFor="let bonusToken of bonusTokens; index as i">
      <p tabindex="0">
        {{bonusToken.token}}
      </p>
      <span class="fill-remaining-space"></span>
      <button mat-icon-button (click)="openDeleteSingleBonusDialog(bonusToken.userId, bonusToken.commentId, i)">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div *ngIf="bonusTokens.length === 0">
    <p>{{'room-page.no-bonus' | translate }}<p>
  </div>
  <div fxLayoutAlign="center center" *ngIf="bonusTokens.length > 1">
    <button mat-button class="delete" (click)="openDeleteAllBonusDialog()">
      <mat-icon>delete</mat-icon>
      {{'room-page.delete-all-tokens' | translate}}
    </button>
  </div>
  <app-dialog-action-buttons
    buttonsLabelSection="content"
    [cancelButtonClickAction]="buildDeclineActionCallback()">
  </app-dialog-action-buttons>
</div>
