<h2
  tabindex="0"
  mat-dialog-title>
  {{ "introductions." + (isPle ? "ple." : "") + "tag-cloud-title" | translate }}
</h2>

<mat-dialog-content tabindex="0">
  <app-introduction-tag-cloud-en
    *ngIf="currentLanguage === 'en'"></app-introduction-tag-cloud-en>
  <app-introduction-tag-cloud-de
    *ngIf="currentLanguage === 'de'"></app-introduction-tag-cloud-de>
  <app-introduction-tag-cloud-fr
    *ngIf="currentLanguage === 'fr'"></app-introduction-tag-cloud-fr>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-button
    class="primary-button"
    mat-dialog-close>
    {{ "introductions.cancel" | translate }}
  </button>
</mat-dialog-actions>
