<h1
  tabindex="0"
  mat-dialog-title>
  {{ "introductions.tag-cloud-title" | translate }}
</h1>

<mat-dialog-content tabindex="0">
  <app-introduction-tag-cloud-en
    *ngIf="currentLanguage === 'en'"></app-introduction-tag-cloud-en>
  <app-introduction-tag-cloud-de
    *ngIf="currentLanguage === 'de'"></app-introduction-tag-cloud-de>
  <app-introduction-tag-cloud-fr
    *ngIf="currentLanguage === 'fr'"></app-introduction-tag-cloud-fr>
</mat-dialog-content>

<app-dialog-action-buttons
  confirmButtonLabel="cancel"
  buttonsLabelSection="introductions"
  [confirmButtonClickAction]="onClose.bind(this)"></app-dialog-action-buttons>
