.center {
  position: absolute;
  top: 50%;
  left: 50%;
}

mat-progress-spinner {
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.overlay {
  height: 100vh;
  width: 100%;
  opacity: 0.2;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
}

.overlay.primary {
  background-color: var(--primary);
}

.overlay.secondary {
  background-color: var(--secondary);
}

mat-progress-spinner.inline-spinner {
  display: inline;
  margin-left: 0.25em;
  top: 0.115em;
}

mat-progress-spinner.primary, mat-progress-spinner.on-primary {
  color: var(--on-primary);
}

mat-progress-spinner.primary.inline-spinner {
  color: var(--primary);
}

mat-progress-spinner.secondary,  mat-progress-spinner.on-secondary {
  color: var(--on-secondary);
}

mat-progress-spinner.secondary.inline-spinner {
  color: var(--secondary);
}
