/*:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

:host ::ng-deep .file-ref {
  display: inline-block;
  background-color: var(--md-sys-color-primary-container);
  color: var(--md-sys-color-on-primary-container);
  padding: 0.15em 0.4em;
  border-radius: 0.6em;
  margin: 0.2em;
}

.info {
  max-width: 600px;
  width: calc(100% - 3em);
  background-color: var(--md-sys-color-surface-container-highest);
  color: var(--md-sys-color-on-surface-container);
  margin: auto;
  display: block;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  height: calc(100% - 4em);
  max-height: 600px;
  translate: -50% -50%;
}

.user-message {
  margin-top: 0;

  + .user-message {
    margin-top: 0.5em;
  }
}

.assistant-message {
  max-width: 800px;
  margin: 0.5em 1em;
  width: calc(100% - 3em);
  display: block;
}

.user-card {
  max-width: 600px;
  margin: 0.5em 1em 0.5em auto;
  width: calc(100% - 3em);
  background-color: var(--md-sys-color-surface-container-highest);
  color: var(--md-sys-color-on-surface-container);
}

.input-area {
  display: flex;
  max-width: calc(100% - var(--m3-sys-layout-spacing-pane));
  width: 100%;
  padding: 1em 0;

  > .input-field {
    width: 100%;
    max-width: 45em;
    margin: 0 auto;

    textarea {
      resize: none;
      overflow: hidden;
      height: auto;
    }
  }
}
*/

.container {
  text-align: center;
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.search-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #3f3e4127;
  border: 1px solid #2c2c2e;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  height: 100px;
  width: 100%;
  position: relative;
}

.search-bar textarea {
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1rem;
  width: 100%;
  height: 100%;
  resize: none;
  padding: 10px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.search-bar textarea::placeholder {
  color: #7c7c7e;
}

.actions {
  display: flex;
  position: absolute;
  bottom: 14px;
  left: 14px;
}

.attachment-button,
.assistant-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #403e46;
  font-size: 14px;
  margin-right: 10px;
}

.search-button {
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 14px;
  right: 14px;
  font-size: 14px;
  background-color: transparent;
  color: #403e46;
  z-index: 2;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background-color: #1c1b1e;
    border-radius: 100%;
    z-index: -1;
  }
}

.topics {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.topic {
  display: flex;
  align-items: center;
  border: 1px solid #2c2c2e;
  background-color: transparent;
  color: white;
  padding: 14px 24px;
  margin: 4px;
  border-radius: 5px;
  cursor: pointer;
  flex: 1 1 40%;
  text-align: left;

  .emoji {
    margin-right: 10px;
    font-size: 14px;
    padding: 8px;
    border-radius: 8px;
    background-color: #2c2c2e;
  }
}

.topic:hover {
  background-color: #4a4a4e;
}
