<h2
  tabindex="0"
  mat-dialog-title>
  {{ i18n().title }}
</h2>

<mat-dialog-content tabindex="-1">
  <p>{{ i18n().text }}</p>
  @if (badgeType() !== "none") {
    <div class="store-buttons">
      @if (
        (badgeType() === "appstore" || badgeType() === "both") &&
          getAppStoreBadge(badgeType());
        as badge
      ) {
        <a (click)="showExcusePopup()">
          <img
            [src]="badge.src"
            [alt]="badge.alt" />
        </a>
      }
      @if (
        (badgeType() === "playstore" || badgeType() === "both") &&
          getPlayStoreBadge();
        as badge
      ) {
        <a (click)="showExcusePopup()">
          <img
            [src]="badge.src"
            [alt]="badge.alt" />
        </a>
      }
    </div>
  }
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-button
    mat-dialog-close>
    {{ i18n().global.close }}
  </button>
  <span style="flex: 1"></span>
</mat-dialog-actions>
