<div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="20px" fxFill>
  <div fxLayout="row" fxLayoutAlign="center">
    <mat-progress-spinner *ngIf="isLoading" mode="indeterminate"></mat-progress-spinner>
    <mat-card *ngIf="room">
      <mat-card-header>
        <mat-card-title><h3 class="subheading-2">{{ room.name }}</h3></mat-card-title>
        <mat-card-subtitle>{{ room.shortId }}</mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <p>
          {{ room.description }}
        </p>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <button mat-icon-button color="primary" matTooltip="Create comment" routerLink="/participant/room/{{ room.id }}/create-comment">
          <mat-icon>question_answer</mat-icon>
        </button>
        <button mat-icon-button color="primary" matTooltip="Give feedback">
          <mat-icon>feedback</mat-icon>
        </button>
        <button mat-button color="primary" matTooltip="Join question round">
          Questions
        </button>
        <button mat-button color="primary" matTooltip="See room comments">
          Comments
        </button>
        <button mat-button color="primary" matTooltip="Start personal question round">
          Learn
        </button>
      </mat-card-actions>
    </mat-card>
    <div *ngIf="!isLoading && !room">
       Error: room could not be found!
    </div>
  </div>
  <button mat-button color="primary" (click)="goBack()">Back</button>
</div>
