<div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5%" fxFill>
  <div fxLayout="row" fxLayoutAlign="center">
    <mat-tab-group>
      <mat-tab label="Single / Multiple Choice">
        <div class="tab-container">
          <app-content-creator [format]="'choice'" [contentGroups]="contentGroups"></app-content-creator>
        </div>
      </mat-tab>
      <mat-tab label="Likert">
        <div class="tab-container">
          <app-content-creator [format]="'likert'" [contentGroups]="contentGroups"></app-content-creator>
        </div>
      </mat-tab>
      <mat-tab label="{{ 'content.yes' | translate }} / {{ 'content.no' | translate }}">
        <div class="tab-container">
          <app-content-creator [format]="'yesno'" [contentGroups]="contentGroups"></app-content-creator>
        </div>
      </mat-tab>
      <mat-tab label="Text">
      <div class="tab-container">
        <app-content-creator [format]="'text'" [contentGroups]="contentGroups"></app-content-creator>
      </div>
    </mat-tab>
    </mat-tab-group>
  </div>
</div>
