mat-tab-group {
  width: 100%;
  max-width: 800px;
}

.tab-container {
  padding: 5px;
}

::ng-deep .mat-tab-label {
  color: var(--on-surface);
}

::ng-deep .mat-tab-label-active {
  color: var(--on-surface);
}

::ng-deep .mat-ink-bar {
  background-color: var(--primary) !important;
}
