<div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="20px" fxFill>
  <div fxLayout="row" fxLayoutAlign="center">
    <mat-tab-group>
      <mat-tab label="Text">
        <div class="tab-container">
          <app-content-creator [format]="'text'"></app-content-creator>
        </div>
      </mat-tab>
      <mat-tab label="Single / Multiple Choice">
        <div class="tab-container">
          <app-content-creator [format]="'choice'"></app-content-creator>
        </div>
      </mat-tab>
      <mat-tab label="Likert">
        <div class="tab-container">
          <app-content-likert-creator></app-content-likert-creator>
        </div>
      </mat-tab>
      <mat-tab label="{{ 'content.yes' | translate }} / {{ 'content.no' | translate }}">
        <div class="tab-container">
          <app-content-yes-no-creator></app-content-yes-no-creator>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
