  <h2 mat-dialog-title>
    {{ 'room-page.sure' | translate }}
  </h2>
  <mat-dialog-content>
  <p>
    {{ 'room-page.reallySession' | translate }}
    <strong>&raquo;{{ room.name }}&laquo;</strong>
    {{ 'room-page.really2' | translate }}
  </p>

    </mat-dialog-content>

<mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="buildCloseDialogActionCallback()">
      {{ 'room-page.cancel' | translate }}
    </button>

  <span style="flex:1"></span>

    <button mat-button color="warn" (click)="buildRoomDeleteActionCallback()">
      {{ 'room-page.delete-room' | translate }}
    </button>
</mat-dialog-actions>
