<mat-accordion>
  <div fxLayout="row" fxLayoutAlign="center">
    <mat-progress-spinner *ngIf="isLoading" mode="indeterminate"></mat-progress-spinner>
  </div>
  <mat-expansion-panel *ngFor="let room of rooms">
    <mat-expansion-panel-header>
      <button mat-button color="primary" routerLink="/{{ baseUrl }}/room/{{ room.shortId }}">
        <mat-icon>send</mat-icon>
      </button>
      <mat-panel-title>
        {{ room.shortId }}
      </mat-panel-title>
      <mat-panel-description>
        {{ room.name }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>
      {{ room.description }}
    </p>
  </mat-expansion-panel>
</mat-accordion>
