<mat-accordion>
  <mat-expansion-panel *ngFor="let room of rooms">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ room.shortId }}
      </mat-panel-title>
      <mat-panel-description>
        {{ room.name }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>
      {{ room.description }}
    </p>
    <mat-action-row>
      <button mat-button routerLink="/{{ baseUrl }}/room/{{ room.id }}">Join room</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
