form > button {
  margin: 10px;
}

mat-header-cell {
  background-color: var(--surface);
}

mat-row {
  background-color: var(--surface);
}

.mat-checkbox {
  color: var(--on-surface) !important;
}

.addIcon {
  line-height: 100%;
  height: 100% !important;
  width: 100% !important;
  font-size: 40px !important;
  color: var(--primary);
}

.addButton {
  transition-duration: 0.5s;

  &:focus {
    transform: rotate(90deg);
  }
}

.mat-raised-button {
  min-width: 120px;
}

mat-form-field {
  width: 85%;
}

.create {
  background-color: var(--primary);
  color: var(--on-primary);
}

.reset {
  background-color: var(--secondary);
  color: var(--on-secondary);
}

mat-radio-button {
  color: var(--on-surface);
}

.mat-header-cell {
  color: var(--on-surface);
}

input {
  color: var(--on-surface);
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: var(--secondary);
}

::ng-deep .mat-checkbox-frame {
  border-color: var(--on-surface);
}

.edit {
  color: var(--secondary);
}

.delete {
  color: var(--red);
}

::ng-deep .mat-radio-outer-circle {
  .mat-radio-checked & {
    border-color: var(--secondary)!important;
  }
  border-color: var(--on-surface);
}

::ng-deep .mat-radio-inner-circle {
  background-color: var(--secondary)!important;
}

::ng-deep .mat-radio-ripple .mat-ripple-element {
  background-color: var(--secondary)!important;
}
