form > button {
  margin: 10px;
}

mat-header-cell {
  background-color: #ffe0b2;
}

mat-row {
  background-color: #ffecb3;

  &:last-child {
    animation: fadeIn 3s;
  }
}

@keyframes fadeIn {
  0% {background-color: #b2dfdb}
  100% {background-color: #ffecb3}
}

.add-icon {
  line-height: 100%;
  height: 100% !important;
  width: 100% !important;
  font-size: 40px !important;
  transition: 0.5s;

  &:hover {
    transform: scale(1.2);
  }
}

.mat-raised-button {
  min-width: 120px;
}
