<form (ngSubmit)="submitContent()" fxLayout="column" fxLayoutGap="20px">

  <mat-radio-group [(ngModel)]="singleChoice" [ngModelOptions]="{standalone: true}" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
    <mat-radio-button [value]=true [checked]=true>
      Single Choice
    </mat-radio-button>
    <mat-radio-button [value]=false [checked]=false>
      Multiple Choice
    </mat-radio-button>
  </mat-radio-group>

  <mat-table [dataSource]="displayAnswers">
    <ng-container matColumnDef="label">
      <mat-header-cell *matHeaderCellDef>{{ 'content.answer' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let answer">
        <mat-checkbox (click)="switchValue(answer.answerOption.label)" [(ngModel)]="answer.correct"
                      [checked]="answer.correct"
                      name="{{ answer.answerOption.label }}">{{ answer.answerOption.label }}
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>{{ 'content.actions' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let answer">
        <button mat-icon-button class="edit"
                (click)="openAnswerModificationDialog($event, answer.answerOption.label, answer.answerOption.points, answer.correct)"
                matTooltip="{{ 'content.edit-answer' | translate }}">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button class="delete" (click)="deleteAnswer($event, answer.answerOption.label)"
                matTooltip="{{ 'content.delete-answer' | translate }}">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
    <mat-form-field class="input-block">
      <input (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()"
             matInput #answerLabel [(ngModel)]="newAnswerOptionLabel" placeholder="{{ 'content.answer' | translate }}" name="answer">
    </mat-form-field>
    <button *ngIf="singleChoice" mat-icon-button class="addButton" (click)="addAnswer($event); answerLabel.value = '';">
      <mat-icon class="addIcon">add_circle</mat-icon>
    </button>
    <button *ngIf="!singleChoice" mat-icon-button (click)="addAnswer($event); answerLabel.value = '';">
      <mat-icon class="addIcon">add_box</mat-icon>
    </button>
  </div>
  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
    <button mat-raised-button class="reset" (click)="reset($event)">{{ 'content.reset' | translate }}</button>
    <button mat-raised-button class="create" type="submit">{{ 'content.create' | translate }}</button>
  </div>
</form>
