form > button {
  margin: 10px;
}

mat-header-cell {
  background-color: var(--content-creator-cell);
}

mat-row {
  background-color: var(--content-creator-row);
}

.addIcon {
  line-height: 100%;
  height: 100% !important;
  width: 100% !important;
  font-size: 40px !important;
}

.addButton {
  transition-duration: 0.5s;

  &:focus {
    transform: rotate(90deg);
  }
}

.mat-raised-button {
  min-width: 120px;
}

mat-form-field {
  width: 85%;
}
