<app-component-test-sub-section>
  <div class="button-row">
    <mat-form-field [appearance]="'outline'">
      <input
        matInput
        [(ngModel)]="buttonText" />
      <mat-label>Text</mat-label>
    </mat-form-field>
    <mat-form-field [appearance]="'outline'">
      <input
        matInput
        [(ngModel)]="iconText" />
      <mat-label>Icon</mat-label>
    </mat-form-field>
  </div>
</app-component-test-sub-section>
<app-component-test-sub-section [grid]="true">
  <app-component-test-sub-section [title]="'Filled buttons'">
    <div class="button-row">
      <button mat-flat-button>
        {{ buttonText }}
      </button>
      <button mat-flat-button>
        <mat-icon>{{ iconText }}</mat-icon>
        {{ buttonText }}
      </button>
      <button
        mat-flat-button
        disabled>
        {{ buttonText }}
      </button>
      <button
        mat-flat-button
        disabled>
        <mat-icon>{{ iconText }}</mat-icon>
        {{ buttonText }}
      </button>
    </div>
  </app-component-test-sub-section>
  <app-component-test-sub-section [title]="'Elevated buttons'">
    <div class="button-row">
      <button mat-raised-button>
        {{ buttonText }}
      </button>
      <button mat-raised-button>
        <mat-icon>{{ iconText }}</mat-icon>
        {{ buttonText }}
      </button>
      <button
        mat-raised-button
        disabled>
        {{ buttonText }}
      </button>
      <button
        mat-raised-button
        disabled>
        <mat-icon>{{ iconText }}</mat-icon>
        {{ buttonText }}
      </button>
    </div>
  </app-component-test-sub-section>
  <app-component-test-sub-section [title]="'Outlined buttons'">
    <div class="button-row">
      <button mat-stroked-button>
        {{ buttonText }}
      </button>
      <button mat-stroked-button>
        <mat-icon>{{ iconText }}</mat-icon>
        {{ buttonText }}
      </button>
      <button
        mat-stroked-button
        disabled>
        {{ buttonText }}
      </button>
      <button
        mat-stroked-button
        disabled>
        <mat-icon>{{ iconText }}</mat-icon>
        {{ buttonText }}
      </button>
    </div>
  </app-component-test-sub-section>
  <app-component-test-sub-section [title]="'Text buttons'">
    <div class="button-row">
      <button mat-button>
        {{ buttonText }}
      </button>
      <button mat-button>
        <mat-icon>{{ iconText }}</mat-icon>
        {{ buttonText }}
      </button>
      <button
        mat-button
        disabled>
        {{ buttonText }}
      </button>
      <button
        mat-button
        disabled>
        <mat-icon>{{ iconText }}</mat-icon>
        {{ buttonText }}
      </button>
    </div>
  </app-component-test-sub-section>
  <app-component-test-sub-section [title]="'Icon Buttons'">
    <div class="button-row">
      <button mat-icon-button>
        <mat-icon>{{ iconText }}</mat-icon>
      </button>
      <button
        mat-icon-button
        disabled>
        <mat-icon>{{ iconText }}</mat-icon>
      </button>
    </div>
  </app-component-test-sub-section>
</app-component-test-sub-section>
<app-component-test-sub-section
  [title]="'Floating action buttons (FAB)'"
  [grid]="true">
  <app-component-test-sub-section [subTitle]="'Default'">
    <div class="button-row">
      <button mat-fab>
        <mat-icon>{{ iconText }}</mat-icon>
      </button>
      <button
        mat-fab
        disabled>
        <mat-icon>{{ iconText }}</mat-icon>
      </button>
    </div>
  </app-component-test-sub-section>
  <app-component-test-sub-section [subTitle]="'Extended'">
    <div class="button-row">
      <button
        mat-fab
        [extended]="true">
        <mat-icon>{{ iconText }}</mat-icon>
        {{ buttonText }}
      </button>
      <button
        mat-fab
        [extended]="true"
        disabled>
        <mat-icon>{{ iconText }}</mat-icon>
        {{ buttonText }}
      </button>
    </div>
  </app-component-test-sub-section>
  <app-component-test-sub-section [subTitle]="'Mini'">
    <div class="button-row">
      <button mat-mini-fab>
        <mat-icon>{{ iconText }}</mat-icon>
      </button>
      <button
        mat-mini-fab
        disabled>
        <mat-icon>{{ iconText }}</mat-icon>
      </button>
    </div>
  </app-component-test-sub-section>
</app-component-test-sub-section>
<app-component-test-sub-section
  [title]="'Boolean input'"
  [grid]="true">
  <app-component-test-sub-section [subTitle]="'Checkbox'">
    <div class="button-row">
      <mat-checkbox>
        {{ buttonText }}
      </mat-checkbox>
    </div>
  </app-component-test-sub-section>
  <app-component-test-sub-section [subTitle]="'Slide Toggle'">
    <div class="button-row">
      <mat-slide-toggle>
        {{ buttonText }}
      </mat-slide-toggle>
    </div>
  </app-component-test-sub-section>
</app-component-test-sub-section>
<app-component-test-sub-section
  [title]="'Toggle Button'"
  [grid]="true">
  <app-component-test-sub-section>
    <div class="button-row">
      <!-- switching between multiple doesn't work. this is a workaround -->
      <ng-container *ngIf="!toggleButtonGroup.multiple; else toggleTemplate">
        <ng-container
          *ngTemplateOutlet="
            toggleTemplate;
            context: { multiple: true }
          "></ng-container>
      </ng-container>
      <ng-template
        #toggleTemplate
        let-multiple="multiple">
        <mat-button-toggle-group
          #group="matButtonToggleGroup"
          [vertical]="toggleButtonGroup.vertical"
          [multiple]="toggleButtonGroup.multiple">
          <mat-button-toggle
            *ngFor="let option of toggleButtonGroup.entries"
            [value]="option">
            {{ option.name }}
          </mat-button-toggle>
        </mat-button-toggle-group>
      </ng-template>
    </div>
  </app-component-test-sub-section>
  <app-component-test-sub-section>
    <div class="button-row">
      <mat-checkbox [(ngModel)]="toggleButtonGroup.vertical">
        vertical
      </mat-checkbox>
      <mat-checkbox [(ngModel)]="toggleButtonGroup.multiple">
        multiple
      </mat-checkbox>
    </div>
  </app-component-test-sub-section>
</app-component-test-sub-section>
