.mat-form-field {
  width: 100%;
}

::ng-deep .mat-form-field-infix {
  width: 0 !important;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  & .mat-form-field {
    flex: 1 0 100%;
  }
}

@media (min-width: 768px) {
  .container .mat-form-field:nth-child(1),
  .container .mat-form-field:nth-child(2) {
    flex: 1 0 1px;
  }

  .container .mat-form-field:nth-child(3) {
    flex: 1 0 100%;
  }
}

button {
  width: 100%;
  margin-bottom: 1rem;
  background-color: var(--primary);
  color: var(--on-primary);
}

.mat-icon-color-only {
  color: var(--on-surface);
}


::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.usage-times-list {
  border: 1px solid var(--background);
  border-radius: 4px;
  margin-bottom: 14px;
}


.even {
  background-color: var(--background);
}

.time-item {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 8px;

  &:hover button {
    display: flex;
  }
}

.time-item .delete-button {
  justify-content: end;
  align-items: center;
  background-color: transparent;
  color: var(--on-background);
  border: none;
  padding: 0;
  margin: 0;
  display: none;
  cursor: pointer;
}

