<form (ngSubmit)="submitContent()">
  <mat-form-field class="input-block">
    <input matInput #subject [(ngModel)]="content.subject" placeholder="Subject" name="subject">
  </mat-form-field>
  <app-markdown-toolbar textareaId="content-text-body"></app-markdown-toolbar>
  <mat-form-field class="input-block">
    <textarea matInput #body id="content-text-body" [(ngModel)]="content.body" placeholder="Body" name="body"
              matTextareaAutosize matAutosizeMinRows="3" matAutosizeMaxRows="8"></textarea>
  </mat-form-field>
  <markdown [data]="content.body"></markdown>
  <div *ngIf="!editDialogMode">
    <button mat-raised-button type="submit" color="primary">Submit</button>
  </div>
  <div *ngIf="editDialogMode">
    <button mat-raised-button (click)="editDialogClose($event,'edit')" color="primary">Update</button>
    <button mat-raised-button (click)="editDialogClose($event,'abort')" color="primary">Abort</button>
    <button mat-raised-button (click)="openDeletionContentDialog($event)" color="warn">Delete</button>
  </div>
</form>
