<mat-form-field class="input-block">
  <input matInput #userName placeholder="Username"/>
  <mat-error *ngIf="usernameErrorMessage !== ''">{{ usernameErrorMessage }}</mat-error>
</mat-form-field>

<mat-form-field class="input-block">
  <input matInput #userPassword type="password" placeholder="Password"/>
  <mat-error *ngIf="passwordErrorMessage !== ''">{{ passwordErrorMessage }}</mat-error>
</mat-form-field>

<button mat-raised-button color="primary" (click)="login(userName.value, userPassword.value)">Login</button>
