form > button {
  margin: 20px 0;
}

mat-header-cell {
  background-color: var(--surface);
}

mat-cell {
  background-color: var(--primary);
}

.submit {
  margin-top: 80px;
  background-color: var(--primary);
  color: var(--on-primary);
}

.mat-raised-button {
  min-width: 120px;
}
