<form (ngSubmit)="submitContent()" fxLayout="column" fxLayoutGap="20px">
  <mat-divider></mat-divider>
  <mat-table [dataSource]="displayAnswers">
    <ng-container matColumnDef="label">
      <mat-header-cell *matHeaderCellDef>{{ 'content.answer' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let answer">
        {{ answer.answerOption.label }}
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <div fxLayout="row" fxLayoutAlign="center">
    <button mat-raised-button type="submit"class="submit">{{ 'content.create' | translate }}</button>
  </div>
</form>
