<h2
  tabindex="0"
  mat-dialog-title>
  {{ "header.sure" | translate }}
</h2>

<mat-dialog-content>
  <p tabindex="0">
    {{
      (role < 3 ? "room-list.really-remove" : "room-list.really-delete")
        | translate
    }}
    <strong>{{ roomName }}</strong>
    {{
      (role < 3 ? "room-list.really-remove-2" : "room-list.really-delete-2")
        | translate
    }}
  </p>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-button
    class="secondary-button"
    mat-dialog-close="abort">
    {{ "delete-account.cancel" | translate }}
  </button>
  <button
    mat-stroked-button
    class="error-button"
    mat-dialog-close="remove">
    {{ "delete-account.delete" | translate }}
  </button>
</mat-dialog-actions>
