
<ars-row class="fade-in-animation-wrapper">

  <div class="live-poll-view-content-wrapper">


    <ars-row ars-flex-box [borderBox]="true" [padding]="[0,16]" [align]="'flex-start'">
      <ars-col>
        <h1
          [matTooltip]="'live-poll.title' | translate"
          aria-describedby="name-label">
          <span>{{data.session.currentLivePoll.name}}</span>
        </h1>
      </ars-col>
      <ars-fill></ars-fill>
    </ars-row>

    <ars-row ars-flex-box [borderBox]="true" [padding]="[8,16]"
             *ngFor="let e of data.session.currentLivePoll.list">
      <app-live-poll-entry [value]="e"></app-live-poll-entry>
    </ars-row>
    <ars-row ars-flex-box class="fade-in-horizontal-animation-wrapper" [borderBox]="true"
             [direction]="'row'">
      <button mat-button *ngIf="data.user.role"
              aria-describedby="stop-label" style="color:var(--on-surface);padding:0 8px;"
              [matTooltip]="'live-poll.stop-accessibility' | translate">
        <mat-icon style="color:var(--on-surface);padding-right:4px;margin-left:8px;">stop</mat-icon>
        <span *ngIf="device.isCurrentlyDesktop">{{'live-poll.stop' | translate}}</span>
      </button>
    </ars-row>

  </div>

  <div class="live-poll-vote-wrapper">

    <ars-row *ngIf="!data.user.role" ars-flex-box [size]="256" style="flex-wrap: wrap"
             class="fade-in-horizontal-animation-wrapper">
      <button class="live-poll-vote-option" (click)="vote(i)"
              *ngFor="let symbol of data.session.currentLivePoll.symbolSet.symbol;index as i;">
        <div>
          <span>{{symbol}}</span>
        </div>
      </button>
    </ars-row>

  </div>

</ars-row>
