<mat-accordion>
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>Impressum</mat-panel-title>
    </mat-expansion-panel-header>
      <p>
        <a>Technische Hochschule Mittelhessen (THM) University of Applied Sciences</a>
        <br>Wiesenstraße 14
        <br>35390 Gießen
        <br>Germany
        <br>
      </p>

      <p>
        <mat-icon>phone</mat-icon> +49 641 309-0
        <br>
        <mat-icon>print</mat-icon> +49 641 309-2901
        <br>
        <mat-icon>mail</mat-icon> praesident@thm.de
        <br>
      </p>

      <mat-divider></mat-divider>
      <br>

      <p>
        Die Technische Hochschule Mittelhessen ist eine rechtsfähige Körperschaft des öffentlichen Rechts und zugleich staatliche
        Einrichtung gemäß § 1 (1) HHG (Hessisches Hochschulgesetz vom 14. Dezember 2009, GVBl. I, S. 666).
      </p>

      <p> Sie wird gesetzlich vertreten durch den Präsidenten
        <a>Prof. Dr. Matthias Willems</a>.
      </p>

      <p>Umsatzsteuer-Identifikationsnummer gemäß § 27 a Umsatzsteuergesetz:
        <br>
        <a>DE 813885934</a>
      </p>

      <p>
        <a>Zuständige Aufsichtsbehörde:</a>
        <br> Hessisches Ministerium für Wissenschaft und Kunst Rheinstraße 23 - 25 65185 Wiesbaden
      </p>

      <p>
        <a>Inhaltlich Verantwortlicher gemäß § 55 Abs. 2 RStV:</a>
        <br> Das Präsidium hat die allgemeine inhaltliche Verantwortung und entscheidet in Zweifelsfällen über die Zulässigkeit
        von Daten. Die Einrichtungen und Organe der Technischen Hochschule Mittelhessen (u.a. Fachbereiche, Bibliothek, AStA,
        Personalräte) erstellen ihre Webseiten in eigener Verantwortung. Die inhaltliche Verantwortung dieser Webseiten liegt
        bei der/dem Vertretungsberechtigten der jeweils zuständigen Einrichtung bzw. bei der von ihr/ihm autorisierten Person.
        Die Kontaktdaten dieser Personen sind dort jeweils im Impressum angegeben.
      </p>

      <p>
        <a>Das Impressum gilt auch für folgende Social Media Profile:</a>
        <br>www.thm.de/facebook
        <br>www.thm.de/twitter
        <br>www.thm.de/plus.google
        <br>www.thm.de/youtube
      </p>

      <p>
        <a>Technische Ansprechpartner für den Internetauftritt:</a>
        <br>Referat Neue Medien
        <br>Ostanlage 37 - 41
        <br>35390 Gießen
        <br>webredaktion@thm.de
      </p>
    
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
    <mat-expansion-panel-header>Haftungsausschluss</mat-expansion-panel-header>
    <h4>1. Inhalt der Internetpräsenz</h4>
    Die Technische Hochschule Mittelhessen (THM) ist bemüht, die bereitgestellte Internetpräsenz stets informativ, aktuell, klar
    strukturiert und übersichtlich zu halten. Trotzdem können Fehler und Unklarheiten nicht vollständig ausgeschlossen werden.
    Aus diesem Grunde übernimmt die Technische Hochschule Mittelhessen keine Gewähr für die Vollständigkeit, die Richtigkeit,
    die Aktualität und die Qualität der zur Verfügung gestellten Informationen. Für Schäden immaterieller oder materieller
    Art, die durch die Nutzung oder die Nichtnutzung der dargebotenen Informationen oder durch die Nutzung fehlerhafter oder
    unvollständiger Informationen mittelbar oder unmittelbar entstehen, haftet die Technische Hochschule Mittelhessen nicht,
    sofern ihr nicht nachweislich ein grob fahrlässiges oder vorsätzliches Verschulden zur Last gelegt werden kann. Gleiches
    gilt für kostenlos zur Verfügung gestellte Software. Die Technische Hochschule Mittelhessen kann ohne vorherige Ankündigung
    Teile des Internetangebotes oder auch das gesamte Internetangebot verändern, ergänzen löschen oder endgültig oder zeitweise
    sperren.

    <h4>2. Links und Verweise</h4>
    Für „fremde Inhalte“, die durch direkte oder indirekte Verknüpfungen (sogenannte Links) von anderen Anbietern zur Verfügung
    gestellt werden, übernimmt die Technische Hochschule Mittelhessen keine Haftung. Sie macht sich diese Seiten ausdrücklich
    nicht zu Eigen und distanziert sich auch von den Inhalten der gelinkten/verknüpften Seiten. Diese Feststellung betrifft
    auch die von der Technischen Hochschule Mittelhessen eingerichteten Diskussionsforen, Gästebücher und Mailinglisten.
    Für unvollständige, fehlerhafte oder auch illegale Inhalte und insbesondere für Schäden, die aus der Nutzung dieser Seiten
    und der in ihnen dargebotenen Informationen entstehen, haftet allein der Anbieter der entsprechenden Seiten. Die Technische
    Hochschule Mittelhessen hat keine Kenntnis über anstößige oder rechtswidrige Inhalte der gelinkten/verknüpften Seiten
    der Anbieter. Sollten auf diesen Seiten dennoch rechtswidrige oder anstößige Inhalte enthalten sein, distanziert sich
    die Technische Hochschule Mittelhessen ausdrücklich von diesen Inhalten.

    <h4>3. Urheberrecht</h4>
    Die Technische Hochschule Mittelhessen ist bestrebt, in ihren Publikationen die Urheberrechte der verwendeten Dokumente,
    Texte, Grafiken, Tondokumente und Videosequenzen zu beachten, von ihr selbst erstellte Grafiken, Tondokumente, Videosequenzen
    und Texte zu nutzen oder auf lizenzfreie Grafiken, Tondokumente, Videosequenzen und Texte zurückzugreifen. Alle innerhalb
    des Internetangebotes genannten und ggf. durch Dritte geschützten Marken- und Warenzeichen unterliegen uneingeschränkt
    den Bestimmungen des gültigen Kennzeichenrechts und den Besitzrechten der jeweiligen eingetragenen Eigentümer. Allein
    aufgrund der bloßen Nennung ist nicht der Schluss zu ziehen, dass Markenzeichen nicht durch Rechte Dritter geschützt
    sind! Das Copyright für von der Technischen Hochschule Mittelhessen veröffentlichte Dokumente bleibt alleine bei der
    Technische Hochschule Mittelhessen. Die Vervielfältigung der von der Technischen Hochschule Mittelhessen erstellten Dokumente
    und Publikationen ist ohne ausdrückliche Zustimmung der Technischen Hochschule Mittelhessen nicht gestattet. Das Layout
    der Homepage und die verwendeten Graphiken sowie sonstige Inhalte sind urheberrechtlich geschützt.

    <h4>4. Datenschutz</h4>
    Sofern auf unserer Webseite die Möglichkeit zur Eingabe persönlicher oder geschäftlicher Daten wie Namen, E-Mail-Adressen,
    Anschriften usw. besteht, erfolgt die Preisgabe dieser Daten seitens des Nutzers auf freiwilliger Basis.

    <h4>5. Rechtswirksamkeit dieses Haftungsausschlusses</h4>
    Dieser Haftungsausschluss ist als Teil des Internetangebots zu betrachten, von dem aus auf diese Seite verwiesen wurde. Sofern
    Teile oder einzelne Formulierungen dieses Textes der geltenden Rechtsgrundlage nicht oder nicht vollständig entsprechen,
    bleiben die übrigen Teile der Internetpräsentation in ihrem Inhalt und in ihrer Gültigkeit unberührt.
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(1)" hideToggle="true">
    <mat-expansion-panel-header>Bildnachweis</mat-expansion-panel-header>
    <p>
      #12869743 - © jeremias münch
      <br> #235937 - © Norman Chan
      <br> #56610227 - © Petair
      <br> #43527965 - © Composer
      <br> #78450 - © ZOE
      <br> #65995897 - © ikonoklast_hh
      <br> #40689898 - © Christian Kellner
      <br> #56711094 - © starman963
      <br> #4500428 - © Stefan Richter
      <br> #4902978 - © Alexandr Loskutov
      <br> #222335 - © E. Spek
      <br> #600701 - © Zauberhut
      <br> #4229604 - © Darren Baker
      <br> #1133873 - © Rina
      <br> #42602642 - © ferkelraggae
      <br> #66876119 - © Masson
      <br> School's Out - © andy-Q
      <br> #31226667 - © psdesign1
      <br> #77968580 - © marchcattle
      <br> #49775263 - © lassedesignen
      <br> #23967387 - © Alex Tihonov
      <br> #67678910 - © giorgos245
      <br> Pharmaforscher - vfa.de
      <br> #89829810 - © Minerva Studio
      <br> #65696193 - © everythingpossible
      <br> #46550074 - © Marco2811
      <br> #59372662 - © .shock
      <br> #80238121 - © Viacheslav Iakobchuk
      <br> #55663873 - © industrieblick
      <br> #82007512 - © Robert Kneschke
      <br> #88941632 - © Monkey Business
      <br> #86512273 - © contrastwerkstatt
      <br> #50031575 - © BERLINSTOCK
      <br> #55336726 - © kbuntu
      <br> #44454399 - © Africa Studio
      <br> #34845724 - © liveostockimages
      <br> #43366706 - © Blend Images
      <br> #71778053 - © ra2 studio
      <br> #19044228 - © Stefan Yang
      <br> #30225090 - © smart.art
      <br> #31914806 - © Marco Desscouleurs
      <br> #34845724 - © liveostockimages
      <br> #364435103 - © Stock-Asso
      <br> Daniel Iversen - social media cloud (#3)
      <br> Stock-Fotografie-ID:5514415 - © Diane Diederich
      <br> David Maurer, Beratungsabend 2017
      <br> #109025693 - © Syda Productions
      <br> #133862014© prostoira777 / Fotolia
      <br>
      <br> THM: © Annalena Seibel, Claudia Schriever
    </p>
  </mat-expansion-panel>
</mat-accordion>