form > div > button {
  margin: 20px 0;
}

form > div > mat-chip-list {
  margin: 20px 0;
}

form > h2 {
  margin:20px 0;
  font-size: larger;
}

.submit {
  background-color: var(--primary);
  color: var(--on-primary);
}

.abstain {
  background-color: var(--secondary);
  color: var(--on-secondary);
}
