<footer>

  <div class="flex-container">
    <div>
      <h5>Box1</h5>
      <ul>
        <li>
          <a target="_blank" href="https://www.thm.de/site/impressum.html">Impressum</a>
        </li>
        <li>test</li>
        <li>test</li>
      </ul>
    </div>

    <div>
      <h5>Box2</h5>
      <ul>
        <li>test2</li>
        <li>test2</li>
        <li>test2</li>
      </ul>
    </div>

    <!--
    <div>
      <h5>MatBox</h5>
      <mat-list role="list">
        <mat-list-item role="listitem">Item 1</mat-list-item>
        <mat-list-item role="listitem">Item 2</mat-list-item>
        <mat-list-item role="listitem">Item 3</mat-list-item>
      </mat-list>
    </div>
  -->
  </div>




  <div class="bottomline">
    <span class="example-fill-remaining-space"></span>
    <a>© Copyright SWTP WS17/18</a>
    <span class="example-fill-remaining-space"></span>
  </div>

</footer>
<!-- (click)="goToHomepage()" -->