footer {
    overflow-y: auto;   
}

mat-expansion-panel {
  background-color: rgb(235, 235, 235);
  color: rgb(60, 60, 60);  
  height: auto;
}

mat-toolbar {
  background-color: rgb(240, 240, 240);
  color: rgb(140, 140, 140);  
  height: auto;
}

button {
  min-height: 28px;
  font-size: 12px;
  color: rgb(140, 140, 140);  
}

.container {
  display: flex;
  justify-content: space-around;
}

/* Small screens */
@media all and (max-width: 300px) {
  .container {
    flex-direction: column;
    margin: auto;
  }

  mat-toolbar {
    height: auto;
  }
}
