<footer>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-description>© SWTP WS17/18</mat-panel-description>
    </mat-expansion-panel-header>

    <mat-grid-list cols="3" rows="1" rowHeight="200px">
      <mat-grid-tile>
        <mat-nav-list role="list">
          <h3 mat-subheader>Useful Links</h3>
          <mat-list-item role="listitem">
            <a target="_blank" href="https://www.thm.de/site/impressum.html">Impressum</a>
          </mat-list-item>
          <mat-list-item role="listitem">
            <a target="_blank" href="https://www.thm.de/site/impressum.html">Privacy Terms</a>
          </mat-list-item>
          <mat-list-item role="listitem">
            <a target="_blank" href="https://www.thm.de/site/impressum.html">Halp</a>
          </mat-list-item>
        </mat-nav-list>

      </mat-grid-tile>

      <mat-grid-tile>
        <mat-list role="list">
          <mat-list-item role="listitem">
            <button mat-raised-button color="primary">Login as guest</button>
          </mat-list-item>
        </mat-list>

        <button mat-button color="warn" (click)="prevStep()">Previous</button>
      </mat-grid-tile>

    </mat-grid-list>

  </mat-expansion-panel>
</footer>
<!-- (click)="goToHomepage()" -->