footer {
  background-color: rgb(223, 223, 223);
  text-align: center;
}

ul {
    list-style: none
}

.bottomline {
    background-color: rgb(201, 201, 201);
    color: white;
    font-size: 12px;
    padding: 0.5%
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;;
}

.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

