<h1
  mat-dialog-title
  [class.no-pad]="true"
  *ngIf="confirmationDialogId">
  {{
    translateKey +
      ".confirmation-dialog.entries." +
      confirmationDialogId +
      ".title" | translate
  }}
</h1>
<mat-dialog-content
  [class.no-pad]="true"
  *ngIf="confirmationDialogId">
  <span>
    {{
      translateKey +
        ".confirmation-dialog.entries." +
        confirmationDialogId +
        ".description" | translate
    }}
  </span>
</mat-dialog-content>
<mat-dialog-actions [class.no-pad]="true">
  <ng-container [ngSwitch]="this.data.type">
    <ng-container *ngSwitchCase="ConfirmDialogType.AcceptCancel">
      <div [class.fill]="true"></div>
      <button
        mat-button
        (click)="emitAction(ConfirmDialogAction.Cancel)">
        <span>
          {{ translateKey + ".confirmation-dialog.common.cancel" | translate }}
        </span>
      </button>
      <button
        mat-flat-button
        (click)="emitAction(ConfirmDialogAction.Accept)">
        <span>
          {{ translateKey + ".confirmation-dialog.common.accept" | translate }}
        </span>
      </button>
    </ng-container>
    <ng-container *ngSwitchCase="ConfirmDialogType.YesNoCancel">
      <button
        mat-button
        (click)="emitAction(ConfirmDialogAction.Cancel)">
        <span>
          {{ translateKey + ".confirmation-dialog.common.cancel" | translate }}
        </span>
      </button>
      <div [class.fill]="true"></div>
      <button
        mat-button
        (click)="emitAction(ConfirmDialogAction.No)">
        <span>
          {{ translateKey + ".confirmation-dialog.common.no" | translate }}
        </span>
      </button>
      <button
        mat-flat-button
        (click)="emitAction(ConfirmDialogAction.Yes)">
        <span>
          {{ translateKey + ".confirmation-dialog.common.yes" | translate }}
        </span>
      </button>
    </ng-container>
  </ng-container>
</mat-dialog-actions>
