<h1
  mat-dialog-title
  *ngIf="titleRef">
  {{ "common." + titleRef | translate }}
</h1>
<mat-dialog-content *ngIf="textRef">
  <span>{{ "common." + textRef | translate }}</span>
</mat-dialog-content>
<mat-dialog-actions>
  <div style="flex-grow: 1"></div>
  <button
    mat-flat-button
    class="button-cancel"
    (click)="cancel()">
    <span>
      {{ "common.cancel" | translate }}
    </span>
  </button>
  <button
    mat-flat-button
    class="button-primary-filled"
    (click)="accept()">
    <span>
      {{ "common.confirm-yes" | translate }}
    </span>
  </button>
</mat-dialog-actions>
