<div mat-dialog-content>
  <h2>{{'header.bonus-token' | translate }}</h2>
  <mat-divider></mat-divider>
  <div *ngIf="bonusTokens.length >= 1">
    <div fxLayout="row" *ngFor="let bonusToken of bonusTokens">
      <p>
        {{bonusToken.token}}
      </p>
    </div>
  </div>
  <div *ngIf="bonusTokens.length === 0">
      <p>{{'header.no-bonus' | translate }}</p>
  </div>
  <app-dialog-action-buttons
    buttonsLabelSection="introduction"
    [cancelButtonClickAction]="buildDeclineActionCallback()">
  </app-dialog-action-buttons>
</div>
