<div class="column">
  <div class="row content-space-between items-center">
    <h2>listbox</h2>
    <div class="row gap-medium content-end">
      <mat-chip-listbox
        [multiple]="false"
        [(ngModel)]="listbox.multiple">
        <mat-chip-option [value]="false">single</mat-chip-option>
        <mat-chip-option [value]="true">multiple</mat-chip-option>
      </mat-chip-listbox>
    </div>
  </div>
  <div class="column">
    <table>
      <tr>
        <td>variant</td>
        <td>components</td>
      </tr>
      <tr *ngFor="let variant of allVariants">
        <td>{{ variant }}</td>
        <td>
          <div class="column">
            <mat-chip-listbox
              aria-label="Fish selection"
              [multiple]="listbox.multiple">
              <mat-chip-option class="{{ variant }}">
                Extra Soft
              </mat-chip-option>
              <mat-chip-option class="{{ variant }}">Soft</mat-chip-option>
              <mat-chip-option
                class="{{ variant }}"
                selected>
                Medium
              </mat-chip-option>
              <mat-chip-option class="{{ variant }}">Hard</mat-chip-option>
            </mat-chip-listbox>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>

<!--<app-component-test-sub-section [title]="'Chips with form control'">-->
<!--  <div style="display: flex; flex-direction: column">-->
<!--    <div class="example-button-container">-->
<!--      <button-->
<!--        mat-raised-button-->
<!--        (click)="formControl.disable()">-->
<!--        Disable form control-->
<!--      </button>-->
<!--      <button-->
<!--        mat-raised-button-->
<!--        (click)="formControl.enable()">-->
<!--        Enable form control-->
<!--      </button>-->
<!--    </div>-->
<!--    <p>-->
<!--      <em>Enter video keywords</em>-->
<!--    </p>-->
<!--    <mat-form-field class="example-form-field">-->
<!--      <mat-label>Video keywords</mat-label>-->
<!--      <mat-chip-grid-->
<!--        #chipGrid-->
<!--        aria-label="Enter keywords"-->
<!--        [formControl]="formControl">-->
<!--        @for (keyword of keywords; track keyword) {-->
<!--          <mat-chip-row (removed)="removeKeyword(keyword)">-->
<!--            {{ keyword }}-->
<!--            <button-->
<!--              matChipRemove-->
<!--              aria-label="'remove ' + keyword">-->
<!--              <mat-icon>cancel</mat-icon>-->
<!--            </button>-->
<!--          </mat-chip-row>-->
<!--        }-->
<!--      </mat-chip-grid>-->
<!--      <input-->
<!--        placeholder="New keyword..."-->
<!--        [matChipInputFor]="chipGrid"-->
<!--        (matChipInputTokenEnd)="add($event)" />-->
<!--    </mat-form-field>-->
<!--    <p matCardSubtitle>-->
<!--      <strong>The following keywords are entered:</strong>-->
<!--      {{ formControl.value }}-->
<!--    </p>-->
<!--  </div>-->
<!--</app-component-test-sub-section>-->
<!--<app-component-test-sub-section [grid]="true">-->
<!--  <app-component-test-sub-section [title]="'Basic chips'">-->
<!--    <div style="display: flex; flex-direction: column">-->
<!--      <mat-chip-listbox aria-label="Fish selection">-->
<!--        <mat-chip-option>One fish</mat-chip-option>-->
<!--        <mat-chip-option>Two fish</mat-chip-option>-->
<!--        <mat-chip-option selected>Accent fish</mat-chip-option>-->
<!--        <mat-chip-option>Warn fish</mat-chip-option>-->
<!--      </mat-chip-listbox>-->
<!--    </div>-->
<!--  </app-component-test-sub-section>-->
<!--  <app-component-test-sub-section [title]="'Stacked chips'">-->
<!--    <mat-chip-listbox-->
<!--      class="mat-mdc-chip-set-stacked"-->
<!--      aria-label="Color selection">-->
<!--      @for (chip of availableColors; track chip) {-->
<!--        <mat-chip-option-->
<!--          selected-->
<!--          [color]="chip.color">-->
<!--          {{ chip.name }}-->
<!--        </mat-chip-option>-->
<!--      }-->
<!--    </mat-chip-listbox>-->
<!--  </app-component-test-sub-section>-->
<!--</app-component-test-sub-section>-->

<!--<mat-divider></mat-divider>-->

<!--<div style="height: 64px"></div>-->

<!--<h2>Basic chips</h2>-->

<!--<mat-divider></mat-divider>-->

<!--<div style="height: 64px"></div>-->

<!--<h2>Stacked chips</h2>-->

<!--<mat-divider></mat-divider>-->
