<h2 mat-dialog-title>{{ "delete-notifications.sure" | translate }}</h2>

<mat-dialog-content>
  {{ "delete-notifications.message" | translate }}
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-button
    class="secondary-button"
    [mat-dialog-close]="'abort'">
    {{ "delete-notifications.cancel" | translate }}
  </button>
  <button
    mat-stroked-button
    class="error-button"
    [mat-dialog-close]="'delete'">
    {{ "delete-notifications.delete" | translate }}
  </button>
</mat-dialog-actions>
