<app-livepoll-statistic
  [options]="this.options"
  [template]="this.template"
  [translateKey]="this.translateKey"
  [votes]="this.votes"
  [totalVotes]="this.totalVotes"></app-livepoll-statistic>
<mat-dialog-actions
  *ngIf="data.peerInstruction"
  fxLayoutAlign="end">
  <button
    mat-button
    (click)="abortPeerInstruction()">
    {{ translateKey + ".peer-instruction.result-statistics.end" | translate }}
  </button>
  <button
    mat-button
    (click)="startPeerInstruction2ndPhase()">
    {{
      translateKey + ".peer-instruction.result-statistics.start-next"
        | translate
    }}
  </button>
</mat-dialog-actions>
