.settings-container {
  display: flex;
  flex-direction: column;
  margin-top: 16px;

  > * {
    display: flex;
    align-items: center;

    & + * {
      margin-top: 8px;
    }

    > * + * {
      margin-left: 8px;
    }
  }
}

.example-container {
  margin-top: 32px;
  > * + * {
    margin-top: 16px;
  }
}

.fill {
  flex-grow: 1;
}

.theme-selection {
}

a {
  color: var(--mdc-outlined-button-label-text-color);
}
