<ng-container>
  <div class="content-container">
    <div class="settings-container">
      <div>
        <mat-button-toggle-group
          [(ngModel)]="currentTheme"
          (change)="setTheme()">
          <mat-button-toggle
            [value]="theme"
            *ngFor="let theme of themeList">
            {{ theme }}
          </mat-button-toggle>
        </mat-button-toggle-group>
        <mat-button-toggle-group [(ngModel)]="currentAccordionDisplayMode">
          <mat-button-toggle
            [value]="mode"
            *ngFor="let mode of accordionDisplayModes">
            {{ mode }}
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
    <div class="example-container">
      <mat-accordion
        [multi]="true"
        [displayMode]="currentAccordionDisplayMode">
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <span mat-card-title>Buttons</span>
          </mat-expansion-panel-header>
          <a href="https://material.angular.io/components/button/examples">
            https://material.angular.io/components/button/examples
          </a>
          <app-component-test-button></app-component-test-button>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <span mat-card-title>Card</span>
          </mat-expansion-panel-header>
          <a href="https://material.angular.io/components/card/examples">
            https://material.angular.io/components/card/examples
          </a>
          <app-component-test-card></app-component-test-card>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <span mat-card-title>Chip</span>
          </mat-expansion-panel-header>
          <a href="https://material.angular.io/components/card/examples">
            https://material.angular.io/components/chips/examples
          </a>
          <app-component-test-chip></app-component-test-chip>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</ng-container>
<ng-template
  #colorIndicator
  let-color="color">
  <div
    [class.mat-elevation-z1]="true"
    [class.color-indicator]="true"
    [ngStyle]="{
      backgroundColor: 'var(--' + color + ')'
    }"></div>
</ng-template>
