<m3-body-pane>
  <m3-supporting-pane>
    <p>test</p>
    <ng-container>
      <div class="content-container">
        <div class="settings-container"></div>
        <div class="example-container">
          <h1 matCardTitle>Reference implementation</h1>
          <p matCardSubtitle>
            Material 3 components, based on official
            <a href="https://www.figma.com/community/file/1035203688168086460">
              Figma - Material Theme Builder
            </a>
            and
            <a href="https://m3.material.io/">m3.material.io</a>
            .
            <br />
            This serves as reference for future feature implementations of
            <a href="https://www.frag.jetzt">frag.jetzt</a>
            .
          </p>
          <app-component-test-section [title]="'Chip'">
            <app-component-test-chip></app-component-test-chip>
          </app-component-test-section>
          <app-component-test-section [title]="'Buttons'">
            <app-component-test-button></app-component-test-button>
          </app-component-test-section>
          <h1
            matCardTitle
            style="margin-top: 64px">
            Direct conversions
          </h1>
          <p matCardSubtitle>
            Taken from
            <a href="https://material.angular.io/">material.angular.io</a>
            .
            <br />
            Demonstrates Material 2 component behaviour when Material 3 theme is
            applied.
          </p>
          <app-component-test-section [title]="'Card'">
            <app-component-test-card></app-component-test-card>
          </app-component-test-section>
          <app-component-test-section [title]="'Markdown'">
            <app-component-test-markdown></app-component-test-markdown>
          </app-component-test-section>
        </div>
      </div>
    </ng-container>
  </m3-supporting-pane>
  <m3-supporting-pane>
    <p>test</p>
  </m3-supporting-pane>
</m3-body-pane>
