@if (config) {
  <div class="background-container">
    <div class="background">
      <qw-comment-questioner-background
        [value]="
          config.session.questionerMap[config.comment.id]
        "></qw-comment-questioner-background>
    </div>
  </div>
  <div class="header">
    <ars-date-formatter
      [formatter]="dateFormatter"
      [date]="config.comment.createdAt"></ars-date-formatter>
    <div class="grow"></div>
  </div>
  <div
    class="content"
    #content>
    <div
      class="content-size"
      #contentSize>
      <app-markdown-viewer [data]="config.comment.body"></app-markdown-viewer>
    </div>
  </div>
  @if (contentSize.offsetHeight > content.offsetHeight) {
    <div class="overflow-container">
      <div class="overflow"></div>
    </div>
  }
  <qw-comment-footer [comment]="config.comment"></qw-comment-footer>
}
