<h2 mat-dialog-title>
  {{ i18n().title }}
</h2>
<mat-dialog-content>
  <app-markdown-editor
    app-markdown-editor
    [(data)]="data"
    #markdownEditorComponent></app-markdown-editor>
</mat-dialog-content>
<mat-dialog-actions style="justify-content: flex-end">
  <button
    mat-button
    (click)="this.close()">
    <span>{{ i18n().global.cancel }}</span>
  </button>
  <span style="flex: 1"></span>
  <button
    mat-flat-button
    (click)="this.save()">
    <span>{{ i18n().global.saveAndClose }}</span>
  </button>
</mat-dialog-actions>
