@use "sass:math";
@use "sass:list";

:host {
  padding: 24px;
}

.char-hint {
  display: flex;
  justify-content: right;
  width: 95%;
  margin: 14px 0;
  color: var(--mdc-dialog-supporting-text-color);
}

.hint-error {
  color: var(--md-ref-palette-error40);
}

.mat-form-field {
  display: flex;
  flex: 1;  
  border-radius: 8px;
  padding: 10px;
  transition: box-shadow 0.3s ease;
}

.mat-select {
  width: 100%;
}

.mat-select-arrow {
  right: 0;
  position: absolute;
}

input::placeholder {
  font-style: italic;
}
