<div class="utility-container">
  <mat-form-field>
    <mat-icon matPrefix>{{ getRoleIcon() }}</mat-icon>
    <input
      appAccessibilityEscapedInput
      matInput
      [formControl]="questionerNameFormControl"
      [placeholder]="i18n().questionerName"
      name="questioner-name"
      [maxlength]="questionerNameMax"
      aria-labelledby="questioner-name" />
    <mat-hint
      align="end"
      style="color: var(--mdc-dialog-supporting-text-color)">
      <span aria-hidden="true">
        {{
          i18n().nameChars
            | context
              : {
                  questionerNameMax,
                  count: questionerNameFormControl.value.length,
                }
        }}
      </span>
    </mat-hint>
    <mat-error
      *ngIf="
        questionerNameFormControl.hasError('minlength') ||
        questionerNameFormControl.hasError('maxlength')
      ">
      {{
        i18n().nameLengthError
          | context: { min: questionerNameMin, max: questionerNameMax }
      }}
    </mat-error>
  </mat-form-field>

  <mat-form-field
    *ngIf="enabled && tags && tags.length"
    (click)="tagSelect.open()"
    matTooltip="{{ i18n().tagButtonHint }}">
    <mat-label>
      <mat-icon>sell</mat-icon>
      {{ i18n().tag }}
    </mat-label>

    <mat-select
      id="tagSelect"
      #tagSelect
      [(ngModel)]="selectedTag"
      placeholder="{{ i18n().tag }}">
      <mat-option [value]="null">
        <em>{{ i18n().tagReset }}</em>
      </mat-option>

      <mat-option
        *ngFor="let tag of tags"
        [value]="tag">
        {{ tag }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<mat-dialog-content>
  <app-markdown-editor [(data)]="data"></app-markdown-editor>
  <mat-hint
    class="char-hint"
    [ngClass]="{ 'hint-error': data().length > maxTextCharacters }">
    <span
      aria-hidden="true"
      class="label-medium">
      {{ i18n().chars | context: { maxTextCharacters, count: data().length } }}
    </span>
  </mat-hint>
</mat-dialog-content>

<mat-dialog-actions style="display: flex">
  <button
    *ngIf="!disableCancelButton && onClose"
    mat-button
    (click)="onClose()">
    {{ i18n().cancel }}
  </button>
  <span style="flex: 1"></span>
  <button
    mat-flat-button
    [disabled]="isSubmittingComment"
    (click)="createComment()">
    {{ i18n().send }}
  </button>
</mat-dialog-actions>

<div class="visually-hidden">
  <div id="questioner-name">
    {{ "write-comment.a11y-questioner-name" | translate }}
  </div>
</div>
