<ars-row>
  <ng-container [ngTemplateOutlet]="additionalTemplate"></ng-container>
  <div class="lang-selection" *ngIf="enabled">
    <button class="lang-btn"
            mat-button
            (click)="select.open()"
            matTooltip="{{ 'spacy-dialog.lang-button-hint' | translate }}"
            matTooltipShowDelay="750">
      <mat-icon id="langSymbol">language</mat-icon>
      <span *ngIf="selectedLang !== 'auto'">
        {{'spacy-dialog.' + (languagetoolService.mapLanguageToSpacyModel(selectedLang)) | translate}}
      </span>
      <span *ngIf="selectedLang === 'auto'" #langSelect>
        auto
      </span>
      <mat-select class="select-list" #select [(ngModel)]="selectedLang">
        <mat-option *ngFor="let lang of languages" [value]="lang">
          <span *ngIf="lang == 'de-DE'">{{ 'spacy-dialog.de' | translate }}</span>
          <span *ngIf="lang == 'en-US'">{{ 'spacy-dialog.en' | translate }}</span>
          <span *ngIf="lang == 'fr'">{{ 'spacy-dialog.fr' | translate }}</span>
          <span *ngIf="lang == 'auto'">{{ 'spacy-dialog.auto' | translate }}</span>
        </mat-option>
      </mat-select>
    </button>
  </div>
  <div class="anchor-wrp" *ngIf="enabled">
    <div class="anchor-right">
      <mat-form-field *ngIf="tags"
                      class="tag-form-field">
        <mat-label>
          <mat-icon class="icon-svg"
                    svgIcon="comment_tag"></mat-icon>
          {{'comment-page.tag' | translate}}
        </mat-label>
        <label for="tagSelect">{{selectedTag}}</label>
        <mat-select [(ngModel)]="selectedTag"
                    class="tag-select"
                    id="tagSelect">
          <mat-option>{{'comment-page.tag-reset' | translate}}</mat-option>
          <mat-option *ngFor="let tag of tags"
                      value="{{tag}}">{{tag}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</ars-row>
<ars-row [height]="12"></ars-row>
<ars-row *ngIf="enabled">
  <div #editorErrorLayer style="z-index: -1;"></div>
  <quill-editor #editor [maxLength]="10" placeholder="{{ 'comment-page.enter-comment' | translate }}">
  </quill-editor>
  <div fxLayout="row" style="justify-content: space-between; padding: 0 5px">
    <span aria-hidden="true" style="font-size: 75%">
      {{ 'comment-page.Markdown-hint' | translate }}
    </span>
    <span aria-hidden="true" style="font-size: 75%">
      {{currentHTML.length}} / {{user.role === 3 ? 1000 : 500}}
    </span>
  </div>
</ars-row>
<ars-row ars-flex-box *ngIf="enabled" class="spellcheck">
  <ars-col>
    <button
      [disabled]="currentText.length < 4"
      mat-flat-button
      class="spell-button"
      (click)="grammarCheck(currentText, langSelect && langSelect.nativeElement)">
      {{ 'comment-page.grammar-check' | translate}}
      <mat-icon *ngIf="isSpellchecking" class="spinner-container">
        <app-mat-spinner-overlay diameter="20" strokeWidth="2" [color]="'on-primary'"></app-mat-spinner-overlay>
      </mat-icon>
    </button>
  </ars-col>
  <ars-col>
    <app-dialog-action-buttons
      buttonsLabelSection="comment-page"
      [confirmButtonLabel]="confirmLabel"
      [cancelButtonLabel]="cancelLabel"
      [showLoadingCycle]="isSpinning"
      [showDivider]="false"
      [spacing]="false"
      [cancelButtonClickAction]="buildCloseDialogActionCallback()"
      [confirmButtonClickAction]="buildCreateCommentActionCallback()"
    ></app-dialog-action-buttons>
  </ars-col>
</ars-row>
