.char-hint {
  display: flex;
  justify-content: right;
  width: 95%;
  color: var(--mdc-dialog-supporting-text-color);
}

.hint-error {
  color: var(--mat-form-field-error-text-color);
}

.utility-container {
  display: flex;
  justify-content: space-between;
  padding-inline: 1.5em;
  gap: 1.5em;
  flex-wrap: wrap;

  > mat-form-field {
    flex: 1;
    min-width: max-content;
  }
}
