.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.responsive-iframe {
  border-width: 0px;
  width: 100%;
  height: 100%;
}
