h2 {
  padding-top: 20px;
  font-size: 4em;
}

p {
  hyphens: auto;
  line-height: 1.5;
}

a {
  text-decoration: underline;
  hyphens: manual;
}

a[target="_blank"]:after {
  font-size: 12px;
  content: " ↗";
}
