:host {
  display: flex;
  align-items: center;

  > * {
    margin: 0.5em 1em 0.5em 0;
  }
}

.wrapping-button {
  .mat-icon {
    min-width: 1.125rem;
  }

  ::ng-deep .mdc-button__label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
