.mat-mdc-form-field {
  margin-bottom: 0;
  display: block;
  transition: margin-bottom 0.2s ease-in-out;
}

.mat-mdc-form-field:has(.mat-mdc-form-field-hint),
.mat-form-field-invalid {
  margin-bottom: 2em;
}
