@import '../../../../theme/light-theme/_variables.scss';

#contentGroup {
  background-color: var(--primary);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  top: 0;
  text-align: center;
  transition: all 0.5s;
  margin-top: 10px;
  max-height: 50px;
  padding: 5px;
  color: var(--on-primary);

  &:hover {
    cursor: pointer;
    background-color: var(--secondary-variant);
    color: var(--on-primary);
    transform: translateZ(20px);
    transform: translateY(-5px);
    transform: scaleY(1.1);
    transform: scaleX(1.01);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
}

mat-icon {
  margin-top: 20px;
}

mat-card-title {
  margin-top: 18px;
}
