<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button *ngIf="router.url !== '/home'" (click)="goBack()" mat-icon-button>
      <mat-icon aria-label="Go back">keyboard_arrow_left</mat-icon>
    </button>
    <span class="app-title" (click)="goToHomepage()">ARSnova</span>
    <span class="fill-remaining-space"></span>

    <mat-menu #langMenu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item (click)="useLanguage('de')">{{ 'header.german' | translate }}</button>
      <button mat-menu-item (click)="useLanguage('en')">{{ 'header.english' | translate }}</button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="langMenu">
      <mat-icon>language</mat-icon>
    </button>

    <mat-menu #appMenu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>{{ 'header.logout' | translate }}</span>
      </button>
    </mat-menu>
    <button *ngIf="user" mat-button [matMenuTriggerFor]="appMenu">
      <mat-icon>account_box</mat-icon>
      <span>{{user.loginId}}</span>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
