<ng-container *ngIf="room; else loading">
  <mat-card
    class="spending mat-elevation-z0"
    [appearance]="'outlined'">
    <span>{{ "room-page.quota-for-room" | translate }}</span>
    <div class="layout">
      <div class="information">
        <div class="label">
          <span class="value">
            {{ roomQuota.spent | currency: "USD" : "symbol" : "1.0-0" }}
          </span>
        </div>
        {{ "room-page.quota-label-separator" | translate }}
        <div class="label">
          <span class="value">
            {{ roomQuota.limit | currency: "USD" : "symbol" : "1.0-0" }}
          </span>
        </div>
      </div>
      <div class="bar">
        <div
          class="spent"
          [style.width.%]="roomQuota.spentAsPercentage"></div>
      </div>
    </div>
  </mat-card>
  <mat-card
    class="spending mat-elevation-z0"
    [appearance]="'outlined'"
    *ngIf="room?.mode === 'ARS'">
    <span>{{ "room-page.quota-for-moderators" | translate }}</span>
    <div class="layout">
      <div class="information">
        <div class="label">
          <span class="value">
            {{ moderatorQuota.spent | currency: "USD" : "symbol" : "1.0-0" }}
          </span>
        </div>
        {{ "room-page.quota-label-separator" | translate }}
        <div class="label">
          <span class="value">
            {{ moderatorQuota.limit | currency: "USD" : "symbol" : "1.0-0" }}
          </span>
        </div>
      </div>
      <div class="bar">
        <div
          class="spent"
          [style.width.%]="moderatorQuota.spentAsPercentage"></div>
      </div>
    </div>
  </mat-card>
  <mat-card
    class="spending mat-elevation-z0"
    [appearance]="'outlined'"
    *ngIf="room?.mode === 'ARS'">
    <span>{{ "room-page.quota-for-participants" | translate }}</span>
    <div class="layout">
      <div class="information">
        <div class="label">
          <span class="value">
            {{ participantQuota.spent | currency: "USD" : "symbol" : "1.0-0" }}
          </span>
        </div>
        {{ "room-page.quota-label-separator" | translate }}
        <div class="label">
          <span class="value">
            {{ participantQuota.limit | currency: "USD" : "symbol" : "1.0-0" }}
          </span>
        </div>
      </div>
      <div class="bar">
        <div
          class="spent"
          [style.width.%]="participantQuota.spentAsPercentage"></div>
      </div>
    </div>
  </mat-card>
</ng-container>
<ng-template #loading>
  <span>loading</span>
</ng-template>
