<ol>
  <li>
    <strong>What is a prompt?</strong>
      <p>
        A prompt is a piece of text given as input to an AI model to generate a specific response. In the context of ChatGPT, a prompt is entered by the user and then used by the model to generate a response. The prompt can be a question, sentence, or a few words that help the model understand the context and desired outcome.
      </p>
  </li>
  <li>
    <strong>What are prompt presets?</strong>
    <p>
      Prompt presets are pre-made text inputs that can be presented to a ChatGPT model to generate a specific type of responses. These presets can help to make ChatGPT respond in a certain way and provide specific answers. Prompt presets can, for example, be used to generate questions on a specific topic or to use a certain style or language. The use of prompt presets allows for targeted control and influence over the results of ChatGPT.
    </p>
  </li>
  <li>
    <strong>What do the prompt presets context, topic, and length mean on the Q&A platform frag.jetzt?</strong>
    <ul>
      <li>
        <p><strong>Context:</strong></p>
        This refers to the information that the user should include in the question to help the chatbot better understand the context of the question and thus generate a more accurate answer. An example of context could be: "I tried to book a flight but the website keeps giving me an error message."
      </li>
      <li>
        <p><strong>Topic:</strong></p>
        The topic describes the general subject or category of the question or problem. In relation to the context mentioned above, the topic for this question could be "Travel and flight booking."
      </li>
      <li>
        <p><strong>Length:</strong></p>
        Length indicates whether the response from ChatGPT should be short, detailed or extensive.
        <p>For a <strong>short answer</strong>, ChatGPT will try to answer the question with as few words as possible. The short answer may not fully answer the question.</p>
        <p>For a <strong>detailed answer</strong>, ChatGPT will try to answer the question as detailed as possible.</p>
        <p>For an <strong>extensive answer</strong>, ChatGPT will try to generate an answer using all known information related to the question. This may include displaying irrelevant information.</p>
      </li>
    </ul>
  </li>
</ol>