<ol>
  <li>
    <strong>Was ist ein Prompt?</strong>
      <p>
        Ein Prompt ist ein Text, der einem KI-Modell als Eingabe gegeben wird, um eine spezifische Antwort zu generieren.
        In Bezug auf ChatGPT wird ein Prompt vom Benutzer eingegeben und dann vom Modell verwendet, um eine Antwort zu generieren.
        Das Prompt kann eine Frage, ein Satz oder ein paar Wörter sein, die dem Modell helfen, den Kontext und das gewünschte Ergebnis zu verstehen.
      </p>
  </li>

  <li>
    <strong>Was sind Prompt-Presets?</strong>
    <p>
      Prompt-Presets sind vorgefertigte Texteingaben, die einem ChatGPT-Modell präsentiert werden können, um eine spezifische Art von Antworten zu generieren. 
      Diese Vorgaben können dazu beitragen, dass ChatGPT in einer bestimmten Weise reagiert und spezifische Antworten liefert.
      Prompt-Presets können zum Beispiel genutzt werden, um Fragen zu einem bestimmten Thema zu generieren oder um einen bestimmten Stil oder eine bestimmte Sprache zu verwenden.
      Die Verwendung von Prompt-Presets ermöglicht es, die Ergebnisse von ChatGPT gezielt zu steuern und zu beeinflussen.
    </p>
  </li>

  <li>
    <strong>Was bedeuten die Prompt-Presets Kontext, Thema und Länge auf der Q&A-Plattform frag.jetzt?</strong>
    <ul>
      <li>
        <p><strong>Kontext:</strong></p>
        Hierbei handelt es sich um die Informationen, die der Nutzer in die Frage aufnehmen sollte, um dem Chatbot zu helfen, den Kontext der Frage besser zu verstehen und somit eine genauere Antwort zu generieren. Ein Beispiel für einen Kontext könnte sein: Ich habe versucht, einen Flug zu buchen, aber die Website zeigt mir immer eine Fehlermeldung an.
      </li>
      <li>
        <p><strong>Thema:</strong></p>
        Das Thema beschreibt das allgemeine Thema oder die Kategorie der Frage oder des Problems.
        Im Bezug zum oben gennanten Kontext könnte das Thema für diese Frage "Reisen und Flugbuchung" sein.
      </li>
      <li>
        <p><strong>Länge:</strong></p>
        Die Länge gibt an, ob die Antwort von ChatGPT kurz, detailliert oder umfangreich sein soll.
        <p>Bei einer <strong>kurzen Antwort</strong>, wird ChatGPT versuchen die Frage mit möglichst wenigen Wörtern zu beantowrten. Die kurze Antwort kann möglicherweise die Frage nicht richtig beantworten</p>
        <p>Bei einer <strong>detaillierten Antwort</strong>, wird ChatGPT versuchen, die Frage so detailliert zu beantworten wie möglich</p>
        <p>Bei einer <strong>umfangreichen Antwort</strong> wird ChatGPT versuchen mit allen bekannten Informationen im Bezug zur Frage eine Antwort zu generieren. Es kann hierbei vorkommen, das ChatGPT auch nicht relevante Informationen anzeigt.</p>
      </li>
    </ul>
  </li>
</ol>
