<ol>
  <li>
    <strong>Qu'est-ce qu'un Prompt ?</strong>
      <p>
        Un Prompt est un texte donné en entrée à un modèle d'IA pour générer une réponse spécifique. En ce qui concerne ChatGPT, un Prompt est saisi par l'utilisateur et utilisé par le modèle pour générer une réponse. Le Prompt peut être une question, une phrase ou quelques mots qui aident le modèle à comprendre le contexte et le résultat souhaité.
      </p>
  </li>
  <li>
    <strong>Qu'est-ce que les Prompt-Presets ?</strong>
    <p>
      Les Prompt-Presets sont des entrées de texte prédéfinies qui peuvent être présentées à un modèle ChatGPT pour générer des types de réponses spécifiques. Ces préconfigurations peuvent aider ChatGPT à réagir de manière particulière et à fournir des réponses spécifiques. Les Prompt-Presets peuvent être utilisés, par exemple, pour générer des questions sur un sujet spécifique ou pour utiliser un style ou une langue particulière. L'utilisation de Prompt-Presets permet de contrôler et d'influencer les résultats de ChatGPT de manière ciblée.
    </p>
  </li>
  <li>
    <strong>Que signifient les Prompt-Presets Contexte, Thème et Longueur sur la plateforme Q&R frag.jetzt ?</strong>
    <ul>
      <li>
        <p><strong>Contexte :</strong></p>
        Il s'agit des informations que l'utilisateur devrait inclure dans la question pour aider le chatbot à mieux comprendre le contexte de la question et ainsi générer une réponse plus précise. Un exemple de contexte pourrait être : j'ai essayé de réserver un vol mais le site web me montre toujours un message d'erreur.
      </li>
      <li>
        <p><strong>Thème :</strong></p>
        Le thème décrit le sujet général ou la catégorie de la question ou du problème. En relation avec le contexte mentionné ci-dessus, le thème pour cette question pourrait être "voyages et réservation de vols".
      </li>
      <li>
        <p><strong>Longueur :</strong></p>
        La longueur indique si la réponse de ChatGPT doit être courte, détaillée ou exhaustive.
        <p>Dans une <strong>réponse courte</strong>, ChatGPT essaiera de répondre à la question avec le moins de mots possible. La réponse courte peut ne pas répondre correctement à la question.</p>
        <p>Dans une <strong>réponse détaillée</strong>, ChatGPT essaiera de répondre à la question aussi en détail que possible.</p>
        <p>Dans une <strong>réponse exhaustive</strong>, ChatGPT essaiera de générer une réponse avec toutes les informations connues en rapport avec la question. Il est possible que ChatGPT affiche également des informations non pertinentes.</p>
      </li>
    </ul>
  </li>
</ol>