<div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="20px" fxFill>
  <div fxLayout="row" fxLayoutAlign="center">
    <mat-progress-spinner *ngIf="isLoading" mode="indeterminate"></mat-progress-spinner>
    <mat-card *ngIf="room">
      <mat-card-header fxLayoutAlign="center">
        <mat-card-title fxLayoutAlign="center">
          <h2>{{ room.name }}</h2>
        </mat-card-title>
        <mat-card-subtitle fxLayoutAlign="center">
          <h3>{{ room.shortId.slice(0,4) }} {{  room.shortId.slice(4,8) }}</h3>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content fxLayoutAlign="center">
        <mat-expansion-panel *ngIf="!(room.description == '')" class="mat-elevation-z0">
          <mat-expansion-panel-header>
            <h4>{{ 'room-page.description' | translate }}</h4>
          </mat-expansion-panel-header>
          <p>
            {{ room.description }}
          </p>
        </mat-expansion-panel>
      </mat-card-content>
      <mat-grid-list cols="3" rowHeight="2:1">
        <mat-grid-tile>
          <button mat-icon-button color="primary" matTooltip="{{ 'room-page.create-comment' | translate}}"
                  routerLink="/participant/room/{{ room.shortId }}/comments">
            <mat-icon>question_answer</mat-icon>
          </button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-icon-button color="primary" matTooltip="{{ 'room-page.give-feedback' | translate}}"
                  routerLink="/participant/room/{{ room.shortId }}/feedback-barometer">
            <mat-icon>thumbs_up_down</mat-icon>
          </button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-icon-button color="primary" matTooltip="Lernstand"
                  routerLink="/participant/room/{{ room.shortId }}/statistics">
            <mat-icon>insert_chart</mat-icon>
          </button>
        </mat-grid-tile>
      </mat-grid-list>
      <app-content-groups *ngIf="room && room.contentGroups" [contentGroups]="room.contentGroups"></app-content-groups>
    </mat-card>
  </div>
</div>
