@import '../../../../styles';

mat-card {
  width: 100%;
  max-width: 800px;
  background-color: #fff8e1 !important;
}

mat-card-content>:first-child {
  margin-top: 5%;
}

.mat-icon-button {
  width: 75%;
  height: 75%;
  margin-bottom: 20px;
}

mat-icon {
  font-size: 50px;
  height: 50px;
  width: 50px;
  line-height: 100%!important;
}

button {
  width: 30%;
  &:hover {
    transform: scale(1.25)
  }
}

p {
  font-size: medium;
}

h3 {
  font-size: larger;
}

h4 {
  font-size: medium;
  color: mat-color($arsnova-primary, 300);
}

h2 {
  font-size: large;
}

mat-card-header {
  min-height: 80px!important;
  height: 12%!important;
}

mat-card-title {
  height: 40%;
}

mat-card-subtitle {
  height: 20%;
}

mat-expansion-panel {
  background-color: #fff8e1!important;
  min-width: 200px;
}

mat-grid-list {
  margin-bottom: 20px !important;
}

mat-grid-tile {
  height: 20px;
}

mat-tooltip-component {
  position: relative;
}
