@import '../../../../styles';

mat-card {
  width: 100%;
  max-width: 800px;
  background-color: var(--surface)!important;
}

mat-card-content>:first-child {
  margin-top: 5%;
}

.mat-icon-button {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  color: var(--primary)!important;
}

mat-icon {
  font-size: 70px;
  height: 70px;
  width: 70px;
  line-height: 100%!important;
}

button {
  width: 30%;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.25)
  }
}

h2 {
  font-size: large;
  color: var(--on-surface);
}

h3 {
  font-size: larger;
  color: var(--on-surface);
  margin-top: 15px;
  margin-bottom: 10px;
}

h4 {
  font-size: medium;
  color: var(--on-surface);
}

mat-card-header {
  min-height: 80px!important;
  height: 12%!important;
}

mat-card-title {
  height: 40%;
}

mat-card-subtitle {
  height: 20%;
}

mat-expansion-panel {
  background-color: var(--surface)!important;
  min-width: 200px;
  hyphens: auto;
}

mat-grid-list {
  margin-bottom: 20px !important;
}

mat-grid-tile {
  height: 20px;
}

mat-tooltip-component {
  position: relative;
}
