textarea {
  line-height: 120%;
}

.mat-column-checked {
  display: flex;
  justify-content: flex-end;
  max-width: 30px;
}

mat-row {
  background-color: var(--dialog-bg);
  border-color: var(--dialog-bg);
}

h4 {
  margin: 0px !important;
  padding-bottom: 10px;
  color: var(--heading-4);
}

mat-cell {
  padding-left: 0px!important;
  padding-right: 10px!important;
}
