textarea {
  line-height: 120%;
}

.mat-column-checked {
  display: flex;
  justify-content: flex-end;
  max-width: 30px;
}

mat-row {
  background-color: #bbdefb;
  border-color: #bbdefb;
}

h4 {
  margin: 0px !important;
  padding-bottom: 10px;
  color: #4db6ac;
}

mat-cell {
  padding-left: 0px!important;
  padding-right: 10px!important;
}
