textarea {
  line-height: 120%;
}

.mat-column-checked {
  display: flex;
  justify-content: flex-end;
  max-width: 30px;
}

mat-row {
  background-color: var(--dialog);
  border-color: var(--dialog);
}

h4 {
  margin: 0 !important;
  padding-bottom: 10px;
  color: var(--primary);
}

mat-cell {
  padding-left: 0!important;
  padding-right: 10px!important;
}

.mat-raised-button {
  background-color: var(--primary);
  color: var(--on-primary);
}
