<div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px">
  <mat-form-field class="input-block">
    <input matInput [(ngModel)]="content.subject" maxlength="20" placeholder="Thema" name="subject"/>
  </mat-form-field>
  <mat-form-field class="input-block">
    <textarea matInput [(ngModel)]="content.body" rows="3" maxlength="100" placeholder="Inhalt" name="body"></textarea>
  </mat-form-field>
  <mat-table [dataSource]="displayAnswers">
    <ng-container matColumnDef="label">
      <mat-cell *matCellDef="let answer">
        <h4>{{answer.answerOption.label}}</h4>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="checked">
      <mat-cell *matCellDef="let answer">
        <mat-checkbox color="primary" [(ngModel)]="answer.correct"
                      [checked]="answer.correct"></mat-checkbox>
      </mat-cell>
    </ng-container>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px">
    <button (click)="dialogRef.close('abort')" mat-button color="primary">
      {{ 'room-page.abort' | translate }}
    </button>
    <button (click)="dialogRef.close('update')" mat-raised-button color="primary">
      {{ 'room-page.update' | translate }}
    </button>
  </div>
</div>
