mat-form-field.input-block {
  display: block;
}

.mat-form-field-infix {
  border-top-style: none;
}

.mat-fab .mat-button-wrapper {
  padding: 0!important;
}

mat-dialog-container {
  background-color: #bbdefb !important;
}
