@import '~@angular/material/theming';

html, body {
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

@import '_util.scss';
@import '_form.scss';

.alternate-theme {
  $alternate-primary: mat-palette($mat-light-green, 300);
  $alternate-accent: mat-palette($mat-amber, 300);
  $alternate-warn:  mat-palette($mat-deep-orange, 300);

  $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent, $alternate-warn);

  @include angular-material-theme($alternate-theme);
}
