.odd {
  background-color: var(--mat-sys-surface-variant);
}

.full-width {
  width: 100%;
}

.spinner {
  width: 1em !important;
  height: 1em !important;
  margin-left: 0.75em;
  display: inline-block;
}
