.moderator-item {
  display: flex;
}

.moderator-info {
  display: flex;
  margin-right: 24px;
}

.moderator-icon {
  font-size: 26px;
  margin-right: 8px;
}

.moderator-text {
  font-size: 16px;
}

.moderator-loginId {
  margin-left: 30px;
  margin-top: 4px;
  font-size: 12px;
}
