p {
  hyphens: auto;
  line-height: 1.5;
}

img {
  margin: 5px 0;
  padding: 10px;
  background-color: beige;
  border: 1px solid gray;
  border-radius: 5px;
}

h2 {
  font-size: 18px;
  padding-top: 25px;
}

a {
  text-decoration: underline;
  hyphens: manual;
}
