p {
  hyphens: auto;
}

div {
  color: var(--on-surface);
}

img {
  padding: 10px;
  background-color: white;
  border: 3px solid var(--dialog);
}

h2 {
  font-size: 19px !important;
  line-height: 1.1em !important;
  margin-bottom: 8px !important;
  text-transform: none !important;
}
