mat-card {
  width: 800px;
  background-color: #fff8e1;
}

mat-card-content > :first-child {
  margin-top: 5%;
  margin-bottom: 5%;
}

mat-expansion-panel {
  background-color: #cfd8dc;
}

mat-panel-title {
  flex-basis: 0;
  align-items: center;
}

h2 {
  font-size: larger;
}

.actionButton {
  margin: 20px;
}

.deleteButton {
  margin-right: 15px;
}

