<div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center">
  <mat-card>
    <mat-card-header>
      <h2 fxLayoutAlign="center">{{ 'content.contents' | translate}}</h2>
    </mat-card-header>
    <mat-divider></mat-divider>
    <div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="20px" fxFill>
      <div fxLayout="row" fxLayoutAlign="center">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
    </div>
    <button class="actionButton" mat-fab color="primary" matTooltip="Fragen präsentieren"
              routerLink="/creator/room/{{ roomId }}/contents">
      <mat-icon>school</mat-icon>
    </button>
    <button class="actionButton" mat-fab color="primary" matTooltip="Neue Frage erstellen"
              routerLink="/creator/room/{{ roomId }}/create-content">
      <mat-icon>note_add</mat-icon>
    </button>
    <mat-divider></mat-divider>
    <mat-card-content>
      <mat-expansion-panel *ngFor="let content of contents">
        <mat-expansion-panel-header>
          <button mat-icon-button color="accent" (click)="$event.stopPropagation();">
            <mat-icon>create</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteContentDialog(content);$event.stopPropagation();"  class="deleteButton">
            <mat-icon>delete_forever</mat-icon>
          </button>
          <mat-panel-title>
            {{ content.subject }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          {{ content.body }}
        </p>
      </mat-expansion-panel>
    </mat-card-content>
  </mat-card>
</div>
