mat-card {
  width: 800px;
  background-color: #fff8e1;
}

mat-card-content > :first-child {
  margin-top: 15px;
}

mat-expansion-panel {
  background-color: #cfd8dc;
  margin-bottom: 5px;
}

mat-panel-title {
  flex-basis: 0;
  align-items: center;
}

mat-expansion-panel-header {
  background-color: #cfd8dc !important;
}

h2 {
  font-size: larger;
}

.actionButton {
  margin: 20px;
  width: 30%;

  &:hover {
    transform: scale(1.25)
  }
}

.deleteButton {
  margin-right: 15px;
}

mat-tooltip-component {
  position: relative;
}

.actionIcon {
  height: 90% !important;
  width: 90% !important;
  font-size: 48px !important;
  text-align: center;
}
