mat-card {
  width: 800px;
  background-color: #fff8e1;  //mat-color($arsnova-warn, 100);
}

mat-card-content > :first-child {
  margin-top: 5%;
  margin-bottom: 5%;
}

button {
  margin: 20px;
}

.matPanel {
  background-color: #cfd8dc;
}

.matPanelHeader {
  background-color: #bbdefb;
}

mat-panel-title {
  flex-basis: 0;
  align-items: center;
}
