<div fxLayout="row" fxLayoutAlign="center">
    <mat-card>
      <h2>{{ 'content.contents' | translate}}</h2>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <button mat-fab color="accent" matTooltip="Fragen präsentieren"
                routerLink="/creator/room/{{ roomId }}/contents">
          <mat-icon>school</mat-icon>
        </button>
        <button mat-fab color="accent" matTooltip="Neue Frage erstellen"
                routerLink="/creator/room/{{ roomId }}/create-content">
          <mat-icon>note_add</mat-icon>
        </button>
      </mat-card-actions>
      <h4>{{ 'content.click-here' | translate}}<mat-icon>create</mat-icon></h4>
      <mat-divider></mat-divider>
      <mat-list>
        <mat-list-item *ngFor="let content of contents" (click)="deleteContent(content.subject)">
          <h3 mat-line>{{content.subject}}</h3>
          <p mat-line>
            <span>{{content.body}}</span>
          </p>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </mat-card>
  </div>
