<button
  *ngIf="!isAccepted"
  (click)="playVideo()"
  class="video-preview-button"
  aria-label="Play video preview">
  <img
    [src]="imageSrc()"
    [alt]="'Video preview: ' + videoTitle()" />
</button>

<section
  *ngIf="isAccepted"
  #videoRegion
  [attr.aria-labelledby]="'video-title-' + componentId"
  tabindex="-1">
  <h2
    id="video-title-{{ componentId }}"
    class="visually-hidden">
    {{ videoTitle() }}
  </h2>
  <iframe
    #scaledIframe
    [src]="iframeSrc()"
    [title]="videoTitle()"
    allowfullscreen
    style="border: none"
    data-verified="true"
    (load)="onResize()"
    (window:resize)="onResize()"></iframe>
</section>
