<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dancing+Script&family=Indie+Flower&family=Permanent+Marker&display=swap" rel="stylesheet">
<ars-screen ars-flex-box>
  <mat-drawer-container class="spacyTagCloudContainer">
    <mat-drawer [(opened)]="configurationOpen" position="end" mode="over">
      <app-cloud-configuration [parent]="this"></app-cloud-configuration>
    </mat-drawer>
    <mat-drawer-content>
      <ars-fill ars-flex-box>
        <app-tag-cloud-pop-up></app-tag-cloud-pop-up>
        <div [ngClass]="{'hidden': !isLoading}" fxLayout="row" fxLayoutAlign="center center" fxFill>
          <mat-progress-spinner *ngIf="isLoading" mode="indeterminate"></mat-progress-spinner>
        </div>
        <angular-tag-cloud
          id="tagCloudComponent"
          class="spacyTagCloud"
          (window:resize)="onResize($event)"
          (clicked)="openTags($event)"
          [data]="data"
          [width]="options.width"
          [height]="options.height"
          [overflow]="options.overflow"
          [delay]="currentCloudParameters.delayWord"
          [randomizeAngle]="false"
          [zoomOnHover]="zoomOnHoverOptions"
          [realignOnResize]="false">
        </angular-tag-cloud>
      </ars-fill>
    </mat-drawer-content>
  </mat-drawer-container>
</ars-screen>
<button *ngIf="room && !room.closed"
        mat-fab
        mat-icon-button
        aria-labelledby="add"
        class="fab_add_comment"
        (click)="createCommentWrapper.openCreateDialog(this.user)"
        matTooltip="{{ 'comment-list.add-comment' | translate }}">
  <mat-icon>add</mat-icon>
</button>
