.config {
  background-color: var(--surface);
  position: relative;
  transition: right 1s ease;

  button {
    background-color: var(--surface);

    &:hover {
      background-color: var(--alt-surface);
    }
  }

  span {
    margin-left: 16px;
    display: inline-block;
    color: var(--on-surface);
  }

  mat-icon {
    margin: 0;
    color: var(--on-surface);
  }
}

::ng-deep .spacyTagCloud > span {
  &.w10 {
    color: var(--light-green, brown) !important;
    font-size: 380% !important;
  }

  &.w9 {
    color: var(--magenta, white) !important;
    font-size: 330% !important;
  }

  &.w8 {
    color: var(--purple, tomato) !important;
    font-size: 280% !important;
  }

  &.w7 {
    color: var(--on-background, lightgreen) !important;
    font-size: 240% !important;
  }

  &.w6 {
    color: var(--yellow, gray) !important;
    font-size: 210% !important;
  }

  &.w5 {
    color: var(--primary, pink) !important;
    font-size: 180% !important;
  }

  &.w4 {
    color: var(--red, orange) !important;
    font-size: 160% !important;
  }

  &.w3 {
    color: var(--grey, yellow) !important;
    font-size: 140% !important;
  }

  &.w2 {
    color: var(--blue, green) !important;
    font-size: 120% !important;
  }

  &.w1 {
    color: var(--moderator, lightblue) !important;
    font-size: 100% !important;
  }

  &:hover {
    color: var(--secondary, greenyellow) !important;
  }
}
