<h2 mat-dialog-title>{{ i18n().title }}</h2>

<mat-dialog-content>
  <mat-form-field class="full-width">
    <mat-label>{{ i18n().topic }}</mat-label>
    <input
      type="text"
      matInput
      [formControl]="contentTopic"
      [matAutocomplete]="auto" />
    <mat-autocomplete #auto="matAutocomplete">
      @for (option of filteredOptions(); track option) {
        <mat-option [value]="option">{{ option }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-button
    mat-dialog-close>
    {{ i18n().goBack }}
  </button>
  <span style="flex: 1"></span>
  <button
    mat-flat-button
    (click)="submit()">
    {{ i18n().send }}
  </button>
</mat-dialog-actions>
