<h2 mat-dialog-title>{{ i18n().title }}</h2>

<mat-dialog-content>
  @if (isCategoryAvailable()) {
    <h3>{{ i18n().category }}</h3>
    <mat-form-field class="full-width">
      <mat-select [formControl]="selectedCategory">
        <mat-option [value]="null">
          <i>{{ i18n().noCategory }}</i>
        </mat-option>
        @for (category of availableCategories(); track category) {
          <mat-option [value]="category">{{ category }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  }
  @if (isKeywordAvailable()) {
    <h3>{{ i18n().keywords }}</h3>
    <mat-form-field class="full-width">
      <mat-label>{{ i18n().newKeyword }}</mat-label>
      <input
        matInput
        (keydown)="onKeydown($event)"
        [formControl]="addKeyword" />
      <button
        mat-icon-button
        matSuffix
        [disabled]="!addKeyword.value || addKeyword.invalid"
        [matTooltip]="i18n().addKeyword"
        (click)="appendKeyword()">
        <mat-icon>add_circle</mat-icon>
      </button>
      @if (addKeyword.hasError("minlength")) {
        <mat-error>{{ i18n().noValidKeyword }}</mat-error>
      }
    </mat-form-field>
    <mat-list>
      @for (
        keyword of keywords();
        track keyword;
        let i = $index, isOdd = $odd
      ) {
        <mat-list-item [class.odd]="isOdd">
          <span matListItemTitle>{{ keyword }}</span>
          <button
            mat-icon-button
            matListItemMeta
            [matTooltip]="i18n().deleteKeyword"
            (click)="removeAt(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
      } @empty {
        <p style="text-align: center">{{ i18n().noKeywords }}</p>
      }
    </mat-list>
  }
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-button
    mat-dialog-close>
    {{ i18n().goBack }}
  </button>
  <span style="flex: 1"></span>
  <button
    mat-flat-button
    (click)="submit()">
    {{ i18n().send }}
  </button>
</mat-dialog-actions>
