<span matDialogTitle>{{ i18n().title }}</span>
<mat-dialog-content *ngIf="editRoom">
  <mat-form-field class="input-block">
    <input
      class="full-width"
      appAccessibilityEscapedInput
      matInput
      [formControl]="roomNameFormControl"
      [placeholder]="i18n().placeholder"
      name="room-name"
      [maxlength]="roomNameLengthMax"
      aria-labelledby="room-name" />
    <mat-hint align="end">
      <span aria-hidden="true">
        {{ roomNameFormControl.value.length }} / {{ roomNameLengthMax }}
      </span>
    </mat-hint>
    <mat-error
      *ngIf="
        roomNameFormControl.hasError('required') ||
        roomNameFormControl.hasError('minlength') ||
        roomNameFormControl.hasError('maxlength')
      ">
      {{ i18n().nameLengthError }}
    </mat-error>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions [align]="'end'">
  <button
    mat-button
    (click)="dialogRef.close()">
    {{ i18n().global.cancel }}
  </button>
  <span style="flex: 1"></span>
  <button
    mat-flat-button
    cdk-focus-initial
    (click)="save()">
    {{ i18n().global.confirm }}
  </button>
</mat-dialog-actions>

<div class="visually-hidden">
  <div id="room-name">{{ i18n().a11yRoomName }}</div>
</div>
