<span matDialogTitle>{{ "session.edit-session-name" | translate }}</span>
<mat-dialog-content *ngIf="editRoom">
  <mat-form-field class="input-block">
    <input
      appAccessibilityEscapedInput
      matInput
      [formControl]="roomNameFormControl"
      [placeholder]="'session.session-name' | translate"
      name="room-name"
      [maxlength]="roomNameLengthMax"
      aria-labelledby="room-name" />
    <mat-hint align="end">
      <span aria-hidden="true">
        {{ roomNameFormControl.value.length }} / {{ roomNameLengthMax }}
      </span>
    </mat-hint>
    <mat-error
      *ngIf="
        roomNameFormControl.hasError('required') ||
        roomNameFormControl.hasError('minlength') ||
        roomNameFormControl.hasError('maxlength')
      ">
      {{
        "room-page.name-length-error"
          | translate: { min: roomNameLengthMin, max: roomNameLengthMax }
      }}
    </mat-error>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions [align]="'end'">
  <button
    mat-button
    (click)="dialogRef.close()">
    cancel
  </button>
  <button
    mat-button
    (click)="save()">
    save
  </button>
</mat-dialog-actions>

<div class="visually-hidden">
  <div id="room-name">{{ "room-page.a11y-room-name" | translate }}</div>
</div>
