@use "sass:math";

$popup-arrow-size: 20px;
$popup-arrow-border-size: 2px;
$popup-arrow-half-size: math.div($popup-arrow-size, 2);
$popup-arrow-offset: $popup-arrow-half-size + $popup-arrow-border-size;
$header-size: 67px;
$marginParent: 15px;
$translateY: - math.div($marginParent, 2);

.popupContainer {
  visibility: hidden;
  border-radius: 25px;
  border: 2px solid #000;
  background-color: var(--mat-sys-surface);
  padding: $popup-arrow-half-size;
  position: absolute;
  box-shadow: 0 0 10px var(--mat-sys-surface);
  box-sizing: border-box;
  z-index: 3;
  color: var(--on-surface);
  transform: translateY(-$translateY);
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

  & > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
  }

  &:focus {
    outline: none;
  }

  &::after {
    position: absolute;
    content: "";
    width: $popup-arrow-size;
    height: $popup-arrow-size;
    background-color: var(--mat-sys-surface);
    border-top: 0 solid #000;
    border-right: $popup-arrow-border-size solid #000;
    border-left: 0 solid #000;
    border-bottom: $popup-arrow-border-size solid #000;
  }

  &.down {
    visibility: unset;
    transform: translate(
      -50%,
      calc(-100% - #{$translateY + $popup-arrow-offset})
    );

    &::after {
      top: 100%;
      left: 50%;
      margin-top: -$popup-arrow-half-size;
      margin-left: -$popup-arrow-half-size;
      transform: rotate(45deg);
    }
  }

  &.left {
    visibility: unset;
    transform: translate($popup-arrow-offset, calc(-50% - #{$translateY}));

    &::after {
      top: 50%;
      right: 100%;
      margin-top: -$popup-arrow-half-size;
      margin-right: -$popup-arrow-half-size;
      transform: rotate(135deg);
    }
  }

  &.up {
    visibility: unset;
    transform: translate(-50%, $popup-arrow-offset - $translateY);

    &::after {
      bottom: 100%;
      left: 50%;
      margin-bottom: -$popup-arrow-half-size;
      margin-left: -$popup-arrow-half-size;
      transform: rotate(225deg);
    }
  }

  &.right {
    visibility: unset;
    transform: translate(
      calc(-100% - #{$popup-arrow-offset}),
      calc(-50% - #{$translateY})
    );

    &::after {
      top: 50%;
      left: 100%;
      margin-top: -$popup-arrow-half-size;
      margin-left: -$popup-arrow-half-size;
      transform: rotate(315deg);
    }
  }
}

.vote-button {
  min-width: 30px !important;
  min-height: 10px !important;
  width: calc(50% - 1em);
  z-index: 3;
  margin: 0.5em;
}

.info-container {
  display: flex;
  align-items: center;
}

.replace-button,
.open-button {
  z-index: 3;
  margin-inline: auto;
  display: block;
}

.inner-text {
  margin-inline: 0.5em;
  margin-block: 0;
  display: inline-block;
  font-size: 16px;
  vertical-align: super;
}

:host ::ng-deep .mat-badge-content {
  --mat-badge-small-size-container-size: 0.9rem;
  box-shadow:
    0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
