<form (ngSubmit)="register(userName.value, userPassword1.value)" fxLayout="column"
      fxLayoutAlign="space-around" fxLayoutGap="10px">
  <mat-form-field class="input-block">
    <input (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()"
           matInput type="email" #userName placeholder="{{ 'register.email' | translate }}" [formControl]="usernameFormControl"
           [errorStateMatcher]="matcher">
    <mat-error *ngIf="usernameFormControl.hasError('email') && !usernameFormControl.hasError('required')">
      {{ 'register.email-invalid' | translate }}
    </mat-error>
    <mat-error *ngIf="usernameFormControl.hasError('required')">
      {{ 'register.email-required' |translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="input-block">
    <input (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()"
           matInput type="email" #userName2 placeholder="{{ 'register.email-verify' | translate }}" [formControl]="username2FormControl"
           [errorStateMatcher]="matcher">
    <mat-error *ngIf="username2FormControl.hasError('emailIsEqual') && !username2FormControl.hasError('required')">
      {{ 'register.email-unmatch' | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="input-block">
    <input (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()"
           matInput type="password" #userPassword1 placeholder="{{ 'register.password' | translate }}"
           [formControl]="password1FormControl" [errorStateMatcher]="matcher">
    <mat-error *ngIf="password1FormControl.hasError('required')">
      {{ 'register.password-required' | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="input-block">
    <input (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()"
           matInput type="password" #userPassword2 placeholder="{{ 'register.password-verify' | translate}}"
           [formControl]="password2FormControl" [errorStateMatcher]="matcher">
    <mat-error *ngIf="password2FormControl.hasError('required')">
      {{ 'register.password-required' | translate }}
    </mat-error>
    <mat-error *ngIf="password2FormControl.hasError('passwordIsEqual') && !password2FormControl.hasError('required')">
      {{ 'register.password-unmatch' | translate }}
    </mat-error>
  </mat-form-field>
  <app-dialog-action-buttons
    buttonsLabelSection="register"
    confirmButtonLabel="register"
    [cancelButtonClickAction]="buildCloseDialogActionCallback()"
    [confirmButtonClickAction]="buildRegisterActionCallback(userName, userPassword1)"
  ></app-dialog-action-buttons>
</form>

