mat-form-field {
  margin-bottom: 20px !important;
}

button.mat-icon-button {
  font-size: 1.5em !important;
  width: 1em;
  height: 1em;
}

.visibility-icon {
  cursor: pointer;
}

.secondary-btn {
  margin-bottom: 20px;
  width: 100%;
}
