mat-form-field {
  color: var(--on-surface);
  margin-bottom: 20px !important;
}

.mat-flat-button {
  color: var(--on-primary);
  background-color: var(--primary);
}

input {
  caret-color: var(--on-surface);
}

.visibility-icon {
  visibility: hidden;
}

.input-block:hover {
  .visibility-icon {
    visibility: visible;
    cursor: pointer;
  }
}

.custom-progress-bar ::ng-deep .mat-progress-bar-element::after {
  background-color: var(--line-color, #f00) !important;
}
