mat-form-field {
  color: var(--on-surface);
}

.mat-flat-button {
  color: var(--on-primary);
  background-color: var(--primary);
}

input {
  caret-color: var(--on-surface);
}

mat-form-field {
  margin-bottom: 20px !important;
}
