table {
  width: 100%;
}

.mat-column-content {
  min-width: 120px;
  padding-left: 4%;
}

.mat-column-percentage {
  display: flex;
  justify-content: center;
  padding-right: 4%;
}

.mat-column-counts {
  display: flex;
  justify-content: center;
}

.mat-column-abstentions {
  display: flex;
  justify-content: center;
}

mat-header-cell {
  color: black!important;
  background-color: var(--grey);
}

mat-cell {
  color: black!important;
  background-color: var(--grey);
}

mat-toolbar {
  height: 20px;
  background-color: var(--surface)!important;
}

.positive {
  background-color: var(--green);
}

.negative {
  background-color: var(--red);
}

.okay {
  background-color: var(--yellow);
}

.empty {
  background: var(--grey);
  pointer-events: none;
}

.invisible {
  color: var(--grey)!important;
}

#okayP {
  color: var(--yellow);
}

mat-progress-spinner {
  margin-top: 30px;
}
