table{
  width: 100%;
}

.mat-column-percentage {
  display: flex;
  justify-content: flex-end;
}

mat-header-cell {
  color: #3f51b5;
  background-color: #e0e0e0;
}

mat-cell {
  background-color: #E0E0E0;
}

mat-toolbar {
  height: 15px;
  color: white;
}

.positiveC {
  background-color: #AED581;
}

.negativeC {
  background-color: #FF8A65;
}

.okayC {
  background-color: #FFD54F;
}

.positiveP {
  background-color: #AED581 !important;
}

.negativeP {
  background-color: #FF8A65 !important;
}

.okayP {
  background-color: #FFB74D !important;
}

.emptyC {
  color: #E0E0E0;
  background: #E0E0E0;
}

.emptyCC {
  background: #E0E0E0;
}

