<mat-toolbar></mat-toolbar>
<mat-progress-bar class="alternate-theme" mode="determinate" value="{{total}}"
                  *ngIf="total > 85" color="primary"></mat-progress-bar>
<mat-progress-bar class="alternate-theme" mode="determinate" value="{{total}}"
                  *ngIf="total < 85 && total > 49" color="accent"></mat-progress-bar>
<mat-progress-bar class="alternate-theme" mode="determinate" value="{{total}}"
                  *ngIf="total < 49" color="warn"></mat-progress-bar>
<mat-toolbar></mat-toolbar>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="content">
    <mat-header-cell *matHeaderCellDef> Content </mat-header-cell>
    <mat-cell *matCellDef="let cp" [ngClass]="{'positiveC' : cp.percent > 85,
      'okayC' : cp.percent > 49 && cp.percent < 85, 'negativeC' : cp.percent < 50,
      'emptyCC' : cp.percent < 0 }">{{cp.content.subject}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="percentage">
    <mat-header-cell *matHeaderCellDef> Percentage </mat-header-cell>
    <mat-cell *matCellDef="let cp" [ngClass]="{'positiveC' : cp.percent > 85,
      'okayC' : cp.percent > 49 && cp.percent < 85, 'negativeC' : cp.percent < 50,
      'emptyC' : cp.percent < 0 }">{{cp.percent.toFixed() + ' %'}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</table>
