<mat-toolbar></mat-toolbar>
<mat-progress-bar class="progress-theme" mode="determinate" value="{{total}}"
                  *ngIf="total >= status.good" color="primary"></mat-progress-bar>
<mat-progress-bar class="progress-theme" mode="determinate" value="{{total}}"
                  *ngIf="total < status.good && total >= status.okay" color="accent"></mat-progress-bar>
<mat-progress-bar class="progress-theme" mode="determinate" value="{{total}}"
                  *ngIf="total < status.okay && total != status.empty" color="warn"></mat-progress-bar>
<mat-toolbar></mat-toolbar>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="content">
    <mat-header-cell *matHeaderCellDef> {{'statistic.content' | translate}} </mat-header-cell>
    <mat-cell *matCellDef="let cp" [ngClass]="{
      'empty' : cp.percent < status.zero,
      'positive' : cp.percent >= status.good,
      'okay' : cp.percent >= status.okay && cp.percent < status.good,
      'negative' : cp.percent < status.okay}" (click)="goToStats(cp.contentId)">{{cp.content.subject}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="percentage">
    <mat-header-cell *matHeaderCellDef> {{'statistic.percentage' | translate }} </mat-header-cell>
    <mat-cell *matCellDef="let cp" [ngClass]="{
      'empty invisible' : cp.percent < status.zero ,
      'positive' : cp.percent >= status.good,
      'okay' : cp.percent >= status.okay && cp.percent < status.good,
      'negative' : cp.percent < status.okay}"
              (click)="goToStats(cp.contentId)">{{cp.percent.toFixed() + ' %'}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="abstentions">
    <mat-header-cell *matHeaderCellDef> {{'statistic.abstentions' | translate}} </mat-header-cell>
    <mat-cell *matCellDef="let cp" [ngClass]="{
      'empty invisible' : cp.percent < status.zero,
      'positive' : cp.percent >= status.good,
      'okay' : cp.percent >= status.okay && cp.percent < status.good,
      'negative' : cp.percent < status.okay}" (click)="goToStats(cp.contentId)">{{cp.abstentions}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="counts">
    <mat-header-cell *matHeaderCellDef> {{'statistic.answers' | translate}} </mat-header-cell>
    <mat-cell *matCellDef="let cp" [ngClass]="{
    'empty invisible' : cp.percent < status.zero,
      'positive' : cp.percent >= status.good,
      'okay' : cp.percent >= status.okay && cp.percent < status.good,
      'negative' : cp.percent < status.okay}" (click)="goToStats(cp.contentId)">{{cp.counts}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</table>

<div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="20px" fxFill>
  <div fxLayout="row" fxLayoutAlign="center">
    <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
  </div>
</div>
