table {
  width: 100%;
}

.mat-column-content {
  min-width: 120px;
  padding-left: 4%;
}

.mat-column-percentage {
  display: flex;
  justify-content: center;
  padding-right: 4%;
}

.mat-column-counts {
  display: flex;
  justify-content: center;
}

.mat-column-abstentions {
  display: flex;
  justify-content: flex-end;
}

mat-header-cell {
  color: black!important;
  background-color: var(--grey);
}

mat-cell {
  color: black!important;
  background-color: var(--grey-light);
}

mat-toolbar {
  height: 20px;
  background-color: var(--secondary-variant)!important;
}

.positiveC {
  background-color: var(--green);
}

.negativeC {
  background-color: var(--red);
}

.okayC {
  background-color: var(--red);
}

.positiveP {
  background-color: var(--green)!important;
}

.negativeP {
  background-color: var(--red)!important;
}

.okayP {
  background-color: var(--yellow)!important;
}

.emptyC {
  color: var(--grey)!important;
  background: var(--grey);
  pointer-events: none;
}

.emptyCC {
  background: var(--grey) ;
  pointer-events: none;
}
