<div class="row items-center gap-medium flex-100">
  <mat-slide-toggle [(ngModel)]="session.autofocus">
    {{ i18n().action.autofocus }}
  </mat-slide-toggle>
  <mat-slide-toggle [(ngModel)]="session.qrcode">
    {{ i18n().action.qrCode }}
  </mat-slide-toggle>
  <qw-scale-slider></qw-scale-slider>
</div>
<div class="row gap-medium flex-010">
  <button
    mat-button
    [disabled]="!session.adjacentComments[0]"
    (click)="session.focus.next(session.adjacentComments[0])">
    <mat-icon>chevron_left</mat-icon>
    {{ i18n().action.previous }}
  </button>
  <button
    mat-button
    [disabled]="!session.adjacentComments[1]"
    (click)="session.focus.next(session.adjacentComments[1])">
    <mat-icon>chevron_right</mat-icon>
    {{ i18n().action.next }}
  </button>
</div>
<div class="flex-100"></div>
