<form (ngSubmit)="submitAnswer()">
  <h1 class="mat-headline">{{ content.subject }}</h1>
  <p>{{ content.body }}</p>
  <mat-divider></mat-divider>
  <mat-list>
    <mat-list-item *ngFor="let answer of checkedAnswers">
      <mat-checkbox color="primary" [(ngModel)]="answer.checked" name="answer">{{ answer.answerOption.label }}
      </mat-checkbox>
    </mat-list-item>
  </mat-list>
  <mat-chip-list *ngIf="isAnswerSent">
    <mat-chip color="primary" selected="true">Answer sent</mat-chip>
  </mat-chip-list>
  <mat-divider></mat-divider>
  <button mat-raised-button type="submit" color="primary">Submit</button>
  <button mat-raised-button (click)="abstain($event)" color="primary">Abstain</button>
</form>
