.high {
  color: var(--mat-sys-red);
  transform: scale(1.5);
}

.medium {
  color: var(--mat-sys-yellow);
  transform: scale(1.5);
}

.low {
  color: var(--mat-sys-green);
  transform: scale(1.5);
}
