<h2 mat-dialog-title>{{ "brainstorming-category.title" | translate }}</h2>

<mat-dialog-content>
  <div style="display: flex">
    <mat-form-field class="input-block">
      <input
        appAccessibilityEscapedInput
        matInput
        type="text"
        #tag
        aria-labelledby="tag-new"
        [formControl]="tagFormControl"
        [placeholder]="'brainstorming-category.tag-placeholder' | translate"
        name="taginput"
        minlength="min"
        maxlength="max" />
      <mat-hint align="end">
        <span aria-hidden="true">{{ tag.value.length }} / {{ max }}</span>
      </mat-hint>
      <mat-error *ngIf="this.tagFormControl.hasError('minlength')">
        {{ "brainstorming-edit.field-too-low" | translate: { min: min } }}
      </mat-error>
      <mat-error *ngIf="this.tagFormControl.hasError('maxlength')">
        {{ "brainstorming-edit.field-too-high" | translate: { max: max } }}
      </mat-error>
      <mat-error *ngIf="this.tagFormControl.hasError('emptyOnCreate')">
        {{ "brainstorming-edit.field-required" | translate }}
      </mat-error>
    </mat-form-field>
    <button
      mat-icon-button
      class="add"
      (click)="addTag(tag.value)"
      aria-labelledby="add-tag">
      <mat-icon class="add-icon">add</mat-icon>
    </button>
    <span class="fill-remaining-space"></span>
  </div>
  @if (tags.length > 0) {
    @for (tag of tags; track tag) {
      <div style="display: flex">
        <p>
          {{ tag }}
        </p>
        <button
          mat-icon-button
          (click)="deleteTag(tag)"
          aria-labelledby="delete-tag">
          <mat-icon class="close-icon">close</mat-icon>
        </button>
      </div>
    }
  }
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-stroked-button
    class="primary-button"
    [mat-dialog-close]="tags">
    {{ "room-page.close" | translate }}
  </button>
</mat-dialog-actions>
