<h2 mat-dialog-title>
  {{ i18n().title }}
</h2>

<mat-dialog-content class="custom">
  <div
    #container
    class="container"
    (click)="onMouse(container, $event, false)"
    (mousedown)="onMouse(container, $event, false)"
    (mousemove)="onMouse(container, $event, true)"
    (touchstart)="onTouch(container, $event)"
    (touchmove)="onTouch(container, $event)"
    (touchend)="onTouch(container, $event)">
    <span
      [style]="dotStyle()"
      class="dot"></span>
  </div>
  <div class="button-wrapper">
    <button
      mat-button
      [disabled]="theme() === 'light'"
      (click)="theme.set('light')">
      <mat-icon>light_mode</mat-icon>
      {{ i18n().switchLight }}
    </button>
    <button
      mat-button
      [disabled]="theme() === 'dark'"
      (click)="theme.set('dark')">
      <mat-icon>dark_mode</mat-icon>
      {{ i18n().switchDark }}
    </button>
  </div>
  <h1>{{ i18n().example }}</h1>
  <mat-card>
    <mat-card-title>
      {{ i18n().cardTitle }}
    </mat-card-title>
    <mat-card-content>
      {{ i18n().cardContent }}
    </mat-card-content>
    <mat-card-actions class="button-wrapper">
      <button
        mat-flat-button
        class="tertiary">
        {{ i18n().tertiary }}
      </button>
      <button
        mat-flat-button
        class="secondary">
        {{ i18n().secondary }}
      </button>
      <button
        mat-flat-button
        class="primary">
        {{ i18n().primary }}
      </button>
      <span style="flex: 1; min-width: 100%"></span>
      <button
        mat-button
        class="tertiary">
        {{ i18n().tertiary }}
      </button>
      <button
        mat-button
        class="secondary">
        {{ i18n().secondary }}
      </button>
      <button
        mat-button
        class="primary">
        {{ i18n().primary }}
      </button>
      <span style="flex: 1; min-width: 100%"></span>
      <button
        mat-stroked-button
        class="tertiary">
        {{ i18n().tertiary }}
      </button>
      <button
        mat-stroked-button
        class="secondary">
        {{ i18n().secondary }}
      </button>
      <button
        mat-stroked-button
        class="primary">
        {{ i18n().primary }}
      </button>
    </mat-card-actions>
  </mat-card>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-button
    mat-dialog-close>
    {{ i18n().global.cancel }}
  </button>
  <span style="flex: 1"></span>
  <button
    mat-button
    (click)="submit()">
    {{ i18n().global.confirm }}
  </button>
</mat-dialog-actions>
