<h2 mat-dialog-title>
  {{ i18n().title }}
</h2>

<mat-dialog-content class="custom scrollable-dialog-content">
  <div
    #container
    class="container"
    (click)="onMouse(container, $event, false)"
    (mousedown)="onMouse(container, $event, false)"
    (mousemove)="onMouse(container, $event, true)"
    (touchstart)="onTouch(container, $event)"
    (touchmove)="onTouch(container, $event)"
    (touchend)="onTouch(container, $event)">
    <span
      [style]="dotStyle()"
      class="dot"></span>
  </div>

  <h2>{{ i18n().appearance }}</h2>

  <div class="button-wrapper">
    <button
      mat-flat-button
      color="primary"
      [disabled]="theme() === 'light'"
      (click)="theme.set('light')">
      <mat-icon>light_mode</mat-icon>
      {{ i18n().switchLight }}
    </button>
    <button
      mat-flat-button
      color="primary"
      [disabled]="theme() === 'dark'"
      (click)="theme.set('dark')">
      <mat-icon>dark_mode</mat-icon>
      {{ i18n().switchDark }}
    </button>
  </div>

  <h2>{{ i18n().contrast }}</h2>

  <div class="button-wrapper">
    <button
      mat-stroked-button
      color="accent"
      [disabled]="contrast() === 'low'"
      (click)="contrast.set('low')">
      <mat-icon>brightness_4</mat-icon>
      {{ i18n().low }}
    </button>
    <button
      mat-stroked-button
      color="accent"
      [disabled]="contrast() === 'normal'"
      (click)="contrast.set('normal')">
      <mat-icon>brightness_low</mat-icon>
      {{ i18n().normal }}
    </button>
    <button
      mat-stroked-button
      color="accent"
      [disabled]="contrast() === 'medium'"
      (click)="contrast.set('medium')">
      <mat-icon>brightness_medium</mat-icon>
      {{ i18n().medium }}
    </button>
    <button
      mat-stroked-button
      color="accent"
      [disabled]="contrast() === 'high'"
      (click)="contrast.set('high')">
      <mat-icon>brightness_high</mat-icon>
      {{ i18n().high }}
    </button>
  </div>

  <mat-card class="filled-card">
    <mat-card-header>
      <mat-card-title>
        {{ i18n().examples }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      {{ i18n().cardContent }}
    </mat-card-content>

    <mat-card-actions class="button-wrapper">
      <button
        mat-icon-button
        aria-label="Symbol">
        <mat-icon>favorite</mat-icon>
      </button>

      <button
        mat-button
        aria-label="Symbol mit Text">
        <mat-icon>favorite</mat-icon>
        {{ i18n().iconText }}
      </button>

      <button
        mat-button
        aria-label="Einfacher Text">
        {{ i18n().tertiary }}
      </button>

      <button
        mat-stroked-button
        color="primary"
        aria-label="Rahmen">
        {{ i18n().secondary }}
      </button>

      <button
        mat-flat-button
        class="secondary"
        aria-label="Ausgefüllt">
        {{ i18n().tonal }}
      </button>

      <button
        mat-flat-button
        color="primary"
        aria-label="Ausgefüllt">
        {{ i18n().primary }}
      </button>
    </mat-card-actions>
  </mat-card>

  <div class="fab-container">
    <button
      mat-fab
      color="primary"
      aria-label="Aktion">
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      mat-fab
      color="primary"
      class="extended-fab">
      <mat-icon>favorite</mat-icon>
      {{ i18n().CTA }}
    </button>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-button
    mat-dialog-close
    aria-label="Cancel">
    {{ i18n().global.cancel }}
  </button>
  <button
    mat-flat-button
    color="primary"
    (click)="resetAll()"
    aria-label="Reset">
    {{ i18n().reset }}
  </button>
  <span style="flex: 1"></span>
  <button
    mat-flat-button
    color="primary"
    (click)="submit()"
    aria-label="Confirm">
    {{ i18n().global.saveAndClose }}
  </button>
</mat-dialog-actions>
