<m3-navigation>
  <router-outlet
    (activate)="onActive($event)"
    (detach)="onDetach($event)"
    (attach)="onAttach($event)"
    (deactivate)="onDeactivate($event)"></router-outlet>
</m3-navigation>

<style>
  #debugger {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 6px;
    bottom: 6px;
    z-index: 1000000;
    background-color: #d6d3ce;
    border-left: solid 3px #f4f4f3;
    border-top: solid 3px #f4f4f3;
    border-bottom: solid 3px #656365;
    border-right: solid 3px #656365;
    button {
      border-left: solid 3px #f4f4f3;
      border-top: solid 3px #f4f4f3;
      border-bottom: solid 3px #656365;
      border-right: solid 3px #656365;
      background-color: #d6d3ce;
    }

    .debugger-header {
      display: flex;
    }

    .debugger-header-title {
      height: 25px;
      background: rgb(9, 9, 121);
      background: linear-gradient(
        90deg,
        rgba(9, 9, 121, 1) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      display: flex;
      align-items: center;
      padding: 4px 8px;
      box-sizing: border-box;
      flex-grow: 1;
      > span {
        color: white;
      }
    }

    .debugger-header-options {
      button {
        width: 25px;
        height: 25px;
        border-left: solid 3px #f4f4f3;
        border-top: solid 3px #f4f4f3;
        border-bottom: solid 3px #656365;
        border-right: solid 3px #656365;
        text-align: left;
        padding: 0;
      }
    }
  }

  #debugger-state-button {
    position: fixed;
    z-index: 1000000;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    background-color: var(--md-sys-color-surface4);
  }
</style>
<button
  mat-icon-button
  id="debugger-state-button"
  *ngIf="!__debugger.isExtended"
  (click)="__debugger.__options.toggleExtension()">
  <mat-icon>arrow_left</mat-icon>
</button>
<div
  cdkDrag
  id="debugger"
  *ngIf="__debugger.isExtended">
  <div class="debugger-header">
    <div class="debugger-header-title">
      <span>{{ windowClass() }}</span>
    </div>
    <div class="debugger-header-options">
      <button
        (click)="__debugger.__options['toggleExtension']()"
        class="material-symbols-rounded">
        close
      </button>
    </div>
  </div>
  <div class="debugger-content column">
    <div class="debugger-options column">
      <button
        *ngFor="let option of __debugger.self"
        (click)="option[1]()">
        {{ option[0] }}
      </button>
    </div>
    <div class="debugger-theme-switch">
      <button
        (click)="m3DynamicThemeService.themeType = 'dark'"
        class="material-symbols-rounded">
        dark_mode
      </button>
      <button
        (click)="m3DynamicThemeService.themeType = 'light'"
        class="material-symbols-rounded">
        light_mode
      </button>
    </div>
    <div class="debugger-color-picker">
      <input [(colorPicker)]="m3DynamicThemeService.themeColor" />
    </div>
  </div>
</div>
