<div class="app-fullscreen">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="app-toolbar-title">
        {{ title }}
      </span>
      <!-- Insert navigation module here -->
    </mat-toolbar-row>
  </mat-toolbar>
  <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px" class="app-main">
    <router-outlet></router-outlet>
  </div>


  <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px">
  <app-content-creation></app-content-creation>
</div>
</div>




