<ars-row ars-flex-box [ngStyle]="{
'height.px':device.isCurrentlyMobile?32:64
}" class="livePoll-entry" #entry_w>
  <ars-col>
    <ng-container *ngIf="value.type==='materialIcon'">
      <mat-icon
        style="color:var(--on-surface);padding: 16px;" [ngStyle]="{
      'font-size.px':device.isCurrentlyMobile?16:32
      }">{{value.symbol}}</mat-icon>
    </ng-container>
    <ng-container *ngIf="value.type==='ascii'">
      <p style="color:var(--on-surface);;margin:12px 0;padding: 0 16px 0 16px;" [ngStyle]="{
      'font-size.px':device.isCurrentlyMobile?16:32
      }">{{value.symbol}}</p>
    </ng-container>
  </ars-col>
  <ars-fill>
    <ars-col class="livePoll-entry-bar" [ngStyle]="{
    'width.px':(value.value > 0
      ? (value.value / value.sum) * ( entry_w.ref.nativeElement.offsetWidth )
      : 5
    )
    }"></ars-col>
  </ars-fill>
</ars-row>
