:host > mat-card {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

button {
  font-size: 16px;
  width: 100%;
  margin-top: 20px;
}

.time-select {
  display: flex;
  justify-content: space-evenly;
  margin: 1em 0;
}

.mat-form-field {
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  padding: 1rem 1rem 0.2rem 1rem;
}

:host {
  margin-bottom: 5rem;
  display: block;
}
