app-room-list {
  width: 100%;
  max-width: 800px;
}

.mat-raised-button {
  background-color: var(--primary);
  color: var(--on-primary);
  border-radius: 25px;
}

.focus_button:focus {
  background: var(--on-surface);
  color: var(--background);
}
