<div class="userHomeContainer"
     fxLayout="column"
     fxLayoutAlign="start"
     fxLayoutGap="20px">
  <div fxLayout="row"
       fxLayoutAlign="center"
       fxLayoutGap="15px">
    <app-room-join></app-room-join>
  </div>
  <div fxLayout="row"
       fxLayoutAlign="center"
       class="button-container">
    <button class="new-session"
            mat-flat-button
            (click)="openCreateRoomDialog()"
            id="create_session-button">
      <mat-icon class="add">add</mat-icon>
      {{ 'home-page.create-session' | translate }}
    </button>
  </div>
  <div *ngIf="!loadingRatings"
       fxLayout="row"
       fxLayoutAlign="center"
       fxLayoutGap="15px">
    <app-app-rating *ngIf="!this.fetchedRating" [onSuccess]="onRate.bind(this)"></app-app-rating>
    <span *ngIf="this.fetchedRating"
          style="justify-content: center; color: var(--on-background); display: flex; align-items: flex-end">
      {{ rating }}
      <mat-icon class="material-icons-outlined" style="margin: 0 0.25em; color: #bfbf00">star</mat-icon>
      ( {{ people }}
      <mat-icon class="material-icons-outlined" style="margin-left: 0.25em;">person</mat-icon>)
    </span>
  </div>
  <div fxLayout="row"
       fxLayoutAlign="center"
       fxLayoutGap="15px">
    <app-room-list></app-room-list>
  </div>
  <button id="live_announcer-button"
          tabIndex="-1"
          (click)="announce()"
          class="visually-hidden">{{ 'home-page.live-announcer-user' | translate }}</button>
</div>

