<div
  style="display: none"
  [joyrideStep]="'greeting'"
  appJoyrideTemplate
  [stepPosition]="'center'"></div>

<div
  class="background-container"
  *ngIf="contentContainer.offsetWidth > 630">
  <div
    class="background-image"
    *ngFor="let background of carousel; index as i"
    [ngStyle]="getBackgroundStyleForEntry(i)"></div>
</div>
<div
  class="side-overlay"
  *ngIf="contentContainer.offsetWidth > 630"
  [ngClass]="
    (contentContainer.offsetWidth < 630 ? 'mobile' : 'desktop') +
    ' ' +
    (themeService.activeTheme?.key || 'undefined')
  "></div>
<div
  fxLayout="column"
  fxLayoutAlign="center center"
  class="content-container"
  #contentContainer
  [ngClass]="
    (contentContainer.offsetWidth < 630 ? 'mobile' : 'desktop') +
    ' ' +
    (themeService.activeTheme?.key || 'undefined')
  ">
  <div
    class="content"
    fxLayoutGap="16px"
    fxLayout="row">
    <div
      class="book-room-container"
      fxLayout="column"
      fxLayoutGap="32px">
      <div
        fxLayout="column"
        fxLayoutGap="16px">
        <span
          class="main-heading-secondary"
          aria-hidden="true">
          {{ "login.welcome" | translate }}
        </span>
        <span class="main-heading-primary">
          {{ "login.welcome-primary" | translate }}
        </span>
      </div>
      <div
        fxLayout="row"
        style="align-items: center"
        fxLayoutGap="16px">
        <app-new-landing></app-new-landing>
      </div>
      <div fxLayout="row">
        <app-app-rating
          *ngIf="accumulatedRatings"
          [ratingResults]="accumulatedRatings"></app-app-rating>
      </div>
      <div>
        <h2>
          <span
            class="feedback"
            data-nosnippet>
            <a
              [joyrideStep]="'feedbackLink'"
              appJoyrideTemplate
              [stepPosition]="'top'"
              href="https://frag.jetzt/participant/room/Feedback"
              target="_blank"
              rel="noreferrer noopener"
              aria-labelledby="feedback-aria">
              {{ "login.welcome-feedback" | translate }}
            </a>
          </span>
        </h2>
      </div>
    </div>
    <div
      class="carousel-container-ghost"
      *ngIf="contentContainer.offsetWidth > 630">
      <div class="carousel-anchor">
        <div class="carousel-transform">
          <div
            class="carousel-scroll"
            [ngStyle]="carouselOffset"
            #carouselScrollElement>
            <ng-container *ngFor="let entry of carousel; index as i">
              <div
                class="carousel-entry"
                *ngIf="getEntryKind(i) as kind"
                [ngClass]="kind"
                [ngStyle]="getStyleForEntry(i, kind)"
                role="button"
                #entryElement>
                <div
                  mat-ripple
                  class="carousel-pointer"
                  (click)="selectEntry(i, entryElement)"
                  [ngStyle]="{ 'height.px': content.offsetHeight }">
                  <div
                    class="pointer"
                    [ngClass]="getPositionClass(i)">
                    <div class="point"></div>
                  </div>
                </div>
                <div
                  mat-ripple
                  [matRippleColor]="'rgba(123,123,123,0.1)'"
                  class="carousel-content"
                  (click)="selectEntry(i, entryElement)"
                  #content>
                  <div
                    fxLayout="row"
                    fxLayoutAlign="space-between center">
                    <span class="carousel-entry-title">
                      {{ entry.title[this.languageService.language] }}
                    </span>
                  </div>
                  <span class="carousel-text">
                    {{ entry.description[this.languageService.language] }}
                  </span>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="visually-hidden">
  <div
    id="feedback-aria"
    style="display: none">
    {{ "login.feedback-aria" | translate }}
  </div>
</div>
