$header-size: 64px;
$footer-size: 50px;
$preferred-size: calc(100vh - $header-size - $footer-size);

.content-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  padding: $header-size 32px $footer-size;
  &.mobile {
    padding: $header-size 4px $footer-size;

    > .content {
      display: flex;
      justify-content: center;
    }
  }
}

.content {
  width: 1600px;
  max-width: 100%;
  padding: 16px;
}

.main-heading-primary {
  display: block;
  font-size: 30px;
  font-weight: normal;
  color: var(--primary);
  padding: 0;
  margin: 0;
  line-height: 30px;
}

.main-heading-secondary {
  display: block;
  font-size: 50px;
  font-weight: normal;
  color: var(--secondary);
  padding: 0;
  margin: 0;
  line-height: 50px;
}

.background-container {
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
  position: absolute;
  left: 0;
  top: 0;

  > .background-image {
    width: 100vw;
    height: 100vh;
    filter: hue-rotate(50deg);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.feedback {
  display: block;
  font-weight: normal;
  font-size: 16px;
  color: var(--on-background);

  > a {
    padding: 10px;
    display: inline;

    &:hover {
      background-color: transparent;
      color: var(--on-background);
      outline: var(--secondary) solid 3px;
      border-radius: 5px;
    }
  }
}

.carousel-container-ghost {
  width: 450px;
  position: relative;
}

.carousel-anchor {
  width: 100%;
  position: absolute;
  overflow: visible;
  display: flex;
  flex-direction: column;
}

.carousel-transform {
  width: 450px;
  position: fixed;
  top: 50%;
}

.carousel-scroll {
  position: relative;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
}

.carousel-entry {
  display: flex;
  flex-direction: column;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  user-select: none;

  > .carousel-content {
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    padding: 32px;
    box-sizing: border-box;
  }

  .carousel-pointer {
    width: 100%;
    height: 25px;
    position: absolute;
    z-index: -1;
    display: flex;
    align-items: center;
    flex-direction: column;

    > .pointer {
      width: 50px;
      position: relative;
      transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
      opacity: 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      > .point {
        width: 8px;
        height: 8px;
        background-color: white;
        margin: 4px;
        border-radius: 100%;
      }

      &.top {
        top: 0%;
        transform: translateY(0%);
        opacity: 1;
      }

      &.bottom {
        top: 100%;
        transform: translateY(-100%);
        opacity: 1;
      }

      &.center {
        top: 50%;
        transform: translateY(-50%);
        opacity: 1;
      }

      &.hide {
        opacity: 0;
      }
    }
  }

  &.highlight {
    opacity: 1;
  }

  &.peek {
    opacity: 0.5;
  }

  &.hidden {
    > .carousel-content {
      transform: scale(0);
      transform-origin: 50% 50%;
    }
  }

  & + * {
    margin-top: 12px;
  }
}
