<div
  style="display: none"
  [joyrideStep]="'greeting'"
  appJoyrideTemplate
  [stepPosition]="'center'"></div>

<div class="background-container">
  <div class="background-image"></div>
</div>

<div
  fxLayout="column"
  fxLayoutAlign="center center"
  class="content-container">
  <div
    class="content"
    fxLayout="row">
    <div
      fxLayout="column"
      style="width: 500px"
      fxLayoutGap="32px">
      <div
        fxLayout="column"
        fxLayoutGap="16px">
        <span
          class="main-heading-secondary"
          aria-hidden="true">
          {{ "login.welcome" | translate }}
        </span>
        <span class="main-heading-primary">
          {{ "login.welcome-primary" | translate }}
        </span>
      </div>
      <div
        fxLayout="row"
        style="align-items: center"
        fxLayoutGap="16px">
        <mat-form-field
          style="flex-grow: 1"
          appearance="standard">
          <mat-label>Key code ...</mat-label>
          <input
            matInput
            type="text" />
        </mat-form-field>
        <button mat-flat-button>
          <span>join</span>
        </button>
      </div>
      <div fxLayout="row">
        <button mat-flat-button>
          <mat-icon>add</mat-icon>
          <span>book a room</span>
        </button>
      </div>
      <div fxLayout="row">
        <app-app-rating
          *ngIf="accumulatedRatings"
          [ratingResults]="accumulatedRatings"></app-app-rating>
      </div>
      <div>
        <h2>
          <span
            class="feedback"
            data-nosnippet>
            <a
              [joyrideStep]="'feedbackLink'"
              appJoyrideTemplate
              [stepPosition]="'top'"
              href="https://frag.jetzt/participant/room/Feedback"
              target="_blank"
              rel="noreferrer noopener"
              aria-labelledby="feedback-aria">
              {{ "login.welcome-feedback" | translate }}
            </a>
          </span>
        </h2>
      </div>
    </div>
    <div style="flex-grow: 1"></div>
  </div>
</div>

<div class="visually-hidden">
  <div
    id="feedback-aria"
    style="display: none">
    {{ "login.feedback-aria" | translate }}
  </div>
</div>
