mat-card {
  max-width: 800px;
  width: 100%;
  background-color: #fff8e1 !important;
}

mat-toolbar {
  height: 15px;
  background-color: #fff8e1;
}

.mat-raised-button {
  display: flex;
  justify-content: flex-end;
  padding-top: 0%;
  padding-bottom: 0%;
  padding-right: 5%;
  padding-left: 5%;
  max-height: 50px;
}

h4 {
  max-height: 50px;
  margin-top: 5px;
  margin-bottom: 10px;
}
