mat-card {
  width: 800px;
  max-width: 90%;
  background-color: var(--surface)!important;
}

mat-toolbar {
  height: 15px;
  background-color: var(--surface)!important;
}

.mat-icon-button {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

mat-icon {
  font-size: 40px;
  height: 40px;
  width: 40px;
  line-height: 100%!important;
}

mat-list-item {
  color: var(--on-surface)!important;
}
