<div data-nosnippet>
  <p tabindex="0">
    Notre plateforme Q&A est anonyme, conforme à la protection des données et
    gratuite.
  </p>

  <p tabindex="0">
    Sans inscription, tes salles sont liées à ton navigateur et seront
    supprimées avec ton historique de navigation.
  </p>

  <p tabindex="0">
    En cliquant sur « Accepter », tu acceptes notre politique de
    confidentialité.
  </p>

  <p tabindex="0">
    Découvrez tout le potentiel avec notre application frag.jetzt! Scannez simplement le code QR ou cliquez sur le bouton approprié pour télécharger l'application directement depuis l'App Store ou Google Play Store.
  </p>
  <p tabindex="0" style="color: rgb(0, 0, 0);">
    Téléchargez maintenant et commencez!
  </p>

</div>
