<div data-nosnippet>
  <p tabindex="0">
    Unsere Q&A-Plattform ist anonym, datenschutzkonform und kostenfrei.
  </p>

  <p tabindex="0">
    Ohne Registrierung sind Räume browsergebunden und werden mit dem
    Browserverlauf gelöscht.
  </p>

  <p tabindex="0">
    Mit »Annehmen« akzeptierst du unsere Datenschutzerklärung.
  </p>

  <p tabindex="0">
    Entdecken Sie die volle Erfahrung mit unserer frag.jetzt App! Scannen Sie einfach den QR-Code oder klicken Sie auf den entsprechenden Button, um die App direkt aus dem App Store oder Google Play Store herunterzuladen.
    Mit der App haben Sie jederzeit und überall Zugriff auf alle Funktionen. Jetzt herunterladen und loslegen!
  </p>
</div>
