<div data-nosnippet>
  <p tabindex="0">
    Notre plateforme de questions-réponses est anonyme, conforme à la protection
    des données et gratuite.
  </p>

  <p tabindex="0">
    Sans inscription, tes salles existent uniquement dans le navigateur où tu
    les as créées ou visitées. Si tu supprimes l'historique du navigateur, tes
    salles seront également supprimées.
  </p>

  <p tabindex="0">
    En cliquant sur le bouton « Accepter », tu acceptes notre déclaration de
    protection des données. Tu peux la consulter via l'icône en haut.
  </p>
</div>
