<div data-nosnippet>
  <p tabindex="0">
    Our Q&A platform is anonymous, data protection compliant, and free.
  </p>

  <p tabindex="0">
    Without registration, your rooms are tied to your browser and will be deleted with your browser history.
  </p>

  <p tabindex="0">
    By clicking »Accept«, you're agreeing to our privacy policy.
  </p>

  <p tabindex="0">
    Experience the full potential with our frag.jetzt app! Simply scan the QR code or click on the appropriate button to download the app directly from the App Store or Google Play Store
  </p>

  <p tabindex="0" class="text">
    Download now and get started!
  </p>
</div>
