@use "@angular/material" as mat;

$arsnova-primary: mat.define-palette(mat.$grey-palette, 100);
$arsnova-accent: mat.define-palette(mat.$orange-palette, 200);

$arsnova-warn: mat.define-palette(mat.$red-palette, A100);

$arsnova-theme: mat.define-light-theme(
  (
    color: (
      primary: $arsnova-primary,
      accent: $arsnova-accent,
      warn: $arsnova-warn,
    ),
    density: 0,
  )
);
