button {
  margin-right: 10px;
  color: var(--primary);
}

.mat-expansion-panel-header-description {
  flex-basis: 0;
  align-items: center;
}


.matPanel {
  background-color: var(--grey);
  margin-bottom: 5px;
  color: black!important;
}

#matPanelHeader {
  background-color: var(--grey-light);
  margin-bottom: 5px;
  color: white;
}

.matPanelListHeader {
  background-color: var(--grey) !important;
}

mat-panel-title {
  flex-basis: 0;
  align-items: center;
  min-width: 100px;
}

.headerTitle {
  width: 8%;
  color: var(--primary)!important;
}

.panelTitle {
  width: 8%;
  color: black!important;
}


mat-card-title {
  text-align: center;
}

#no-sessions-card {
  background-color: var(--grey);
  color: var(--primary);
}
