.table-container {
  max-width: 100dvw;
  overflow-x: auto;
  padding-bottom: 1em;
}
.badge-container {
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
}

.mat-badge {
  position: absolute;
  top: -15px;
  left: -15px;
  transform: translateY(-50%);
}

.mat-badge-content {
  width: 15px;
  height: 15px;
  line-height: 0px;
  border-radius: 50%;
  background-color: #ffb4ab;
  color: #3a2a2c;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.mat-badge-hidden {
  display: none;
}
