<div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center" fxFill>
  <div fxLayout="row" fxLayoutAlign="center">
    <mat-progress-spinner color="primary" mode="indeterminate" diameter="80"></mat-progress-spinner>
  </div>
</div>

<div *ngIf="roomsWithRole">
  <mat-expansion-panel [disabled]="true" class="matPanel">
    <mat-expansion-panel-header>
      <mat-panel-title class="headerTitle">
        {{ 'room-list.panel-session-name' | translate }}
      </mat-panel-title>
      <mat-panel-description class="headerTitle">
        {{ 'room-list.panel-session-id' | translate }}
      </mat-panel-description>
      <mat-panel-description class="roleTitle">
        {{ 'room-list.panel-user-role' | translate }}
      </mat-panel-description>
      <mat-panel-description class="buttonTitle">
        {{ 'room-list.panel-join-button' | translate }}
      </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <mat-expansion-panel *ngIf="roomsWithRole.length === 0" class="matPanel" [disabled]="true">
    <mat-expansion-panel-header>
      <mat-panel-description class="noRoomHistory">
        {{ 'room-list.no-room-history' | translate }}
      </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <mat-expansion-panel *ngFor="let room of roomsWithRole" class="matPanel" [disabled]="true">
    <mat-expansion-panel-header>
      <mat-panel-title class="headerTitle">
        {{ room.name }}
      </mat-panel-title>
      <mat-panel-description class="headerTitle">
        {{ room.shortId.slice(0,4) }} {{ room.shortId.slice(4,8) }}
      </mat-panel-description>
      <mat-panel-description class="roleTitle" [ngSwitch]="room.role">
        <mat-icon *ngSwitchCase="creatorRole" aria-labelledby="creator-role">
          record_voice_over
        </mat-icon>
        <mat-icon *ngSwitchCase="participantRole" aria-labelledby="participant-role">
          face
        </mat-icon>
        <mat-icon *ngSwitchCase="executiveModeratorRole" aria-labelledby="executive-moderator-role">
          gavel
        </mat-icon>
      </mat-panel-description>
      <mat-panel-description class="buttonTitle" fxLayoutAlign="end">
        <button mat-flat-button routerLink="/{{ roleToString(room.role) }}/room/{{ room.shortId }}" (click)="setCurrentRoom(room.shortId)"
                title="{{ 'room-list.join-message-template' | translate:
                {session: room.name, id: room.shortId, role: ('room-list.role-' + roleToString(room.role) | translate)} }}">
          <mat-icon>input</mat-icon>
        </button>
      </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
</div>

<!--Hidden Div's for a11y-Descriptions-->
<div class="visually-hidden">
  <div id="creator-role">{{ 'room-list.creator-role' | translate }}</div>
  <div id="participant-role">{{ 'room-list.participant-role' | translate }}</div>
  <div id="executive-moderator-role">{{ 'room-list.executive-moderator-role' | translate }}</div>
</div>
