button {
  margin-right: 10px;
}

.mat-expansion-panel-header-description {
  flex-basis: 0;
  align-items: center;
}

.matPanel {
  background-color: #b3e5fc;
}

.matPanelHeader {
  background-color: #bbdefb;
}
