div#popupContainer {
  border-radius: 25px;
  border: 2px solid #000;
  background-color: var(--dialog);
  padding: 10px;
  box-shadow: 0 0 10px var(--dialog);
}

div > p {
  margin-bottom: 1px;
}

span {
  margin-right: 5px;
}

span > mat-icon {
  margin: -1px 0px 0px 12px;
  vertical-align: middle;
}

span > p {
  color: #000;
  display: inline;
  font-weight: 600;
  vertical-align: middle;
}

ul {
  margin: 0;
}
