.popupContainer {
  border-radius: 25px;
  border: 2px solid #000;
  background-color: var(--dialog);
  padding: 10px;
  position: relative;
}

.pointer {
  height: 20px;
  width: 20px;
  background-color: var(--dialog);
  margin: auto;
  transform: rotate(45deg);
  margin-top: -11px;
  border: 2px solid #000;
  border-width: 0 2px 2px 0;
}

div > p {
  margin-bottom: 1px;
}

span {
  margin-right: 5px;
}

span > mat-icon {
  margin: -1px 0px 0px 12px;
  vertical-align: middle;
}

span > p {
  color: #000;
  display: inline;
  font-weight: 600;
  vertical-align: middle;
}

ul {
  margin: 0;
}

button {
  color: red;
}