.popupContainer {
  border-radius: 25px;
  border: 2px solid #000;
  background-color: var(--dialog);
  padding: 10px;
  position: relative;
  box-shadow: 0 0 10px var(--dialog);
  box-sizing: border-box;
  z-index: 1;
}

.popupContainer::after {
  visibility: hidden; //remove after implementation of classes
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  background-color: var(--dialog);
  border-top: 0px solid #000;
  border-right: 2px solid #000;
  border-left: 0px solid #000;
  border-bottom: 2px solid #000;
}

.popupContainer::after.down {
  top: 100%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
  transform: rotate(45deg);
}

.popupContainer::after.left {
  top: 50%;
  right: 100%;
  margin-top: -10px;
  margin-right: -10px;
  transform: rotate(135deg);
}

.popupContainer::after.up {
  bottom: 100%;
  left: 50%;
  margin-bottom: -10px;
  margin-left: -10px;
  transform: rotate(225deg);
}

.popupContainer::after.right {
  top: 50%;
  left: 100%;
  margin-top: -10px;
  margin-left: -10px;
  transform: rotate(315deg);
}

div > p {
  margin-bottom: 1px;
}

span {
  margin-right: 5px;
}

span > mat-icon {
  margin: -1px 0px 0px 12px;
  vertical-align: middle;
}

span > p {
  color: #000;
  display: inline;
  font-weight: 600;
  vertical-align: middle;
}

ul {
  margin: 0;
}

button {
  color: red;
  min-width: unset;
  margin-left: 0px;
  padding-left: 10px;
  padding-right: 10px;
}
