<div #popupContainer
     class="popupContainer"
     (focusout)="onFocus($event)"
      tabindex="0">
  <span>
    <mat-icon matTooltip="{{'tag-cloud.overview-question-topic-tooltip' | translate}}">comment</mat-icon>
    <p>
      {{tagData && tagData.comments.length}}
    </p>
    <mat-icon matTooltip="{{'tag-cloud.overview-questioners-topic-tooltip' | translate}}">person</mat-icon>
    <p>
      {{tagData && tagData.distinctUsers.size}}
    </p>
    <mat-icon matTooltip="{{'tag-cloud.upvote-topic' | translate}}">thumb_up</mat-icon>
    <p>
      {{tagData && tagData.cachedUpVotes}}
    </p>
    <mat-icon matTooltip="{{'tag-cloud.downvote-topic' | translate}}">thumb_down</mat-icon>
    <p>
      {{tagData && tagData.cachedDownVotes}}
    </p>
    <button *ngIf="user && user.role >= 1" mat-button (click)="addBlacklistWord()">
      <mat-icon matTooltip="{{'tag-cloud.blacklist-topic' | translate}}">gavel</mat-icon>
    </button>
  </span>
  <br>
  <span>
    <mat-icon matTooltip="{{'tag-cloud.period-since-first-comment' | translate}}">date_range</mat-icon>
    <p>
      {{timePeriodText}}
    </p>
  </span>
  <div *ngIf="categories && categories.length">
    <p>Kategorien:</p>
    <ul>
      <li *ngFor="let category of categories">{{category}}</li>
    </ul>
  </div>
</div>
