mat-form-field {
  color: var(--on-surface);
  margin-bottom: 20px !important;
}

.mat-flat-button {
  background-color: transparent;
  color: var(--primary);
  outline: var(--primary) solid 3px;
  margin: 15px;

  &:hover {
    background-color: var(--primary);
    color: var(--on-primary);
  }
}

input {
  caret-color: var(--on-surface);
  color: var(--on-surface);
}

.textfields {
  padding: 0.5rem 0;
  align-items: baseline;
}

.visibility-icon {
  visibility: hidden;
}

.input-block:hover {
  .visibility-icon {
    visibility: visible;
    cursor: pointer;
  }
}
