<div fxLayout="column" class="textfields">
  <p>{{ 'password-reset.forgot-password' | translate }}</p>
</div>

<form (ngSubmit)="resetPassword(email.value)" fxLayout="column" fxLayoutAlign="space-around"
      fxLayoutGap="10px">
  <mat-form-field class="input-block">
    <input (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()"
           matInput type="email" #email
           [formControl]="usernameFormControl" aria-labelledby="password-reset-description"
           [errorStateMatcher]="matcher" name="email"/>
    <mat-placeholder class="placeholder">{{ 'password-reset.email' | translate }}</mat-placeholder>
    <mat-error *ngIf="usernameFormControl.hasError('email') && !usernameFormControl.hasError('required')">
      {{ 'password-reset.email-invalid' | translate }}
    </mat-error>
  </mat-form-field>
  <button (click)="buildCloseDialogActionCallback()" mat-flat-button type="submit">
    {{ 'password-reset.reset-password' | translate }}
  </button>
</form>

<mat-divider></mat-divider>

<div fxLayout="column" class="textfields">
  <p>{{ 'password-reset.set-new-password' | translate }}</p>
</div>

<form (ngSubmit)="setNewPassword(email2.value, key.value, password1.value)" fxLayout="column" fxLayoutAlign="space-around"
      fxLayoutGap="10px">
  <mat-form-field class="input-block">
    <input matInput type="email" #email2 [formControl]="usernameFormControl2"
           [errorStateMatcher]="matcher" name="email"/>
    <mat-placeholder class="placeholder">{{ 'password-reset.email' | translate }}</mat-placeholder>
    <mat-error *ngIf="usernameFormControl2.hasError('email') && !usernameFormControl2.hasError('required')">
      {{ 'password-reset.email-invalid' | translate }}
    </mat-error>
  </mat-form-field>
  <mat-form-field class="input-block">
    <input (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()"
           matInput type="password" #password1 [formControl]="passwordFormControl"
           [errorStateMatcher]="matcher"/>
    <mat-placeholder class="placeholder">{{ 'register.password' | translate }}</mat-placeholder>
    <mat-error *ngIf="passwordFormControl.hasError('required')">
      {{ 'register.password-required' | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="input-block">
    <input (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()"
           matInput type="password" #password2 [formControl]="passwordFormControl2"
           [errorStateMatcher]="matcher"/>
    <mat-placeholder class="placeholder">{{ 'register.password-verify' | translate }}</mat-placeholder>
    <mat-error *ngIf="passwordFormControl2.hasError('required')">
      {{ 'register.password-required' | translate }}
    </mat-error>
    <mat-error *ngIf="passwordFormControl2.hasError('passwordIsEqual') && !passwordFormControl2.hasError('required')">
      {{ 'register.password-unmatch' | translate }}
    </mat-error>
  </mat-form-field>
  <mat-form-field class="input-block">
    <input (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()"
           matInput type="text" #key [formControl]="keyFormControl" [errorStateMatcher]="matcher"/>
    <mat-placeholder class="placeholder">{{ 'password-reset.key' | translate }}</mat-placeholder>
    <mat-error *ngIf="keyFormControl.hasError('required')">
      {{ 'password-reset.key-required' | translate }}
    </mat-error>
  </mat-form-field>
  <button mat-flat-button type="submit">
    {{ 'password-reset.set-new-password-button' | translate }}
  </button>
</form>

<app-dialog-action-buttons
  buttonsLabelSection="password-reset"
  [cancelButtonClickAction]="buildCloseDialogActionCallback()"
></app-dialog-action-buttons>

<div class="visually-hidden">
  <div id="password-reset-description">{{ 'password-reset.email-description' | translate }}</div>
</div>
