<form (ngSubmit)="resetPassword(email.value)" fxLayout="column" fxLayoutAlign="space-around"
      fxLayoutGap="10px">
  <mat-form-field class="input-block">
    <input (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()"
           matInput type="email" #email placeholder="{{ 'password-reset.email' | translate }}"
           [formControl]="usernameFormControl" aria-labelledby="password-reset-description"
           [errorStateMatcher]="matcher" name="email"/>
    <mat-error *ngIf="usernameFormControl.hasError('required')">
      {{ 'password-reset.email-required' | translate }}
    </mat-error>
    <mat-error *ngIf="usernameFormControl.hasError('email') && !usernameFormControl.hasError('required')">
      {{ 'password-reset.email-invalid' | translate }}
    </mat-error>
  </mat-form-field>
</form>
<app-dialog-action-buttons
  buttonsLabelSection="password-reset"
  confirmButtonLabel="reset-password"
  [cancelButtonClickAction]="buildCloseDialogActionCallback()"
  [confirmButtonClickAction]="buildPasswordResetActionCallback(email)"
></app-dialog-action-buttons>

<div class="visually-hidden">
  <div id="password-reset-description">{{ 'password-reset.email-description' | translate }}</div>
</div>
