mat-form-field {
  margin-bottom: 20px !important;
}

.textfields {
  padding: 0.5rem 0;
  align-items: baseline;
}

.visibility-icon {
  cursor: pointer;
}

.secondary-btn {
  margin-bottom: 20px;
  width: 100%;
}

button.mat-icon-button {
  font-size: 1.5em !important;
  width: 1em;
  height: 1em;
}
