.markdown-editor {
  display: flex;
  flex-direction: column;

  > .editor-options {
    height: 64px;
    align-items: center;
    display: flex;
  }

  > .editor-content {
    height: 500px;
    display: flex;
    flex-direction: column;

    > .editor-input {
      white-space: pre-wrap;
      font-family: "Consolas", monospace;
      border: 1px solid var(--on-background);
    }

    > div {
      flex-grow: 1;
      overflow: auto;
      padding: 8px;
      outline: none;
    }
  }
}
