<h1 mat-dialog-title>API-Key</h1>

<mat-dialog-content>
  <p>
    An API key is used to authenticate and control access to an API. It works
    like a password.
  </p>
  <p>
    You can find your API key on the website of your API provider (e.g. ChatGPT)
    within your account in the API settings. There you can generate an API key
    and insert it here in the 'API key' field.
  </p>
  <p>
    The organization-ID is a unique identifier used to identify an organization
    within an API provider. It is often required to manage API keys and make
    specific API calls.
  </p>
  <p>
    You can find your organization-ID on the website of your API provider (e.g.
    ChatGPT) within your account in the API settings. There, look for a section
    that contains information about the organization. Here you will find the
    organization-ID and can paste it into the 'Organization-ID' field.
  </p>
</mat-dialog-content>
