@import '../../../../styles';

mat-card {
  width: 800px;
  min-height: 350px;
  background-color: var(--surface)!important;
}

mat-card-content > :first-child {
  margin-top: 5%;
  margin-bottom: 5%;
}

button {
  width: 30%;
  transition: all 0.3s;
  &:hover {
    transform: scale(1.25)
  }
}

#description {
  margin-bottom: 0;
}

.mat-icon-button {
  width: 75%;
  height: 75%;
  margin-bottom: 10%;
  color: var(--primary)!important;
}

#settings {
  width: 10%;
  max-width: 40px;
}

#settings-icon {
  font-size: 35px;
  height: 35px;
  width: 35px;
}

mat-icon {
  font-size: 50px;
  height: 50px;
  width: 50px;
  line-height: 100%!important;
}

mat-grid-list {
  margin-bottom: 10px !important;
}

mat-tooltip-component {
  position: relative;
}

h2 {
   font-size: large;
   color: var(--on-surface)!important;
 }

h3 {
  font-size: larger;
  color: var(--on-surface)!important;
}

h4 {
  font-size: medium;
  color: var(--on-surface)!important;
}

mat-card-header {
  min-height: 80px;
  height: 12%!important;
}

mat-card-title {
  height: 40%;
}

mat-card-subtitle {
  height: 20%;
}

mat-grid-tile {
  height: 100px!important;
}

mat-expansion-panel {
  background-color: var(--surface)!important;
  min-width: 200px;
  hyphens: auto;
}
