mat-card {
  width: 800px;
}

mat-card-content > :first-child {
  margin-top: 16px;
  margin-bottom: 16px;
}

button {
  margin: 5px;
  width: 30%;
}

.mat-icon{
  height:100% !important;
  width:100% !important;
  font-size:48px !important;
}
