$primary: var(--livepoll-primary);
$primary--disabled: var(--livepoll-primary--disabled);
$primary--hover: var(--livepoll-primary--hover);
$on-primary: var(--on-livepoll-primary);
$on-primary--disabled: var(--on-livepoll-primary--disabled);
$on-primary--hover: var(--on-livepoll-primary--hover);
$secondary: var(--livepoll-secondary);
$secondary--disabled: var(--livepoll-secondary--disabled);
$secondary--hover: var(--livepoll-secondary--hover);
$on-secondary: var(--on-livepoll-secondary);
$on-secondary--disabled: var(--on-livepoll-secondary--disabled);
$on-secondary--hover: var(--on-livepoll-secondary--hover);

$bar-foreground: $on-secondary;
$bar-background: $secondary;

@mixin createNamedIcon($color) {
  span {
    color: $color;
  }

  .mat-icon {
    color: $color;
  }
}

.live-icon-paused {
  @include createNamedIcon(inherit);
}

.live-icon-active {
  @include createNamedIcon(var(--red));
}

.mat-mdc-unelevated-button.__primary {
  --mdc-filled-button-container-color: var(--livepoll-primary);
  --mdc-filled-button-label-text-color: var(--on-livepoll-primary);
}

.mat-mdc-unelevated-button.__secondary {
  --mdc-filled-button-container-color: var(--livepoll-secondary);
  --mdc-filled-button-label-text-color: var(--on-livepoll-secondary);
}

.mat-mdc-unelevated-button.__cancel {
  --mdc-filled-button-container-color: var(--red);
  --mdc-filled-button-label-text-color: var(--white);
}

.mat-mdc-outlined-button.__primary {
  --mdc-outlined-button-outline-color: var(--livepoll-primary);
  --mdc-outlined-button-label-text-color: var(--on-surface);
}

.mat-mdc-outlined-button.__secondary {
  --mdc-outlined-button-outline-color: var(--red);
  --mdc-outlined-button-label-text-color: var(--red);
}

.mat-mdc-outlined-button.__cancel {
  --mdc-outlined-button-outline-color: transparent;
  --mdc-outlined-button-label-text-color: var(--on-surface);
  &:hover {
    --mdc-outlined-button-outline-color: var(--red);
  }
  .mat-icon {
    color: var(--red);
  }
}
