@use "sass:map";

$primary: var(--livepoll-primary);
$primary--disabled: var(--livepoll-primary--disabled);
$primary--hover: var(--livepoll-primary--hover);
$on-primary: var(--on-livepoll-primary);
$on-primary--disabled: var(--on-livepoll-primary--disabled);
$on-primary--hover: var(--on-livepoll-primary--hover);
$secondary: var(--livepoll-secondary);
$secondary--disabled: var(--livepoll-secondary--disabled);
$secondary--hover: var(--livepoll-secondary--hover);
$on-secondary: var(--on-livepoll-secondary);
$on-secondary--disabled: var(--on-livepoll-secondary--disabled);
$on-secondary--hover: var(--on-livepoll-secondary--hover);

$bar-foreground: $on-secondary;
$bar-background: $secondary;

.button {
  &-cancel {
    background-color: transparent;
    color: var(--on-dialog);

    &:hover {
      outline: var(--cancel) solid 3px;
    }
  }

  &-secondary {
    background-color: transparent;
    color: var(--secondary);
    outline: var(--secondary) solid 3px;

    &:hover {
      background-color: var(--secondary);
      color: var(--on-secondary);
    }

    &-filled {
      background-color: var(--secondary);
      color: var(--on-secondary);

      &:hover {
        background-color: var(--secondary);
        color: var(--on-secondary);
      }
    }
  }

  &-primary {
    background-color: transparent;
    color: var(--primary);
    outline: var(--primary) solid 3px;

    &:hover {
      background-color: var(--primary);
      color: var(--on-primary);
    }

    &-filled {
      background-color: var(--primary);
      color: var(--on-primary);

      &:hover {
        background-color: var(--primary);
        color: var(--on-primary);
      }
    }
  }

  &-vote {
    &-voted {
      background-color: $secondary;
      color: $on-primary;

      &:hover {
        background-color: $secondary--hover;
        color: $on-secondary--hover;
      }

      &:disabled {
        background-color: $secondary--disabled;
        color: $on-secondary--disabled;
      }
    }

    &-default {
      background-color: $primary;
      color: $on-primary;

      &:hover {
        background-color: $primary--hover;
        color: $on-primary--hover;
      }

      &:disabled {
        background-color: $primary--disabled;
        color: $on-primary--disabled;
      }
    }
  }
}

.button-vote-translated-text {
  font-size: 1.4em;
  @media only screen and (max-width: 900px) {
    font-size: 1.3em;
    line-height: 4px;
  }
  @media only screen and (max-width: 800px) {
    font-size: 1.2em;
    line-height: 4px;
  }
  @media only screen and (max-width: 700px) {
    font-size: 1.1em;
    line-height: 4px;
  }
  @media only screen and (max-width: 600px) {
    font-size: 1em;
    line-height: 4px;
  }
  @media only screen and (max-width: 500px) {
    font-size: 0.9em;
    line-height: 4px;
  }
  @media only screen and (max-width: 400px) {
    font-size: 0.8em;
    line-height: 4px;
  }
  @media only screen and (max-width: 300px) {
    font-size: 0.7em;
    line-height: 4px;
  }
}

.button-vote-text-as-icon {
  font-size: 3em;
  @media only screen and (max-width: 900px) {
    font-size: 2.5em;
    line-height: 4px;
  }
  @media only screen and (max-width: 800px) {
    line-height: 4px;
  }
  @media only screen and (max-width: 700px) {
    line-height: 4px;
  }
  @media only screen and (max-width: 600px) {
    line-height: 4px;
  }
  @media only screen and (max-width: 500px) {
    line-height: 4px;
  }
  @media only screen and (max-width: 400px) {
    font-size: 1em;
    line-height: 4px;
  }
  @media only screen and (max-width: 300px) {
    line-height: 4px;
  }
}

.button-vote-material-icons {
  font-size: inherit;
}

.on-desktop {
  @media only screen and (max-width: 900px) {
    display: none;
  }
}

.actions-container {
  display: flex;
  justify-content: space-between;
  > .left-container {
    display: flex;
  }

  > .right-container {
    display: flex;
  }
}

.vote-plain-text {
  word-wrap: anywhere;
}
