$vote-foreground: var(--livepoll-vote-foreground);
$vote-background: var(--livepoll-vote-background);
$vote-foreground-active: var(--livepoll-vote-foreground-active);
$vote-background-active: var(--livepoll-vote-background-active);
$vote-foreground-hover: var(--livepoll-vote-foreground-hover);
$vote-background-hover: var(--livepoll-vote-background-hover);
$vote-foreground-active-hover: var(--livepoll-vote-foreground-active-hover);
$vote-background-active-hover: var(--livepoll-vote-background-active-hover);
$bar-foreground: var(--livepoll-bar-foreground);
$bar-background: var(--livepoll-bar-background);

.button {
  &-cancel {
    background-color: transparent;
    color: var(--on-dialog);

    &:hover {
      outline: var(--cancel) solid 3px;
    }
  }

  &-secondary {
    background-color: transparent;
    color: var(--primary);
    outline: var(--primary) solid 3px;

    &:hover {
      background-color: var(--primary);
      color: var(--on-primary);
    }

    &-filled {
      background-color: var(--primary);
      color: var(--on-primary);

      &:hover {
        background-color: var(--primary);
        color: var(--on-primary);
      }
    }
  }

  &-primary {
    background-color: transparent;
    color: var(--primary);
    outline: var(--primary) solid 3px;

    &:hover {
      background-color: var(--primary);
      color: var(--on-primary);
    }

    &-filled {
      background-color: var(--primary);
      color: var(--on-primary);

      &:hover {
        background-color: var(--primary);
        color: var(--on-primary);
      }
    }
  }

  &-vote {
    &-active {
      background-color: $vote-background-active;
      color: $vote-foreground-active;

      &:hover {
        background-color: $vote-background-active-hover;
        color: $vote-foreground-active-hover;
      }
    }

    &-default {
      background-color: $vote-background;
      color: $vote-foreground;

      &:hover {
        background-color: $vote-background-hover;
        color: $vote-foreground-hover;
      }
    }
  }
}

.cta-container {
  margin-top: 16px;
  padding-bottom: 16px;
}

.vote-text {
  font-size: 200%;
  @media only screen and (max-width: 600px) {
    font-size: 100%;
  }
}

.on-desktop {
  @media only screen and (max-width: 900px) {
    display: none;
  }
}

.actions-container {
  display: flex;
  justify-content: space-between;
  > .left-container {
    display: flex;
  }

  > .right-container {
    display: flex;
  }
}
