<div>
  <p>
    <span *ngFor="let part Of (isCollapsed?partsOfQuestion:partsOfShortQuestion); let i = index">{{part}}
      <mark
        *ngIf="i < (isCollapsed?partsOfQuestion:partsOfShortQuestion).length-1">{{keyword}}</mark></span><span
    *ngIf="!isCollapsed && question.length > maxShowedCharachters">..</span>
    <button
      *ngIf="question.length > maxShowedCharachters"
      (click)="isCollapsed = !isCollapsed">{{"dialog-comment.read-" + (!isCollapsed ? 'more' : 'less') | translate}}</button>
  </p>
</div>


