mat-panel-description, mat-panel-title, p, input {
  color: var(--on-background);
}

mat-icon {
  fill: currentColor;
}

label {
color: var(--on-surface)
}

button{
  color: var(--primary);
  background: none;
  font-weight: bold;
  border: 0px solid;
}

button:focus{
  outline: none;
}

button:hover{
  text-decoration: underline;
}

