@use "@angular/material" as mat;

// Theming

@import "../theme/light-theme/variables";
//@import "theme/dark-theme/dark-theme";
@import "../theme/dark-solarized-theme/dark-solarized-theme";
//@import "theme/blue-theme/blue-theme";
@import "../theme/high-contrast-theme/high-contrast-theme";

// @include mat.all-component-typographies();
@include mat.core();

@include mat.all-component-themes($arsnova-theme);

:root,
.theme-target {
  --mdc-dialog-container-color: var(--dialog);
  --mdc-filled-text-field-container-color: var(--surface);
  --mat-menu-item-label-text-color: var(--on-surface);
  --mdc-filled-text-field-input-text-color: var(--on-surface);
  --mdc-filled-text-field-input-text-placeholder-color: var(--on-surface);
  --mdc-filled-text-field-label-text-color: var(--on-surface);
  --mat-select-panel-background-color: var(--surface);
  --mat-option-label-text-color: var(--on-surface);
  --mat-select-enabled-arrow-color: var(--on-surface);
  --mdc-filled-text-field-caret-color: var(--on-surface);
  --mdc-dialog-supporting-text-color: var(--on-surface);
  --mdc-filled-text-field-active-indicator-color: var(--secondary);
  --mat-option-selected-state-label-text-color: var(--secondary);
  --mdc-filled-text-field-hover-active-indicator-color: var(--primary);
  --mdc-filled-text-field-focus-active-indicator-color: var(--primary);
  --mdc-filled-text-field-focus-label-text-color: var(--primary);
  --mat-select-focused-arrow-color: var(--primary);
  --mdc-dialog-subhead-color: currentColor;
  --mat-menu-item-icon-color: currentColor;
  --mdc-plain-tooltip-container-color: var(--secondary);
  --mdc-plain-tooltip-supporting-text-color: var(--on-secondary);
  --mdc-snackbar-container-color: var(--secondary);
  --mdc-snackbar-supporting-text-color: var(--on-secondary);
  --mat-form-field-error-text-color: var(--red);
  --mdc-outlined-text-field-error-label-text-color: var(--red);
  --mdc-outlined-text-field-error-caret-color: var(--red);
  --mdc-outlined-text-field-error-focus-label-text-color: var(--red);
  --mdc-filled-text-field-error-label-text-color: var(--red);
  --mdc-filled-text-field-error-caret-color: var(--red);
  --mdc-filled-text-field-error-focus-label-text-color: var(--red);
  --mdc-outlined-text-field-caret-color: var(--secondary);
  --mdc-outlined-text-field-focus-outline-color: var(--secondary);
  --mdc-outlined-text-field-focus-label-text-color: var(--secondary);
}

.mat-mdc-radio-button.mat-accent {
  --mdc-radio-disabled-selected-icon-color: #000;
  --mdc-radio-disabled-unselected-icon-color: #000;
  --mdc-radio-unselected-hover-icon-color: #212121;
  --mdc-radio-unselected-icon-color: rgba(0, 0, 0, 0.54);
  --mdc-radio-unselected-pressed-icon-color: rgba(0, 0, 0, 0.54);
  --mdc-radio-selected-focus-icon-color: var(--secondary);
  --mdc-radio-selected-hover-icon-color: var(--secondary);
  --mdc-radio-selected-icon-color: var(--secondary);
  --mdc-radio-selected-pressed-icon-color: var(--secondary);
  --mat-radio-ripple-color: #000;
  --mat-radio-checked-ripple-color: var(--secondary);
  --mat-radio-disabled-label-color: rgba(0, 0, 0, 0.38);
}

.mat-mdc-slide-toggle {
  // slider off state
  --mdc-switch-unselected-handle-color: var(--on-dialog);
  --mdc-switch-unselected-icon-color: var(--dialog);
  --mdc-switch-unselected-track-color: var(--dialog);
  // slider on state
  --mdc-switch-selected-icon-color: var(--on-secondary);
}

.mat-mdc-slide-toggle.mat-accent {
  --mdc-switch-selected-focus-state-layer-color: var(--secondary);
  --mdc-switch-selected-handle-color: var(--secondary);
  --mdc-switch-selected-hover-state-layer-color: var(--secondary);
  --mdc-switch-selected-pressed-state-layer-color: var(--secondary);
  --mdc-switch-selected-focus-handle-color: var(--secondary);
  --mdc-switch-selected-hover-handle-color: var(--secondary);
  --mdc-switch-selected-pressed-handle-color: var(--secondary);
  --mdc-switch-selected-focus-track-color: var(--secondary);
  --mdc-switch-selected-hover-track-color: var(--secondary);
  --mdc-switch-selected-pressed-track-color: var(--secondary);
  --mdc-switch-selected-track-color: var(--secondary);
}

:root,
.dark_solarized {
  @each $key, $value in $dark-solarized-theme-map {
    #{$key}: #{$value};
  }
}

.arsnova {
  @each $key, $value in $arsnova-theme-map {
    #{$key}: #{$value};
  }
}

.highcontrast {
  @each $key, $value in $high-contrast-theme-map {
    #{$key}: #{$value};
  }
}

.mat-primary {
  --mat-minimal-pseudo-checkbox-selected-checkmark-color: var(--secondary);
}

// Classes
.mat-app-background {
  background-color: var(--background);
  color: var(--on-background);
}

/* ---- Scroll bar ----- */
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.7rem;
}

*::-webkit-scrollbar-track {
  background: var(--dialog);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 5px;
}
