<div class="container">
  <mat-label *ngIf="data.label">{{ data.label | translate }}</mat-label>

  <mat-radio-group [formControl]="data.control">
    <mat-radio-button
      (change)="data.control.markAsTouched()"
      *ngFor="let elem of data.options"
      [value]="elem.value">
      {{ elem.label | translate }}
      <ng-container *ngIf="elem.helpText as helpText">
        <mat-icon
          [matTooltip]="helpText"
          [matTooltipPosition]="tooltipPosition"
          class="hoverable-icon">
          info
        </mat-icon>
      </ng-container>
    </mat-radio-button>
  </mat-radio-group>

  <mat-hint *ngIf="data.hint && !data.control.invalid">
    {{ data.hint | translate }}
  </mat-hint>
  <mat-error>
    @if (
      data.control.touched && data.control.errors | keyvalue;
      as controlErrors
    ) {
      @if (data.errorStates; as errorStrings) {
        @if (errorStrings[controlErrors[0].key]; as info) {
          {{ info | translate }}
        }
      }
    }
  </mat-error>
</div>
