<p>
  Il s'agit de la vue publique du forum Q&R.
  Selon les paramètres de la salle, des fonctions centrales sont proposées dans l'en-tête,
  comme le Rallye quiz et le Brainstorming, le Radar à questions et le Focus sur les questions.
  Tu trouveras plus d'informations sur la page
  <a class="info"
     href="https://frag.jetzt/introduction"
     target="_blank" rel="noopener">
    Introduction<span>Ouvre une nouvelle page</span></a>.
</p>

<ol>
  <li>Écrire une question ou une réponse</li>
  <li>Évaluer une question ou une réponse en tant que participant</li>
  <li>Évaluer une question ou une réponse en tant qu'enseignant</li>
  <li>Trier et filtrer les Q&R</li>
  <li>Arrêter le flux de questions et le libérer à nouveau</li>
  <li>Voir les notifications</li>
  <li>En tant qu'enseignant, marquer une bonne question pour un bonus</li>
  <li>En tant que participant, échanger le code bonus</li>
</ol>

<div class="videoWrapper">
  <iframe allowfullscreen
          height="315"
          width="560"
          [src]="sanitizer.trust('https://www.youtube.com/embed/ScMzIvxBSi4?autoplay=0')"
          tabindex="0"
          title="Placeholder video"
  ></iframe>
</div>
