<p>
  This is the public view of the Q&A forum.
  Depending on the room settings, central functions are offered in the header,
  like Quiz rally and Brainstorming, Question radar and Question focus.
  For more, see the
  <a class="info"
     href="https://frag.jetzt/introduction"
     target="_blank" rel="noopener">
    Introduction<span>Opens a new tab</span></a>.
</p>

<ol>
  <li>Write a question or answer</li>
  <li>Evaluate a question or answer as a participant</li>
  <li>Evaluate a question or answer as a teacher</li>
  <li>Sort and filter Q&A</li>
  <li>Pause and unpause the question stream</li>
  <li>View notifications</li>
  <li>As a teacher, mark a good question for a bonus</li>
  <li>As a participant, redeem the bonus code</li>
</ol>

<div class="videoWrapper">
  <iframe allowfullscreen
          height="315"
          width="560"
          [src]="sanitizer.trust('https://www.youtube.com/embed/ScMzIvxBSi4?autoplay=0')"
          tabindex="0"
          title="Placeholder video"
  ></iframe>
</div>
