<ol>
  <li>Poser une question</li>
  <li>Ecrire une réponse</li>
  <li>Ouvrir une conversation</li>
  <li>Evaluer une question ou une réponse</li>
  <li>Trier et filtrer la liste des questions-réponses</li>
  <li>Arrêter le flux de questions et le libérer à nouveau</li>
  <li>Voir les notifications</li>
  <li>Afficher l'archive de bonus</li>
</ol>

<div class="videoWrapper">
  <iframe allowfullscreen
          height="315"
          width="560"
          [src]="sanitizer.trust('https://www.youtube.com/embed/ScMzIvxBSi4?autoplay=0')"
          tabindex="0"
          title="Placeholder video"
  ></iframe>
</div>
