<ol>
  <li>Eine Frage stellen</li>
  <li>Ein Antwort schreiben</li>
  <li>Eine Konversation öffnen</li>
  <li>Eine Frage oder Antwort bewerten</li>
  <li>Q&A-Liste sortieren und filtern</li>
  <li>Fragenstrom anhalten und wieder freigeben</li>
  <li>Benachrichtigungen ansehen</li>
  <li>Bonus-Archiv anzeigen</li>
</ol>

<div class="videoWrapper">
  <iframe allowfullscreen
          height="315"
          width="560"
          [src]="sanitizer.trust('https://www.youtube.com/embed/ScMzIvxBSi4?autoplay=0')"
          tabindex="0"
          title="Placeholder video"
  ></iframe>
</div>
