<p>
  Dies ist die öffentliche Ansicht des Q&A-Forums.
  Abhängig von den Raumeinstellungen werden zentrale Funktionen in der Kopfzeile angeboten,
  wie  Quiz-Rallye und Brainstorming, Fragen-Radar und Fragen-Fokus.
  Mehr dazu findest du in der
  <a class="info"
     href="https://frag.jetzt/introduction"
     target="_blank" rel="noopener">
    Einführung<span>Öffnet eine neue Seite</span></a>.
</p>

<ol>
  <li>Eine Frage stellen</li>
  <li>Eine Antwort schreiben</li>
  <li>Eine Konversation öffnen</li>
  <li>Eine Frage oder Antwort bewerten</li>
  <li>Q&A-Liste sortieren und filtern</li>
  <li>Fragenstrom anhalten und wieder freigeben</li>
  <li>Benachrichtigungen ansehen</li>
  <li>Bonus-Archiv anzeigen</li>
</ol>

<div class="videoWrapper">
  <iframe allowfullscreen
          height="315"
          width="560"
          [src]="sanitizer.trust('https://www.youtube.com/embed/ScMzIvxBSi4?autoplay=0')"
          tabindex="0"
          title="Placeholder video"
  ></iframe>
</div>
