<p>
  The screencast shows you the following use cases:
</p>

<ol>
  <li>Pose a question</li>
  <li>Write an answer</li>
  <li>Open a conversation</li>
  <li>Rate a question or answer</li>
  <li>Sort and filter the Q&A list</li>
  <li>Pause and unpause the question stream</li>
  <li>View notifications</li>
  <li>View bonus archive</li>
</ol>

<p>(work in progress)</p>

<div class="videoWrapper">
  <iframe allowfullscreen
          height="315"
          width="560"
          [src]="sanitizer.trust('https://www.youtube.com/embed/ScMzIvxBSi4?autoplay=0')"
          tabindex="0"
          title="Placeholder video"
  ></iframe>
</div>
