
.activityIcon {
  width: 64px;
  height: 64px;
  position: fixed;
  top: 80px;
  left: 20px;

  .activityIconForeground {
    width: 100%;
    height: 100%;
    position: absolute;

    .activityIconForegroundText {
      width: 25px;
      height: 25px;
      float: left;
      padding: 2px;
      margin: 0;
      text-align: center;
      position: absolute;
      font-family: 'Roboto', sans-serif;
      font-size: 24px;
      font-weight: 800;
      right: -25px;
      top: 0;
      background-color: var(--primary);
      color: var(--on-primary);
      border-radius: 100%;
      animation:popin-shadow 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
    }
  }
  .activityIconBackground {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--on-background);
    -webkit-mask-image: url("../../../../../assets/icons/activity.svg");
    mask-image: url("../../../../../assets/icons/activity.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 100% 100%;
    animation:shake 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
  }
}

@keyframes shake {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes popin-shadow {
  0% {
    transform: scale(0);
    box-shadow: 0 0 0 0 transparent;
  }
  100% {
    transform: scale(1);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  }
}
