<div
     id="wholeDialog"
     class="drawer-container"
     fxLayout="column"
     fxLayoutGap="5px"
>

  <form class="cloud-configuration-form" [formGroup]="cloudConfigForm" fxLayout="column">
    <h2>{{'tag-cloud-config.title' | translate}}</h2>

    <h3>{{'tag-cloud-config.general' | translate}}</h3>
    <div
      class="input-row"
      fxLayout="row"
      fxLayoutGap="5px"
      fxLayout.xs="column"
    >
    </div>
    <div
      class="input-row"
      fxLayout="row"
      fxLayoutGap="5px"
      fxLayout.xs="column"
    >
      <mat-slide-toggle fxFlex formControlName="randomizeAngle" #randomAng
                        [checked]="randomizeAngle"
                        (change)="parent.setCloudParameters({
    backgroundColor: parent.getCurrentCloudParameters().backgroundColor,
    fontColor: parent.getCurrentCloudParameters().fontColor,
    fontSizeMin: parent.getCurrentCloudParameters().fontSizeMin,
    fontSizeMax: parent.getCurrentCloudParameters().fontSizeMax,
    hoverScale: parent.getCurrentCloudParameters().hoverScale,
    hoverTime: parent.getCurrentCloudParameters().hoverTime,
    hoverDelay: parent.getCurrentCloudParameters().hoverDelay,
    delayWord: parent.getCurrentCloudParameters().delayWord,
    randomAngles: this.randomAng.checked
                        }, false)"
      >{{'tag-cloud-config.random-angle' | translate}}</mat-slide-toggle
      >
    </div>
    <div style="margin: 10px;"></div>
    <div
      class="input-row"
      fxLayout="column"
      fxLayoutGap="5px"
    >

        <div fxLayout="row" fxLayoutGap="5px">
          <mat-form-field fxFlex="100%">
            <mat-label>{{'tag-cloud-config.background' | translate}}</mat-label>
            <input
              matInput
              [colorPicker]="
                  cloudConfigForm.get('background').value
                "
              (colorPickerChange)="
                  changeBackground($event)
                "
              formControlName="background"
              class="custom-color-picker"
            />
            <p class="custom-color-picker-text">{{'tag-cloud-config.select-color' | translate}}</p>
          </mat-form-field>
          <div
            fxFlex="35px"
            class="color-box"
            [style.background]="
                cloudConfigForm.get('background').value
              "
          ></div>
        </div>


    </div>
    <div
      class="input-row"
      fxLayout="column"
      fxLayoutGap="5px"
    >

        <mat-label class="label-text">{{'tag-cloud-config.word-delay' | translate}}</mat-label>
        <mat-slider #delaySlider
          min="0"
          max="1000"
          step="50"
          formControlName="delay"
          [thumbLabel]="true"
          [value]="delay"
          (change)="
          parent.setCloudParameters({
    backgroundColor: parent.getCurrentCloudParameters().backgroundColor,
    fontColor: parent.getCurrentCloudParameters().fontColor,
    fontSizeMin: parent.getCurrentCloudParameters().fontSizeMin,
    fontSizeMax: parent.getCurrentCloudParameters().fontSizeMax,
    hoverScale: parent.getCurrentCloudParameters().hoverScale,
    hoverTime: parent.getCurrentCloudParameters().hoverTime,
    hoverDelay: parent.getCurrentCloudParameters().hoverDelay,
    delayWord: delaySlider.value,
    randomAngles: parent.getCurrentCloudParameters().randomAngles
    }, false)
          "
        ></mat-slider>

    </div>
    <div
      class="input-row"
      fxLayout="column"
      fxLayoutGap="5px"
    >
          <mat-form-field fxFlex fxLayout.xs="column">
            <mat-label>{{'tag-cloud-config.font-size-min' | translate}}</mat-label>
            <input #minFont
              [value]="fontMinSize"
              (change)="          parent.setCloudParameters({
    backgroundColor: parent.getCurrentCloudParameters().backgroundColor,
    fontColor: parent.getCurrentCloudParameters().fontColor,
    fontSizeMin: getNumber(minFont.value),
    fontSizeMax: parent.getCurrentCloudParameters().fontSizeMax,
    hoverScale: parent.getCurrentCloudParameters().hoverScale,
    hoverTime: parent.getCurrentCloudParameters().hoverTime,
    hoverDelay: parent.getCurrentCloudParameters().hoverDelay,
    delayWord: parent.getCurrentCloudParameters().delayWord,
    randomAngles: parent.getCurrentCloudParameters().randomAngles
    }, false)"
              matInput
              type="number"
              formControlName="font-size"
              placeholder="font-size"
              min="10"
              max="300"
              step="10"
            />
          </mat-form-field>
    </div>
    <div
      class="input-row"
      fxLayout="column"
      fxLayoutGap="5px"
    >
          <mat-form-field fxFlex fxLayout.xs="column">
            <mat-label>{{'tag-cloud-config.font-size-max' | translate}}</mat-label>
            <input #maxFont
              matInput
                   [value]="fontMaxSize"
                   (change) = "parent.setCloudParameters({
                   backgroundColor: parent.getCurrentCloudParameters().backgroundColor,
                   fontColor: parent.getCurrentCloudParameters().fontColor,
                   fontSizeMin: parent.getCurrentCloudParameters().fontSizeMin,
                   fontSizeMax: getNumber(maxFont.value),
                   hoverScale: parent.getCurrentCloudParameters().hoverScale,
                   hoverTime: parent.getCurrentCloudParameters().hoverTime,
                   hoverDelay: parent.getCurrentCloudParameters().hoverDelay,
                   delayWord: parent.getCurrentCloudParameters().delayWord,
                   randomAngles: parent.getCurrentCloudParameters().randomAngles
                   }, false)"

                   type="number"
              formControlName="font-size"
              placeholder="font-size"
              min="10"
              max="300"
              step="10"
            />
          </mat-form-field>
    </div>
    <h3>{{'tag-cloud-config.hover-title' | translate}}</h3>
    <div formGroupName="zoomOnHover">
      <div
        class="input-row"
        fxLayout="column"
        fxLayoutGap="5px"
      >

          <div fxLayout="row" fxLayoutGap="5px">
            <mat-form-field fxFlex="100%">
              <mat-label>{{'tag-cloud-config.hover-color' | translate}}</mat-label>
              <input
                matInput
                [colorPicker]="
                      cloudConfigForm.get('zoomOnHover').get('color').value
                    "
                (colorPickerChange)="
                      changeHoverColer($event)
                    "
                formControlName="color"
                class="custom-color-picker"
                />
                <p class="custom-color-picker-text">{{'tag-cloud-config.select-color' | translate}}</p>
            </mat-form-field>
            <div
              fxFlex="35px"
              class="color-box"
              [style.background]="
                    cloudConfigForm.get('zoomOnHover').get('color').value
                  "
            ></div>
          </div>

      </div>

      <div
        class="input-row"
        fxLayout="column"
        fxLayoutGap="5px"
      >

          <mat-label class="label-text">{{'tag-cloud-config.hover-scale' | translate}}</mat-label>
          <mat-slider #hoverScaleSlider
                      [value]="hoverScale"
                      (change)="parent.setCloudParameters({
                   backgroundColor: parent.getCurrentCloudParameters().backgroundColor,
                   fontColor: parent.getCurrentCloudParameters().fontColor,
                   fontSizeMin: parent.getCurrentCloudParameters().fontSizeMin,
                   fontSizeMax: parent.getCurrentCloudParameters().fontSizeMax,
                   hoverScale: hoverScaleSlider.value,
                   hoverTime: parent.getCurrentCloudParameters().hoverTime,
                   hoverDelay: parent.getCurrentCloudParameters().hoverDelay,
                   delayWord: parent.getCurrentCloudParameters().delayWord,
                   randomAngles: parent.getCurrentCloudParameters().randomAngles
                   }, false)"
            min="1"
            max="2"
            step="0.2"
            formControlName="scale"
            [thumbLabel]="true"
          ></mat-slider>

      </div>

      <div
        class="input-row"
        fxLayout="column"
        fxLayoutGap="5px"
      >

          <mat-label class="label-text">{{'tag-cloud-config.hover-time' | translate}}</mat-label>
          <mat-slider #transitonSlider
                      [value]="hoverTransitionTime"
                      (change)="parent.setCloudParameters({
                   backgroundColor: parent.getCurrentCloudParameters().backgroundColor,
                   fontColor: parent.getCurrentCloudParameters().fontColor,
                   fontSizeMin: parent.getCurrentCloudParameters().fontSizeMin,
                   fontSizeMax: parent.getCurrentCloudParameters().fontSizeMax,
                   hoverScale: parent.getCurrentCloudParameters().hoverScale,
                   hoverTime: transitonSlider.value,
                   hoverDelay: parent.getCurrentCloudParameters().hoverDelay,
                   delayWord: parent.getCurrentCloudParameters().delayWord,
                   randomAngles: parent.getCurrentCloudParameters().randomAngles
                   }, false)"
            min="0"
            max="2"
            step="0.2"
            formControlName="transitionTime"
            [thumbLabel]="true"
          ></mat-slider>
      </div>
      <div
        class="input-row"
        fxLayout="column"
        fxLayoutGap="5px"
      >

          <mat-label class="label-text">{{'tag-cloud-config.hover-delay' | translate}}</mat-label>
          <mat-slider #hoverDelaySlider
                      [value]="hoverDelay"
                      (change)="parent.setCloudParameters({
                   backgroundColor: parent.getCurrentCloudParameters().backgroundColor,
                   fontColor: parent.getCurrentCloudParameters().fontColor,
                   fontSizeMin: parent.getCurrentCloudParameters().fontSizeMin,
                   fontSizeMax: parent.getCurrentCloudParameters().fontSizeMax,
                   hoverScale: parent.getCurrentCloudParameters().hoverScale,
                   hoverTime: parent.getCurrentCloudParameters().hoverTime,
                   hoverDelay: hoverDelaySlider.value,
                   delayWord: parent.getCurrentCloudParameters().delayWord,
                   randomAngles: parent.getCurrentCloudParameters().randomAngles
                   }, false)"
            min="0"
            max="2"
            step="0.1"
            formControlName="delay"
            [thumbLabel]="true"
          ></mat-slider>

      </div>
    </div>
    <br>
    <div class="button-row">
      <button mat-button class="secondary">{{'tag-cloud-config.cancel-btn' | translate}}</button>
      <button mat-button class="primary">{{'tag-cloud-config.save-btn' | translate}}</button>
    </div>
  </form>
</div>

