.button-row {
  display: flex;
  justify-content: space-evenly;
}

.save-or-cancel {
  margin-top: 1.5em;
}

mat-accordion {
  margin-block: 0.5em;
}

mat-slider {
  display: block;
}

.drawer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25em;
  margin: 1.25em;
  margin-top: 3.75em;
}

.weight-class-setting + .weight-class-setting {
  padding-top: 1.25em;
}

.custom-color-picker {
  display: none;
}

:host ::ng-deep .mat-expansion-panel-body {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
