h2 {
  font-size: 1.7rem;
}

.expansion-title {
  padding-bottom: 6px;
  font-size: 1.2rem;
}

#commentSlider {
  width: 100%;
}

div {
  margin: 4px 0;
}

.delete {
  margin-bottom: 20px;
  min-width: 220px;
}

.export {
  margin-bottom: 20px;
  min-width: 220px;
}

.tag-config-button {
  min-width: 135px;
}

.close-btn mat-icon {
  font-size: 20px;
  margin-top: 2px;
}

mat-icon {
  margin-right: 10px;
}

.submit {
  margin-top: 20px;
}

.color-box {
  flex: 1 1 100%;
  box-sizing: border-box;
  height: 30px;
  width: 20px;
  bottom: 8px;
  margin-top: 13px;
  margin-bottom: 10px;
  transform: translateY(-4px);
  display: block;
  position: relative;
  right: 40px;
  pointer-events: none;
}

.secondary {
  margin-right: 15px;
}

.button-row {
  width: 100%;
  margin: auto auto 20px auto;
}

.reset {
  width: 100%;
  margin: 25px auto auto auto;
}

.cloud-configuration-form {
  width: min-content;
  margin-top: 40px;
}

.drawer-container {
  margin: 20px;
  align-items: center;
  justify-content: center;
}

.custom-color-picker {
  display: none;
}

.custom-color-picker-text {
  position: absolute;
  top: 25px;
  transform: translateY(-35px);
}

.settings-heading {
  margin-left: 0;
  margin-right: auto;
}

::ng-deep .mat-drawer-backdrop {
  opacity: 0;
}

::ng-deep.mat-slider-track-background {
  opacity: 0.2;
}

.weight-class-setting-content {
  padding-top: 20px;
  padding-bottom: 15px;
}

#extendedViewButton {
  margin-right: 10px;
}

#accordion {
  margin-bottom: 10px;
  margin-top: 10px;
}

.weight-class-buttons {
  margin-bottom: 0;
}

.special-settings {
  padding: 10px 0;
  margin: 20px 30px 0px 30px;
}

#rotation {
  margin-top: 10px;
}

.matExpansionPanel {
  margin: 2px;
  padding: 5px;
}

.firstElementOfExpansionPanel {
  padding-top: 10px;
}

.firstElementOfWeightClass {
  margin-top: 10px;
  padding-bottom: 10px;
}

.save-or-cancel {
  width: max-content;
}

.alphabetical-sorting {
  margin-left: 0;
}
