<div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="20px" fxFill>
  <div fxLayout="row" fxLayoutAlign="center">
    <mat-tab-group class="login-tab-group">
      <mat-tab label="Creator">
        <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="20px">
          <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="5px">
            <app-login fxFill [role]="UserRole.CREATOR"></app-login>
          </div>
          <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="5px">
            <button mat-button color="primary" (click)="openRegisterDialog()">Register</button>
            <button mat-button color="primary" (click)="openPasswordDialog()">Password reset</button>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Participant">
        <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="20px">
          <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="5px">
            <app-login fxFill [role]="UserRole.PARTICIPANT"></app-login>
          </div>
          <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="5px">
            <button mat-button color="primary" (click)="openRegisterDialog()">Register</button>
            <button mat-button color="primary" (click)="openPasswordDialog()">Password reset</button>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
