.content {
  display: flex;
  flex-direction: column;
}

.previewOption {
  margin-bottom: 8px;
  background-color: var(--secondary);
  color: var(--on-secondary);

  &[ng-reflect-color='primary'] {
    background-color: var(--primary);
    color: var(--on-primary);
  }

  &[ng-reflect-color='accent'] {
    background-color: var(--secondary);
    color: var(--on-secondary);
    outline: var(--magenta) 2px solid;
    font-weight: bold;
  }

  &[ng-reflect-color='warn'] {
    background-color: var(--red);
    color: #ffffff;
  }
}

.split {
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding-top: 32px;
}

.mobile {
  flex-direction: column;

  > .adjust {
    width: auto;
    padding: 0;
    margin-top: 26px;
  }

  .fill {
    margin-top: -16px;
  }
}

.desktop {
  flex-direction: row;
}

.fill {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  > * {
    margin-bottom: 8px;
  }
}

.preview {
  display: flex;
  flex-direction: column;
}

.reverse {
  &-true {
    flex-direction: column-reverse;
  }
}

.adjust {
  width: 200px;
  display: flex;
  flex-direction: column;
  padding-left: 16px;

  > .mat-slide-toggle {
    padding: 8px 0;
  }
}
