.content {
  display: flex;
  flex-direction: column;
}

.previewOption {
  margin-bottom: 8px;
}

.split {
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding-top: 32px;
}

.fill {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  > * {
    margin-bottom: 8px;
  }
}

.adjust {
  width: 200px;
  display: flex;
  flex-direction: column;
  padding-right: 16px;
}
