<h1 mat-dialog-title>{{translateKey + '.dialog-title' | translate}}</h1>
<mat-dialog-content class="content">

  <div class="split" [ngClass]="device.isCurrentlyDesktop ? 'desktop' : 'mobile'">
    <div class="fill">
      <mat-form-field appearance="outline">
        <mat-label>{{translateKey + '.option-select-title' | translate}}</mat-label>
        <input matInput [(ngModel)]="livepollConfiguration.title">
        <mat-hint>{{translateKey + '.option-select-title-hint' | translate}}</mat-hint>
      </mat-form-field>
    </div>
    <div class="adjust">

      <mat-form-field appearance="outline">
        <mat-label>{{translateKey + '.option-select-template' | translate}}</mat-label>
        <mat-select [formControl]="templateSelection">
          <mat-optgroup *ngFor="let group of templateGroups" [label]="(translateKey + '.group-label' | translate)[group[0]]">
            <mat-option *ngFor="let template of group[1]" [value]="template">
              {{translateKey + '.template-name-' + template.name | translate}}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>

      <mat-slide-toggle [matTooltip]="translateKey + '.tooltip-option-select-result-visibility' | translate"
                        [(ngModel)]="livepollConfiguration.isResultVisible">{{translateKey + '.option-select-result-visibility' | translate}}
      </mat-slide-toggle>
      <mat-slide-toggle [matTooltip]="translateKey + '.tooltip-option-select-views-visibility' | translate"
                        [(ngModel)]="livepollConfiguration.isViewsVisible">{{translateKey + '.option-select-views-visibility' | translate}}
      </mat-slide-toggle>
    </div>
  </div>

  <p>{{translateKey + '.dialog-preview-title' | translate}}</p>

  <div class="preview" [ngClass]="'reverse-' + !!templateSelection.value.reverse" *ngIf="templateSelection.value">
    <ng-container *ngIf="templateSelection.value.symbols">
      <ng-container *ngFor="let symbol of templateSelection.value.symbols; index as i">
        <ng-container *ngTemplateOutlet="option;context:{
          i: i,
          symbol: symbol
        }"></ng-container>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="templateSelection.value.length">
      <ng-container *ngFor="let symbol of [].constructor(templateSelection.value.length); index as i">
        <ng-container *ngTemplateOutlet="option; context: {
          i: i,
          symbol: i
        }"></ng-container>
      </ng-container>
    </ng-container>
  </div>

</mat-dialog-content>

<mat-dialog-actions style="display: flex; justify-content: space-between">
  <button mat-flat-button color="warn" class="previewOption" (click)="dialogRef.close()">
    <span>{{translateKey + '.close' | translate}}</span>
  </button>
  <button mat-flat-button color="accent" class="previewOption">
    <span>{{translateKey + '.create' | translate}}</span>
  </button>
</mat-dialog-actions>

<ng-template #option let-i="i" let-symbol="symbol">
  <button class="previewOption" mat-flat-button [color]="selectedPreviewOption === i ? 'accent' : 'primary'"
          (click)="selectedPreviewOption = i">
    <ng-container *ngIf="templateSelection.value.isPlain">
          <span>{{ templateSelection.value.translate
            ? (translateKey + '.' + 'option-' + templateSelection.value.name! | translate)[i]
            : symbol }}</span>
    </ng-container>
    <ng-container *ngIf="!templateSelection.value.isPlain">
      <mat-icon>
        {{symbol}}
      </mat-icon>
    </ng-container>
  </button>
</ng-template>
