<h1 mat-dialog-title>{{translateKey + '.dialog-title' | translate}}</h1>
<mat-dialog-content class="content">
  <mat-form-field>
    <mat-label>{{translateKey + '.option-select-title' | translate}}</mat-label>
    <input matInput [(ngModel)]="titleSelection">
    <mat-hint>{{translateKey + '.option-select-title-hint' | translate}}</mat-hint>
  </mat-form-field>
  <div class="split">
    <div class="fill">
      <p>{{translateKey + '.dialog-preview-title' | translate}}</p>
      <ng-container *ngIf="templateSelection.value">
        <ng-container *ngFor="let symbol of templateSelection.value?.symbols; index as i">
          <button class="previewOption" mat-flat-button [color]="selectedPreviewOption===i?'accent':'primary'" (click)="selectedPreviewOption = i">
            <ng-container *ngIf="templateSelection.value.isPlain">
              <span>{{symbol}}</span>
            </ng-container>
            <ng-container *ngIf="!templateSelection.value.isPlain">
              <mat-icon>{{symbol}}</mat-icon>
            </ng-container>
          </button>
        </ng-container>
      </ng-container>
    </div>
    <div class="adjust">
      <mat-form-field>
        <mat-label>{{translateKey + '.option-select-template' | translate}}</mat-label>
        <mat-select [formControl]="templateSelection">
          <mat-select-trigger>
            {{translateKey + '.template-name-' + (templateSelection.value?.name || '') | translate}}
          </mat-select-trigger>
          <mat-option *ngFor="let template of templateContext" [value]="template">{{translateKey + '.template-name-' + template.name | translate}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-checkbox [matTooltip]="'create.tooltip-option-select-result-visibility' | translate"
                    [(ngModel)]="isResultVisible">{{translateKey + '.option-select-result-visibility' | translate}}</mat-checkbox>
      <mat-checkbox [matTooltip]="'create.tooltip-option-select-views-visibility' | translate"
                    [(ngModel)]="isViewsVisible">{{translateKey + '.option-select-views-visibility' | translate}}</mat-checkbox>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <app-dialog-action-buttons
    buttonsLabelSection="imprint"
    [cancelButtonClickAction]="buildDeclineActionCallback()"
    [spacing]="false">
  </app-dialog-action-buttons>
  <button mat-flat-button color="accent">
    <span>{{translateKey + '.create' | translate}}</span>
  </button>
</mat-dialog-actions>
