/// TODO(lph) check if this is really needed
$_m3-typography-token: (
  display-large: (
    font: Roboto,
    weight: 400,
    size: 57px,
    line-height: 64px,
    tracking: -0.25px,
  ),
  display-medium: (
    font: Roboto,
    weight: 400,
    size: 45px,
    line-height: 52px,
    tracking: 0px,
  ),
  display-small: (
    font: Roboto,
    weight: 400,
    size: 36px,
    line-height: 44px,
    tracking: 0px,
  ),
  headline-large: (
    font: Roboto,
    weight: 400,
    size: 32px,
    line-height: 40px,
    tracking: 0px,
  ),
  headline-medium: (
    font: Roboto,
    weight: 400,
    size: 28px,
    line-height: 36px,
    tracking: 0px,
  ),
  headline-small: (
    font: Roboto,
    weight: 400,
    size: 24px,
    line-height: 32px,
    tracking: 0px,
  ),
  title-large: (
    font: Roboto,
    weight: 400,
    size: 22px,
    line-height: 28px,
    tracking: 0px,
  ),
  title-medium: (
    font: Roboto,
    weight: 500,
    size: 16px,
    line-height: 24px,
    tracking: 0.15px,
  ),
  title-small: (
    font: Roboto,
    weight: 500,
    size: 14px,
    line-height: 20px,
    tracking: 0.1px,
  ),
  label-large: (
    font: Roboto,
    weight: 500,
    size: 14px,
    line-height: 20px,
    tracking: 0.1px,
  ),
  label-medium: (
    font: Roboto,
    weight: 500,
    size: 12px,
    line-height: 16px,
    tracking: 0.5px,
  ),
  label-small: (
    font: Roboto,
    weight: 500,
    size: 11px,
    line-height: 16px,
    tracking: 0.5px,
  ),
  body-large: (
    font: Roboto,
    weight: 400,
    size: 16px,
    line-height: 24px,
    tracking: 0.5px,
  ),
  body-medium: (
    font: Roboto,
    weight: 400,
    size: 14px,
    line-height: 20px,
    tracking: 0.25px,
  ),
  body-small: (
    font: Roboto,
    weight: 400,
    size: 12px,
    line-height: 16px,
    tracking: 0.4px,
  ),
);
