<mat-card class="primary-container">
  <mat-card-header>
    <p>{{ message.date }}</p>
    @if (!message.isRead) {
      <span style="flex: 1"></span>
      <mat-checkbox
        [checked]="message.isRead"
        (change)="setIsRead($event.checked)">
        {{ "footer.motd-mark-read" | translate }}
      </mat-checkbox>
    }
  </mat-card-header>

  <mat-card-content>
    <!-- <app-custom-markdown
      class="images"
      #markdown
      [data]="translatedMessage"></app-custom-markdown> -->
  </mat-card-content>
</mat-card>
