.spending-container {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .spending {
    padding: 24px;
    flex-basis: calc(33.33% - 16px);
    box-sizing: border-box;
    flex-grow: 1;
  
    background-color: var(--background);
    font-size: small;
  }
  
  .layout {
    display: grid;
    grid-template-rows: auto auto;
    width: 100%;
  }
  
  .information {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
  
    & .label:last-child {
      text-align: right;
    }
  }
  
  .bar {
    padding: 2px;
    background-color: var(--primary);
    border-radius: 14px;
  
    & .spent {
      width: 0;
      padding: 1px;
      background-color: var(--on-primary);
      border-radius: 14px;
    }
  }
  
  @media (max-width: 768px) {
    .spending {
      flex-basis: 100%;
      max-width: 100%;
    }
  }