<div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="20px" fxFill>
    <div fxLayout="row" fxLayoutAlign="center">
      <mat-progress-spinner *ngIf="isLoading" mode="indeterminate"></mat-progress-spinner>
      <mat-card *ngIf="room">
        <div fxLayout="row">
          <span class="fill-remaining-space"></span>
          <mat-card-header fxLayoutAlign="center">
            <mat-card-title fxLayoutAlign="center">
              <h2>{{ room.name }}</h2>
            </mat-card-title>
            <mat-card-subtitle fxLayoutAlign="center">
              <mat-icon *ngIf="moderationEnabled" class="gavel">
                gavel
              </mat-icon>
              <span class="room-short-id">
                {{ 'room-page.session-id' | translate}}: {{ room.shortId.slice(0, 4) }} {{  room.shortId.slice(4, 8) }}
              </span>
              <button id="copy" mat-icon-button (click)="copyShortId()">
                <mat-icon class="copy" matTooltip="{{ 'room-page.copy-session-id' | translate}}">save</mat-icon>
              </button>
            </mat-card-subtitle>
          </mat-card-header>
          <span class="fill-remaining-space"></span>
        </div>
        <mat-divider></mat-divider>
        <mat-card-content *ngIf="room.description" fxLayoutAlign="center">
          <h4>{{room.description.trim()}}</h4>
        </mat-card-content>
        <mat-grid-list cols="{{viewModuleCount}}" rowHeight="1:1">
            <mat-grid-tile>
              <button mat-icon-button [disableRipple]="true"
                      routerLink="/moderator/room/{{ room.shortId }}/comments">
                <mat-icon matBadge="{{commentCounter}}" class="main-icon"
                          [ngClass]="{'desktop' : deviceType === 'desktop'}">question_answer
                </mat-icon>
                <h3>{{ 'room-page.public-stream' | translate}}</h3>         <!-- *ngIf="deviceType === 'desktop'" -->
              </button>
            </mat-grid-tile>
            <mat-grid-tile *ngIf="moderationEnabled">
              <button mat-icon-button [disableRipple]="true"
                      routerLink="/moderator/room/{{ room.shortId }}/moderator/comments">
                <mat-icon matBadge="{{moderatorCommentCounter}}" class="main-icon"
                          [ngClass]="{'desktop' : deviceType === 'desktop'}">gavel
                </mat-icon>
                <h3>{{ 'room-page.moderating-stream' | translate}}</h3>         <!-- *ngIf="deviceType === 'desktop'" -->
              </button>
            </mat-grid-tile>
          <!--  <mat-grid-tile>
              <button mat-icon-button routerLink="/participant/room/{{ room.shortId }}/feedback-barometer">
                <mat-icon [ngClass]="{'desktop' : deviceType === 'desktop'}">thumbs_up_down</mat-icon>
                <h3 *ngIf="deviceType === 'desktop'">{{ 'room-page.give-feedback' | translate}}</h3>
              </button>
            </mat-grid-tile> -->
        </mat-grid-list>

        <!-- <app-content-groups *ngIf="room && room.contentGroups" [contentGroups]="room.contentGroups"></app-content-groups> -->
      </mat-card>

    </div>
  </div>
