<mat-form-field>
  <input matInput placeholder="Topic">
</mat-form-field>

<p></p>

<mat-form-field>
  <textarea matInput placeholder="Text" matTextareaAutosize matAutosizeMinRows="3"
  matAutosizeMaxRows="8"></textarea>
</mat-form-field>

<p></p>

<mat-radio-group>
  <mat-radio-button value="1"><input matInput placeholder="Answer 1"></mat-radio-button>
  <p></p>
  <mat-radio-button value="1"><input matInput placeholder="Answer 2"></mat-radio-button>
  <p></p>
  <mat-radio-button value="1"><input matInput placeholder="Answer 3"></mat-radio-button>
  <p></p>
  <mat-radio-button value="1"><input matInput placeholder="Answer 4"></mat-radio-button>
</mat-radio-group>
