<form (ngSubmit)="addContent(subjectTitle.value, bodyText.value)">
  <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px">
    <mat-form-field>
      <input class="input-block" #subjectTitle matInput (keypress)="resetEmptyInputs()" placeholder="Subject" [(ngModel)]="subject">
    </mat-form-field>
    <mat-form-field>
      <input class="input-block" #bodyText matInput matTextareaAutosize matAutosizeMinRows="3" matAutosizeMaxRows="8" (keypress)="resetEmptyInputs()"
        placeholder="Body" [(ngModel)]="body">
      <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="subject=''; body=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div fxLayout="row" fxLayoutGap="10px">
      <mat-slide-toggle>Allow absention</mat-slide-toggle>
      <mat-slide-toggle>Show hints</mat-slide-toggle>
    </div>
    <button mat-raised-button color="primary" type="submit">Create content
    </button>
  </div>
</form>
