.slogan {
  text-align: center;
  margin-bottom: 1em;
}

p {
  hyphens: auto;
}

ol {
  padding-left: 1em;
  line-height: 1.5;
}

li {
  padding-bottom: 10px;
  line-height: 1.5;
}

.screenshot {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  max-width: 100%;
  height: auto;
  outline: none;
  border-radius: 8px;
}
