<div data-nosnippet>

  <p class="slogan" tabindex="0">«&nbsp;Des questions ?&nbsp;»</p>

  <img alt="Auditoire"
       class="screenshot"
       height="185"
       src="/assets/background/auditorium.webp"
       srcset="/assets/background/auditorium.webp 1x, /assets/background/Auditorium-original-bw.webp 2x"
       loading="lazy"
       tabindex="-1"
       width="811">

  <div tabindex="0">
    <p>Les conférences, les cours et, depuis Corona, les séminaires en ligne se terminent généralement par&nbsp;: «&nbsp;Vous avez
      des questions ?&nbsp;». Et toujours
      personne ne répond, ou alors les questions
      toujours les mêmes, peu nombreux.
      Dans la salle de conférence, personne n'ose poser de questions, ou les questions que l'on a posées au cours de la
      conférence sont oubliées.
      On a oublié ce que l'on voulait dire.
      Dans le système de vidéoconférence, on n'agit pas de manière anonyme. La réunion peut être enregistrée.
      Les microphones sont muets,
      le chat devient vite confus et on a du mal à suivre les commentaires et les questions.</p>

    <p>Celui qui tient à ce que les conférences et les séminaires en ligne soient
      soit remis en question, il faut un outil permettant de poser des questions de manière anonyme et silencieuse.
      Un tel outil open-source est disponible gratuitement avec «&nbsp;frag.jetzt&nbsp;».
      Y a-t-il des réserves ? L'outil est-il accessible, conforme à la protection des données ?
      immédiatement utilisable avec n'importe quel terminal, sans formation ni compréhension technique ? Trois fois
      oui.</p>

    <p>Si je laisse utiliser «&nbsp;frag.jetzt&nbsp;» de manière anonyme et donc sans contrôle social, n'est-ce pas que
      j'invite aussi à l'abus ?
      inviter à en abuser ? Non, car le forum Q&R peut être modéré en direct par un auxiliaire&nbsp;: Seul
      appropriés à l'exposé
      Les questions et les commentaires restent sur le forum. De plus, tu peux automatiquement placer toutes les
      nouvelles questions dans la modération
      sont déplacées :
      Elles ne deviennent publiques que lorsque toi ou tes modérateurs les approuvent individuellement.
    </p>

    <p>Mais je ne peux pas répondre à toutes les questions dans les dix dernières minutes de ma conférence ou de mon
      séminaire en ligne.
      répondre à la question. Bien sûr ! C'est là que l'aspect collectif de l'outil entre en jeu&nbsp;: l'auditoire peut
      évaluer chaque question,
      en français moderne&nbsp;: voter vers le haut ou vers le bas. Tu peux répondre tout de suite aux questions les mieux
      notées par l'auditoire, et ensuite aux autres.
      les autres, si tu le souhaites, plus tard dans «&nbsp;frag.jetzt&nbsp;», puisque la session d'un utilisateur
      enregistré se poursuit.
    </p>
    <p>
      Tu peux également utiliser l'outil avant l'événement,
      pour rassembler les questions des participants et les mettre à disposition pour les pondérer.
      Cela permet d'impliquer les participants avant l'événement,
      permet d'interroger les attentes et les connaissances préalables et aide à adapter ton exposé ou ton séminaire en
      conséquence.
      d'adapter le cours.
    </p>
  </div>

  <h2 tabindex="0">Activer les étudiants en ligne et en salle de cours</h2>

  <p>
    Ceux qui ont donné des séminaires en ligne,
    sait ce que cela signifie de parler contre un «&nbsp;mur numérique&nbsp;» :
    Parler sans feedback avec une tendance à se parler à soi-même.
    On ne voit pas si les participants écoutent vraiment, s'ils comprennent ce qu'ils entendent ou s'ils sont même
    présents.
    Leurs caméras sont éteintes.
    Mais même si l'on voit l'auditoire, par exemple en face à face dans un amphithéâtre,
    il y a cette incertitude.
    Malte Persike explique dans son exposé comment utiliser les systèmes de réponse à l'audience,
    notamment avec des outils de backchannel comme «&nbsp;frag.jetzt&nbsp;», pour activer les étudiants :
  </p>

  <div class="video">
    <div class="videoWrapper">
      <iframe title="Malte Persike: Digitales Lehren, Lernen und Prüfen: Wie gelingt die Aktivierung von Studierenden?"
              src="https://www.podcampus.de/nodes/RkPlg/embed?vq=res0360"
              loading="lazy"
              tabindex="0"
              height="360"
              allowfullscreen>
      </iframe>
    </div>
  </div>

  <h2 tabindex="0">
    La particularité de «&nbsp;frag.jetzt&nbsp;»
  </h2>
  <p>
    Qu'est-ce qui distingue notre outil de backchannel de «&nbsp;Mentimeter&nbsp;», «&nbsp;Slido&nbsp;», «&nbsp;Poll Everywhere&nbsp;» et de beaucoup
    d'autres
    applications commerciales de feedback ?
    Il est le résultat de nombreuses années d'expérience avec des systèmes de réponse d'audience anonymes dans
    l'enseignement en présentiel et en ligne.
    l'enseignement en ligne.
    Outre une utilisation intuitive, prouvée par des études UX empiriques avec des centaines d'étudiants,
    des critères didactiques et motivationnels ont été déterminants pour la conception et le développement de
    l'application,
    voir notre
    <a class="info"
       href="https://arsnova.thm.de/blog/"
       target="_blank" rel="noopener">blog ARSnova<span>Ouvre une nouvelle page</span></a>.
  </p>
  <div tabindex="0">
    <p style="padding-top : 25px">
      <strong>Bonus pour les «&nbsp;bonnes questions&nbsp;»</strong><br><br>L'enseignant peut attribuer une étoile aux bonnes
      questions.
      Les personnes qui posent les questions reçoivent un code à 8 chiffres («&nbsp;token&nbsp;») pour chaque étoile acquise.
      Les tokens peuvent être échangés par e-mail contre des points bonus.
      L'enseignant vérifie les tokens soumis à l'aide de ceux attribués dans les archives des bonus de sa salle.
    </p>
    <p style="padding-top : 25px">
      <strong>Répondre aux questions ou les marquer</strong><br><br>
      Les enseignants et les animateurs peuvent répondre aux questions par l'affirmative,
      répondre par la négative, commenter ou marquer d'une étoile.
      Bien entendu, les icônes peuvent également être utilisées à d'autres fins de marquage.
      Elles servent également de critères de filtrage pour trouver rapidement les questions marquées ou commentées.
      Si l'enseignant a validé cette option, les participants peuvent également commenter toutes les questions.
      Des conversations sont possibles, c'est-à-dire des commentaires sur des commentaires.
    </p>
    <p style="padding-top : 25px">
      <strong>Catégoriser les questions</strong><br><br>
      Les créateurs de salles et les animateurs peuvent définir des catégories de questions («&nbsp;labels&nbsp;»).
      Les auteurs de questions peuvent attribuer leur question à l'une des catégories prédéfinies, même ultérieurement.
      Les questions catégorisées peuvent être filtrées en cliquant sur l'icône du label.
      Les labels permettent à l'animateur lors d'une discussion de podium,
      de filtrer les questions du public en fonction des thèmes ou des destinataires&nbsp;:
      label «&nbsp;Question à M. Scholz&nbsp;», label «&nbsp;Question à Mme Baerbock&nbsp;»&nbsp;…
    </p>

    <p style="padding-top : 25px">
      <strong>Marquer les questions avec des signets</strong><br><br>
      Les animateurs de salle et les participants peuvent marquer individuellement les questions avec des signets.
      Les signets des animateurs sont visibles entre eux et pour l'enseignant.
      Cela permet aux animateurs de faire une présélection commune pour la série de questions d'une session.
    </p>

    <p style="padding-top : 25px">
      <strong>Extraction de mots-clés&nbsp;: analyser et optimiser les questions à l'aide de l'IA</strong><br><br>
      Au cours d'un cours en ligne, le canal de retour peut rapidement accumuler des centaines de questions,
      dont il est difficile d'avoir une vue d'ensemble a posteriori.
      C'est là qu'intervient l'IA avec le NLP (Natural Language Processing),
      de garder une vue d'ensemble :
      Les substantifs dans les textes sont analysés en fonction de leur position grammaticale dans la phrase.
      et sont proposés comme mots-clés à la personne qui pose la question pour la classification thématique.
    </p>
    <p>
      Tout en sachant que la qualité linguistique d'un texte anonyme
      en termes d'orthographe, de grammaire, de ponctuation et de style est généralement faible,
      dans «&nbsp;frag.jetzt&nbsp;», le texte est transmis au service de traduction
      <a class="info"
         href="https://deepl.com"
         rel="noreferrer noopener"
         target="_blank">DeepL
        <span>Öffnet neue Seite</span>
      </a>

      et traduit dans une langue étrangère, par exemple l'allemand en anglais.
      L'IA derrière DeepL ignore quasiment toutes les lacunes linguistiques.
      La retraduction dans la langue source transforme un texte source mal écrit en texte généré.
      en un texte généré formellement correct et facile à lire,
      sans en dénaturer le contenu.
    </p>

    <p>
      Le texte optimisé est envoyé au logiciel NLP
      <a class="info"
         href="https://spacy.io/"
         rel="noreferrer noopener"
         target="_blank">«&nbsp;spaCy&nbsp;»<span>Ouvre une nouvelle page</span>
      </a>, pour en extraire les substantifs par cas comme mots-clés.
      Dans une dernière étape, nous vérifions si le mot-clé généré est indexé dans Wikipedia.
      Ce n'est que dans ce cas qu'il sera affiché.
    </p>

    <p>
      Le résultat est impressionnant :
      Nous créons un nuage de mots à partir des mots-clés générés par l'IA pour toutes les questions,
      que nous appelons à juste titre «&nbsp;nuage thématique&nbsp;» dans «&nbsp;frag.jetzt&nbsp;».
    </p>

    <p style="padding-top : 25px">
      <strong>Focus sur les questions&nbsp;: présenter les questions en plein écran</strong><br><br>
      Pour la discussion des questions au vidéoprojecteur, celles-ci peuvent être présentées individuellement en grand
      format.
      Le passage à la question suivante ou précédente se fait aisément à l'aide des touches fléchées.
      Il est également possible d'activer l'affichage en «&nbsp;mode kiosque&nbsp;» :
      Les nouvelles questions entrantes sont alors automatiquement affichées en plein écran.
    </p>
    <p>
      Dans le forum Q&R, de nouvelles questions ou évaluations peuvent rendre la lecture et la présentation difficiles,
      car les positions des questions changent.
      les positions des questions changent.
      Le bouton Pause permet de geler le flux de questions.
      De nouvelles questions ou évaluations sont toutefois toujours possibles.
    </p>

    <p style="padding-top : 25px">
      <strong>Chercher, trier et filtrer les questions</strong><br><br>
      La recherche rapide de questions spécifiques est rendue possible grâce aux options de recherche, de tri et de
      filtrage.
      La recherche plein texte inclut également les réponses.
      Le tri est possible en fonction du temps, de l'évaluation et de la controverse des questions.

    <p>
      En cliquant sur l'icône d'étiquette à une question, toutes les questions de cette catégorie s'affichent.
      En cliquant sur l'icône de l'utilisateur sur une question, toutes les questions de cet utilisateur sont affichées.
      Il est ainsi possible d'évaluer la répartition des questions entre les personnes qui les posent :
      Combien de personnes participent-elles ? Quelles sont les questions posées par une seule et même personne ?
    </p>

    <p>
      Les critères de filtrage sont au choix :
      excellent (étoile bonus), conversations, marquées (signet), non marquées, répondues, sans réponse,
      numéro de question, censuré et questions personnelles.
    </p>

    <p style="padding-top : 25px">
      <strong>Identifier les questions controversées</strong><br><br>
      Pour identifier les questions controversées, c'est-à-dire les questions
      pour lesquelles les votes positifs et négatifs s'équilibrent et ont une valeur proche de zéro dans le forum Q&R
      ont une valeur de réponse élevée,
      nous introduisons un critère de tri innovant&nbsp;: le degré de controverse ou de contradiction.
    </p>

    <p>
      Tout d'abord, nous calculons la différence entre les votes positifs et les votes négatifs et la déduisons du
      nombre total de
      voix, puis les déduire.
      Ce qui reste est le nombre absolu de votes controversés.
      Nous divisons cette valeur par le nombre total de votes pour obtenir le pourcentage.
      Enfin, nous étendons le pourcentage avec un terme empirique,
      afin que les questions avec très peu de votes controversés ne soient pas considérées comme plus controversées que
      les questions avec beaucoup de votes.
      votes.
      Un calcul simple mais très pertinent pour les séries de questions controversées !
    </p>

    <p style="padding-top : 25px">
      <strong>Rallye-questionnaire avec «&nbsp;antworte.jetzt&nbsp;»</strong><br><br>

      <img alt="antworte.jetzt"
           class="screenshot"
           src="/assets/images/Countdown.webp"
           loading="lazy"
           tabindex="-1"
           width="640"
           height="344">

      «&nbsp;frag.jetzt&nbsp;» dispose d'une option de quiz :
      Nous avons intégré notre application de quiz populaire basée sur le jeu «&nbsp;arsnova.click&nbsp;»,
      quelque peu adaptée et rebaptisée «&nbsp;répond.maintenant&nbsp;».
      Le site
      <a class="info"
         href="https://antworte.jetzt/info/about"
         rel="noreferrer noopener"
         target="_blank">Page d'information<span>Ouvre une nouvelle fenêtre</span>.
      </a>
      t'informe sur toutes les fonctionnalités.
      Le nombre de points dans le classement est calculé en tenant compte de la difficulté de la question du quiz.
      et de la brièveté du temps de réponse.
      Si toutes les questions du quiz prévues pour un bonus sont correctement répondues,
      le joueur ou la joueuse reçoit un code bonus qu'il peut utiliser en un clic en envoyant un e-mail à l'enseignant.
      peut être utilisé.
    </p>

    <p style="padding-top : 25px">
      <strong>Brainstorming</strong><br><br>

      <img alt="antworte.jetzt"
           class="screenshot"
           src="/assets/images/antworte_jetzt.webp"
           loading="lazy"
           tabindex="-1"
           width="640"
           height="344">

      Avec «&nbsp;frag.jetzt&nbsp;», il est possible de réaliser un brainstorming tout à fait dans l'esprit de la méthode de
      créativité.
      La question est affichée sous la forme d'un titre dans un nuage de mots, de sorte que tous les participants soient
      toujours au courant,
      ce pour quoi ils doivent développer et formuler des idées.
      Comme pour les questions, la saisie des idées est anonyme et peut être effectuée aussi souvent que souhaité.
      Toutes les idées sont affichées dans le nuage de mots de manière synchronisée avec la saisie.
      Si un seul mot doit être saisi pour une idée, l'IA le lemmatise,
      c'est-à-dire qu'elle lui donne sa forme de base, de sorte que les mentions multiples sont reconnues à coup sûr et
      immédiatement affichées en caractères plus grands.
      sont visibles.<br><br>
      Dans la phase de discussion du brainstorming, les idées peuvent être valorisées ou dévalorisées par tous les
      participants,
      en déplaçant le curseur de la souris sur l'entrée et en cliquant sur l'icône correspondante.
      Les évaluations ont une influence directe sur le calcul de la taille des caractères, de sorte que le nuage de mots
      se met à jour de manière dynamique.
      est mis à jour.
      Les modérateurs peuvent éditer ou bannir des contributions individuelles.<br><br>
      Lors de la saisie d'une idée, les participants peuvent également indiquer leur nom.
      Les auteurs des idées sont visibles dans la liste des questions-réponses si le filtre correspondant a été activé.
    </p>

    <p style="padding-top : 25px">
      <strong>Mail d'alerte</strong><br><br>Les utilisateurs enregistrés peuvent recevoir par mail
      être informés des nouvelles questions et réponses.
      Le jour de la semaine et l'heure de la notification par e-mail sont réglables.
    </p>

    <p style="padding-top : 25px">
      <strong>Gratuit avec toutes les fonctionnalités</strong><br><br>
      Il est possible de réserver gratuitement autant de salles que l'on veut en tant qu'invité ou utilisateur
      enregistré.
      Le nombre d'utilisateurs participant à une salle n'est pas limité.
      Les salles des utilisateurs enregistrés sont conservées durablement.
      Ce n'est que 180 jours après la dernière utilisation d'une salle que celle-ci est automatiquement supprimée.
      Toutes les questions peuvent être enregistrées dans un tableau Excel avec leurs évaluations et leurs commentaires.
    </p>

    <p style="padding-top : 25px">
      <strong>Accessibilité</strong><br><br>Dans «&nbsp;frag.jetzt&nbsp;», les cas d'utilisation sont lus par un audioguide et
      sont disponibles sur
      navigables à l'aide des touches numériques.
      Cela permet d'utiliser l'application confortablement et rapidement, sans avoir à parcourir toute la page avec le
      lecteur d'écran.

      L'interface utilisateur répond aux exigences de lisibilité selon WCAG 2.1 AA.
      Des options d'affichage appropriées sont disponibles pour la présentation au projecteur et pour les personnes
      malvoyantes.
      sont disponibles.
      En particulier, la taille des caractères des questions peut être mise à l'échelle.
      Outre le code de salle, il est également possible d'accéder à une salle via un lien direct généré automatiquement.
    </p>

    <p style="padding-top : 25px">
      <strong>Protection des données</strong><br><br>«&nbsp;frag.jetzt&nbsp;» peut être utilisé de manière totalement anonyme lors
      d'une inscription en tant qu'invité.
      peut être utilisé de manière anonyme.
      Les comptes des utilisateurs enregistrés sont enregistrés et gérés conformément aux dispositions du RGPD en
      matière de protection des données.
      Le code du programme est un "logiciel open source" et peut être consulté sur
      <a class="info"
         href="https://github.com/thm-projects/frag.jetzt"
         target="_blank" rel="noopener">
        GitHub<span>Ouvre une nouvelle page</span></a>.
    </p>

    <p style="padding-top : 25px">
      <strong>Options d'utilisation</strong><br><br>«&nbsp;frag.jetzt&nbsp;» est un service gratuit en tant que «&nbsp;Software as a Service&nbsp;».
      exploité par TransMIT GmbH sur des serveurs en Allemagne, voir
      Mentions légales.
      Pour ceux qui souhaitent utiliser «&nbsp;frag.jetzt&nbsp;» sur leur propre serveur, des instructions d'installation de Docker
      sont disponibles sur
      <a class="info"
         href="https://github.com/thm-projects/frag.jetzt/blob/master/README.md"
         target="_blank" rel="noopener">GitHub <span>Ouverture d'une nouvelle fenêtre</span>
      </a>
      ou peut demander à TransMit GmbH de le faire.
    </p>

    <p style="padding-top : 25px">
      <strong>«&nbsp;Progressive Web App&nbsp;» (PWA)</strong><br><br>
      Bien qu'il s'agisse d'une page web ordinaire, elle se comporte comme une application de l'App Store.
      Tu peux l'installer à partir du navigateur&nbsp;: «&nbsp;Ajouter à la page d'accueil&nbsp;».
      Ensuite, elle se lance comme une app ordinaire.
      En tant que PWA, elle fonctionne sur n'importe quel smartphone, quel que soit le système d'exploitation ou le
      navigateur.
      Ainsi, ton public sera toujours prêt à utiliser «&nbsp;frag.jetzt&nbsp;» sur place et spontanément.
    </p>

    <p style="padding-top : 25px">
      <strong>Logiciel libre, sans publicité</strong><br><br>
      «&nbsp;frag.jetzt&nbsp;» est depuis le semestre d'hiver 2019/20 un projet open source de la Technische Hochschule
      Mittelhessen,
      THM.
      Le site web est neutre vis-à-vis des fabricants et exempt de publicité.
      Son développement est garanti pour les années à venir.
      Ensuite, le chef de projet partira à la retraite et gérera le projet comme un hobby.
      Mais d'ici là, des centaines d'étudiants en informatique de la THM travailleront de façon engagée et continue sur
      tous les aspects du
      développement de logiciels
      (expérience utilisateur, haute disponibilité et sécurité) – pas pour de l'argent, mais pour des points de crédit
      et des bonnes notes.
    </p>
  </div>

  <h2 style="padding-top : 25px" tabindex="0">Utilisation du téléphone portable en salle de cours</h2>
  <div tabindex="0">
    <p>
      L'utilisation du smartphone pendant l'événement entraîne un risque élevé de distraction.
      Nous avons tiré les leçons de notre longue expérience avec les systèmes de réponse à l'audience en salle de cours,
      comment aborder le risque de distraction de manière didactique :
    </p>

    <ol>
      <li>
        <p>Utilisation du téléphone portable pendant le cours :</p>
        Un auxiliaire anime le forum de questions-réponses sur place ou à distance.
        10 minutes avant la fin du cours, l'enseignant répond à 2-3 questions de pointe au projecteur.
        <br><br>
        Que faire si je n'ai pas d'assistant à disposition ?
        Demande à une personne de premier rang de faire ce travail.
        Elle ou il ne dira pas non.
      </li>
      <li>
        <p>Utilisation du téléphone portable uniquement pendant la pause :</p>
        L'enseignant communique le code de la salle pendant la pause et anime lui-même les questions.
        Après la pause, il répond à 2-3 questions de pointe.
      </li>
      <li>
        <p> Pas d'utilisation du téléphone portable pendant le cours (A) :</p>
        L'enseignant crée une nouvelle salle à la fin de chaque cours magistral.
        Les étudiants peuvent poser des questions et les évaluer chez eux.
        Le forum de questions-réponses est animé par un auxiliaire ou par l'enseignant lui-même.
        Au cours des 10 premières minutes du cours suivant, l'enseignant aborde 2 à 3 questions phares.
      </li>
      <li>
        <p>Pas d'utilisation de téléphone portable pendant le cours (B) :</p>
        L'enseignant crée une salle pour toute la durée du cours.
        Un auxiliaire anime le forum de questions-réponses pendant le semestre.
        L'enseignant met en évidence les questions pertinentes et supprime toutes les autres.
        Le forum Q&R sert ainsi à la réflexion sur le contenu du cours et à la préparation de l'examen.
      </li>
    </ol>
  </div>
</div>
