@switch (lang()) {
  @case ("de") {
    <app-ask-onboarding-de></app-ask-onboarding-de>
  }
  @case ("fr") {
    <app-ask-onboarding-fr></app-ask-onboarding-fr>
  }
  @default {
    <app-ask-onboarding-en></app-ask-onboarding-en>
  }
}

<mat-dialog-actions>
  <button
    mat-button
    [mat-dialog-close]="false">
    {{ "ask-onboarding.cancel" | translate }}
  </button>
  <span style="flex: 1"></span>
  <button
    mat-flat-button
    [mat-dialog-close]="true">
    {{ "ask-onboarding.start" | translate }}
  </button>
</mat-dialog-actions>
