<h2
  tabindex="0"
  mat-dialog-title>
  {{ "introductions.question-wall-title" | translate }}
</h2>

<mat-dialog-content tabindex="0">
  <app-introduction-question-wall-en
    *ngIf="currentLanguage === 'en'"></app-introduction-question-wall-en>
  <app-introduction-question-wall-de
    *ngIf="currentLanguage === 'de'"></app-introduction-question-wall-de>
  <app-introduction-question-wall-fr
    *ngIf="currentLanguage === 'fr'"></app-introduction-question-wall-fr>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-button
    class="primary-button"
    mat-dialog-close>
    {{ "introductions.cancel" | translate }}
  </button>
</mat-dialog-actions>
