<div class="background-container">
  <div class="background row content-end">
    <qw-running-number-background
      [commentIdentifier]="data.comment.comment.number"
      [marker]="
        data.session.userContext[comment.comment.creatorId]?.marker
      "></qw-running-number-background>
  </div>
</div>
<div class="header">
  <ars-date-formatter
    [formatter]="dateFormatter"
    [date]="comment.comment.createdAt"></ars-date-formatter>
</div>
<div class="content">
  <app-markdown-viewer
    #markdownViewerComponent
    [data]="comment.comment.body"></app-markdown-viewer>
</div>
<qw-comment-footer [comment]="comment">
  <button
    mat-button
    *ngIf="replies.length > 0"
    (click)="answersExpanded = !answersExpanded">
    <mat-icon>
      {{ answersExpanded ? "keyboard_arrow_up" : "keyboard_arrow_down" }}
    </mat-icon>
    {{ replies.length }} replies
  </button>
</qw-comment-footer>
@if (answersExpanded && replies.length) {
  <qw-comment-response-window [replies]="replies"></qw-comment-response-window>
}
