<div class="header">
  <ars-date-formatter
    [formatter]="dateFormatter"
    [date]="comment.createdAt"></ars-date-formatter>
</div>
<div class="content">
  <app-markdown-viewer [data]="comment.body"></app-markdown-viewer>
  @if (comment.answerCounts.accumulated && expandAnswers) {
  } @else if (!comment.answerCounts.accumulated) {
    <div class="row items-center content-center">
      <button (click)="expandAnswers = true">show answers</button>
    </div>
  }
</div>
<qw-comment-footer [comment]="comment"></qw-comment-footer>
