#commentSlider {
  width: 100%;
}

.delete {
  margin-bottom: 20px;
  min-width: 220px;
}

.export {
  margin-bottom: 20px;
  min-width: 220px;
}

button {
  min-width: 105px;
}

mat-icon {
  margin-right: 10px;
}

.submit {
  margin-top: 20px;
}
