<div data-nosnippet>
  <p>Below we inform you about the processing of your personal data when using the OpenAI API.</p>
  <h3>Controller</h3>
  <p>The controller as defined in the General Data Protection Regulation (GDPR) is:</p>
  <p>OpenAI Inc.<br>
    350 Rhode Island St.<br>
    San Francisco, CA 94103<br>
    USA</p>
  <h3>Purposes of processing and legal basis</h3>
  <p>The OpenAI API does not process any personal data from you.</p>
  <h3>Data transfer</h3>
  <p>Your data is processed on servers outside of the European Union. Your personal data will not be disclosed to any
    third party, unless required by law.</p>
  <h3>Data storage</h3>
  <p>Data transmitted through the OpenAI API will be stored for abuse and misuse monitoring purposes for a maximum of 30
    days, unless a longer retention period is required by law.</p>
  <h3>Your rights</h3>
  <p>You have the right to information, correction, deletion, limitation of processing, and data portability. You also
    have the right to withdraw your consent at any time, without affecting the lawfulness of processing based on consent
    before its withdrawal. You also have the right to lodge a complaint with a supervisory authority.</p>
  <p>If you have any questions regarding the processing of your personal data or wish to exercise any of your rights
    regarding your personal data, please contact us at openai.com/policies/privacy-policy.</p>
</div>