<div data-nosnippet>
  <p tabindex="0">
    <b>Consentement au traitement de données personnelles</b><br>
    Nous, OpenAI, traitons vos données personnelles lorsque vous utilisez notre chatbot, ChatGPT. Ces données incluent notamment vos saisies et réponses au chatbot.
  </p>
  <p tabindex="0">
    <b>Stockage de vos données</b><br>
    Vos données sont stockées sur des serveurs sécurisés aux États-Unis. Nous prenons toutes les mesures nécessaires pour protéger vos données contre tout accès et utilisation non autorisés.
  </p>
  <p tabindex="0">
    <b>Utilisation de vos données</b><br>
    Nous utilisons vos données uniquement pour améliorer le chatbot pour vous et d'autres utilisateurs. Dans ce cadre, il est possible que nous pseudonymisions vos données et les utilisions à des fins scientifiques.
  </p>
  <p tabindex="0">
    <b>Vos droits</b><br>
    Vous avez le droit de retirer votre consentement à tout moment. Vous avez également le droit de demander l'accès, la rectification et la suppression de vos données personnelles. Veuillez nous contacter à l'adresse privacy@openai.com pour cela.
  </p>
  <p tabindex="0">
    <b>En utilisant notre chatbot, vous consentez au traitement de vos données personnelles conformément à ce consentement.</b>
  </p>
</div>
