<div data-nosnippet>
  <p>Ci-dessous, nous vous informons sur le traitement de vos données personnelles lors de l'utilisation de l'OpenAI
    API.</p>
  <h3>Responsable</h3>
  <p>Le responsable, tel que défini dans le Règlement général sur la protection des données (RGPD), est :</p>
  <p>OpenAI Inc.<br>
    350 Rhode Island St.<br>
    San Francisco, CA 94103<br>
    USA</p>
  <h3>Finalités du traitement et base juridique</h3>
  <p>L'OpenAI API ne traite aucune donnée personnelle vous concernant.</p>
  <h3>Transfert de données</h3>
  <p>Vos données sont traitées sur des serveurs situés en dehors de l'Union européenne. Vos données personnelles ne
    seront pas divulguées à des tiers, sauf si la loi l'exige.</p>
  <h3>Stockage des données</h3>
  <p>Les données transmises via l'OpenAI API seront stockées à des fins de surveillance des abus et des utilisations
    abusives pendant une période maximale de 30 jours, sauf si une période de conservation plus longue est exigée par la
    loi.</p>
  <h3>Vos droits</h3>
  <p>Vous avez le droit d'information, de rectification, d'effacement, de limitation du traitement et de portabilité des
    données. Vous avez également le droit de retirer votre consentement à tout moment, sans affecter la légalité du
    traitement basé sur le consentement avant son retrait. Vous avez également le droit de déposer une plainte auprès
    d'une autorité de contrôle.</p>
  <p>Si vous avez des questions concernant le traitement de vos données personnelles ou si vous souhaitez exercer l'un
    de vos droits concernant vos données personnelles, veuillez nous contacter à l'adresse
    openai.com/policies/privacy-policy.</p>
</div>