<div data-nosnippet>
  <p tabindex="0">
    <b>Consent to the Processing of Personal Data</b><br>
    We, OpenAI, process your personal data when you use our chatbot, ChatGPT. This data includes, among other things, your inputs and responses to the chatbot.
  </p>
  <p tabindex="0">
    <b>Storage of Your Data</b><br>
    Your data is stored on secure servers in the United States. We take all necessary measures to protect your data from unauthorized access and misuse.
  </p>
  <p tabindex="0">
    <b>Use of Your Data</b><br>
    We use your data exclusively to improve the chatbot for you and other users. It may be necessary for us to pseudonymize your data and use it for scientific purposes.
  </p>
  <p tabindex="0">
    <b>Your Rights</b><br>
    You have the right to revoke your consent at any time. Additionally, you have the right to information, correction, and deletion of your personal data. Please contact us at privacy@openai.com for this purpose.
  </p>
  <p tabindex="0">
    <b>By using our chatbot, you consent to the processing of your personal data in accordance with this agreement.</b>
  </p>
</div>
