<div data-nosnippet>
  <p>Nachfolgend informieren wir Sie über die Verarbeitung Ihrer personenbezogenen Daten bei Nutzung der OpenAI API.</p>
  <h3>Verantwortlicher</h3>
  <p>Verantwortlicher im Sinne der Datenschutz-Grundverordnung (DSGVO) ist:</p>
  <p>OpenAI Inc.<br>
    350 Rhode Island St.<br>
    San Francisco, CA 94103<br>
    USA</p>
  <h3>Verarbeitungszwecke und Rechtsgrundlage</h3>
  <p>Die OpenAI API verarbeitet keine personenbezogenen Daten von Ihnen.</p>
  <h3>Datenübermittlung</h3>
  <p>Ihre Eingaben an ChatGPT werden auf Servern außerhalb der Europäischen Union verarbeitet. Es werden dabei keine
    personenbezogenen Daten an die API von OpenAI übermittelt.</p>
  <h3>Datenspeicherung</h3>
  <p>Daten, die über die OpenAI API übermittelt werden, werden für Missbrauchs- und Fehlernutzungskontrollen für maximal
    30 Tage gespeichert, es sei denn, es besteht eine gesetzliche Verpflichtung zur längeren Speicherung.</p>
  <h3>Ihre Rechte</h3>
  <p>Sie haben das Recht auf Auskunft, Berichtigung, Löschung, Einschränkung der Verarbeitung sowie auf
    Datenübertragbarkeit. Des Weiteren haben Sie das Recht, Ihre Einwilligung jederzeit zu widerrufen, ohne dass die
    Rechtmäßigkeit der aufgrund der Einwilligung bis zum Widerruf erfolgten Verarbeitung berührt wird. Sie haben zudem
    das Recht, sich bei einer Aufsichtsbehörde zu beschweren.</p>
  <p>Wenn Sie Fragen zur Verarbeitung Ihrer personenbezogenen Daten haben oder eines Ihrer Rechte in Bezug auf Ihre
    personenbezogenen Daten ausüben möchten, kontaktieren Sie uns bitte unter openai.com/policies/privacy-policy.</p>
</div>