<div data-nosnippet>
  <p tabindex="0">
    <b>Zustimmung zur Verarbeitung personenbezogener Daten</b><br>
    Wir, OpenAI, verarbeiten Deine personenbezogenen Daten, wenn Du unseren Chatbot, ChatGPT, nutzt. Diese Daten umfassen u.a. Deine Eingaben und Antworten des Chatbots.
  </p>
  <p tabindex="0">
    <b>Speicherung Deiner Daten</b><br>
    Deine Daten werden auf sicheren Servern in den USA gespeichert. Wir treffen alle notwendigen Maßnahmen, um Deine Daten vor unberechtigtem Zugriff und Missbrauch zu schützen.
  </p>
  <p tabindex="0">
    <b>Verwendung Deiner Daten</b><br>
    Wir nutzen Deine Daten ausschließlich, um den Chatbot für Dich und andere Nutzer verbessern zu können. Hierbei kann es vorkommen, dass wir Deine Daten pseudonymisieren und für wissenschaftliche Zwecke verwenden.
  </p>
  <p tabindex="0">
    <b>Deine Rechte</b><br>
    Du hast das Recht, Deine Einwilligung jederzeit zu widerrufen. Außerdem hast Du das Recht auf Auskunft, Berichtigung und Löschung Deiner personenbezogenen Daten. Bitte kontaktiere uns hierfür unter privacy@openai.com.
  </p>
  <p tabindex="0">
    <b>Indem Du unseren Chatbot nutzt, willigst Du in die Verarbeitung Deiner personenbezogenen Daten gemäß dieser Zustimmung ein.</b>
  </p>
</div>
