<form (ngSubmit)="login(userActivationKey.value)" fxLayout="column" fxLayoutAlign="space-around"
      fxLayoutGap="10px">
  <mat-form-field class="input-block">
    <input (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()"
           matInput #userActivationKey type="text"
           [formControl]="activationKeyFormControl" name="activation-key"
           aria-labelledby="activation-key-input-description"/>
    <mat-placeholder class="placeholder">{{ 'login.activation-key' | translate }}</mat-placeholder>
    <mat-error *ngIf="activationKeyFormControl.hasError('required')">{{ 'login.activation-key-required' | translate }}</mat-error>
  </mat-form-field>
</form>
<app-dialog-action-buttons
  buttonsLabelSection="login"
  confirmButtonLabel="activate"
  [cancelButtonClickAction]="buildCloseDialogActionCallback()"
  [confirmButtonClickAction]="buildActivationActionCallback(userActivationKey)"
></app-dialog-action-buttons>

<div class="visually-hidden">
  <div id="activation-key-input-description">
    {{ 'login.activation-key-input-description' | translate }}
  </div>
</div>
