<form (ngSubmit)="login(userActivationKey.value)" fxLayout="column" fxLayoutAlign="space-around"
      fxLayoutGap="10px">
  <mat-form-field class="input-block">
    <input (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()"
           matInput #userActivationKey type="text" placeholder="{{ 'login.activation-key' | translate }}"
           [formControl]="activationKeyFormControl" name="activation-key"/>
    <mat-error *ngIf="activationKeyFormControl.hasError('required')">{{ 'login.activation-key-required' | translate }}</mat-error>
  </mat-form-field>
</form>
<app-dialog-action-buttons
  buttonsLabelSection="login"
  confirmButtonLabel="activate"
  [cancelButtonClickAction]="buildCloseDialogActionCallback()"
  [confirmButtonClickAction]="buildActivationActionCallback(userActivationKey)"
></app-dialog-action-buttons>
