<h2
  tabindex="0"
  mat-dialog-title>
  {{ "introductions.moderation-title" | translate }}
</h2>

<mat-dialog-content tabindex="0">
  <app-introduction-moderation-en
    *ngIf="currentLanguage === 'en'"></app-introduction-moderation-en>
  <app-introduction-moderation-de
    *ngIf="currentLanguage === 'de'"></app-introduction-moderation-de>
  <app-introduction-moderation-fr
    *ngIf="currentLanguage === 'fr'"></app-introduction-moderation-fr>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-button
    class="primary-button"
    mat-dialog-close>
    {{ "introductions.cancel" | translate }}
  </button>
</mat-dialog-actions>
