<h2 mat-dialog-title>{{ "brainstorming-blacklist.title" | translate }}</h2>

<mat-dialog-content>
  <mat-form-field>
    <mat-label>
      {{ "brainstorming-blacklist.placeholder-add" | translate }}
    </mat-label>
    <input
      matInput
      [(ngModel)]="newBlacklistWord" />
  </mat-form-field>

  <button
    mat-stroked-button
    class="primary-button"
    (click)="addBlacklistWord()">
    {{ "brainstorming-blacklist.add-button" | translate }}
  </button>

  <button
    mat-stroked-button
    class="secondary-button"
    *ngIf="blacklist?.length > 0"
    (click)="showBlacklistWordList = !showBlacklistWordList">
    {{
      showBlacklistWordList
        ? ("brainstorming-blacklist.hide-button" | translate)
        : ("brainstorming-blacklist.show-button" | translate)
    }}
  </button>

  <mat-list
    role="list"
    *ngIf="showBlacklistWordList && blacklist?.length > 0"
    class="margin-bottom">
    <mat-list-item
      class="color-on-surface"
      *ngFor="let word of blacklist"
      role="listitem">
      {{ word.word }}
      <button
        mat-icon-button
        matTooltip="{{ 'brainstorming-blacklist.back' | translate }}"
        (click)="removeWordFromBlacklist(word.id)">
        <mat-icon
          class="material-icons-outlined"
          mat-list-icon>
          undo
        </mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    class="primary-button"
    mat-stroked-button
    [mat-dialog-close]="blacklist">
    {{ "brainstorming-blacklist.update" | translate }}
  </button>
</mat-dialog-actions>
