<div class="column content-center items-center gap-medium grow flex-container">
  <app-room-join class="flex-item"></app-room-join>
  <button
    class="flex-item"
    [joyrideStep]="'createRoom'"
    appJoyrideTemplate
    [stepPosition]="'top'"
    [disabled]="!sessionService.isReady"
    id="new_session-button"
    mat-flat-button
    class="secondary"
    (click)="openCreateRoomDialog()"
    aria-labelledby="create-label">
    <mat-icon>add</mat-icon>
    {{ i18n().createSession }}
  </button>

  <div class="visually-hidden">
    <div id="create-label">
      {{ i18n().a11y }}
    </div>
  </div>
</div>
