.demo {
  margin-bottom: 40px;
}

form {
  padding-top: 40px;
}

h3 {
  color: #4db6ac;
  text-align: center;
}

.fab-extended {
  width: 70%;
  height: 48px;
  padding: 0px;
  border-radius: 32px;
  justify-content: center;
}

input {
  font-size: x-large;
}
