.demo {
  margin-bottom: 20px;
}

form {
  padding-top: 40px;
}

.fab-extended {
  width: 70%;
  height: 48px;
  border-radius: 32px;
  margin-bottom: 10%;
}

mat-form-field {
  font-size: x-large;
}
