@use "@angular/material" as mat;

$purple-primary: mat.define-palette(mat.$purple-palette, 500);
$purple-accent: mat.define-palette(
  mat.$amber-palette,
  200
); //$mat-purple-gray, A200, A100, A400);

$purple-warn: mat.define-palette(mat.$red-palette, A100);

$purple-theme: mat.define-light-theme(
  $purple-primary,
  $purple-accent,
  $purple-warn
);

.mat-mdc-dialog-container {
  color: var(--on-surface) !important;
}

.mat-mdc-dialog-container h3 {
  color: var(--on-surface) !important;
}

.mat-mdc-menu-panel {
  background-color: var(--dialog) !important;
  color: var(--on-dialog) !important;
}

.mat-mdc-menu-panel .mat-mdc-menu-item {
  background-color: var(--dialog) !important;
  color: var(--on-dialog) !important;
}

/*TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
.mat-button-disabled {
  background-color: lightgray !important;
  color: darkslategray !important;
  outline: gray solid 1px !important;
}
