<h1
  tabindex="0"
  mat-dialog-title>
  {{ "introductions.prompt-explanation" | translate }}
</h1>

<mat-dialog-content tabindex="0">
  <app-gptpromptexplanation-en
    *ngIf="
      languageService.currentLanguage() === 'en'
    "></app-gptpromptexplanation-en>

  <app-gptpromptexplanation-de
    *ngIf="
      languageService.currentLanguage() === 'de'
    "></app-gptpromptexplanation-de>

  <app-gptpromptexplanation-fr
    *ngIf="
      languageService.currentLanguage() === 'fr'
    "></app-gptpromptexplanation-fr>
</mat-dialog-content>

<app-dialog-action-buttons
  confirmButtonLabel="cancel"
  buttonsLabelSection="introductions"
  [confirmButtonClickAction]="onClose.bind(this)"></app-dialog-action-buttons>
