<h2
  tabindex="0"
  mat-dialog-title>
  {{ "introductions.prompt-explanation" | translate }}
</h2>

<mat-dialog-content tabindex="0">
  <app-gptpromptexplanation-en
    *ngIf="currentLanguage === 'en'"></app-gptpromptexplanation-en>

  <app-gptpromptexplanation-de
    *ngIf="currentLanguage === 'de'"></app-gptpromptexplanation-de>

  <app-gptpromptexplanation-fr
    *ngIf="currentLanguage === 'fr'"></app-gptpromptexplanation-fr>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-button
    class="primary-button"
    mat-dialog-close>
    {{ "introductions.cancel" | translate }}
  </button>
</mat-dialog-actions>
