.pricing-plan-container {
  text-align: center;
  padding: 40px 0;
}

.pricing-title {
  font-size: 1.5rem;
  margin-bottom: 50px;
  font-weight: bold;
}

.token-icon-align {
  vertical-align: bottom;
}

.token-title-text {
  text-align: center;
}

.token-balance h2 .icon {
  font-size: 1.4rem;
  margin-right: 8px;
}

/* Add a gentle animation when tokens are updated */
.token-balance.updated {
  animation: token-update 0.5s ease-out;
}

@keyframes token-update {
  0% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.pricing-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  position: relative;
  flex-wrap: wrap;
  /* Ensures responsiveness for more cards */
}

.mat-card-hover:hover {
  transform: scale(1.05);
  /* Scale the card up by 5% */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  /* Increase shadow for effect */
}

.dynamic-content-card mat-list-item {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: normal;
  white-space: pre-wrap;
}

.token-card {
  display: inline-block;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: var(--sys-surface-container-highest);
}

.pricing-card {
  width: 300px;
  padding: 20px;
  border-radius: 15px;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: var(--sys-surface-container-highest);
}

.full-width > ::ng-deep div {
  width: 100%;
}

mat-card-subtitle {
  font-weight: bold;
}

.pricing-card mat-icon {
  color: #7a7803;
}

.purchased {
  border: 2px solid #b0b0b0;
  /* Grey border for purchased */
  transform: none;
  /* Remove the raised effect */
  box-shadow: none;
  /* Remove the shadow */
}

.suggested {
  border: 2px solid #1771bb;
  /* Grey border for purchased */
  transform: none;
  /* Remove the raised effect */
  box-shadow: none;
  /* Remove the shadow */
}

.pricing-card ul {
  list-style-type: none;
  padding: 0;
}

.pricing-card ul li {
  margin-bottom: 10px;
  font-size: 0.9rem;
}

.wrap-list-content {
  // text-wrap: wrap;
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
}

/* Price Styling */
.price {
  font-size: 2rem;
  margin-top: 10px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.currency {
  font-size: 1.5rem;
  vertical-align: top;
  margin-right: 5px;
}

.pricing-card mat-card-content {
  margin-bottom: 20px;
}

.pricing-card mat-card-actions {
  display: flex;
  justify-content: center;
}

.mat-divider {
  margin-top: 20px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .pricing-cards {
    flex-direction: column;
    align-items: center;
  }

  .pricing-card {
    width: 90%;
  }
}
.pricing-plan-container {
  text-align: center;
  padding: 40px 0;
}

.pricing-title {
  font-size: 1.5rem;
  margin-bottom: 50px;
  font-weight: bold;
}

.token-card {
  padding: 20px;
  border-radius: 15px;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: var(--sys-surface-container-highest);
  text-align: left; /* Links ausgerichtet */
}

.token-card h2,
.token-card h3,
.token-card p,
.token-card ul,
.token-card table {
  margin: 10px 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
  font-size: 1rem;
}

table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

@media (max-width: 768px) {
  .token-card {
    width: 90%;
  }
}

.mat-card-hover:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
