<div class="pricing-plan-container">
  <h1 class="pricing-title mat-display-large">
    {{ i18n().title }}
  </h1>
  <!--<h1 mat-card-title="pricing-title" class="pricing-title">{{ i18n().title }}</h1> -->

  <div class="pricing-cards">
    <!-- Basic Plan -->
    <mat-card class="pricing-card">
      <mat-card-header class="full-width">
        <mat-card-title>
          <mat-icon>emoji_nature</mat-icon>
        </mat-card-title>
        <mat-card-subtitle>
          {{ i18n().basic }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li>{{ i18n().feature1 }}</li>
          <li>{{ i18n().feature2 }}</li>
          <li>{{ i18n().feature3 }}</li>
        </ul>
        <h2 class="price">
          <span class="currency">{{ i18n().currency }}</span>
          {{ i18n().currencyRateBasic }}
        </h2>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <button mat-raised-button>
          {{ i18n().go }}
        </button>
      </mat-card-actions>
    </mat-card>

    <!-- Standard Plan (Featured - Enlarged) -->
    <mat-card class="pricing-card featured-card">
      <div class="card-header">
        <mat-icon>lightbulb</mat-icon>
        <h2 mat-card-title>{{ i18n().standard }}</h2>
      </div>
      <mat-card-content>
        <ul>
          <li>{{ i18n().feature1 }}</li>
          <li>{{ i18n().feature2 }}</li>
          <li>{{ i18n().feature3 }}</li>
        </ul>
        <h2 class="price">
          <span class="currency">{{ i18n().currency }}</span>
          {{ i18n().currencyRateStandard }}
        </h2>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <button
          mat-raised-button
          color="primary">
          {{ i18n().go }}
        </button>
      </mat-card-actions>
    </mat-card>

    <!-- Pro Plan -->
    <mat-card class="pricing-card">
      <div class="card-header">
        <mat-icon>computer</mat-icon>
        <h2 mat-card-title>{{ i18n().pro }}</h2>
      </div>
      <mat-card-content>
        <ul>
          <li>{{ i18n().feature1 }}</li>
          <li>{{ i18n().feature2 }}</li>
          <li>{{ i18n().feature3 }}</li>
        </ul>
        <h2 class="price">
          <span class="currency">{{ i18n().currency }}</span>
          {{ i18n().currencyRatePro }}
        </h2>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <button
          mat-raised-button
          color="primary">
          {{ i18n().go }}
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
