<div fxFill fxLayout="column" fxLayoutAlign="center" fxLayoutGap="20px">
  <mat-tab-group class="login-tab-group">
    <mat-tab label="{{ 'login-page.creator' | translate }}">
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="20px">
        <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="5px">
          <app-login [password]="password" [role]="UserRole.CREATOR" [username]="username" fxFill></app-login>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="{{ 'login-page.participant' | translate }}">
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="20px">
        <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="5px">
          <app-login [role]="UserRole.PARTICIPANT" fxFill></app-login>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="15px">
    <button (click)="openRegisterDialog()" class="regButton" color="primary" mat-raised-button>
      {{ 'login-page.register' | translate }}
    </button>
    <button (click)="openPasswordDialog()" class="pwButton" color="primary" mat-raised-button>
      {{ 'login-page.password-reset' | translate }}
    </button>
  </div>
</div>
