mat-card {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.counter-container {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;

  span {
    position: relative;
    display: inline-block;
  }

  span:before,
  span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
  }

  span:before {
    right: 100%;
    margin-right: 15px;
  }

  span:after {
    left: 100%;
    margin-left: 15px;
  }
}

:host mat-expansion-panel {
  mat-panel-title,
  mat-panel-description {
    color: currentColor;
  }
}

.secondary-btn {
  width: fit-content;
  margin: 1.5em auto;
}
