<h2 mat-dialog-title>{{ "room-settings-overview.moderation" | translate }}</h2>

<mat-dialog-content>
  <mat-slide-toggle
    [(ngModel)]="directSend"
    aria-labelledby="settings-direct-send"
    matTooltip="{{
      'room-settings-overview.tooltip-settings-direct-send' | translate
    }}"
    [labelPosition]="'before'">
    {{ "room-settings-overview.settings-direct-send" | translate }}
  </mat-slide-toggle>
  <mat-slide-toggle
    [(ngModel)]="conversationEnabled"
    aria-labelledby="conversation-enabled"
    matTooltip="{{
      'room-settings-overview.tooltip-conversation-enabled' | translate
    }}"
    [labelPosition]="'before'">
    {{ "room-settings-overview.conversation-enabled" | translate }}
  </mat-slide-toggle>
  <mat-card
    appearance="outlined"
    class="primary-container">
    <mat-card-header>
      {{ "room-settings-overview.title-profanity" | translate }}
    </mat-card-header>
    <mat-card-content>
      <mat-slide-toggle
        (click)="toggleProfanityFilter($event)"
        [checked]="profanityFilter !== 'DEACTIVATED'"
        aria-labelledby="profanity-toggle-active"
        matTooltip="{{
          'room-settings-overview.tooltip-profanity-toggle-active' | translate
        }}"
        [labelPosition]="'before'">
        {{ "room-settings-overview.profanity-toggle-active" | translate }}
      </mat-slide-toggle>
      <mat-slide-toggle
        (click)="toggleProfanityLanguage($event)"
        *ngIf="profanityFilter !== 'DEACTIVATED'"
        [checked]="
          profanityFilter === 'ALL' || profanityFilter === 'LANGUAGE_SPECIFIC'
        "
        aria-labelledby="profanity-toggle-all"
        matTooltip="{{
          'room-settings-overview.tooltip-profanity-toggle-all' | translate
        }}"
        [labelPosition]="'before'">
        {{ "room-settings-overview.profanity-toggle-all" | translate }}
      </mat-slide-toggle>
      <mat-slide-toggle
        (click)="toggleProfanityWords($event)"
        *ngIf="profanityFilter !== 'DEACTIVATED'"
        [checked]="
          profanityFilter === 'ALL' || profanityFilter === 'PARTIAL_WORDS'
        "
        aria-labelledby="profanity-toggle-word"
        matTooltip="{{
          'room-settings-overview.tooltip-profanity-toggle-word' | translate
        }}"
        [labelPosition]="'before'">
        {{ "room-settings-overview.profanity-toggle-word" | translate }}
      </mat-slide-toggle>
    </mat-card-content>
  </mat-card>

  <h3>{{ "room-settings-overview.general" | translate }}</h3>

  <mat-slide-toggle
    [(ngModel)]="keywordExtrationEnabled"
    aria-labelledby="keyword-extraction-enabled"
    matTooltip="{{
      'room-settings-overview.tooltip-keyword-extraction-enabled' | translate
    }}"
    [labelPosition]="'before'">
    {{ "room-settings-overview.keyword-extraction-enabled" | translate }}
  </mat-slide-toggle>

  <h3>{{ "room-settings-overview.education" | translate }}</h3>

  <mat-slide-toggle
    [(ngModel)]="livepollEnabled"
    aria-labelledby="livepoll-enabled"
    matTooltip="{{
      'room-settings-overview.tooltip-livepoll-enabled' | translate
    }}"
    [labelPosition]="'before'">
    {{ "room-settings-overview.livepoll-enabled" | translate }}
  </mat-slide-toggle>
  <mat-slide-toggle
    [(ngModel)]="bonusArchiveEnabled"
    aria-labelledby="bonus-archive-enabled"
    matTooltip="{{
      'room-settings-overview.tooltip-bonus-archive-enabled' | translate
    }}"
    [labelPosition]="'before'">
    {{ "room-settings-overview.bonus-archive-enabled" | translate }}
  </mat-slide-toggle>
  <mat-slide-toggle
    [(ngModel)]="quizEnabled"
    aria-labelledby="quiz-enabled"
    matTooltip="{{ 'room-settings-overview.tooltip-quiz-enabled' | translate }}"
    [labelPosition]="'before'">
    {{ "room-settings-overview.quiz-enabled" | translate }}
  </mat-slide-toggle>
  <mat-slide-toggle
    [(ngModel)]="brainstormingEnabled"
    aria-labelledby="brainstorming-enabled"
    matTooltip="{{
      'room-settings-overview.tooltip-brainstorming-enabled' | translate
    }}"
    [labelPosition]="'before'">
    {{ "room-settings-overview.brainstorming-enabled" | translate }}
  </mat-slide-toggle>
  <p>{{ "room-settings-overview.note-on-changing-settings" | translate }}</p>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-stroked-button
    class="secondary-button"
    (click)="openHelp()">
    <mat-icon>question_mark</mat-icon>
    {{ "explanation.label" | translate }}
  </button>
  <span style="flex: 1"></span>
  <button
    mat-button
    class="secondary-button"
    mat-dialog-close>
    {{ "room-settings-overview.cancel" | translate }}
  </button>
  <button
    mat-stroked-button
    class="primary-button"
    (click)="confirm()">
    {{ "room-settings-overview.save" | translate }}
  </button>
</mat-dialog-actions>

<div class="visually-hidden">
  <div id="settings-direct-send">
    {{ "room-settings-overview.a11y-settings-direct-send" | translate }}
  </div>
  <div id="conversation-enabled">
    {{ "room-settings-overview.a11y-conversation-enabled" | translate }}
  </div>
  <div id="profanity-toggle-active">
    {{ "room-settings-overview.a11y-profanity-toggle-active" | translate }}
  </div>
  <div id="profanity-toggle-all">
    {{ "room-settings-overview.a11y-profanity-toggle-all" | translate }}
  </div>
  <div id="profanity-toggle-word">
    {{ "room-settings-overview.a11y-profanity-toggle-word" | translate }}
  </div>
  <div id="bonus-archive-enabled">
    {{ "room-settings-overview.a11y-bonus-archive-enabled" | translate }}
  </div>
  <div id="quiz-enabled">
    {{ "room-settings-overview.a11y-quiz-enabled" | translate }}
  </div>
  <div id="brainstorming-enabled">
    {{ "room-settings-overview.a11y-brainstorming-enabled" | translate }}
  </div>
  <div id="keyword-extraction-enabled">
    {{ "room-settings-overview.a11y-keyword-extraction-enabled" | translate }}
  </div>
  <div id="livepoll-enabled">
    {{ "room-settings-overview.a11y-livepoll-enabled" | translate }}
  </div>
</div>
