.qr-code-container {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.qr-code {
  max-width: 100%;
  height: auto;
}

.appstore {
  width: 44%;
  height: auto;
}

.googleplay {
  width: 50%;
  height: auto;
  margin-left: 5%;
}
