<h2
  mat-dialog-title
  tabindex="0"
  id="cookie-header">
  {{ "cookies.title" | translate }}
</h2>

<mat-dialog-content tabindex="-1">
  @switch (lang()) {
    @case ("de") {
      <app-cookies-de></app-cookies-de>
    }
    @case ("fr") {
      <app-cookies-fr></app-cookies-fr>
    }
    @default {
      <app-cookies-en></app-cookies-en>
    }
  }

  @if (badgeType() !== "none") {
    <div class="store-buttons">
      @if (
        (badgeType() === "appstore" || badgeType() === "both") &&
          getAppStoreBadge(badgeType());
        as badge
      ) {
        <a [href]="appleUrl">
          <img
            [src]="badge.src"
            [alt]="badge.alt" />
        </a>
      }
      @if (
        (badgeType() === "playstore" || badgeType() === "both") &&
          getPlayStoreBadge();
        as badge
      ) {
        <a [href]="googleUrl">
          <img
            [src]="badge.src"
            [alt]="badge.alt" />
        </a>
      }
    </div>
  }
</mat-dialog-content>

<mat-dialog-actions>
  <button
    [mat-dialog-close]="false"
    mat-button>
    {{ "cookies.cancel" | translate }}
  </button>
  <span style="flex: 1"></span>
  <button
    mat-button
    (click)="openDataProtection()">
    {{ "cookies.data-protection" | translate }}
  </button>
  <button
    mat-flat-button
    (click)="acceptCookies()">
    {{ "cookies.accept" | translate }}
  </button>
</mat-dialog-actions>

<div class="visually-hidden">
  <div id="info-label">{{ "cookies.info-label" | translate }}</div>
</div>
