<div>
  <div class="header-container">
    <h1 mat-dialog-title tabindex="0" id="cookie-header">{{ 'cookies.header' | translate }}</h1>
    <button mat-icon-button aria-labelledby="info-label" class="info" (click)="openDataProtection()">
      <mat-icon class="info-icon">help</mat-icon>
    </button>
  </div>

  <mat-divider></mat-divider>
  <mat-dialog-content>
    <app-cookies-de *ngIf="currentLang=='de'"></app-cookies-de>
    <app-cookies-en *ngIf="currentLang=='en'"></app-cookies-en>
  </mat-dialog-content>
  <mat-divider></mat-divider>

  <mat-dialog-actions class="action-container">
    <span class="spacer"></span>
    <button mat-raised-button mat-dialog-close (click)="acceptCookies()" aria-labelledby="accept-label">
      <span> {{ 'cookies.accept' | translate }}</span>
    </button>
    <span class="pad"></span>
    <button mat-stroked-button mat-dialog-close (click)="declineCookies()" aria-labelledby="decline-label">
      <span> {{ 'cookies.decline' | translate }}</span>
    </button>
  </mat-dialog-actions>
</div>

<div class="visually-hidden">
  <div id="accept-label">{{'cookies.accept-label' | translate }}</div>
  <div id="decline-label">{{'cookies.decline-label' | translate }}</div>
  <div id="info-label">{{'cookies.info-label' | translate }}</div>
</div>
