<form
  fxLayout="column"
  fxLayoutGap="10px"
  (ngSubmit)="login(userEmail.value, userPassword.value)"
  >
  <mat-form-field class="input-block">
    <input (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()"
           #userEmail [errorStateMatcher]="matcher" [formControl]="usernameFormControl" matInput
           name="username" aria-labelledby="email-description"/>
    <mat-placeholder class="placeholder">{{ 'login.email' | translate }}</mat-placeholder>
    <mat-error *ngIf="usernameFormControl.hasError('email') && !usernameFormControl.hasError('required')">
      {{ 'login.email-invalid' | translate }}
    </mat-error>
    <mat-error *ngIf="usernameFormControl.hasError('required')">
      {{ 'login.email-required' | translate }}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()"
           #userPassword [errorStateMatcher]="matcher" [formControl]="passwordFormControl" matInput
           name="password" type="password" aria-labelledby="password-description"/>
    <mat-placeholder class="placeholder">{{ 'login.password' | translate }}</mat-placeholder>
    <mat-error *ngIf="passwordFormControl.hasError('required')">{{ 'login.password-required' | translate }}</mat-error>
  </mat-form-field>
  <button id="focus_button_user" class="login" mat-flat-button type="submit" aria-labelledby="login-description">
    {{ 'login.login' | translate }}
  </button>
  <button id="focus_button_guest" (click)="guestLogin()" class="guest" mat-flat-button type="button" aria-labelledby="guest-login-description"
          matTooltip="{{'login.guest-login-tooltip' | translate}}">
    {{ 'login.guest-login' | translate }}
  </button>
  <div class="forgot-password">
    <a
      href=""
      (click)="openPasswordDialog(); $event.preventDefault(); $event.stopPropagation();"
      role="button"
    >
      {{ 'login.password-reset' | translate }}
    </a>
  </div>
</form>
<mat-divider></mat-divider>
<div fxLayout="row" class="register">
  <p>{{ 'login.not-registered' | translate }}</p>
  <a href="" class="registerBtn" (click)="openRegisterDialog(); $event.preventDefault(); $event.stopPropagation();">
    {{ 'login.register' | translate }}</a>
</div>
<app-dialog-action-buttons
  [spacing]="false"
  buttonsLabelSection="login"
  [cancelButtonClickAction]="buildCloseDialogActionCallback()"
></app-dialog-action-buttons>

<div class="visually-hidden">
  <div id="email-description">{{ 'login.email-description' | translate }}</div>
  <div id="password-description">{{ 'login.password-description' | translate }}</div>
  <div id="login-description">{{ 'login.login-description' | translate }}</div>
  <div id="guest-login-description">{{ 'login.guest-login-description' | translate }}</div>
</div>
