<header>
  <h1 class="title">{{ "login-dialog.title" | translate }}</h1>
  <button
    class="button"
    (click)="buildCloseDialogActionCallback()">
    <span class="material-icons-outlined close">close</span>
  </button>
</header>

<p
  id="inactiveInfo"
  *ngIf="redirectUrl">
  {{ "login-dialog.inactive-info" | translate }}
</p>
<div
  class="login-container"
  aria-labelledby="login-description">
  <button
    *ngFor="let provider of providers"
    class="alt-button login"
    [matTooltip]="
      provider['description' + access] ||
      provider['translated_description' + access]
    "
    (click)="providerLogin(provider.id)">
    {{ provider["name" + access] || provider["translated_name" + access] }}
  </button>
</div>

<div class="page-splitter">
  <span>{{ "login-dialog.or" | translate }}</span>
</div>

<div class="anonymous-container">
  <button
    (click)="guestLogin()"
    class="alt-button guest"
    type="button"
    aria-labelledby="guest-login-description"
    matTooltip="{{ 'login.guest-login-tooltip' | translate }}">
    {{ "login-dialog.sign-in-as-guest" | translate }}
  </button>
</div>

<div class="visually-hidden">
  <div id="login-description">{{ "login.login-description" | translate }}</div>
  <div id="guest-login-description">
    {{ "login.guest-login-description" | translate }}
  </div>
</div>
