.pwReset {
  padding-left: 0;
  color: var(--primary);
}

.regButton {
  margin-top: 20px;
  padding: 0;
  color: var(--primary);
}

.loginButton {
  background-color: var(--primary);
  color: var(--on-primary);
}

p {
  font-size: small;
  margin: 30px 5px 0 30px;
}

input:-webkit-autofill {
  background-color: var(--dialog);
  -webkit-box-shadow: 0 0 0 1000px var(--dialog) inset;
}

::ng-deep .mat-form-field-label {
  color: var(--on-surface)!important;
}

::ng-deep .mat-form-field-underline {
  background-color: var(--on-surface)!important;
}

::ng-deep .mat-form-field-ripple {
  background-color: var(--on-surface)!important;
}

mat-form-field {
  color: var(--on-surface);
}
