.pwReset {
  padding-left: 0;
  color: var(--secondary);
}

.regButton {
  margin-top: 20px;
  padding: 0;
  color: var(--secondary);
}

.loginButton {
  background-color: var(--primary);
  color: var(--on-primary);
}

p {
  font-size: small;
  margin: 30px 5px 0 30px;
  color: var(--on-surface);
}

::ng-deep .mat-form-field-label {
  color: var(--on-surface)!important;
}

::ng-deep .mat-form-field-underline {
  background-color: var(--on-surface)!important;
}

::ng-deep .mat-form-field-ripple {
  background-color: var(--on-surface)!important;
}

mat-form-field {
  color: var(--on-surface);
}

input {
  caret-color: var(--on-surface);
}

input:-webkit-autofill {
  -webkit-box-shadow:0 0 0 50px var(--dialog) inset;
  -webkit-text-fill-color: var(--on-surface);
}
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px var(--dialog) inset;
  -webkit-text-fill-color: var(--on-surface);
}
