@import "../livepoll-common";

.dialog-title {
  display: flex;
  justify-content: space-between;

  > h5 {
    font-size: 12px;
    text-transform: uppercase;
  }
}

.title-container {
  display: flex;
  flex-direction: column;
  margin: 30px 0 0;

  > .preview-title {
    font-weight: inherit;
    padding: 0;
    margin: 0;
  }

  > .custom-title {
    padding: 0;
    margin: 0;
    font-weight: bold;
  }
}

.accordion {
  color: black;
  margin-bottom: 16px;
}

.vote-container {
  display: flex;
  flex-direction: column;
  margin-top: 16px;

  .grid {
    &-true {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 8px;
      grid-row-gap: 8px;
      grid-auto-flow: column dense;

      > button {
        height: 64px;
      }
    }

    &-false {
      display: flex;
      flex-direction: column;

      > button {
        height: 64px;
        margin-bottom: 8px;
      }
    }
  }

  .reverse {
    &-true {
      flex-direction: column;
    }

    &-false {
      flex-direction: column;
    }
  }
}

.info-container {
  @media only screen and (max-width: 900px) {
    font-size: 100%;
    line-height: 16px;
  }
  @media only screen and (max-width: 700px) {
    font-size: 80%;
    line-height: 16px;
  }
}

.result-container {
  display: flex;
  flex-direction: row;
  $height: 32px;
  $border-radius: 4;
  line-height: 120%;

  .reverse {
    &-true {
      flex-direction: column-reverse;
    }

    &-false {
      flex-direction: column;
    }
  }

  .left {
    display: flex;
    max-width: 50%;

    .container {
      height: $height;
      padding: 10px 0;
      display: flex;
      justify-content: center;
      flex-direction: column;
      @media only screen and (max-width: 900px) {
        font-size: 100%;
        line-height: 16px;
      }
      @media only screen and (max-width: 700px) {
        font-size: 80%;
        line-height: 16px;
      }
      @media only screen and (max-width: 400px) {
        font-size: 70%;
        line-height: 16px;
      }
    }
  }

  .right {
    display: flex;
    flex-grow: 1;

    > .container {
      height: $height;
      padding: 10px 0;

      > .background {
        display: flex;
        height: $height;
        flex-direction: row;
        justify-content: flex-start;
        box-shadow: inset 0 0 0 2px var(--surface);
        border-radius: #{$border-radius}px;
        box-sizing: border-box;
        padding: 4px;

        > .bar {
          min-width: 1px;
          width: 10px;
          background-color: $bar-background;
          border-radius: #{$border-radius - ($border-radius / 2)}px;
          transition: width 100ms ease-in-out;
        }
      }

      > .foreground {
        height: $height;
        display: flex;
        justify-content: flex-start;
        position: relative;
        top: -$height;

        > span {
          position: relative;
          top: 4px;
          left: 13px;
          font-weight: normal;
          color: $bar-foreground;
        }
      }
    }
  }
}

.vote-text {
  white-space: pre-wrap !important;
}

@mixin mixinOption {
  padding: 0 8px;
  hyphens: auto;
}

.option-plain {
  @include mixinOption;
}

.option-plain-translate {
  @include mixinOption;
}

.option-icon {
  @include mixinOption;
  margin-top: 5px;
}

.expansion-action-list {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}

fg-1 {
  flex-grow: 1;
}

.settings-panel-title {
  flex-grow: 0;
}

.settings-panel-description {
  display: flex;
  flex-direction: row;

  &-desktop {
    @extend .settings-panel-description;
    justify-content: space-between;
  }

  &-mobile {
    @extend .settings-panel-description;
    justify-content: flex-end;
  }
}

.settings-expansion-panel {
  box-shadow: none;
}

.settings-panel-container {
  display: flex;
  flex-direction: column;

  > mat-slide-toggle {
    padding: 8px 0;
  }

  &-top {
    margin: 8px 0;
    justify-content: space-between;
  }

  > .row {
    display: flex;
    flex-direction: row;
  }
}

.info-container {
  display: flex;
  justify-content: flex-end;

  > div ~ div {
    margin-left: 16px;
  }

  > div {
    :first-child {
      margin-right: 4px;
      font-weight: normal;
    }
  }
}

.mat-expansion-panel {
  background-color: var(--surface);
  color: var(--on-surface);
  :active {
    background-color: var(--surface);
    color: var(--on-surface);
  }
  :focus {
    background-color: var(--surface);
    color: var(--on-surface);
  }
  :hover {
    background-color: var(--surface);
    color: var(--on-surface);
  }
}

.mat-expansion-panel-header-title {
  color: var(--on-surface);
}

.mat-expansion-panel-header {
  @extend .mat-expansion-panel;
}

.mat-expansion-panel:not(.mat-expanded):not([aria-disabled="true"])
  .mat-expansion-panel-header:hover {
  background-color: var(--surface);
  color: var(--on-surface);
}

.mat-expansion-panel-header-description,
.mat-expansion-indicator::after {
  background-color: var(--surface);
  color: var(--on-surface);
}
