<div
  class="title"
  *ngIf="isProduction">
  <h1 mat-dialog-title>{{ translateKey + ".dialog-title" | translate }}</h1>
</div>
<mat-dialog-content
  class="content"
  *ngIf="livepollSession">
  <ng-container *ngIf="session.currentRole">
    <app-livepoll-settings [parent]="this"></app-livepoll-settings>
  </ng-container>

  <p *ngIf="!isProduction">
    {{ translateKey + ".dialog-preview-title" | translate }}
  </p>

  <h1 *ngIf="livepollSession.title">{{ livepollSession.title }}</h1>

  <div class="info-container">
    <div
      @AnimateInOut
      *ngIf="livepollSession.viewsVisible">
      <span>1</span>
      <span>{{ translateKey + ".participants" | translate }}</span>
    </div>
    <div
      @AnimateInOut
      *ngIf="livepollSession.resultVisible">
      <span>{{ totalVotes }}</span>
      <span>{{ translateKey + ".votes" | translate }}</span>
    </div>
  </div>

  <div class="result-settings-container">
    <!-- relative / absolute settings -->
  </div>

  <div
    class="result-container"
    @AnimateInOut
    *ngIf="options && livepollSession.resultVisible">
    <div class="left">
      <ng-container *ngFor="let option of options">
        <div class="container">
          <ng-container *ngIf="template.isPlain">
            <ng-container *ngIf="template.translate">
              <span class="option-plain-translate">
                {{
                  (translateKey + "." + option.symbol | translate)[option.index]
                }}
              </span>
            </ng-container>
            <ng-container *ngIf="!template.translate">
              <span class="option-plain">{{ option.symbol }}</span>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="!template.isPlain">
            <mat-icon class="option-icon">{{ option.symbol }}</mat-icon>
          </ng-container>
        </div>
      </ng-container>
    </div>
    <div class="right">
      <ng-container *ngFor="let option of options; index as i">
        <div class="container">
          <div class="background">
            <div
              class="bar"
              *ngIf="votes"
              [ngStyle]="{
                width: getVoteBarSize(i) + '%'
              }"></div>
          </div>
          <div class="foreground">
            <span>{{ getVotePercentage(i) }}%</span>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="vote-container">
    <div
      [ngClass]="'reverse-' + !!template.reverse + ' grid-' + template.isGrid"
      *ngIf="template">
      <ng-container *ngIf="template.symbols">
        <ng-container *ngFor="let symbol of template.symbols; index as i">
          <ng-container
            *ngTemplateOutlet="
              option;
              context: {
                i: i,
                symbol: symbol
              }
            "></ng-container>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="template.length">
        <ng-container
          *ngFor="let symbol of [].constructor(template.length); index as i">
          <ng-container
            *ngTemplateOutlet="
              option;
              context: {
                i: i,
                symbol: i
              }
            "></ng-container>
        </ng-container>
      </ng-container>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions *ngIf="isProduction">
  <button
    mat-flat-button
    class="button-cancel"
    *ngIf="isProduction"
    (click)="closeEmitter.emit()">
    <span>{{ translateKey + ".close" | translate }}</span>
  </button>
  <button
    mat-flat-button
    class="button-secondary">
    <mat-icon style="margin-right: 4px">add</mat-icon>
    <span>{{ translateKey + ".new" | translate }}</span>
  </button>
  <div style="flex-grow: 1"></div>
  <button
    mat-flat-button
    class="button-cancel"
    *ngIf="session.currentRole && isProduction"
    [matTooltip]="translateKey + '.creator-settings-delete-tooltip' | translate"
    (click)="delete()">
    <mat-icon>stop</mat-icon>
    <span *ngIf="device.isCurrentlyDesktop">
      {{ translateKey + ".creator-settings-delete" | translate }}
    </span>
  </button>
  <button
    mat-flat-button
    class="button-primary"
    [matTooltip]="
      translateKey + '.creator-settings-' + (isPaused ? 'continue' : 'pause')
        | translate
    "
    *ngIf="session.currentRole"
    (click)="isPaused ? play() : pause()">
    <mat-icon>{{ isPaused ? "play_arrow" : "pause" }}</mat-icon>
    <span *ngIf="device.isCurrentlyDesktop">
      {{
        translateKey + ".creator-settings-" + (isPaused ? "continue" : "pause")
          | translate
      }}
    </span>
  </button>
</mat-dialog-actions>

<ng-template
  #option
  let-i="i"
  let-symbol="symbol">
  <button
    [ngClass]="
      livepollVote?.voteIndex === i
        ? 'button-vote-active'
        : 'button-vote-default'
    "
    mat-flat-button
    class="vote-text"
    [disabled]="isPaused"
    (click)="vote(i)">
    <ng-container
      *ngTemplateOutlet="
        optionEntry;
        context: { i: i, symbol: symbol }
      "></ng-container>
  </button>
</ng-template>

<ng-template
  #optionEntry
  let-i="i"
  let-symbol="symbol">
  <ng-container *ngIf="template.isPlain">
    <span
      [ngStyle]="
        template.translate ? template.style?.text : template.style?.plainIcon
      ">
      {{
        template.translate
          ? (translateKey + "." + "option-" + template.name! | translate)[i]
          : symbol
      }}
    </span>
  </ng-container>
  <ng-container *ngIf="!template.isPlain">
    <mat-icon [ngStyle]="template.style?.matIcon">
      {{ symbol }}
    </mat-icon>
  </ng-container>
</ng-template>
