<div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center">
  <mat-card>
    <mat-tab-group>
      <mat-tab *ngFor="let cg of contentGroups; let i = index" label="{{cg.name}}">
        <div fxLayoutAlign="center" fxLayoutGap="10px">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="content">
              <mat-header-cell *matHeaderCellDef> Content </mat-header-cell>
              <mat-cell *matCellDef="let cp"> {{cp.content}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="percentage">
              <mat-header-cell *matHeaderCellDef> Percentage </mat-header-cell>
              <mat-cell *matCellDef="let cp"> {{cp.percent}}</mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          </table>
        </div>
        <button mat-raised-button color="primary">Before</button>
        <div><b>{{ i+1 }} / {{ contentGroups.length }}</b></div>
        <button mat-raised-button color="primary">Next</button>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
