# rabbitmq
STOMP_RELAY_HOST=fragjetzt-rabbitmq
SPRING_RABBITMQ_HOST=fragjetzt-rabbitmq
SPRING_RABBITMQ_USERNAME=fragjetzt
SPRING_RABBITMQ_PASSWORD=

# postgres
SPRING_R2DBC_HOST=fragjetzt-postgres
SPRING_R2DBC_PASSWORD=

# postfix
APP_MAIL_HOST=fragjetzt-postfix
APP_MAIL_SENDER_ADDRESS=

# backend
SPRING_JWT_SECRET=
SERVER_ROOT_URL=
LOGGING_LEVEL_ROOT=
