# rabbitmq
STOMP_RELAY_HOST=fragjetzt-rabbitmq
STOMP_RELAY_USER=fragjetzt
STOMP_RELAY_PASSWORD=
RABBITMQ_HOST=fragjetzt-rabbitmq
RABBITMQ_USERNAME=fragjetzt
RABBITMQ_PASSWORD=

# jwt
SECURITY_JWT_SECRET=

# ws-gateway
SERVER_PORT=8080
LOGGING_LEVEL_ROOT=
ALLOWEDORIGINS=
