.hidden-control {
  display: none;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
:host ::ng-deep .mat-form-field-underline {
  background-color: transparent !important;
}

.mat-mdc-form-field {
  margin-bottom: 0;
  display: block;
  transition: margin-bottom 0.2s ease-in-out;
}

.mat-mdc-form-field:has(.mat-mdc-form-field-hint),
.mat-form-field-invalid {
  margin-bottom: 2em;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
:host ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
:host ::ng-deep .mat-form-field-infix {
  padding-block: 0.35em;
  border-top: 0;
}

/* TODO(mdc-migration): The following rule targets internal classes of slide-toggle that may no longer apply for the MDC version. */
:host ::ng-deep .mat-slide-toggle-content {
  white-space: wrap;
  overflow: visible;
}

:host ::ng-deep .mat-mdc-slide-toggle {
  height: auto !important;
}
