<mat-form-field floatLabel="always">
  <input
    matInput
    class="hidden-control" />
  <mat-slide-toggle [formControl]="data.control">
    {{ data.label | translate }}
  </mat-slide-toggle>
  <mat-hint *ngIf="data.hint && !data.control.invalid">
    {{ data.hint | translate }}
  </mat-hint>
  <mat-error *ngIf="data.control.errors | keyvalue as controlErrors">
    <ng-container *ngIf="data.errorStates as errorStrings">
      <mat-error *ngIf="errorStrings[controlErrors[0].key] as info">
        {{ info | translate }}
      </mat-error>
    </ng-container>
  </mat-error>
</mat-form-field>
