<mat-card id="comment-card" [ngClass]="{'highlighted': comment.highlighted,
                                        '': !comment.highlighted}" [@slide]>
  <div fxLayout="column">
    <div fxLayout="row">
      <span class="fill-remaining-space"></span>
      <div class="date">
        <div *ngIf="language === 'de'; else englishDate">
          {{comment.timestamp | date: ' HH:mm:ss '}}Uhr,{{comment.timestamp | date: ' M.d.yy'}}
        </div>
        <ng-template #englishDate>
          {{comment.timestamp | date: 'h:mm:ss a, M/d/yy'}}
        </ng-template>
      </div>
      <button mat-icon-button *ngIf="comment.correct || !isStudent" [disabled]="isStudent" (click)="setCorrect(comment)"
              [matTooltip]="comment.correct ? 'Unmark as correct' : 'Mark as correct'">
        <mat-icon [ngClass]="{true : 'correct-icon', false: 'not-marked'}[comment.correct]">check_circle</mat-icon>
      </button>
      <button mat-icon-button *ngIf="comment.favorite || !isStudent" [disabled]="isStudent"
              (click)="setFavorite(comment)"
              [matTooltip]="comment.favorite ? 'Mark as not favorite' : 'Mark as favorite'">
        <mat-icon [ngClass]="{true: 'favorite-icon', false: 'not-marked'}[comment.favorite]">favorite_border</mat-icon>
      </button>
      <button mat-icon-button [disabled]="isStudent" (click)="setRead(comment)"
              [matTooltip]="comment.read ? 'Mark  as unread' : 'Mark as read'">
        <mat-icon class="icon" [ngClass]="{'read-icon': comment.read,
                                            'not-marked' : !comment.read}">visibility
        </mat-icon>
      </button>
    </div>
    <div fxLayout="row">
      <div class="body" (click)="openPresentDialog(comment)">{{comment.body}}</div>
      <span class="fill-remaining-space" (click)="openPresentDialog(comment)"></span>
      <div fxLayout="column" (tap)="startAnimation('rubberBand')" [@rubberBand]="animationState"
           (@rubberBand.done)="resetAnimationState()">
        <button mat-icon-button [disabled]="!isStudent" (click)="voteUp(comment)">
          <mat-icon class="voting-icon" [ngClass]="{'upVoted' : hasVoted === 1}">keyboard_arrow_up</mat-icon>
        </button>
        <h2>{{comment.score}}</h2>
        <button mat-icon-button [disabled]="!isStudent" (click)="voteDown(comment)">
          <mat-icon class="voting-icon" [ngClass]="{'downVoted' : hasVoted === -1}">keyboard_arrow_down</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-card>
