#comment-card {
  margin-bottom: 3%;
  background-color: var(--surface);
  cursor: pointer;
  padding: 1.5% 1.5% 3% 3%;
  transition: background-color 1s linear;
}

mat-card-content > :first-child {
  margin-top: 20px;
}

.voting-icon {
  width: 35px;
  height: 35px;
  font-size: 35px;
  line-height: 100% !important;
  color: var(--on-surface)
}

.upVoted {
  color: var(--green);
}

.downVoted {
  color: var(--red);
}

.not-marked {
  color: var(--background);
}

.correct-icon {
  color: var(--green);
}

.read-icon {
  color: var(--blue);
}

.favorite-icon {
  color: var(--red);
}

h2 {
  text-align: center;
  margin: 0;
  color: var(--on-surface)
}

.body {
  min-width: 200px;
  min-height: 100px;
  text-align: start;
  font-size: 140%;
  max-height: 120px;
  overflow: auto;
  color: var(--on-surface);
  white-space: pre;
}

.mat-icon {
  transform: scale(1.2);
}

.date {
  padding-top: 10px;
  opacity: 0.7;
  position: absolute;
  color: var(--on-surface);
}

.highlighted {
  background-color: var(--secondary)!important;
  transition: background-color 1s linear;
}

.highlighted * {
  color: var(--on-secondary)!important;
}
