<div *ngIf="answer">
  <mat-form-field class="input-block">
    <input (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()"
           [(ngModel)]="answer.answerOption.label" matInput
           placeholder="{{ 'content.answer' | translate }}" name="answer-label"/>
  </mat-form-field>
  <mat-form-field class="input-block">
    <input (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()"
           [(ngModel)]="answer.answerOption.points" matInput
           placeholder="{{ 'content.points' | translate }}" name="points">
  </mat-form-field>
  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px">
    <button (click)="dialogRef.close()" mat-button>
      {{ 'room-page.abort' | translate }}
    </button>
    <button (click)="dialogRef.close('edit')" mat-raised-button>
      {{ 'room-page.update' | translate }}
    </button>
  </div>
</div>
