button {
  position: absolute !important;
  right: 5px;
  top: 5px;
}

::ng-deep .workerContainer > .mat-dialog-container {
  padding: 5px !important;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12), -4px 0 0 0 var(--primary);
  overflow: hidden !important;
  position: relative !important;
}

#worker-content {
  padding-left: 5px;
}
