<ol>
  <li>Zum Q&A-Forum navigieren</li>
  <li>Q&A-Liste exportieren</li>
  <li>Q&A-Liste importieren</li>
  <li>Sich per Mail über neue Beiträge informieren lassen</li>
  <li>Raum verwalten (Raumersteller*in und Moderator*innen)</li>
</ol>

<div class="videoWrapper">
  <iframe allowfullscreen
          height="315"
          width="560"
          [src]="sanitizer.trust('https://www.youtube.com/embed/ScMzIvxBSi4?autoplay=0')"
          tabindex="0"
          title="Placeholder video"
  ></iframe>
</div>
