<p>
  Dies ist die Startseite des Raumes.
  Unter »Optionen« sind administrative Einstellungen für die Funktionalität und die Nutzung des Raumes verfügbar.
</p>

<ol>
  <li>Q&A exportieren</li>
  <li>Mail-Benachrichtigung über neue Beiträge (registrierter User)</li>
  <li>Raum verwalten (Moderator*innen)</li>
</ol>

<div class="videoWrapper">
  <iframe allowfullscreen
          height="315"
          width="560"
          [src]="sanitizer.trust('https://www.youtube.com/embed/ScMzIvxBSi4?autoplay=0')"
          tabindex="0"
          title="Placeholder video"
  ></iframe>
</div>
