<p>
  This is the start page of the room.
  Administrative settings for the functionality and use of the room are available under »Options«.
</p>

<ol>
  <li>Export Q&A</li>
  <li>Mail notification about new posts (registered user)</li>
  <li>Manage room (moderators)</li>
</ol>

<div class="videoWrapper">
  <iframe allowfullscreen
          height="315"
          width="560"
          [src]="sanitizer.trust('https://www.youtube.com/embed/ScMzIvxBSi4?autoplay=0')"
          tabindex="0"
          title="Placeholder video"
  ></iframe>
</div>
