<p>
  C'est la page d'accueil de la salle.
  Sous « Options », les paramètres administratifs sont disponibles pour la fonctionnalité et l'utilisation de la salle.
</p>

<ol>
  <li>Naviguer vers le forum Q&R</li>
  <li>Exporter la liste des Q&R</li>
  <li>Importer la liste des Q&R</li>
  <li>S'informer par e-mail des nouveaux posts</li>
  <li>Gérer la salle (créateur de la salle et modérateurs)</li>
</ol>

<div class="videoWrapper">
  <iframe allowfullscreen
          height="315"
          width="560"
          [src]="sanitizer.trust('https://www.youtube.com/embed/ScMzIvxBSi4?autoplay=0')"
          tabindex="0"
          title="Placeholder video"
  ></iframe>
</div>
