<div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="20px" fxFill>
  <div *ngIf="content" fxLayout="row" fxLayoutAlign="center">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3 class="subheading-2">{{content.subject}}</h3>
        </mat-card-title>
        <mat-card-subtitle>ID: {{ content.contentId }}
          <br> Round: {{ content.round }}</mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <p>
          {{ content.body }}
        </p>
        <mat-divider></mat-divider>
        <div>
          <app-content-answers-list></app-content-answers-list>
        </div>
      </mat-card-content>
      <mat-divider></mat-divider>
      <!-- answes list here -->
      <mat-card-actions>
        <button mat-button color="primary" matTooltip="Create new content" routerLink="/creator/room/{{content.contentId}}/content-creation">
          Create answer
        </button>
        <button mat-button color="warn" matTooltip="Delete selected answer">
          <!-- on click, add a 'x' on the right end of each answer to make it deletable -->
          Delete answer
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
