<mat-list *ngIf="content">
  <mat-list-item>ID: {{content.id}}</mat-list-item>
  <mat-list-item>Revision: {{content.revision}}</mat-list-item>
  <mat-list-item>Room ID: {{content.roomId}}</mat-list-item>
  <mat-list-item>Subject: {{content.subject}}</mat-list-item>
  <mat-list-item>Body: {{content.body}}</mat-list-item>
  <mat-list-item>Round: {{content.round}}</mat-list-item>
  <mat-list-item>Format: {{content.format}}</mat-list-item>
  <mat-list-item>FormatAttributes: {{content.formatAttributes}}</mat-list-item> 
</mat-list>

