<button
  class="navigation-button"
  appJoyrideTemplate
  [joyrideStep]="'navigationButton'"
  [stepPosition]="'center'"
  [ngClass]="{ 'question-wall': isQuestionWall }"
  mat-button
  *ngIf="!possibleLocationsEmpty"
  (click)="refreshLocations()"
  [matMenuTriggerFor]="locationMenu">
  <div class="label-icon">
    <mat-icon>place</mat-icon>
    <h2 *ngIf="deviceInfo.isCurrentlyDesktop && showText">
      {{
        (currentLocation?.i18n
          ? "header.navigation"
          : "header.navigation-no-target"
        ) | translate : { loc: currentLocation?.i18n || "" | translate }
      }}
    </h2>
  </div>
</button>

<mat-menu
  #locationMenu="matMenu"
  [overlapTrigger]="false">
  <ng-container *ngFor="let location of possibleLocations">
    <button
      *ngIf="location.accessible"
      [ngClass]="{
        'active-nav-button': location.active,
        outside: location.outside
      }"
      (click)="navigateToPage(location)"
      mat-menu-item
      tabindex="0">
      <mat-icon
        *ngIf="location.icon"
        [ngClass]="location.class">
        {{ location.icon }}
      </mat-icon>
      <mat-icon
        *ngIf="location.svgIcon"
        [ngClass]="location.class"
        [svgIcon]="location.svgIcon"></mat-icon>
      <span>{{ location.i18n | translate }}</span>
    </button>
  </ng-container>
</mat-menu>
