.mat-button {
  padding: 0 5px 0 5px;
}

.navigation-button {
  .label-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    > mat-icon {
      transform: scale(1.5);
    }

    > h2 {
      margin-left: 5px;
      font-size: 14px !important;
      font-weight: normal;
    }
  }

  &.question-wall {
    mat-icon {
      transform: scale(1.3);
      padding-right: 5px;
    }

    h2 {
      margin-left: unset !important;
    }

    &:hover {
      outline: none;
      * {
        color: white !important;
      }
    }
  }
}

:host {
  display: flex;
}

.mat-menu-item {
  background-color: transparent !important;

  ::ng-deep {
    svg {
      stroke: currentColor;
      fill: currentColor;
    }
  }

  &.active-nav-button {
    .mat-icon-no-color {
      color: currentColor !important;
    }
  }
}
