<form>
  <ul>
    <li *ngFor="let com of comments">
      <mat-card>
        <mat-card-content>
          <b>com header</b><br>

          {{ com }}
        </mat-card-content>
        <mat-card-footer>
          <div style="float:left">
            <i>#date + time</i>
          </div>
          <div style="float:right">
            <i>#name of commentator</i>
          </div>
        </mat-card-footer>
      </mat-card><br>
    </li>
  </ul>

  <button mat-raised-button color="primary">back</button>
</form>
