<div class="header">
  <ars-date-formatter
    [formatter]="dateFormatter"
    [date]="comment.createdAt"></ars-date-formatter>
</div>
<div class="content">
  <app-markdown-viewer [data]="comment.body"></app-markdown-viewer>
</div>
<qw-comment-footer [comment]="comment">
  <button
    mat-button
    *ngIf="comment.children.size > 0"
    (click)="answersExpanded = !answersExpanded">
    <mat-icon>
      {{ answersExpanded ? "keyboard_arrow_up" : "keyboard_arrow_down" }}
    </mat-icon>
    replies
  </button>
</qw-comment-footer>
@if (answersExpanded && comment.children.size) {
  <div class="response-window">
    @for (answer of comment.children; track answer) {
      <p>{{ answer.id }}</p>
    }
  </div>
}
