<p>
  Ici, tu trouveras un aperçu de toutes les salles que tu as créées ou visitées.
</p>

<ol>
  <li>Visiter une salle</li>
  <li>Réserver une salle</li>
  <li>Afficher les infos et les options d'une salle</li>
  <li>Afficher les messages de l'équipe de développement</li>
  <li>Activer la vue complète et agrandir la taille du texte</li>
  <li>Supprimer le compte (utilisateur enregistré)</li>
  <li>Se déconnecter de « frag.jetzt »</li>
</ol>

<div class="videoWrapper">
  <iframe allowfullscreen
          height="315"
          width="560"
          [src]="sanitizer.trust('https://www.youtube.com/embed/ScMzIvxBSi4?autoplay=0')"
          tabindex="0"
          title="Placeholder video"
  ></iframe>
</div>
