<p>
  The screencast shows you the following use cases:
</p>

<ol>
  <li>Visit a room</li>
  <li>Book a room</li>
  <li>View info and options about a room</li>
  <li>View messages from the development team</li>
  <li>Set full view and text size</li>
  <li>Rate app</li>
  <li>Delete account</li>
</ol>

<p>(work in progress)</p>

<div class="videoWrapper">
  <iframe allowfullscreen
          height="315"
          width="560"
          [src]="sanitizer.trust('https://www.youtube.com/embed/ScMzIvxBSi4?autoplay=0')"
          tabindex="0"
          title="Placeholder video"
  ></iframe>
</div>
