mat-tab-group {
  width: 100%;
  max-width: 800px;
}

.tab-container {
  padding: 20px;
}

mat-card {
  width: 800px;
  max-width: 90%;
  margin-top: 20px;
  background-color: var(--surface);
}

h3 {
  font-size: 150%;
  color: var(--text-1);
}

h4 {
  padding-top: 10%;
  font-size: 120%;
  margin: 0px;
}

.answers:last-child {
  padding-bottom: 5%;
}
