mat-tab-group {
  width: 100%;
  max-width: 800px;
}

.tab-container {
  padding: 20px;
}

mat-card {
  width: 800px;
  max-width: 90%;
  margin-top: 20px;
  background-color: var(--surface);
}

h3 {
  font-size: 150%;
}



.answers:last-child {
  padding-bottom: 5%;
}
