<div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center" fxFill>
  <div fxLayout="row" fxLayoutAlign="center">
    <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
  </div>
</div>

<div fxLayout="column" fxLayoutAlign="start center">
  <mat-tab-group>
      <mat-tab fxLayoutAlign="center" *ngFor="let content of contents" label="{{content.subject}}">
        <mat-card>
          <mat-card-content>
            <h3>{{content.body}}</h3>
            <mat-divider></mat-divider>
            <div class="answers" *ngFor="let answer of content.options; let i = index">
              <h4>{{labels[i]}} : {{answer.label}}</h4>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-tab>
  </mat-tab-group>
</div>
