<div class="page-not-found-wrapper">
  <img
    src="assets/images/404-Chatbot.webp"
    alt="Chatbot zeigt nach unten"
    class="robot-img robot-portrait" />
  <img
    src="assets/images/404-Chatbot-pointing-to-the right.webp"
    alt="Chatbot zeigt nach links (Landscape)"
    class="robot-img robot-landscape" />

  <div class="content">
    <h2>404</h2>
    <p [innerHTML]="'worker-dialog.404-error-description' | translate"></p>
    <a
      routerLink="/"
      class="start-button">
      frag.jetzt
    </a>
  </div>
</div>
