<h2 mat-dialog-title>{{ i18n().title }}</h2>

<mat-dialog-content>
  <mat-tab-group>
    <!-- Create -->
    <mat-tab [label]="i18n().create">
      <p>{{ i18n().description }}</p>
      <ng-container
        [ngTemplateOutlet]="form"
        [ngTemplateOutletContext]="{
          group: createGroup,
        }"></ng-container>
      <button
        (click)="create()"
        [disabled]="createGroup.invalid"
        style="margin-bottom: 0.5em; display: block; margin-inline: auto"
        mat-flat-button>
        {{ i18n().createLabel }}
        @if (state() === "loading") {
          <mat-spinner
            mode="indeterminate"
            class="spinner"></mat-spinner>
        }
      </button>
    </mat-tab>

    <!-- Edit -->
    <mat-tab [label]="i18n().edit">
      <mat-form-field
        appearance="outline"
        style="width: 100%">
        <mat-label>KI-Assistent</mat-label>
        <mat-select (selectionChange)="selected.set($event.value)">
          @for (assist of assists(); track assist.ref.id) {
            <mat-option [value]="assist">
              {{ assist.assistant.name }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-divider></mat-divider>
      <ng-container
        [ngTemplateOutlet]="form"
        [ngTemplateOutletContext]="{
          group: editGroup,
        }"></ng-container>
      <button
        (click)="update()"
        [disabled]="editGroup.invalid"
        style="margin-bottom: 0.5em; display: block; margin-inline: auto"
        mat-flat-button>
        {{ i18n().editLabel }}
        @if (state() === "loading") {
          <mat-spinner
            mode="indeterminate"
            class="spinner"></mat-spinner>
        }
      </button>
    </mat-tab>

    <!-- Delete -->
    <mat-tab [label]="i18n().delete">
      <mat-list #shoes>
        @for (entry of assists(); track $index) {
          <mat-list-item>
            {{ entry.assistant.name }}
            <p
              matListItemMeta
              style="display: flex; align-items: center">
              @if (deleting() === entry.ref.id) {
                <mat-spinner
                  [diameter]="24"
                  mode="indeterminate"></mat-spinner>
              }
              <button
                (click)="deleteEntry(entry)"
                [disabled]="state() !== 'ready'"
                [matTooltip]="i18n().deleteLabel"
                mat-icon-button>
                <mat-icon>delete</mat-icon>
              </button>
            </p>
          </mat-list-item>
        }
      </mat-list>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-dialog-close
    mat-button>
    {{ i18n().global.close }}
  </button>
  <span style="flex: 1"></span>
</mat-dialog-actions>

<ng-template
  let-group="group"
  #form>
  <form [formGroup]="group">
    <mat-form-field
      appearance="outline"
      style="width: 100%">
      <mat-label>{{ i18n().entryName }}</mat-label>
      <input
        maxlength="256"
        formControlName="name"
        matInput />
      <mat-hint>
        {{
          i18n().maxChars
            | context
              : { current: createGroup.get("name").value.length, max: 256 }
        }}
      </mat-hint>
    </mat-form-field>
    <mat-form-field
      appearance="outline"
      style="width: 100%">
      <mat-label>{{ i18n().entryDescription }}</mat-label>
      <input
        maxlength="512"
        formControlName="description"
        matInput />
      <mat-hint>
        {{
          i18n().maxChars
            | context
              : {
                  current: createGroup.get("description").value.length,
                  max: 512,
                }
        }}
      </mat-hint>
    </mat-form-field>
    <mat-form-field
      appearance="outline"
      style="width: 100%">
      <mat-label>{{ i18n().entryModel }}</mat-label>
      <mat-select formControlName="model">
        <mat-option [value]="'gpt-3.5-turbo'">GPT-3.5-Turbo</mat-option>
        <mat-option [value]="'gpt-4o'">GPT-4o</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field
      appearance="outline"
      style="width: 100%">
      <mat-label>{{ i18n().entryInstructions }}</mat-label>
      <textarea
        style="max-height: 50dvh"
        maxlength="256000"
        formControlName="instructions"
        matInput
        #inputElem
        (input)="updateHeight(inputElem)"></textarea>
      <mat-hint>
        {{
          i18n().maxChars
            | context
              : {
                  current: createGroup.get("instructions").value.length,
                  max: 256000,
                }
        }}
      </mat-hint>
    </mat-form-field>
    <mat-slide-toggle formControlName="fileSearch">
      {{ i18n().entryFilesearch }}
    </mat-slide-toggle>
    <br />
    <mat-slide-toggle formControlName="codeInterpreter">
      {{ i18n().entryCodeInterpreter }}
    </mat-slide-toggle>
    <mat-form-field
      appearance="outline"
      style="width: 100%">
      <mat-label>{{ i18n().entryTemperature }}</mat-label>
      <input
        type="number"
        min="0"
        max="1"
        formControlName="temperature"
        inputmode="numeric"
        matInput />
    </mat-form-field>
    <mat-form-field
      appearance="outline"
      style="width: 100%">
      <mat-label>{{ i18n().entryTopP }}</mat-label>
      <input
        type="number"
        min="0"
        max="1"
        formControlName="top_p"
        inputmode="numeric"
        matInput />
    </mat-form-field>
  </form>
</ng-template>
