form {
  padding-top: 5%;
}

mat-error {
  font-size: small;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.placeholder {
  filter: opacity(0.6);
  font-style: italic;
}

:host {
  ::ng-deep .mat-form-field .mat-form-field-infix {
    max-width: 130px;
  }
}

#session_enter-button {
  font-size: 16px;
}

.join-room {
  transform: scale(2.5);
}
