mat-form-field {
  font-size: x-large;
  color: var(--on-surface);
}

form {
  padding-top: 5%;
}

.demo {
  margin-bottom: 20px;
  color: var(--on-surface);
}

mat-error {
  font-size: small;
}

.mat-fab {
  width: 65px;
  height: 65px;
  background-color: var(--primary);
  color: var(--on-primary);
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

mat-hint {
  color: var(--on-surface) !important;
}
