<div>
  <form (ngSubmit)="joinRoom(sessionCode.value)">
    <div
      [joyrideStep]="'roomJoin'"
      [stepPosition]="'top'"
      appJoyrideTemplate>
      <mat-form-field appearance="fill">
        <input
          id="session_id-input"
          matInput
          #sessionCode
          appAccessibilityEscapedInput
          type="text"
          maxlength="30"
          [formControl]="sessionCodeFormControl"
          [placeholder]="'home-page.session-id' | translate"
          [errorStateMatcher]="matcher"
          aria-labelledby="join-input-label" />
        <mat-error
          *ngIf="sessionCodeFormControl.hasError('required')"
          aria-hidden="true">
          {{ "home-page.please-enter" | translate }}
        </mat-error>
        <button
          type="submit"
          mat-icon-button
          matSuffix
          id="session_enter-button"
          aria-labelledby="join-button-label">
          <mat-icon>input</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </form>
</div>

<div class="visually-hidden">
  <div id="join-input-label">
    {{ "home-page.accessibility-join-input" | translate }}
  </div>
  <div id="join-button-label">
    {{ "home-page.accessibility-join-button" | translate }}
  </div>
</div>
