<div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="20px">
  <div fxLayout="row" fxLayoutAlign="center">
    <form>
      <mat-form-field class="input-block">
        <input matInput #commentSubject type="text" maxlength="24" placeholder="{{ 'comment-page.enter-title' | translate}}">
      </mat-form-field>
      <mat-form-field class="input-block">
        <input matInput #commentBody>
        <textarea matInput></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="goBack()">{{ 'comment-page.back' | translate}}</button>
      <button mat-raised-button color="primary" (click)="send(commentSubject.value, commentBody.value)">{{ 'comment-page.send' | translate}}</button>
    </form>
  </div>
  <div fxLayout="row" fxLayoutAlign="center">
    <app-comment-list></app-comment-list>
  </div>
</div>

