<h2
  matDialogTitle
  class="custom-dialog-title">
  {{ "moderators-dialog.confirm-title" | translate }}
</h2>
<mat-dialog-content>
  {{ "moderators-dialog.confirm-description" | translate }}
</mat-dialog-content>
<mat-dialog-actions>
  <button
    mat-button
    [mat-dialog-close]="false">
    {{ "moderators-dialog.abort" | translate }}
  </button>
  <span style="flex: 1"></span>
  <button
    mat-flat-button
    [mat-dialog-close]="true">
    {{ "moderators-dialog.confirm" | translate }}
  </button>
</mat-dialog-actions>
