<ars-row ars-flex-box>
  <app-write-comment [confirmLabel]="'send'"
                     [brainstormingData]="brainstormingData"
                     [isQuestionerNameEnabled]="true"
                     [onSubmit]="this.forwardComment.bind(this)"
                     [onDeeplSubmit]="this.closeDialog.bind(this)"
                     [onClose]="this.onNoClick.bind(this)"
                     [isSpinning]="isSendingToSpacy"
                     [tags]="tags"
                     [isModerator]="userRole > 0">
  </app-write-comment>
</ars-row>
