button {
  min-width: 80px;
}

form {
  display: block;
  width: 100%;
  max-width: 800px;
  margin-bottom: 50px;
}

app-comment-list {
  width: 100%;
  max-width: 800px;
}

#answer-input {
  line-height: 120%;
  color: var(--on-surface);
  caret-color: var(--on-surface);
  -webkit-appearance: textarea;
  min-height: 50px;
  cursor: text;
  word-wrap: break-word;

  &:focus {
    outline: none;
  }
}
.spell-button{
  background-color: var(--primary);
  color: var(--on-primary);
  margin-top: 1rem;
}

.send {
  color: var(--on-primary);
  background-color: var(--primary);
}
::ng-deep .mat-select-value{
  width: auto!important;
}

.material-icons{
  margin-right: 18px;
}

.select-list{
  width: calc(100% - 24px);
}
.lang-selection {
  vertical-align: middle;
  margin-right: 0;
}
mat-hint {
  color: var(--on-surface) !important;
}

.mat-select-value-text {
  color: var(--on-surface);
  caret-color: var(--on-surface);
}

.placeholder {
  color: var(--on-surface);
}

.tag-form-field{
  @media screen and (max-width:500px) {
    width:70px;
  }
  z-index:10000;
}

.anchor-right{
  @media screen and (max-width:500px) {
    width:70px;
    left:calc( 100% - 70px );
  }
  width:200px;
  height:50px;
  position:relative;
  left:calc( 100% - 200px );
  top:0;
}

.anchor-wrp{
  width:100%;
  height:0;
  position:relative;
  left:0;
  top:0;
}

::ng-deep .mat-form-field-label {
  color: var(--on-surface)!important;
}

::ng-deep .mat-form-field-underline {
  background-color: var(--on-surface)!important;
}

::ng-deep .mat-form-field-ripple {
  background-color: var(--on-surface)!important;
}

::ng-deep .mat-select-arrow-wrapper .mat-select-arrow {
  color: var(--on-surface);
  margin-right: 50px;
}

::ng-deep .mat-select-value-text {
  color: var(--on-surface);
}

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: var(--primary);
}

::ng-deep .mat-select-panel {
  background: var(--dialog);
}

.mat-option {
  color: var(--on-surface);
}

::ng-deep .mat-tab-body-content {
  max-width: 540px !important;
  overflow-x: hidden !important;
}

::ng-deep .mat-spinner circle {
  stroke: var(--on-primary);
}

.lang-confidence {
  color: var(--white);
  border: solid var(--red);
  border-width: thick;
  border-radius: 5px;
  background-color: var(--red);
  animation: shake 0.5s;
  font-size: 16px;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(0px, 0) rotate(-1deg); }
  20% { transform: translate(0px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, 0) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-1px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, 0) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -0) rotate(-1deg); }
}

.spellcheck {
  @media screen and (max-width:500px) {
    overflow: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column !important;
    flex-wrap: wrap;
    align-items: flex-end;
  }
}

::ng-deep .mat-form-field .mat-form-field-infix {
  max-width: 500px;
}
