<h2 mat-dialog-title>{{ "gptpreset-topics.title" | translate }}</h2>

<mat-dialog-content>
  <div class="input-container">
    <mat-form-field>
      <mat-label>{{ "gptpreset-topics.topic" | translate }}</mat-label>
      <input
        appAccessibilityEscapedInput
        (keydown)="checkEnter($event, addTopic)"
        matInput
        type="text"
        [(ngModel)]="topicDescription" />
      <button
        *ngIf="topicDescription"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="topicDescription = ''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button
      (click)="addTopic()"
      class="primary-button"
      mat-stroked-button>
      {{ "gptpreset-topics.add-topic" | translate }}
    </button>
  </div>
  <mat-selection-list (selectionChange)="onChange($event)">
    <mat-list-option
      *ngFor="let topic of topics; let i = index"
      [selected]="topic.active">
      <span matListItemTitle>
        {{ topic.description }}
        <button
          (click)="topics.splice(i, 1)"
          class="secondary-button"
          mat-icon-button>
          <mat-icon>close</mat-icon>
        </button>
      </span>
    </mat-list-option>
  </mat-selection-list>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-button
    class="secondary-button"
    mat-dialog-close>
    {{ "gptpreset-topics.cancel" | translate }}
  </button>
  <button
    mat-stroked-button
    class="primary-button"
    [mat-dialog-close]="topics">
    {{ "gptpreset-topics.save" | translate }}
  </button>
</mat-dialog-actions>
