.input-container {
  display: flex;

  > mat-form-field {
    flex: 1;
  }

  > button {
    margin-left: 1em;
  }
}

:host ::ng-deep .mat-list-text {
  flex-direction: row !important;
  align-items: center;
}

.secondary-btn {
  // TODO: Theming #1
  width: 100%;
  margin-top: 10px;
}
