.qr-container {
  height: 100%;
  background-color: white;
}

.exitButton {
  background-color: white;
  color: red;
  outline: red solid 3px;
  position: absolute;
  top: 2em;
  right: 2em;

  &:hover {
    background-color: red;
    color: white;
  }
}

h2 {
  color: black;
}
