

.qr_header{
  width:100%;
  height:64px;
  position:absolute;
  left:0px;
  top:0px;
  background-color:#FFFFFF;
}

.qr_header>button{
  margin-left:16px;
  margin-top:12px;
  color:#000000;
}

.qr_content{
  background-repeat:no-repeat;
  background-position:center;
  background-size:contain;
  width:100%;
  height:calc(100% - 64px);
  position:absolute;
  left:0px;
  image-rendering: pixelated;
  top:64px;
  background-color:#FFFFFF;
}

.qr_content img{
  display:none;
}
