@use "modules/m3/style/m3-typescale" as m3-typescale;
@use "modules/m3/style/m3-layout" as m3-layout;

:host {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 16px;
}

.key {
  width: 32px;
  height: 32px;
  border-radius: var(--md-sys-shape-corner-extra-small);
  background-color: var(--sys-surface-container-low);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4px;
  margin-top: 4px;
}

.title {
  @include m3-typescale.typescale(display, large);
  @include m3-layout.explicit-range(expanded) {
    @include m3-typescale.typescale(display, medium);
  }
  @include m3-layout.explicit-range(compact, medium) {
    @include m3-typescale.typescale(display, small);
  }
}

.sub-title {
  @include m3-typescale.typescale(body, large);
}

.arrow-keys-placeholder {
  @include m3-layout.explicit-range(compact, expanded) {
    display: none;
  }
}
