<div class="column">
  <span class="mat-mdc-card-title">Question Focus</span>
  <span>
    Click on a question or navigate forward and backward using the arrow keys.
  </span>
</div>
<div class="column items-center">
  <div class="row items-center">
    <div class="key">
      <span class="material-symbols-rounded">arrow_drop_up</span>
    </div>
  </div>
  <div class="bottom row">
    <div class="key">
      <span class="material-symbols-rounded">arrow_left</span>
    </div>
    <div class="key">
      <span class="material-symbols-rounded">arrow_drop_down</span>
    </div>
    <div class="key">
      <span class="material-symbols-rounded">arrow_right</span>
    </div>
  </div>
</div>
