<div class="column">
  <span class="title">{{ i18n().placeholder.title }}</span>
  <span class="sub-title">{{ i18n().placeholder.subtitle }}</span>
</div>
<div class="column items-center">
  <div class="row items-center">
    <div class="key">
      <span class="material-symbols-rounded">arrow_drop_up</span>
    </div>
  </div>
  <div class="bottom row">
    <div class="key">
      <span class="material-symbols-rounded">arrow_left</span>
    </div>
    <div class="key">
      <span class="material-symbols-rounded">arrow_drop_down</span>
    </div>
    <div class="key">
      <span class="material-symbols-rounded">arrow_right</span>
    </div>
  </div>
</div>
