@use "@angular/material" as mat;

@import "theme/light-theme/_variables.scss";
//@import "theme/dark-theme/dark-theme";
//@import "theme/dark-solarized-theme/dark-solarized-theme";
//@import "theme/blue-theme/blue-theme";
//@import "theme/purple-theme/purple-theme";

@import "material-icons/iconfont/material-icons.scss";

//@import "~katex/dist/katex.min.css";
//@import "~prismjs/plugins/line-numbers/prism-line-numbers.css";
//@import "~prismjs/plugins/line-highlight/prism-line-highlight.css";

// @include mat.all-component-typographies();
@include mat.core();

@include mat.all-component-themes($arsnova-theme);

html,
body {
  margin: 0;
  height: 0;
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  left: -10000px;
}
