@import 'theme/default-Theme/_variables.scss';
@import "theme/dark-Theme/dark-theme";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($arsnova-theme);


.dark {
  @include angular-material-theme($dark-theme);
}


@import 'theme/default-Theme/theme';
