@import 'theme/light-theme/_variables.scss';
@import 'theme/dark-theme/dark-theme';
@import 'theme/blue-theme/blue-theme';
@import 'theme/purple-theme/purple-theme';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($arsnova-theme);

body{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  width:100%;
  height:100%;
  overflow:hidden;
}

.dark {
  @include angular-material-theme($dark-theme);
}

.blue {
  @include angular-material-theme($blue-theme);
}

.purple {
  @include angular-material-theme($purple-theme);
}

@import 'theme/light-theme/theme';

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  left: -10000px;
}

.modal {
  outline: none;
  border-color: transparent;
}

.placeholder {
  color: var(--on-surface);
}

markdown {
  color: var(--on-surface);
}

h2 {

  color: var(--on-surface) !important;
  font-size: 24px !important;
}

h3 {
  color: var(--on-surface) !important;
  font-size: 18px !important;
}

h4 {
  padding-top: 10%;
  font-size: 17px !important;
}

p, div {
  color: var(--on-surface);
  hyphens: auto;
}

address {
  font-style: normal;
}

.overflow_hide {
  height: 0px;
  overflow: hidden;
}

.testBox{
  width:50%;
  height:50%;
  position: fixed;
  left:0px;
  top:25%;
  z-index: 1000;
  background-color: var(--surface);
}

.cdk-overlay-dark-backdrop {
  background: var(--background);
}

.filledDialog{
  width:calc( 100% - 50px);
  min-width:calc( 100% - 50px);
  max-width:calc( 100% - 50px);
  height:calc( 100% - 50px);
  margin:25px;
  padding:0;
}

.screenDialog{
  width:100%;
  min-width:100%;
  max-width:100%;
  height:100%;
  margin:0;
  padding:0;
}

.imgWrp img{
  width:calc( 100% - 35px );
  height:calc( 100% - 35px );
  image-rendering: crisp-edges;
}
