<p>
  Lass dir auf dieser Seite automatisch und in Vollansicht neue Fragen einzeln anzeigen.
</p>

<ol>
  <li>Autofokus ein- und ausschalten</li>
  <li>Fokussierte Frage skalieren</li>
  <li>Fragenliste ein- und ausblenden</li>
  <li>Fragenliste sortieren und filtern</li>
  <li>Durch die Fragenliste navigieren</li>
</ol>

<div class="videoWrapper">
  <iframe allowfullscreen
          height="315"
          width="560"
          [src]="sanitizer.trust('https://www.youtube.com/embed/ScMzIvxBSi4?autoplay=0')"
          tabindex="0"
          title="Placeholder video"
  ></iframe>
</div>
