<ol>
  <li>Afficher le code QR</li>
  <li>Activer et désactiver l'autofocus</li>
  <li>Mettre la question focalisée à l'échelle</li>
  <li>Afficher et masquer la liste des questions</li>
  <li>Trier et masquer la liste des questions</li>
  <li>Naviguer dans la liste des questions</li>
</ol>

<div class="videoWrapper">
  <iframe allowfullscreen
          height="315"
          width="560"
          [src]="sanitizer.trust('https://www.youtube.com/embed/ScMzIvxBSi4?autoplay=0')"
          tabindex="0"
          title="Placeholder video"
  ></iframe>
</div>
