<p>
  Laisse cette page t'afficher automatiquement et en plein écran les nouvelles questions une par une.
</p>

<ol>
  <li>AActiver ou désactiver la focalisation automatique</li>
  <li>Mettre à l'échelle la question focalisée</li>
  <li>Afficher et masquer la liste des questions</li>
  <li>Trier et filtrer la liste des questions</li>
  <li>Naviguer dans la liste des questions</li>
</ol>

<div class="videoWrapper">
  <iframe allowfullscreen
          height="315"
          width="560"
          [src]="sanitizer.trust('https://www.youtube.com/embed/ScMzIvxBSi4?autoplay=0')"
          tabindex="0"
          title="Placeholder video"
  ></iframe>
</div>
