<p>
  Der Screencast zeigt dir die folgenden Use Cases:
</p>

<ol>
  <li>QR-Code anzeigen</li>
  <li>Autofokus ein- und ausschalten</li>
  <li>Fokussierte Frage skalieren</li>
  <li>Fragenliste ein- und ausblenden</li>
  <li>Sortieren und Filtern der Fragenliste</li>
  <li>Navigieren durch die Fragenliste</li>
</ol>

<p>(in Arbeit)</p>

<div class="videoWrapper">
  <iframe allowfullscreen
          height="315"
          width="560"
          [src]="sanitizer.trust('https://www.youtube.com/embed/ScMzIvxBSi4?autoplay=0')"
          tabindex="0"
          title="Placeholder video"
  ></iframe>
</div>
