<p>
  Let this page automatically show you new questions one by one in full screen mode.
</p>

<ol>
  <li>Turn autofocus on and off</li>
  <li>Scale focused question</li>
  <li>Show and hide question list</li>
  <li>Sort and filter question list</li>
  <li>Navigate question list</li>
</ol>

<div class="videoWrapper">
  <iframe allowfullscreen
          height="315"
          width="560"
          [src]="sanitizer.trust('https://www.youtube.com/embed/ScMzIvxBSi4?autoplay=0')"
          tabindex="0"
          title="Placeholder video"
  ></iframe>
</div>
