<p>
  Le screencast te montre les cas d'utilisation suivants :
</p>

<ol>
  <li>Afficher le code QR</li>
  <li>Activer et désactiver l'autofocus</li>
  <li>Mettre la question focalisée à l'échelle</li>
  <li>Afficher et masquer la liste des questions</li>
  <li>Trier et masquer la liste des questions</li>
  <li>Naviguer dans la liste des questions</li>
</ol>

<p>(travail en cours)</p>

<div class="videoWrapper">
  <iframe allowfullscreen
          height="315"
          width="560"
          [src]="trust('https://www.youtube.com/embed/ScMzIvxBSi4?autoplay=0')"
          tabindex="0"
          title="Placeholder video"
  ></iframe>
</div>
