<div data-nosnippet>

  <h1>Politique de confidentialité pour «&#160;frag.jetzt&#160;»</h1>

  <h2>Développement et financement</h2>
  <p>
    Le développement de «&#160;frag.jetzt&#160;» a été financé dans le cadre du projet
    universitaire en réseau
    <a href="https://www.hessenhub.de/projekt/" class="info" target="_blank" rel="noopener">
      «&#160;Enseignement et apprentissage numérique en Hesse&#160;»</a> par l'État de Hesse.
  </p>

  <a href="https://www.hessenhub.de/projekt/" class="info" target="_blank" rel="noopener">
    <img src="/assets/images/HMWK.webp" loading="lazy" alt="Logo HMWK" width="175" height="79" style="box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 8px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;" />
  </a>

  <h2>Accessibilité</h2>
  <p>
    «&#160;frag.jetzt&#160;» s'engage à garantir l'accessibilité numérique aux personnes en situation de handicap. Nous
    améliorons
    continuellement l'ergonomie et appliquons les normes d'accessibilité pertinentes. Une attention particulière est
    accordée à l'accessibilité pour les utilisateurs malvoyants.
  </p>

  <h2>État de conformité</h2>
  <p>
    Les
    <a href="https://www.w3.org/WAI/standards-guidelines/wcag/" class="info">
      Web Content Accessibility Guidelines</a>
    (WCAG) définissent les exigences pour les concepteurs et développeurs afin d'améliorer l'accessibilité du web pour
    les personnes en situation de handicap. Trois niveaux de conformité existent : A, AA et AAA.
    «&#160;frag.jetzt&#160;» est
    partiellement conforme à la norme WCAG 2.1 niveau AA. Une conformité partielle signifie que certains éléments du
    contenu ne répondent pas entièrement aux normes d'accessibilité.
  </p>

  <h2>Exploitant de «&#160;frag.jetzt&#160;»</h2>
  <p>
    L'exploitation de l'application web
    <a href="https://gitlab.arsnova.eu/arsnova/frag.jetzt" target="_blank" class="info" rel="noopener">
      Open-Source</a>
    «&#160;frag.jetzt&#160;» est une initiative privée et non commerciale portée par :
  </p>

  <p>
    <strong>Prof. Dr. Klaus Quibeldey-Cirkel</strong><br />
    Heinrich-Heine-Str. 46<br />
    D-35039 Marburg<br />
  </p>

  <p>
    Contact :
    <a href="mailto:klaus.quibeldey&#64;gmail.com" class="info">klaus.quibeldey&#64;gmail.com</a>
  </p>

  <p>
    «&#160;frag.jetzt&#160;» est hébergé sur un
    <a href="https://tools.keycdn.com/geo?host=frag.jetzt" class="info">
      serveur en Allemagne</a>.
  </p>



</div>