<div data-nosnippet>
  <p>
    Le développement de «&nbsp;frag.jetzt&nbsp;» a été financé par l'État de Hesse dans le cadre du projet de réseau universitaire
    <a
      href="https://www.hessenhub.de/projekt/"
      class="info"
      target="_blank"
      rel="noopener"
      >Enseignement et apprentissage assistés par le numérique en Hesse</a>.
  </p>

  <a
    href="https://www.hessenhub.de/projekt/"
    class="info"
    target="_blank"
    rel="noopener"
  >
    <img
      src="/assets/images/HMWK.webp"
      loading="lazy"
      alt="Logo HMWK"
      width="175"
      height="79"
      style="box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 8px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;"
    />
  </a>

  <h2>Protection des données</h2>

  <p>
    «&nbsp;frag.jetzt&nbsp;» s'engage à assurer l'accessibilité numérique pour les personnes handicapées. Nous améliorons continuellement la convivialité pour tous et appliquons les normes d'accessibilité pertinentes. Nous nous adressons spécifiquement aux utilisateurs malvoyants de «&nbsp;frag.jetzt&nbsp;».
  </p>

  <h2>Statut de conformité</h2>

  <p>
    Les
    <a href="https://www.w3.org/WAI/standards-guidelines/wcag/" class="info"
      >Directives pour l'accessibilité des contenus Web</a
    >
    (WCAG) définissent les exigences pour les concepteurs et les développeurs afin d'améliorer l'accès aux personnes handicapées. Il existe trois niveaux de conformité : Niveau A, AA et AAA. «&nbsp;frag.jetzt&nbsp;» est partiellement conforme aux WCAG 2.1 Niveau AA. La conformité partielle signifie que certaines parties du contenu ne répondent pas entièrement à la norme d'accessibilité.
  </p>

  <h2>Opérateur de «&nbsp;frag.jetzt&nbsp;»</h2>

  <p>
    L'exploitation de l'application web
    <a
      href="https://github.com/thm-projects/frag.jetzt"
      target="_blank"
      class="info"
      rel="noopener"
      >Open-Source</a
    > «&nbsp;frag.jetzt&nbsp;» est un service gratuit ("Software as a Service") fourni par TransMIT-Gesellschaft für Technologietransfer mbH, domaine de projet pour les applications mobiles.<br />
    <br />
    Kerkrader Straße 3<br />
    D-35394 Gießen<br />
    <br />
    c/o THM<br />
    Département de mathématiques, sciences naturelles et informatique<br />
    Prof. Dr. Klaus Quibeldey-Cirkel<br />
    Chaire de génie logiciel<br />
    <br />
    Wiesenstraße 14<br />
    D-35390 Gießen<br />
    <br />
    <a href="tel:+496413092450" class="info">+49 641 309-2450</a>
    <br />
    <a href="mailto:klaus.quibeldey-cirkel@transmit.de" class="info"
      >klaus.quibeldey-cirkel&#64;transmit.de</a
    >
    <br />
    <br />
    Siège social : Gießen<br />
    Site web :
    <a href="https://transmit.de" class="info">transmit.de</a>
    <br />
    Forme juridique : GmbH<br />
    Tribunal de commerce : Gießen HRB 3036<br />
    N° de TVA : DE 188 685 037<br />
    <br />
    «&nbsp;frag.jetzt&nbsp;» est exploité sur un
    <a href="https://tools.keycdn.com/geo?host=frag.jetzt" class="info"
      >serveur en Allemagne</a
    >
    <br />
    <br />
  </p>
</div>
