<div data-nosnippet>

  <h1>Privacy Policy for »frag.jetzt«</h1>

  <h2>Development and Funding</h2>
  <p>
    The development of »frag.jetzt« was funded as part of the
    university network project
    <a href="https://www.hessenhub.de/projekt/" class="info" target="_blank" rel="noopener">
      »Digitally Supported Teaching and Learning in Hesse«</a> by the State of Hesse.
  </p>

  <a href="https://www.hessenhub.de/projekt/" class="info" target="_blank" rel="noopener">
    <img src="/assets/images/HMWK.webp" loading="lazy" alt="HMWK Logo" width="175" height="79" style="box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 8px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;" />
  </a>

  <h2>Accessibility Statement</h2>
  <p>
    »frag.jetzt« is committed to ensuring digital accessibility for individuals with disabilities. We continuously
    improve user-friendliness and apply relevant accessibility standards. Particular attention is given to making the
    platform accessible for visually impaired users.
  </p>

  <h2>Compliance Status</h2>
  <p>
    The
    <a href="https://www.w3.org/WAI/standards-guidelines/wcag/" class="info">
      Web Content Accessibility Guidelines</a>
    (WCAG) define requirements for designers and developers to improve web accessibility for individuals with
    disabilities. There are three compliance levels: A, AA, and AAA. »frag.jetzt« is partially compliant with WCAG 2.1
    Level AA. Partial compliance means that some parts of the content do not fully conform to the accessibility
    standard.
  </p>

  <h2>Operator of »frag.jetzt«</h2>
  <p>
    The operation of the
    <a href="https://gitlab.arsnova.eu/arsnova/frag.jetzt" target="_blank" class="info" rel="noopener">
      Open-Source</a>
    web application »frag.jetzt« is a private, non-commercial initiative by:
  </p>

  <p>
    <strong>Prof. Dr. Klaus Quibeldey-Cirkel</strong><br />
    Heinrich-Heine-Str. 46<br />
    D-35039 Marburg<br />
  </p>

  <p>
    Contact:
    <a href="mailto:klaus.quibeldey&#64;gmail.com" class="info">klaus.quibeldey&#64;gmail.com</a>
  </p>

  <p>
    »frag.jetzt« is operated on a
    <a href="https://tools.keycdn.com/geo?host=frag.jetzt" class="info">
      server in Germany</a>.
  </p>



</div>