<p>
  Le brainstorming est une méthode créative développée par Alex F. Osborn.
  Elle est conçue pour stimuler le développement d'idées nouvelles et inhabituelles.
  «&#160;frag.jetzt&#160;» prend en charge toutes les phases de la méthode.
</p>

<p>La vidéo de l'Université Pink explique le brainstorming en 6 minutes&#160;:</p>

<div class="videoWrapper">
  <iframe allowfullscreen
          height="315"
          width="560"
          [src]="sanitizer.trust('https://www.youtube-nocookie.com/embed/J7LXXZ5oFVE')"
          tabindex="0"
          title="Placeholder video"
  ></iframe>
</div>

<p>Osborn donne quatre règles de base du brainstorming :</p>

<ul>
  <li>
    Pas de critique !
  </li>
  <li>
    Plus il y a d'idées, mieux c'est&#160;!
  </li>
  <li>
    Complète et améliore les idées déjà existantes&#160;!
  </li>
  <li>
    Plus l'idée est originale, mieux c'est&#160;!
  </li>
</ul>

<p>«&#160;frag.jetzt&#160;» inspire et encourage la libre expression&#160;:
  Les idées sont saisies anonymement et apparaissent en temps réel dans un nuage de mots.
  Si un seul mot doit être saisi, une IA met le mot dans sa forme de base afin de reconnaître les entrées multiples.
  Plus il y a de personnes qui ont la même idée, plus elle apparaît grande et centrale.

  Le «&#160;Focus sur les questions&#160;» sert à la présentation des idées et le «&#160;Forum Q&R&#160;» à l'élaboration collaborative.</p>

<p>Le diagramme de flux te montre ce que tu dois faire&#160;:</p>

<img alt="diagramme d'activité pour le brainstorming"
     class="screenshot"
     src="/assets/images/activity_diagram_brainstorming.svg"
     loading="lazy"
     tabindex="-1">
