<p>
  You can enter as many ideas as you want;
  they will be displayed in real time.
  If only one word is to be entered, an AI puts it into its basic form to recognize multiple entries.
  The more numerous an idea and the higher it is rated, the larger and more central it appears.
</p>

<ol>
  <li>Enter an idea</li>
  <li>Evaluate an idea</li>
  <li>Change the look of the word cloud</li>
</ol>

<div class="videoWrapper">
  <iframe allowfullscreen
          height="315"
          width="560"
          [src]="sanitizer.trust('https://www.youtube.com/embed/ScMzIvxBSi4?autoplay=0')"
          tabindex="0"
          title="Placeholder video"
  ></iframe>
</div>
