<p>
  Brainstorming ist eine Kreativtechnik von Alex F. Osborn.
  Sie soll dazu anregen, neue und ungewöhnliche Ideen zu entwickeln.
</p>

<p>Das Video der Pink University erklärt Brainstorming in 6 Minuten:</p>

<div class="videoWrapper">
  <iframe allowfullscreen
          height="315"
          width="560"
          [src]="sanitizer.trust('https://www.youtube-nocookie.com/embed/J7LXXZ5oFVE')"
          tabindex="0"
          title="Placeholder video"
  ></iframe>
</div>

<p>Osborn nennt vier Grundregeln des Brainstormings:</p>

<ul>
  <li>
    Übe keine Kritik!
  </li>
  <li>
    Je mehr Ideen, desto besser!
  </li>
  <li>
    Ergänze und verbessere bereits vorhandene Ideen!
  </li>
  <li>
    Je ungewöhnlicher die Idee, desto besser!
  </li>
</ul>

<p>»frag.jetzt« inspiriert und ermutigt zur freien Äußerung:
  Ideen werden anonym eingegeben und erscheinen in Echtzeit in einer Wortwolke.
  Der »Fragen-Fokus« steht für die Präsentation der Ideen und das »Q&A-Forum«
  für die kollaborative Ausarbeitung zur Verfügung.</p>

<p>Das Ablaufdiagramm zeigt dir, was zu tun ist:</p>

<img alt="Auditorium"
     class="screenshot"
     src="/assets/images/activity_diagram_brainstorming.svg"
     loading="lazy"
     tabindex="-1">
