<p>
  Brainstorming is a creative method developed by Alex F. Osborn.
  It is designed to stimulate the development of new and unusual ideas.
  »frag.jetzt« supports all phases of the method.
</p>

<p>Optima Training's video explains brainstorming in 6 minutes:</p>

<div class="videoWrapper">
  <iframe allowfullscreen
          height="315"
          width="560"
          [src]="sanitizer.trust('https://youtu.be/R4M_X5xP4BY')"
          tabindex="0"
          title="Placeholder video"
  ></iframe>
</div>

<p>Osborn gives four basic rules of brainstorming:</p>

<ul>
  <li>
    Don't criticize it!
  </li>
  <li>
    Go for large quantities of ideas!
  </li>
  <li>
    Build on each others ideas!
  </li>
  <li>
    Encourage wild and exaggerated ideas!
  </li>
</ul>

<p>»frag.jetzt« inspires and encourages free expression:
  Ideas are entered anonymously and appear in a word cloud in real time.
  If only one word is to be entered, an AI puts the word into its basic form in order to recognize multiple entries.
  The more people have the same idea, the larger and more central it appears.

  The »Question focus« serves for the presentation of ideas and the »Q&A forum« for collaborative elaboration.</p>

<p>The flowchart shows you what to do:</p>

<img alt="Brainstorming activity diagram"
     class="screenshot"
     src="/assets/images/activity_diagram_brainstorming.svg"
     loading="lazy"
     tabindex="-1">
