<p>
  Tu peux saisir autant d'idées que tu veux ;
  elles seront affichées en temps réel.
  Si un seul mot doit être saisi, une IA le met sous sa forme de base pour reconnaître les entrées multiples.
  Plus une idée est nombreuse et mieux elle est notée, plus elle apparaît grande et centrale.
</p>

<ol>
  <li>Entrer une idée</li>
  <li>Evaluer une idée</li>
  <li>Change l'apparence du nuage de mots</li>
</ol>

<div class="videoWrapper">
  <iframe allowfullscreen
          height="315"
          width="560"
          [src]="sanitizer.trust('https://www.youtube.com/embed/ScMzIvxBSi4?autoplay=0')"
          tabindex="0"
          title="Placeholder video"
  ></iframe>
</div>
