@if (context) {
  <div class="background-container">
    <div class="background">
      <span
        class="material-symbols-outlined"
        style="font-size: 64px">
        co_present
      </span>
      <span style="font-size: 64px">Q123</span>
    </div>
  </div>
  <div class="header">
    <ars-date-formatter
      [formatter]="dateFormatter"
      [date]="context.comment.createdAt"></ars-date-formatter>
  </div>
  <div class="content">
    <app-markdown-viewer [data]="context.comment.body"></app-markdown-viewer>
  </div>
  <div class="footer">
    @if (context.session.user.id !== context.comment.creatorId) {
      <button
        mat-button
        (click)="self.like(context.comment)">
        <mat-icon>thumb_up</mat-icon>
        {{ context.comment.upvotes }}
      </button>
      <button
        mat-button
        (click)="self.dislike(context.comment)">
        <mat-icon>thumb_down</mat-icon>
        {{ context.comment.downvotes }}
      </button>
    }
  </div>
}
