<h2 mat-dialog-title>{{ "topic-cloud-confirm-dialog.confirm" | translate }}</h2>

<mat-dialog-content>
  <p>{{ data.topic }}</p>
  <p>{{ data.message | translate }}</p>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-button
    class="secondary-button"
    mat-dialog-close="abort">
    {{ "topic-cloud-confirm-dialog.cancel" | translate }}
  </button>
  <button
    mat-stroked-button
    class="error-button"
    [mat-dialog-close]="data.confirmLabel">
    {{ "topic-cloud-confirm-dialog." + data.confirmLabel | translate }}
  </button>
</mat-dialog-actions>
