<mat-dialog-content>

  <mat-accordion>
      <mat-expansion-panel
                          (opened)="panelOpenState = true"
                          (closed)="panelOpenState = false"
                          *ngFor="let keyword of array">
        <mat-expansion-panel-header class="color">
          <mat-panel-title>
            {{keyword.keyword}}
          </mat-panel-title>
          <mat-panel-description>
            {{keyword.questions.length}} Questions
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p *ngFor="let question of keyword.questions">{{question}}</p>

        <mat-divider></mat-divider>

        <!-- TODO: show buttons only to creator and moderators -->
        <button mat-icon-button style="align-self:flex-end;"
                (click)="editKeyWord(keyword.keywordID)">
          <mat-icon class="primary">edit</mat-icon>
        </button>

        <button mat-icon-button style="align-self:flex-end;"
                (click)="deleteKeyWord(keyword.keywordID)">
          <mat-icon class="warn">delete</mat-icon>
        </button>
        <!-- TODO: add automatic translation -->
      </mat-expansion-panel>
  </mat-accordion>
</mat-dialog-content>
