<mat-dialog-content>

  <mat-accordion>
      <mat-expansion-panel
                          (opened)="panelOpenState = true"
                          (closed)="panelOpenState = false"
                          *ngFor="let elem of array">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{elem.keyword}}
          </mat-panel-title>
          <mat-panel-description>
            {{elem.correspondingQuestions.length}} Questions
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p *ngFor="let question of elem.correspondingQuestions">{{question}}</p>
      </mat-expansion-panel>
  </mat-accordion>

</mat-dialog-content>
