<!--<m3-nav-rail></m3-nav-rail>-->
<!--<m3-nav-drawer></m3-nav-drawer>-->
<div
  class="m3-nav-drawer-shadow"
  [ngClass]="extended ? 'drawer' : 'rail'">
  <div
    class="m3-nav-drawer"
    [ngClass]="extended ? 'mock-drawer __drawers' : 'mock-rail __rail'">
    <div class="header">
      <span
        class="header-button material-symbols-outlined"
        role="button"
        (click)="extended = !extended">
        menu
      </span>
      <span class="header-title">Title</span>
    </div>
    <ng-container *ngIf="!extended">
      <button
        mat-fab
        class="mat-elevation-z0">
        <mat-icon>edit</mat-icon>
      </button>
    </ng-container>
    <div
      [ngStyle]="{
        width: extended ? 'auto' : '100%'
      }">
      <ng-container *ngTemplateOutlet="actions"></ng-container>
    </div>
  </div>
</div>
<div
  class="m3-nav-drawer-content"
  #content>
  <div class="mock-top-bar">
    <button (click)="elevation = 1">elevation 1</button>
    <button (click)="elevation = 0">elevation 0</button>
  </div>
  <div class="m3-nav-drawer-content-pane">
    <ng-content></ng-content>
  </div>
  <div class="mock-bottom-bar">
    <div class="mock-bottom-bar-button-container">
      <ng-container *ngTemplateOutlet="actions"></ng-container>
    </div>
  </div>
</div>

<ng-template #actions>
  <button
    m3-label-button
    [activated]="true">
    <span m3-icon>face</span>
    <span m3-label>face</span>
    <span m3-badge>+420</span>
  </button>
  <button m3-label-button>
    <span m3-icon>face</span>
    <span m3-label>face</span>
    <span m3-badge>+420</span>
  </button>
  <button m3-label-button>
    <span m3-icon>face</span>
    <span m3-label>face</span>
    <span m3-badge>+420</span>
  </button>
  <button m3-label-button>
    <span m3-icon>face</span>
    <span m3-label>face</span>
    <span m3-badge>+420</span>
  </button>
  <!--  <button class="m3-label-button">-->
  <!--    <span class="material-symbols-outlined">home</span>-->
  <!--    <div class="m3-label label-medium">test</div>-->
  <!--  </button>-->
  <!--  <button class="m3-label-button">-->
  <!--    <span class="material-symbols-outlined">list</span>-->
  <!--    <div class="m3-label label-medium">rooms</div>-->
  <!--  </button>-->
  <!--  <button class="m3-label-button">-->
  <!--    <span class="material-symbols-outlined">settings</span>-->
  <!--    <div class="m3-label label-medium">settings</div>-->
  <!--  </button>-->
  <!--  <button class="m3-label-button">-->
  <!--    <span class="material-symbols-outlined">language</span>-->
  <!--    <div class="m3-label label-medium">language</div>-->
  <!--  </button>-->
</ng-template>
