:host {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.mock-drawer {
  width: 360px;
  background-color: yellow;
}
.mock-rail {
  width: 80px;
  background-color: red;
}

.m3-nav-drawer-content {
  flex-grow: 1;
  overflow: auto;
}
