.dialog-action-buttons, .dialog-action-buttons .buttons {
  margin-top: 1rem;
}

.dialog-action-buttons .cancel-button {
  color: var(--on-surface);
}

.primary-confirm-button {
  background-color: var(--primary);
  color: var(--on-primary);
}

.alert-confirm-button {
  background-color: var(--red);
  color: #fff;
}
