:host {
  margin: 3rem 0;
  display: block;
}

mat-list {
  border-radius: 5px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}

.logit-item {
  ::ng-deep > span {
    justify-content: space-between;
  }
}

.stop-item {
  div[matListItemTitle] {
    width: 100%;
  }

  .mat-icon-button {
    font-size: 1em;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    margin-top: -0.2em;
  }
}

.mat-expansion-panel {
  .mat-expansion-panel-header {
    font-size: 1.5em;
    font-weight: bold;
  }
}

.time-select {
  display: inline-block;
}

.panel-content-container {
  display: flex;
  flex-direction: column;

  > * {
    margin-bottom: 1.5rem;
  }
}

.panel-sub-item {
  display: flex;
  flex-direction: column;
}

.secondary-btn {
  width: fit-content;
  margin: 1.5em auto;

  &.mat-button-disabled {
    filter: contrast(0);
  }
}

.danger-btn {
  width: fit-content;
  margin: 1.5em auto;
}

.flex-text ::ng-deep .mat-form-field-infix {
  display: flex;
}
