<h2
  tabindex="0"
  mat-dialog-title>
  {{ "introductions.prompt-guide-chatbot" | translate }}
</h2>

<mat-dialog-content tabindex="0">
  @switch (language()) {
    @case ("de") {
      <app-introduction-prompt-guide-chatbot-de></app-introduction-prompt-guide-chatbot-de>
    }
    @case ("fr") {
      <app-introduction-prompt-guide-chatbot-fr></app-introduction-prompt-guide-chatbot-fr>
    }
    @default {
      <app-introduction-prompt-guide-chatbot-en></app-introduction-prompt-guide-chatbot-en>
    }
  }
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-button
    class="primary-button"
    mat-dialog-close>
    {{ "introductions.cancel" | translate }}
  </button>
</mat-dialog-actions>
