mat-card {
  max-width: 800px;
  width: 100%;
}

mat-select {
  max-width: 150px;
  margin-top: 10px;
  margin-left: 625px;
}

mat-progress-bar {
  height: 50px;
}

h1 {
  margin-top: 10px;
}

.evaluation {
  margin-top: 10px;
}
