<div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center">
  <mat-card>
    <mat-tab-group>
      <mat-tab label="Answer statistic">
        <mat-select placeholder="Answers" fxLayoutAlign="right" (change)="showStatistic($event.value)">
          <mat-option *ngFor="let state of states" [value]="state.value">
            {{ state.viewValue }}
          </mat-option>
        </mat-select>
        <div *ngIf="selected == 1">
          <div *ngFor="let statistic of statistics">
            {{ statistic.name }}
            <mat-progress-bar [value]="statistic.percent">
            </mat-progress-bar>
            <div align="right"> Votes: {{ statistic.votes }} </div>
          </div>
        </div>
        <div *ngIf="selected == 2">
          <!-- Add list of Question statistic -->
          <!-- Need number of participants in room -->
        </div>
      </mat-tab>
      <!-- Add second tab with true false answers -->
    </mat-tab-group>
  </mat-card>
</div>

