<div fxLayout="row" fxLayoutAlign="center">
  <div fxLayout="column" fxLayoutGap="20px">
      <div *ngFor="let comment of comments">
        <mat-card>
          <mat-card-content>
            <h3>{{comment.subject}}</h3>

            {{comment.body}}

            <div class="body-buttons" *ngIf="userRole === CREATOR">
              <button *ngIf="!comment.read" mat-fab color="warn" matTooltip="Is not read" (click)="setRead(comment)">
                <mat-icon>clear</mat-icon>
              </button>
              <button *ngIf="comment.read" mat-fab color="primary" matTooltip="Is read" (click)="setRead(comment)">
                <mat-icon>check</mat-icon>
              </button>
              <button class="trash-icon" mat-fab color="primary" matTooltip="Delete" (click)="delete(comment)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </mat-card-content>
          <mat-card-footer>
            <div class="date">
              <i> Submitted on {{comment.creationTimestamp | date:'dd-MM-yyyy HH:mm:ss' : format}} </i>
            </div>
          </mat-card-footer>
        </mat-card><br>
      </div>

    <button *ngIf="userRole === CREATOR" mat-raised-button color="primary" (click)="goBack()">Back</button>
  </div>
</div>
