mat-card {
  min-width: 800px;
  justify-content: center;
}

mat-card-content {
  min-height: 100px;
}

mat-card:hover {
  box-shadow: 0 6px 6px 6px rgba(0,0,0,.2), 0 6px 6px 0 rgba(0,0,0,.14), 0 6px 6px 0 rgba(0,0,0,.12) !important;
  transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 300ms cubic-bezier(.3,0,.2,1);
}

.trash-icon:hover {
  background: #F44336;
}

.body-buttons {
  position: absolute;
  top: 10%;
  left: 92%;
}

.date {
  text-align: right;
  font-size: 80%;
  margin-right: 10px;
  margin-bottom: 3px;
}
