<form class="example-form">

  <mat-form-field class="example-full-width">
    <input matInput #message maxlength="256" placeholder="e-mail">
    <mat-hint align="start"><strong></strong> </mat-hint>
  </mat-form-field><br>

  <mat-form-field class="example-full-width">
    <input matInput type="password" #passwd maxlength="256" placeholder="password">
    <mat-hint align="start"><strong></strong> </mat-hint>
    <mat-hint align="end">{{passwd.value.length}} / 12</mat-hint>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput type="password" #passwd2 maxlength="256" placeholder="verify password">
    <mat-hint align="start"><strong></strong> </mat-hint>
    <mat-hint align="end">{{passwd2.value.length}} / 12</mat-hint>
  </mat-form-field>


</form>
