.toolbar-container {
  background-color: var(--mat-sys-surface-container);
  color: var(--mat-sys-on-surface-container);

  mat-toolbar {
    margin: auto;
    max-width: 700px;
    background-color: var(--mat-sys-surface-container);

    button {
      color: var(--mat-sys-primary);
    }

    > h1 {
      font-size: 1.2em;
    }
  }
}

.container {
  max-width: 700px;
  margin: auto;
  width: 100%;
}

.card-container {
  display: flex;
  justify-content: space-around;
  gap: 1em;
  flex-wrap: wrap;
}

.spacer {
  flex: 1 1 auto;
}

.new-chatbot-card {
  margin-inline: auto;

  > mat-card-header {
    margin-bottom: 15px;
  }
}

mat-divider {
  margin-block: 1em;
}

mat-spinner {
  width: 1em !important;
  height: 1em !important;
  display: inline-block;
  margin-left: 0.5em;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

mat-form-field {
  width: 100%;
  padding-bottom: 0.5em;
}

.inline-wrapper {
  display: flex;
  gap: 1em;
  align-items: baseline;

  > * {
    flex: 1;
  }

  > button {
    flex: unset;
  }
}

.slider-container {
  display: flex;
  align-items: center;

  > mat-slider {
    flex-grow: 1;
  }
}

textarea {
  max-height: 35dvh;
  overflow-y: scroll;
}

mat-card {
  max-width: 600px;
  width: 100%;
}

.mat-mdc-card-actions {
  display: flex;
  padding: 8px;
  margin-top: 1em;
  justify-content: flex-end;
}

h3 {
  padding-top: 0;
  margin-top: 0;
}

.upload-area {
  border: 1px dashed var(--mat-sys-outline);
  border-radius: 5px;
  padding: 0.5em;
}
