// Comment layout variables
$commentBorderRadius: 40px;
$commentMarginTopBottom: 16px;
// Comment response view layout variables
$responseLevelShift: 15px; 
$responseBorderRadius: $commentBorderRadius;
$responseShadowWidth: 0.75px;
$responseShadowYOffset: $commentMarginTopBottom;