<footer>
  <mat-toolbar id="footer-toolbar">
    <button mat-button *ngIf="router.url !== '/home'" (click)="navToBlog()">
      <mat-icon>notes</mat-icon>
      Blog
    </button>
    <button mat-button *ngIf="router.url === '/home'" (click)="navToDemoSession()">
      <mat-icon>meeting_room</mat-icon>
      Demo
    </button>
    <span class="fill-remaining-space"></span>
    <button mat-button (click)="navToDSGVO()">
      <mat-icon>security</mat-icon>
      {{ 'footer.dsgvo' | translate}}
    </button>
    <span class="fill-remaining-space"></span>
    <button mat-button (click)="navToImprint()">
      <mat-icon>info</mat-icon>
      {{ 'footer.imprint' | translate}}
    </button>
  </mat-toolbar>
</footer>
