footer {
  overflow-y: auto;
}

#footer-toolbar {
  background-color: var(--surface);
  height: auto;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}

.mat-button {
  min-height: 28px;
  font-size: 12px;
  color: var(--on-surface);
}

mat-icon {
  margin-right: 2%;
}

.purple {
  color: var(--purple);
}

.blue {
  color: var(--blue);
}

.dark {
  color: var(--black);
}

.default {
  color: var(--light-green);
}

.color-button {
  width: 100%;
  height: 100%;
  overflow: visible;
}

.color-icon {
  position:relative;
  left: -5px;
  font-size: 45px;
  height: 45px;
  width: 45px;
  line-height: 100%!important;
}

::ng-deep .color-menu {
  padding: 0 8px 0 8px;
}

.check {
  font-size: 25px;
  height: 25px;
  width: 25px;
  line-height: 100%!important;
  position: absolute;
  top: 16px;
  right: -6.5px;
  color: white;
}
