footer {
  overflow-y: auto;
}

#footer-toolbar {
  background-color: var(--grey-light);
  height: auto;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}

.mat-button {
  min-height: 28px;
  font-size: 12px;
  color: var(--text-1);
}

mat-icon {
  margin-right: 2%;
}
