<footer>
  <mat-toolbar id="footer-toolbar">
    <button (click)="navToBlog()" *ngIf="router.url !== '/home'" mat-button>
      <mat-icon>notes</mat-icon>
      <span *ngIf="deviceType === 'desktop'">
        {{ 'footer.blog' | translate }}
      </span>
    </button>
    <button (click)="navToDemoSession()" *ngIf="router.url === '/home'" mat-button>
      <mat-icon>input</mat-icon>
      {{ 'footer.demo' | translate}}
    </button>
    <span class="fill-remaining-space"></span>
    <button (click)="navToDSGVO()" mat-button>
      <mat-icon>security</mat-icon>
      <span *ngIf="deviceType === 'desktop'">
        {{ 'footer.dsgvo' | translate}}
      </span>
    </button>
    <span class="fill-remaining-space"></span>
    <button (click)="navToImprint()" mat-button>
      <mat-icon>info</mat-icon>
      <span *ngIf="deviceType === 'desktop'">
        {{ 'footer.imprint' | translate}}
      </span>
    </button>
  </mat-toolbar>
</footer>
