footer {
  overflow-y: auto;
}

#footer-toolbar {
  background-color: var(--surface);
  height: auto;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}

.mat-button {
  min-height: 28px;
  font-size: 12px;
  color: var(--on-surface);
}

mat-icon {
  margin-right: 2%;
}

.purple {
  color: var(--purple);
}

.blue {
  color: var(--blue);
}

.dark {
  color: var(--black);
}

.default {
  color: var(--light-green);
}

.color-button {
  width: 100%;
  height: 100%;
  overflow: visible;
}

.color-icon {
  position:relative;
  left: -10px;
  font-size: 45px;
  height: 45px;
  width: 45px;
  line-height: 100%!important;
}

::ng-deep .color-menu {
  padding: 0 8px 0 8px;
}

.check {
  font-size: 25px;
  height: 25px;
  width: 25px;
  line-height: 100%!important;
  position: absolute;
  top:calc( 50% + 1px );
  left:calc( 50% + 1px );
  transform:translate(-50%,-50%);
  color: white;
}

#themeMenu{
  width:100%;
  height:215px;
  margin-bottom:8px;
  float:left;
  overflow-y:auto;
}

.scrollWrp{
  width:100%;
  float:left;
}

#themeMenu button{
  width:100%;
  outline:none;
  background-color:transparent;
  float:left;
  border:none;
  margin:0px;
  padding:0px;
  cursor:pointer;
}

#themeMenu button:focus-visible{
  outline:solid 2px red;
}

#themeMenu button:last-child>.btnContent{
  margin-bottom:0px;
}

.btnContent{
  width:100%;
  height:50px;
  float:left;
  margin-bottom:5px;
  border-radius:2px;
}

.btnContent>.btnColorIcon{
  width:40px;
  height:40px;
  float:left;
  margin:5px;
  padding:0px;
  border-radius:100%;
}

.checked{
  width:calc( 100% - 10px );
  height:calc( 100% - 10px );
  margin:5px;
  float:left;
  border-radius:100%;
  transition:all 0.1s;
}

.checked.checked_true{
  transform:scale(1);
  opacity:1;
  background-color:transparent;
}

.checked.checked_false{
  opacity:1;
}

.checked.checked_false>mat-icon{
  opacity:0;
}

.checked.checked_true>mat-icon{
  opacity:1;
}

.checked>mat-icon{
  float:left;
  position:relative;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  color:#FFFFFF;
  border-radius:100%;
  transition:all 0.1s;
}

.btnContent>.btnAppend{
  width:calc( 100% - 50px );
  float:right;
  position:relative;
  top:50%;
  transform:translateY(-50%);
}

.btnContent>.btnAppend>.title{
  width:100%;
  height:15px;
  float:left;
  margin-bottom:5px;
  overflow-x:auto;
  overflow-y:hidden;
}

.btnContent>.btnAppend>.title:last-child{
  margin-bottom:0px;
}

.title>*{
  text-overflow: ellipsis;
  white-space: nowrap;
  float:left;
  padding:0px;
  margin:0px;
  margin-left:15px;
  font-family:'Roboto',serif;
  color:rgba(0,0,0,0.8);
}

.title_bold{
  color:rgba(0,0,0,0.9);
  font-weight:500;
}
