footer {
    overflow-y: auto;
}

mat-toolbar {
  background-color: rgb(240, 240, 240);
  height: auto;
  &:first-child {
    padding-left: 0px;
  }
  &:last-child {
    padding-right: 0px;
  }
}

button {
  min-height: 28px;
  font-size: 12px;
  color: #80cbc4;
}

mat-icon {
  margin-right: 2%;
}
