:host {
  width: 100%;
  scroll-margin-top: 1em;
  margin-block: 1em;
  display: block;
}

.comment-card {
  margin-left: 1em;
  width: min(800px, calc(100% - 2em));
}

.slim-title {
  font-weight: 300;
}

.title {
  hyphens: auto;
  text-wrap: wrap;
  line-break: anywhere;
}

.avatar {
  font-weight: normal;
  font-size: 40px;
  border-radius: 0;
}

:host ::ng-deep .mat-mdc-card-header-text {
  max-width: calc(100% - 40px);
}

.card-content {
  display: flex;
  flex-direction: column;
}

.content-vote-wrapper {
  display: flex;
  flex: 1;
}

.content-wrapper {
  flex: 1;
  overflow: hidden;

  > div {
    // Custom size
    position: relative;
    height: var(--height, 10.5em);
    overflow: hidden;
    transition: height 500ms var(--md-sys-motion-easing-emphasized);

    &.cut::before {
      $padding: 1em;
      content: "";
      position: absolute;
      left: $padding;
      bottom: 0;
      width: calc(100% - #{$padding * 2});
      pointer-events: none;
      border-radius: 50% 50% 50% 50% / 100% 100% 0% 0%;
      box-shadow: 0 0 1em 0.05em currentColor;
    }
  }
}

.ai-button {
  --mdc-icon-button-state-layer-size: 40px;
}
