<mat-card class="comment-card">
  <mat-card-header style="flex-wrap: wrap">
    <mat-icon
      mat-card-avatar
      [matTooltip]="'Von einem Benutzer'"
      class="avatar">
      account_circle
    </mat-icon>
    <mat-card-title class="title">{{ header()[0] }}</mat-card-title>
    <mat-card-subtitle
      class="slim-title"
      [matTooltip]="i18n().subTitleTooltip | context: formattedDate()">
      {{ header()[1] }}
    </mat-card-subtitle>
    <span style="flex: 1"></span>
    <app-comment-header-action
      [comment]="comment()"></app-comment-header-action>
  </mat-card-header>

  <mat-card-content class="card-content">
    <div class="content-vote-wrapper">
      <div class="content-wrapper">
        <span class="filter-action-container">
          <button
            mat-button
            class="wrapping-button">
            <mat-icon>sell</mat-icon>
            DiesSindDreißigZeichenInButton
          </button>
          <button
            mat-icon-button
            [matBadge]="5"
            matBadgeSize="large">
            <mat-icon>person_pin_circle</mat-icon>
          </button>
          <button
            mat-icon-button
            [matBadge]="5"
            matBadgeSize="large">
            <mat-icon>tag</mat-icon>
          </button>
        </span>
        <div
          #contentWrapper
          [class.cut]="isTaller() && !isExpanded()">
          <app-markdown-viewer [data]="comment().body"></app-markdown-viewer>
        </div>
        @if (isTaller()) {
          <button
            style="width: 100%"
            mat-button
            (click)="expandSwitch()">
            <mat-icon>
              {{ isExpanded() ? "arrow_upward" : "arrow_downward" }}
            </mat-icon>
            {{ isExpanded() ? "Weniger anzeigen" : "Mehr anzeigen" }}
          </button>
        }
      </div>
      <div class="vote-wrapper">
        <button
          mat-icon-button
          [disabled]="vote().state === 'pending'"
          (click)="doVote(1)">
          <mat-icon
            class="fillable-icon"
            [class.filled]="vote().value === 1">
            thumb_up
          </mat-icon>
        </button>
        <span>0</span>
        <button
          mat-icon-button
          [disabled]="vote().state === 'pending'"
          (click)="doVote(-1)">
          <mat-icon
            class="fillable-icon"
            [class.filled]="vote().value === -1">
            thumb_down
          </mat-icon>
        </button>
      </div>
    </div>
  </mat-card-content>

  <mat-card-actions style="gap: 0.5em; justify-content: space-between">
    <!-- flex-wrap: wrap;  -->
    <button
      mat-icon-button
      [matTooltip]="'Antwort schreiben'">
      <mat-icon>reply</mat-icon>
    </button>
    <button
      mat-icon-button
      [matTooltip]="'Zur vorherigen Frage'">
      <mat-icon>unfold_less</mat-icon>
    </button>
    <!-- <button
      mat-icon-button
      [matTooltip]="'Antworten anzeigen'">
      <mat-icon>comment</mat-icon>
    </button> -->
    <button
      mat-icon-button
      [matTooltip]="'Benachrichtigen'">
      <mat-icon>notifications_off</mat-icon>
    </button>
    <button
      style="margin-right: 0.25em"
      mat-icon-button
      class="contained-icon primary ai-button"
      [matTooltip]="'KI antworten lassen'">
      <mat-icon svgIcon="fj_robot"></mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
