<h1>Anleitung zur Nutzung des Chatbots</h1>

<p>
  Dieser Leitfaden enthält Tipps für die Erstellung effektiver
  Eingabeaufforderungen für Chatbots, die den Nutzern helfen können, die
  bestmöglichen Antworten zu erhalten. Der Chatbot wird mit englischen Daten
  trainiert, und um bessere Ergebnisse zu erzielen, ist es sinnvoll, die
  Eingabeaufforderungen auf Englisch zu schreiben.
</p>

<h3>Klarheit und Einfachheit:</h3>
<p>
  Schreiben Sie Aufforderungen, die für den Chatbot leicht zu verstehen sind.
  Verwenden Sie eine einfache Sprache, vermeiden Sie komplexe Wörter oder
  Fachbegriffe und fassen Sie sich kurz. Stellen Sie jeweils nur eine klare
  Frage oder Bitte.
</p>
<ul>
  <li>
    <strong>Gut ✅:</strong>
    "Wie hoch ist die Temperatur in Berlin?"
  </li>
  <li>
    <strong>Schlecht ❌:</strong>
    "Wie ist das Wetter in Berlin? Ist es kalt oder heiß?"
  </li>
</ul>
<p>
  In diesem Beispiel ist die gute Aufforderung klar und präzise und fragt nach
  einer bestimmten Information. Die schlechte Aufforderung ist weniger klar und
  enthält unnötige Details.
</p>

<h3>Relevanz:</h3>
<p>
  Schreiben Sie Aufforderungen, die für den Zweck des Chatbots relevant sind.
  Dadurch wird sichergestellt, dass der Chatbot genaue und hilfreiche Antworten
  gibt.
</p>
<ul>
  <li>
    <strong>Gut ✅:</strong>
    "Wie hoch ist der Preis von bitcoin heute?"
  </li>
  <li>
    <strong>Schlecht ❌:</strong>
    "Wie groß ist die Bevölkerung Chinas?"
  </li>
</ul>
<p>
  In diesem Beispiel ist der gute Prompt für einen Chatbot relevant, der
  Informationen über Kryptowährungen liefert. Der schlechte Prompt ist für den
  Zweck des Chatbots nicht relevant.
</p>

<h3>Kontext:</h3>
<p>
  Geben Sie in Ihrer Eingabeaufforderung genügend Informationen an, damit der
  Chatbot verstehen kann, worum Sie bitten. Dazu können relevante Details wie
  Namen, Daten oder Orte gehören.
</p>
<ul>
  <li>
    <strong>Gut ✅:</strong>
    "Können Sie ein Restaurant in Hamburg empfehlen, das italienisches Essen
    serviert?"
  </li>
  <li>
    <strong>Schlecht ❌:</strong>
    "Was kann man in Hamburg gut essen?"
  </li>
</ul>
<p>
  In diesem Beispiel liefert die gute Eingabeaufforderung Kontext, indem sie die
  Art des Restaurants und den Ort angibt. Die schlechte Eingabeaufforderung ist
  zu vage und enthält nicht genügend Informationen, die der Chatbot verstehen
  könnte.
</p>

<h3>Vermeiden Sie Zweideutigkeiten:</h3>
<p>
  Stellen Sie jeweils nur eine klare Frage oder Bitte. Vermeiden Sie es, mehrere
  Fragen zu stellen oder mehrere Bitten in einer Aufforderung zu äußern. Dies
  kann Verwirrung stiften und zu ungenauen oder wenig hilfreichen Antworten
  führen.
</p>
<ul>
  <li>
    <strong>Gut ✅:</strong>
    "Was ist die Hauptstadt von Deutschland?"
  </li>
  <li>
    <strong>Schlecht ❌:</strong>
    "Was ist die Hauptstadt von Deutschland und wie hoch ist die Einwohnerzahl
    von Deutschland?"
  </li>
</ul>
<p>
  In diesem Beispiel stellt der gute Prompt eine klare Frage, während der
  schlechte Prompt mehrere Fragen enthält.
</p>

<h3>Grammatik und Rechtschreibung:</h3>
<p>
  Verwenden Sie beim Verfassen Ihrer Aufforderungen eine korrekte Grammatik und
  Rechtschreibung. So kann der Chatbot Ihre Fragen besser verstehen und korrekte
  Antworten geben.
</p>
<ul>
  <li>
    <strong>Gut ✅:</strong>
    "Wie kann ich mein Passwort zurücksetzen?"
  </li>
  <li>
    <strong>Schlecht ❌:</strong>
    "Wie ich meiner paswort zurücksetzen kan?"
  </li>
</ul>
<p>
  In diesem Beispiel verwendet der gute Prompt korrekte Grammatik und
  Rechtschreibung, während der schlechte Prompt grammatikalische Fehler enthält.
</p>

<h3>Vermeiden Sie Slang und Abkürzungen:</h3>
<p>
  Vermeiden Sie die Verwendung von Slang, Abkürzungen oder Emoticons in Ihren
  Prompts. Diese können für den Chatbot schwer zu verstehen sein und zu
  ungenauen oder wenig hilfreichen Antworten führen.
</p>
<ul>
  <li>
    <strong>Gut ✅:</strong>
    "Was bedeutet 'Zeitgeist'"
  </li>
  <li>
    <strong>Schlecht ❌:</strong>
    "Ws bdt zeitgeist?"
  </li>
</ul>
<p>
  In diesem Beispiel verwendet der gute Prompt eine korrekte Sprache, während
  der schlechte Prompt Slang und Abkürzungen verwendet.
</p>

<h2>Codegenerierung spezifische Verwendung:</h2>
<ol>
  <li>
    Verwenden Sie eine klare und prägnante Sprache ohne Fachjargon oder komplexe
    Terminologie
  </li>
  <li>
    Vergewissern Sie sich, dass sich die Aufforderung auf das gewünschte
    Codemuster oder die gewünschte Sprache bezieht.
  </li>
  <li>
    Geben Sie spezifische Hinweise oder "Leitwörter", um das Modell in Richtung
    des gewünschten Codemusters oder der gewünschten Sprache zu lenken.
  </li>
  <li>
    Verwendung der richtigen Syntax und Formatierung für die gewünschte
    Codesprache
  </li>
  <li>
    Vermeiden Sie die Verwendung mehrerer Eingabeaufforderungen in einem
    Codebeispiel
  </li>
</ol>
<ul>
  <li>
    <strong>Gut ✅:</strong>
    "Schreibe eine Python-Funktion, die eine Liste von ganzen Zahlen aufnimmt
    und die Summe aller geraden Zahlen zurückgibt."
  </li>
  <li>
    <strong>Schlecht ❌:</strong>
    "Erstelle eine Funktion, die die geraden Zahlen in einer Liste von Zahlen
    addiert"
  </li>
</ul>
<p>
  In diesem Beispiel ist die gute Eingabeaufforderung klar und spezifisch und
  gibt dem Modell einen Hinweis, mit der Programmierung in Python zu beginnen,
  während die schlechte Eingabeaufforderung keine spezifischen Details enthält
  und dem Modell keine Hinweise gibt, mit der Programmierung in Python zu
  beginnen.
</p>

<h2>
  Andere Beispiele für gute vs. schlechte Aufforderungen, dem Chatbot Fragen zu
  stellen
</h2>
<ol>
  <li>
    <strong>Gut ✅:</strong>
    Wie lautet die mathematische Gleichung zur Berechnung des maximalen Flusses
    in einem Netzes mit Hilfe des Ford-Fulkerson-Algorithmus?
  </li>
  <em>
    <strong>Schlecht ❌:</strong>
    "Wie funktioniert der Ford-Fulkerson-Algorithmus?" (zu allgemein und zu
    wenig spezifische Details)
  </em>
  <li>
    <strong>Gut ✅:</strong>
    Können Sie eine Liste wichtiger Algorithmen für maschinelles Lernen
    erstellen, die in der Computer Vision verwendet werden, auflisten und ihre
    Anwendungsfälle erklären?
  </li>
  <em>
    <strong>Schlecht ❌:</strong>
    "Was sind coole Dinge im Bereich Computer Vision?" (Zu vage und zu wenig
    akademisch Relevanz)
  </em>
  <li>
    <strong>Gut ✅:</strong>
    Was ist der Unterschied zwischen dem stochastischen Gradientenabstieg und
    dem Batch Gradientenabstiegs-Optimierungsalgorithmen?
  </li>
  <em>
    <strong>Schlecht ❌:</strong>
    "Was ist besser, SGD oder BGD?" (zu vereinfacht und ohne Notwendigkeit einer
    Erklärung)
  </em>
</ol>
