<p>
  Voici comment formuler les messages pour le chatbot afin d'obtenir les
  meilleures réponses possibles.
</p>
<ol>
  <li>Formulez une question claire ou une demande précise</li>
  <li>
    Utilisez un langage compréhensible sans termes techniques ou mots complexes
  </li>
  <li>Assurez-vous que la question est liée à l'objectif du chatbot</li>
  <li>
    Fournissez suffisamment d'informations pour que le chatbot puisse comprendre
  </li>
  <li>N'incluez pas plusieurs demandes dans une seule proposition</li>
  <li>Utilisez une grammaire et une orthographe correctes</li>
  <li>Évitez le jargon, les abréviations ou les emojis</li>
</ol>

<h2>Bonnes et mauvaises propositions pour poser des questions au chatbot.</h2>
<ol>
  <li>
    <strong>
      Quelle est l'équation mathématique permettant de calculer le débit maximal
      dans un réseau en utilisant l'algorithme de Ford-Fulkerson ?
    </strong>
    <br />
    <em>
      "Comment fonctionne l'algorithme de Ford-Fulkerson ?" (Trop général et
      manque de détails spécifiques)
    </em>
  </li>
  <li>
    <strong>
      Peux-tu fournir une liste des principaux algorithmes d'apprentissage
      automatique utilisés en vision par ordinateur et expliquer leurs cas
      d'utilisation ?
    </strong>
    <br />
    <em>
      "Quelles sont les choses cool en vision par ordinateur ?" (Trop vague et
      manque de pertinence académique)
    </em>
  </li>
  <li>
    <strong>
      Quelle est la différence entre les algorithmes d'optimisation par descente
      de gradient stochastique et par descente de gradient par lots ?
    </strong>
    <br />
    <em>
      "Lequel est le meilleur, SGD ou BGD ?" (Trop simplifié et ne nécessitant
      pas d'explication)
    </em>
  </li>
</ol>
