<ol>
  <li>
    <strong>Sei konkret:</strong>
    <ul>
      <li><i class="material-icons good-icon">check_circle</i> <strong>Gut:</strong> Generiere eine Liste der 10
        erfolgreichsten Filme aller Zeiten, sortiert nach weltweitem Kassenumsatz.</li>
      <li><i class="material-icons bad-icon">cancel</i> <strong>Schlecht:</strong> Mach mir eine Liste der besten Filme
        aller Zeiten.</li>
    </ul>
  </li>
  <li>
    <strong>Verwende einfache Sprache:</strong>
    <ul>
      <li><i class="material-icons good-icon">check_circle</i> <strong>Gut:</strong> Bitte schreibe einen Absatz über
        die Vorteile von Meditation für die psychische Gesundheit.</li>
      <li><i class="material-icons bad-icon">cancel</i> <strong>Schlecht:</strong> Bitte verfasse eine stringente
        Exegese über die Effektivität meditativer Praktiken auf die menschliche Psyche.</li>
    </ul>
  </li>
  <li>
    <strong>Gib Kontext:</strong>
    <ul>
      <li><i class="material-icons good-icon">check_circle</i> <strong>Gut:</strong> Schreibe einen Tweet über dein
        Lieblingsbuch und warum du es liebst.</li>
      <li><i class="material-icons bad-icon">cancel</i> <strong>Schlecht:</strong> Schreibe einen Tweet.</li>
    </ul>
  </li>
  <li>
    <strong>Unterteile Aufgaben in Schritte:</strong>
    <ul>
      <li><i class="material-icons good-icon">check_circle</i> <strong>Gut:</strong> Gib bitte eine schrittweise
        Anleitung zum Erstellen einer einfachen Website mit HTML und CSS.</li>
      <li><i class="material-icons bad-icon">cancel</i> <strong>Schlecht:</strong> Bring mir bei, wie man eine Website
        erstellt.</li>
    </ul>
  </li>
</ol>
