$good-color: #4CAF50;
$bad-color: #F44336;

.good-icon {
  color: $good-color;
}

.bad-icon {
  color: $bad-color;
}

.good-icon, .bad-icon {
  font-size: 1.2rem;
  vertical-align: middle;
  padding-right: 5px;
}

ul {
  list-style-type: none;
  padding-left: 0;
  padding-bottom: 10px;
}

ol {
  padding-left: 24px;
  padding-bottom: 10px;
}

li:first-child {
  margin-top: 10px;
}

li:last-child {
  margin-bottom: 20px;
}
