<ol>
  <li>
    <strong>Sois précis :</strong>
    <ul>
      <li><i class="material-icons good-icon">check_circle</i> <strong>Bon :</strong> Sois précis en générant une liste
        des 10 films les plus rentables de tous les temps, classés par revenus au box-office mondial.</li>
      <li><i class="material-icons bad-icon">cancel</i> <strong>Mauvais :</strong> Ne sois pas vague en me demandant de
        faire une liste des meilleurs films jamais réalisés.</li>
    </ul>
  </li>
  <li>
    <strong>Utilise un langage simple :</strong>
    <ul>
      <li><i class="material-icons good-icon">check_circle</i> <strong>Bon :</strong> Écris simplement un paragraphe sur
        les bienfaits de la méditation pour la santé mentale.</li>
      <li><i class="material-icons bad-icon">cancel</i> <strong>Mauvais :</strong> N'utilise pas un vocabulaire complexe
        et demande-moi d'élaborer une exégèse cohérente sur les efficacités de la pratique de la méditation sur la
        psyché humaine.</li>
    </ul>
  </li>
  <li>
    <strong>Fournis du contexte :</strong>
    <ul>
      <li><i class="material-icons good-icon">check_circle</i> <strong>Bon :</strong> Écris un tweet sur ton livre
        préféré et explique pourquoi tu l'aimes.</li>
      <li><i class="material-icons bad-icon">cancel</i> <strong>Mauvais :</strong> Écris simplement un tweet sans donner
        plus de détails.</li>
    </ul>
  </li>
  <li>
    <strong>Découpe les tâches en étapes :</strong>
    <ul>
      <li><i class="material-icons good-icon">check_circle</i> <strong>Bon :</strong> Donne-moi un tutoriel étape par
        étape sur la création d'un site web basique en utilisant HTML et CSS.</li>
      <li><i class="material-icons bad-icon">cancel</i> <strong>Mauvais :</strong> Ne me demande pas simplement de
        t'apprendre à créer un site web sans me donner plus de détails.</li>
    </ul>
  </li>
</ol>
