<p>
  Dies ist eine Anleitung, wie Prompts für Chatbots formuliert werden sollten,
  um die bestmöglichen Antworten zu erhalten.
</p>
<ol>
  <li>Stellen Sie eine klare Frage oder machen Sie eine klare Anfrage</li>
  <li>
    Verwenden Sie verständliche Sprache ohne technische Begriffe oder komplexe
    Wörter
  </li>
  <li>
    Stellen Sie sicher, dass der Prompt mit dem Zweck des Chatbots zusammenhängt
  </li>
  <li>
    Geben Sie genug Informationen an, damit der Chatbot die Frage verstehen kann
  </li>
  <li>Fragen Sie nicht mehrere Dinge in einem Prompt</li>
  <li>Verwenden Sie korrekte Grammatik und Rechtschreibung</li>
  <li>Vermeiden Sie Slang, Abkürzungen oder Emojis</li>
</ol>

<h2>Gute vs. schlechte Aufforderungen, dem Chatbot Fragen zu stellen.</h2>
<ol>
  <li>
    <strong>
      Wie lautet die mathematische Gleichung zur Berechnung des maximalen
      Flusses in einem Netzwerk mit Hilfe des Ford-Fulkerson-Algorithmus?
    </strong>
    <br />
    <em>
      "Wie funktioniert der Ford-Fulkerson-Algorithmus?" (zu weit gefasst und
      ohne spezifische Details)
    </em>
  </li>
  <li>
    <strong>
      Können Sie eine Liste wichtiger Algorithmen des maschinellen Lernens
      erstellen, die in der Computer Vision verwendet werden, und deren
      Anwendungsfälle erklären?
    </strong>
    <br />
    <em>
      "Was sind coole Dinge im Bereich Computer Vision?" (Zu vage und ohne
      akademische Relevanz)
    </em>
  </li>
  <li>
    <strong>
      Was ist der Unterschied zwischen den Optimierungsalgorithmen
      stochastischer Gradientenabstieg und Batch-Gradientenabstieg?"
    </strong>
    <br />
    <em>
      "Welcher ist besser, SGD oder BGD?" (Zu vereinfachend und ohne
      Erklärungsbedarf)
    </em>
  </li>
</ol>
