<ol>
  <li>
    <strong>Be specific:</strong>
    <ul>
      <li><mat-icon class="material-icons good-icon">check_circle</mat-icon> <strong>Good:</strong> Generate a list of the top 10 highest-grossing movies of all time, sorted by worldwide box office revenue.</li>
      <li><mat-icon class="material-icons bad-icon">cancel</mat-icon> <strong>Bad:</strong> Make me a list of the best movies ever.</li>
    </ul>
  </li>
  <li>
    <strong>Use simple language:</strong>
    <ul>
      <li><mat-icon class="material-icons good-icon">check_circle</mat-icon> <strong>Good:</strong> Please write a paragraph about the benefits of meditation for mental health.</li>
      <li><mat-icon class="material-icons bad-icon">cancel</mat-icon> <strong>Bad:</strong> Please craft a cogent exegesis on the efficacies of meditative practice on the human psyche.</li>
    </ul>
  </li>
  <li>
    <strong>Provide context:</strong>
    <ul>
      <li><mat-icon class="material-icons good-icon">check_circle</mat-icon> <strong>Good:</strong> Write a tweet about your favorite book and why you love it.</li>
      <li><mat-icon class="material-icons bad-icon">cancel</mat-icon> <strong>Bad:</strong> Write a tweet.</li>
    </ul>
  </li>
  <li>
    <strong>Break tasks down into steps:</strong>
    <ul>
      <li><mat-icon class="material-icons good-icon">check_circle</mat-icon> <strong>Good:</strong> Please provide a step-by-step tutorial on how to create a basic website using HTML and CSS.</li>
      <li><mat-icon class="material-icons bad-icon">cancel</mat-icon> <strong>Bad:</strong> Teach me how to make a website.</li>
    </ul>
  </li>
</ol>
