<h1>Guide d'utilisation du Chatbot</h1>

<p>
  Ce guide fournit des conseils pour créer des invites efficaces pour les
  chatbots, qui peuvent aider les utilisateurs à obtenir les meilleures réponses
  possibles. Le chatbot est entraîné avec des données en anglais et pour de
  meilleurs résultats, il est bon d'écrire les invites en anglais.
</p>

<h3>Clarté et simplicité:</h3>
<p>
  Rédigez des invites faciles à comprendre pour le chatbot. Utilisez un langage
  simple, évitez les mots complexes ou les termes techniques, et soyez concis.
  Posez une seule question ou demande claire à la fois.
</p>
<ul>
  <li>
    <strong>Bien ✅:</strong>
    "Quelle est la température à Berlin ?"
  </li>
  <li>
    <strong>Mauvais ❌:</strong>
    "Quel temps fait-il à Berlin ? Est-ce qu'il fait froid ou chaud ?"
  </li>
</ul>
<p>
  Dans cet exemple, la bonne invite est claire, précise et demande un élément
  d'information spécifique. La mauvaise invite est moins claire et inclut des
  détails inutiles.
</p>

<h3>Pertinence:</h3>
<p>
  Rédigez des invites qui sont pertinentes par rapport à l'objectif du chatbot.
  Cela permettra au chatbot de fournir des réponses précises et utiles.
</p>
<ul>
  <li>
    <strong>Bien ✅:</strong>
    "Quel est le prix du bitcoin aujourd'hui ?"
  </li>
  <li>
    <strong>Mauvais ❌:</strong>
    "Quelle est la population de la Chine ?"
  </li>
</ul>
<p>
  Dans cet exemple, la bonne invite est pertinente pour un chatbot fournissant
  des informations sur les crypto-monnaies. La mauvaise invite n'est pas
  pertinente pour l'objectif du chatbot.
</p>

<h3>Le contexte:</h3>
<p>
  Fournissez suffisamment d'informations dans votre demande pour que le chatbot
  puisse comprendre ce que vous demandez. Il peut s'agir de détails pertinents
  tels que des noms, des dates ou des lieux.
</p>
<ul>
  <li>
    <strong>Bien ✅:</strong>
    "Pouvez-vous me recommander un restaurant à Hambourg qui sert de la
    nourriture italienne ?"
  </li>
  <li>
    <strong>Mauvais ❌:</strong>
    "Qu'est-ce qu'il y a de bon à manger à Hambourg ?"
  </li>
</ul>
<p>
  Dans cet exemple, la bonne invite fournit un contexte en précisant le type de
  restaurant et le lieu. La mauvaise invite est trop vague et ne fournit pas
  suffisamment d'informations pour que le chatbot puisse la comprendre.
</p>

<h3>Évitez toute ambiguité:</h3>
<p>
  Posez une seule question claire ou faites une seule demande à la fois. Évitez
  de poser plusieurs questions ou de formuler plusieurs demandes en une seule
  fois. Cela peut prêter à confusion et entraîner des réponses inexactes ou
  inutiles.
</p>
<ul>
  <li>
    <strong>Bien ✅:</strong>
    "Quelle est la capitale de l'Allemagne ?"
  </li>
  <li>
    <strong>Mauvais ❌:</strong>
    "Quelle est la capitale de l'Allemagne et quelle est la population de
    l'Allemagne ?"
  </li>
</ul>
<p>
  Dans cet exemple, la bonne invite pose une question claire, tandis que la
  mauvaise invite contient plusieurs questions.
</p>

<h3>Grammaire et orthographe:</h3>
<p>
  Utilisez une grammaire et une orthographe correctes lorsque vous rédigez vos
  invites. Cela aidera le chatbot à comprendre ce que vous demandez et à fournir
  des réponses précises.
</p>
<ul>
  <li>
    <strong>Bien ✅:</strong>
    "Comment réinitialiser mon mot de passe ?"
  </li>
  <li>
    <strong>Mauvais ❌:</strong>
    "Comment réinitialiser mon mot de passe ?"
  </li>
</ul>
<p>
  Dans cet exemple, le bon message utilise une grammaire et une orthographe
  correctes, tandis que le mauvais message contient des erreurs grammaticales.
</p>

<h3>Évitez l'argot et les abréviations:</h3>
<p>
  Évitez d'utiliser de l'argot, des abréviations ou des émoticônes dans vos
  invites. Ils peuvent être difficiles à comprendre pour le chatbot et entraîner
  des réponses inexactes ou inutiles.
</p>
<ul>
  <li>
    <strong>Bien ✅:</strong>
    "Que signifie 'zeitgeist' ?"
  </li>
  <li>
    <strong>Mauvais ❌:</strong>
    "Que veut dire zeitgeist ?"
  </li>
</ul>
<p>
  Dans cet exemple, le bon message utilise un langage correct, tandis que le
  mauvais message utilise de l'argot et des abréviations.
</p>

<h2>Génération de code à usage spécifique:</h2>
<ol>
  <li>
    Utiliser un langage clair et concis, sans jargon technique ni terminologie
    complexe
  </li>
  <li>
    Assurez-vous que l'invite est liée au modèle de code ou à la langue
    souhaitée.
  </li>
  <li>
    Fournir des indications spécifiques ou des "mots clés" pour guider le modèle
    vers le modèle de code ou le langage souhaité.
  </li>
  <li>
    Utiliser la syntaxe et le formatage appropriés pour le langage de code
    souhaité
  </li>
  <li>Évitez d'utiliser plusieurs invites dans un même exemple de code</li>
</ol>
<ul>
  <li>
    <strong>Bien ✅:</strong>
    Ecrivez une fonction Python qui prend une liste d'entiers et retourne la
    somme de tous les nombres pairs."
  </li>
  <li>
    <strong>Mauvais ❌:</strong>
    "Créer une fonction qui additionne les nombres entiers pairs dans une liste
    de nombres."
  </li>
</ul>
<p>
  Dans cet exemple, la bonne invite est claire et spécifique, et fournit une
  indication au modèle pour commencer à coder en Python, tandis que la mauvaise
  invite manque de détails spécifiques et ne fournit aucune indication au modèle
  pour commencer à coder en Python.
</p>

<h2>
  Autres exemples de bonnes et mauvaises incitations à poser des questions au
  chatbot
</h2>
<ol>
  <li>
    <strong>Bien ✅:</strong>
    Quelle est l'équation mathématique permettant de calculer le débit maximal
    dans un réseau en utilisant l'algorithme de Ford-Fulkerson?
  </li>
  <em>
    <strong>Mauvais ❌:</strong>
    "Comment fonctionne l'algorithme de Ford-Fulkerson?" (Trop général et manque
    de détails spécifiques)
  </em>
  <li>
    <strong>Bien ✅:</strong>
    Peux-tu fournir une liste des principaux algorithmes d'apprentissage
    automatique utilisés en vision par ordinateur et expliquer leurs cas
    d'utilisation ?
  </li>
  <em>
    <strong>Mauvais ❌:</strong>
    "Quelles sont les choses cool en vision par ordinateur?" (Trop vague et
    manque de pertinence académique)
  </em>
  <li>
    <strong>Bien ✅:</strong>
    Quelle est la différence entre les algorithmes d'optimisation par descente
    de gradient stochastique et par descente de gradient par lots?
  </li>
  <em>
    <strong>Mauvais ❌:</strong>
    "Lequel est le meilleur, SGD ou BGD?" (Trop simplifié et ne nécessitant pas
    d'explication)
  </em>
</ol>
